<div class="sl-block" data-block-type="text" style="width: 920px; left: 30px; top: 40px; height: auto;" data-block-id="8af0584177ff9621cfa5bf5dc07021ce">
    <div class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text" style="z-index: 11;">
        <h3>Replace "migration_garbage_user" name by "anonymous"
            <span style="color:rgb(51, 51, 51); text-align:start"></span>
        </h3>
    </div>
</div>
<div class="sl-block" data-block-type="image" style="min-width: 30px; min-height: 30px; width: 776px; height: 91px; left: 54px; top: 245px;" data-block-id="98b68f2144a5b5cf8e3eb4012b5a3601">
    <div class="sl-block-content" style="z-index: 12;">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/329915/images/2846222/migration_garbage_user.png" data-natural-width="776" data-natural-height="91"/>
    </div>
</div>
<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; width: 165px; left: 30px; top: 206px;" data-block-id="8dd42d30a830135e17cb85621b60861e">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 13;">
        <p>
            <em>before</em>
        </p>
    </div>
</div>
<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; width: 165px; left: 223px; top: 430px;" data-block-id="c456184cbb723d304ad120bdd126e39b">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 14;">
        <p>
            <em>after</em>
        </p>
    </div>
</div>
<div class="sl-block" data-block-type="image" style="min-width: 30px; min-height: 30px; width: 854.612px; height: 58px; left: 113px; top: 469px;" data-block-id="e470faa0d0258882dc2d5e36b1875bd8">
    <div class="sl-block-content" style="z-index: 15;">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/329915/images/2846226/anonymous.png" data-natural-width="722" data-natural-height="49"/>
    </div>
</div>