<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; top: 70px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text"
         style="z-index: 13; text-align: left; border-width: 1px;">
        <h1>TFR (VIS) Home</h1>
    </div>
</div>
<div class="sl-block" data-block-type="text" style="height: auto; width: 100%; left: 27px; top: 245px;"
     data-block-id="d159f9fc7e016eeb50eb1d040e4a7cf7">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text"
         style="z-index: 14; font-size: 70%;" dir="ui">
        <ul>
            <li><span class="jira-story with-title">GRE-6555</span></li>
            <li><span class="jira-story with-title">GRE-6499</span></li>
            <li><span class="jira-story with-title">GRE-6761</span></li>
            <li><span class="jira-story with-title">GRE-6759</span></li>
            <li><span class="jira-story with-title">GRE-6764</span></li>
            <li><span class="jira-story with-title">GRE-6345</span></li>
            <li><span class="jira-story with-title">GRE-6362</span></li>
            <li><span class="jira-story with-title">GRE-6670</span></li>
            <li><span class="jira-story with-title">GRE-6710</span></li>
            <li><span class="jira-story with-title">GRE-6681</span></li>
            <li><span class="jira-story with-title">GRE-6703</span></li>
            <li><span class="jira-story with-title">GRE-6701</span></li>
            <li><span class="jira-story with-title">GRE-6747</span></li>
            <li><span class="jira-story with-title">GRE-6448</span></li>
            <li><span class="jira-story with-title">GRE-6715</span></li>
            <li><span class="jira-story with-title">GRE-6587</span></li>
            <li><span class="jira-story with-title">GRE-6702</span></li>
            <li><span class="jira-story with-title">GRE-6694</span></li>
            <li><span class="jira-story with-title">GRE-6700</span></li>
            <li><span class="jira-story with-title">GRE-6805</span></li>
            <li><span class="jira-story with-title">GRE-6802</span></li>
            <li><span class="jira-story with-title">GRE-6803</span></li>
            <li><span class="jira-story with-title">GRE-6804</span></li>
            <li><span class="jira-story with-title">GRE-6766</span></li>
            <li><span class="jira-story with-title">GRE-6835</span></li>
            <li><span class="jira-story with-title">GRE-6749</span></li>
        </ul>
    </div>
</div>
