<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; top: 21px; width: 952px; left: 4px;" data-block-id="109e2697f2f5db453525f9e8737cd693">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 11; text-align: left; border-width: 1px; font-size: 67%;">
        <h2 style="text-align:center">
            <span class="s1">Run performance test bypassing Akamai</span>
        </h2>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="588f1e0cfac8a33a9be04e0ebb8e7304" style="min-width: 30px; min-height: 30px; width: 360px; height: 360px; left: 300px; top: 170px;">
    <a class="sl-block-content" style="z-index: 12;" href="https://purch1.atlassian.net/wiki/display/GREN/Forum+homepage+web+performance" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/314194/images/2872117/speed_1.jpg" data-natural-width="300" data-natural-height="300" style=""/>
    </a>
</div>