<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; top: 30px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 13; text-align: left; border-width: 1px;">
        <h1>Too long comments are truncated</h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="6e82cb5b1c106eac5d5a72261f13c2a0" style="min-width: 30px; min-height: 30px; width: 914.08024691358px; height: 373px; left: 23px; top: 241px;">
    <a href="http://www.tomsguide.com/us/hospital-data-breach-what-to-do,news-19352.html" target="_blank">
        <div class="sl-block-content" style="z-index: 11; border-style: solid; border-width: 3px;">
            <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/1623895/pasted-from-clipboard.png" style="" data-natural-width="794" data-natural-height="324"/>
        </div>
    </a>
</div>