{% extends 'common/layout.html' %}

{% block js_var %}
    var demoDate = '2016-04-21';
    var demoNb = 30;
{% endblock %}

{% block slides %}
    <section>
        {% include 'common/intro.html' %}
    </section>
    <!--<section>
        {% include 'demo-media-30-slides/roi.html' %}
    </section>-->

    <section class="stack" id="GRE-5529">
        <section>
            {% include 'demo-media-30-slides/th-migration/index.html' %}
        </section>
        <section>
            {% include 'demo-media-30-slides/th-migration/sso.html' %}
        </section>
    </section>

    <section class="stack" id="GRE-5519">
        <section>
            {% include 'demo-media-30-slides/media-support/index.html' %}
        </section>

        <section>
            {% include 'demo-media-30-slides/media-support/registration-fix.html' %}
        </section>

    </section>

    <section class="stack" id="GRE-5065">
        <section>
            {% include 'demo-media-30-slides/tfr-account-and-notifications/index.html' %}
        </section>
        <section>
            {% include 'demo-media-30-slides/tfr-account-and-notifications/member-module.html' %}
        </section>
    </section>

    <section class="stack" id="GRE-5062">
        <section>
            {% include 'demo-media-30-slides/tfr-moderation-tools/index.html' %}
        </section>
        <section>
            {% include 'demo-media-30-slides/tfr-moderation-tools/display-closed-thread.html' %}
        </section>
        <section>
            {% include 'demo-media-30-slides/tfr-moderation-tools/close-repoen-thread.html' %}
        </section>
        <section>
            {% include 'demo-media-30-slides/tfr-moderation-tools/display-solved-thread.html' %}
        </section>
    </section>

    <section class="stack" id="GRE-5058">
        <section>
            {% include 'demo-media-30-slides/tfr-core-thread/index.html' %}
        </section>
        <section>
            {% include 'demo-media-30-slides/tfr-core-thread/docked-buttons.html' %}
        </section>
        <section>
            {% include 'demo-media-30-slides/tfr-core-thread/breadcrumb.html' %}
        </section>
        <section>
            {% include 'demo-media-30-slides/tfr-core-thread/bestanswers.html' %}
        </section>
        <section>
            {% include 'demo-media-30-slides/tfr-core-thread/edit-answer.html' %}
        </section>
        <section>
            {% include 'demo-media-30-slides/tfr-core-thread/sanity-behat.html' %}
        </section>
    </section>

    <section>
        {% include 'common/questions.html' %}
    </section>
{% endblock %}
