


<div class="sl-block" data-block-type="text" data-block-id="b88d2384c954a24d74b9833e6fc9af2c" style="height: auto; min-width: 30px; min-height: 30px; width: 636px; left: 20px; top: 24px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 11; text-align: left;">
        <p>
            <span style="font-size:1.2em">
                <strong>Moving from Distil to Shieldsquare</strong>
            </span>
        </p>
    </div>
</div>
<div class="sl-block" data-block-type="table" data-block-id="e592a0945eb20ec0b11d3e77deb8eb9d" style="height: auto; min-width: 120px; min-height: 30px; width: 913px; left: 20px; top: 98px;">
    <div class="sl-block-content" style="z-index: 14; font-size: 80%;" data-table-rows="8" data-table-cols="3">
        <table>
            <tbody>
                <tr>
                    <th>DOMAIN</th>
                    <th>DISTIL OFF</th>
                    <th>SHIELDSQUARE ON</th>
                </tr>
                <tr>
                    <td>www.tomsguide.fr</td>
                    <td>2015-10-13</td>
                    <td>2015-12-21</td>
                </tr>
                <tr>
                    <td>www.tomshardware.de</td>
                    <td>2016-01-06</td>
                    <td>2016-01-08</td>
                </tr>
                <tr>
                    <td>www.tomshardware.fr</td>
                    <td>2016-01-06</td>
                    <td>2016-01-08</td>
                </tr>
                <tr>
                    <td>www.tomsitpro.com</td>
                    <td>2016-01-06</td>
                    <td>2016-01-08</td>
                </tr>
                <tr>
                    <td>www.tomshardware.co.uk</td>
                    <td>2016-01-11</td>
                    <td>2016-01-11</td>
                </tr>
                <tr>
                    <td>www.tomshardware.com</td>
                    <td>2016-01-12</td>
                    <td>2016-01-12</td>
                </tr>
                <tr>
                    <td>www.tomsguide.com</td>
                    <td>2016-01-13</td>
                    <td>2016-01-14</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
