<div class="sl-block" data-block-type="text" data-block-id="d2ba148773b1177489d4045ba7f7d246" style="height: auto; min-width: 30px; min-height: 30px; width: 608px; left: 32px; top: 160px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 11;">
        <h3>Caveats</h3>
    </div>
</div>
<div class="sl-block" data-block-type="text" data-block-id="0eb0efe428379365d67f39e7dda38066" style="height: auto; min-width: 30px; min-height: 30px; width: 902px; left: 32px; top: 253px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 12;">
        <ul>
            <li>Slow scale-up on non-Akamai enabled domains is a DoS weakness
                <br/>
	&nbsp;
            </li>
            <li>More AWS resources consumed, cost to be monitored</li>
        </ul>
    </div>
</div>
