<div class="sl-block" data-block-type="text" data-block-id="d2ba148773b1177489d4045ba7f7d246" style="height: auto; min-width: 30px; min-height: 30px; width: 608px; left: 32px; top: 160px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 11;">
        <h3>Other Shieldsquare successes</h3>
    </div>
</div>
<div class="sl-block" data-block-type="text" data-block-id="0eb0efe428379365d67f39e7dda38066" style="height: auto; min-width: 30px; min-height: 30px; width: 902px; left: 32px; top: 253px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 12;">
        <ul>
            <li>Restored Last-Modified header, restoring full HTTP 304 system for crawlers<br/></li>
            <li>Barely NO connected users plagued with captcha challenge over suspicious activity<br/></li>
            <li>We also learned that Akamai is protecting against DoS</li>
        </ul>
    </div>
</div>
