<div class="sl-block" data-block-type="image" style="min-width: 30px; min-height: 30px; width: 753px; height: 560.262px; left: 104px; top: 94px;" data-block-id="915e4d8b7edc9fb02d0fbc15cbb6a010">
    <a class="sl-block-content" style="z-index: 11;" href="http://tinyurl.com/hf7cqny" target="_blank">
        <img style="" data-natural-width="797" data-natural-height="593" src="https://s3.amazonaws.com/media-p.slid.es/uploads/414540/images/2135576/distil-phaseout-history.png"/>
    </a>
</div>
<div class="sl-block" data-block-type="text" data-block-id="116045d550df3bf191027a8daca4ec84" style="height: auto; min-width: 30px; min-height: 30px; width: 753px; left: 31px; top: 23px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 12;">
        <h3>Fixed HTTP 500 issues related to Distil</h3>
    </div>
</div>
