{% extends 'common/layout.html' %}

{% block js_var %}
    var demoDate = '2016-02-29';
    var demoNb = 45;
{% endblock %}

{% block slides %}
    <section>
        {% include 'common/intro.html' %}
    </section>
    <section>
        {% include 'common/toc.html' %}
    </section>

    <section class="stack" id="GRE-1582">
        <section>
            {% include 'demo45-slides/support/index.html' %}
        </section>
        <section>
            {% include 'demo45-slides/support/index2.html' %}
        </section>
        <section>
            {% include 'demo44-slides/support/jenkins-php55.html' %}
        </section>
        <section>
            {% include 'demo44-slides/support/jenkins-java7.html' %}
        </section>
        <section>
            {% include 'demo45-slides/support/supadmin.html' %}
        </section>
        <section>
            {% include 'demo45-slides/support/widgets.html' %}
        </section>
    </section>

    <section class="stack" id="GRE-3491">
        <section>
            {% include 'demo45-slides/forum-content-consolidation/index.html' %}
        </section>
        <section>
            {% include 'demo45-slides/forum-content-consolidation/email_on_merge.html' %}
        </section>
    </section>

    <section class="stack" id="GRE-4492">
        <section>
            {% include 'demo45-slides/sso-post-launch/index.html' %}
        </section>
    </section>

    <section class="stack" id="GRE-3842">
        <section>
            {% include 'demo45-slides/tgus-forum-replatforming/index.html' %}
        </section>
        <section>
            {% include 'demo45-slides/tgus-forum-replatforming/targeted_archi.html' %}
        </section>
        <section>
            {% include 'demo44-slides/tgus-forum-replatforming/update-jenkins-job.html' %}
        </section>
        <section>
            {% include 'demo44-slides/tgus-forum-replatforming/pagination.html' %}
        </section>
        <section>
            {% include 'demo45-slides/tgus-forum-replatforming/badges.html' %}
        </section>
        <section>
            {% include 'demo45-slides/tgus-forum-replatforming/user-connection.html' %}
        </section>
    </section>

    <section>
        {% include 'common/questions.html' %}
    </section>
{% endblock %}
