<div data-block-id="8485946c5485312d12f9471a46a1cc22" class="sl-block" data-block-type="text" style="width: 800px; left: 80px; top: -15px; height: auto;">
    <div style="z-index: 11;" class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text">
        <h1 style="font-size: 2em;">we can reach www.tomsguide.com with <a href="http://web-misc.infra.aws.bestofmedia.com/proxies/proxy.qa.purch.pac.php" target="_blank">proxy.pac</a></h1>
    </div>
</div>

