<div class="sl-block" data-block-type="text" data-block-id="b406196a8f4c303f230107477e80287b" style="height: auto; min-width: 30px; min-height: 30px; top: 70px; left: 88px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 13; text-align: left; border-width: 1px;">
        <h1>Signin/Signout links</h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="a3ce671079230b4e30030936b59a10c0" style="min-width: 30px; min-height: 30px; width: 820px; height: 275px; left: 60px; top: 258px;">
    <a href="http://www.tomsguide.com/us/tech-related-health-problems,news-19370.html#top-comments-tpc_en_2267819" target="_blank"></a>
    <a class="sl-block-content" style="z-index: 11; border-style: solid; border-width: 3px;" href="http://www.tomsguide.com/" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/314194/images/1608467/Capture_du_2015-07-30_11_00_54.png" data-natural-width="656" data-natural-height="220" style=""/>
    </a>
</div>