<div class="sl-block" data-block-type="text" data-block-id="b406196a8f4c303f230107477e80287b" style="height: auto; min-width: 30px; min-height: 30px; top: 57px; left: 61px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 12; text-align: left; border-width: 1px;">
        <h1>Login with SSO Cookie</h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="a3ce671079230b4e30030936b59a10c0" style="min-width: 30px; min-height: 30px; width: 275.731111111111px; height: 254px; left: 295px; top: 166px;">
    <a href="http://www.tomsguide.com/us/tech-related-health-problems,news-19370.html#top-comments-tpc_en_2267819" target="_blank"></a>
    <a class="sl-block-content" style="z-index: 11; border-style: solid; border-width: 3px;" href="http://www.tomsguide.com/" target="_blank">
        <img data-natural-width="977" data-natural-height="900" style="" src="https://s3.amazonaws.com/media-p.slid.es/uploads/314194/images/1608469/Chocolate_chip_cookie.jpg"/>
    </a>
</div>
<div class="sl-block" data-block-type="text" data-block-id="be8ae75433e61fc272ac6ea0371f3602" style="height: auto; min-width: 30px; min-height: 30px; width: 223px; left: 329px; top: 436px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 13;">
        <p style="text-align:left">
            <a href="http://jwt.io/" target="_blank">
                <span style="font-size:0.5em">http://jwt.io/ :</span>
            </a>
        </p>
        <p style="text-align:left">
            <span style="font-size:0.5em">{
                <br/>
&nbsp; &nbsp; &nbsp; "userId": "135438",
                <br/>
&nbsp; &nbsp; &nbsp;"username": "natcparis"
                <br/>
} 
            </span>
        </p>
        <p style="text-align:left">&nbsp;</p>
    </div>
</div>