<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; top: 70px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text"
         style="z-index: 13; text-align: left; border-width: 1px;">
        <h1 style="font-size: 180%;">Media - Support - Release</h1>
    </div>
</div>
<div class="sl-block" data-block-type="text" style="height: auto; width: 100%; left: 27px; top: 245px;"
     data-block-id="d159f9fc7e016eeb50eb1d040e4a7cf7">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text"
         style="z-index: 14; font-size: 70%;" dir="ui">
        <ul>
            <li><span class="jira-story with-title">GRE-6015</span></li>
            <li><span class="jira-story with-title">MTHM-418</span></li>
            <li><span class="jira-story with-title">MTHM-445</span></li>
            <li><span class="jira-story with-title">MTHM-452</span></li>
            <li><span class="jira-story with-title">MTHM-473</span></li>
            <li><span class="jira-story with-title">MTHM-483</span></li>
            <li><span class="jira-story with-title">NO-1876</span></li>
            <li><span class="jira-story with-title">GRE-6163</span></li>
            <li><span class="jira-story with-title">GRE-6189</span></li>
        </ul>
    </div>
</div>
