<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; top: 70px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text"
         style="z-index: 13; text-align: left; border-width: 1px;">
        <h1>Comments integration</h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="a241702ea79c49a9bdaebad54cf89862" style="min-width: 30px; min-height: 30px; width: 646px; height: 477.177px; left: 157px; top: 190px;">
    <a class="sl-block-content" style="z-index: 11; border: 3px solid black;" href="http://www.tomsguide.fr/actualite/test,44618.html" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/2103294/Capture_d_e_cran_2016-01-04_a__17.20.44.png" style="" data-natural-width="838" data-natural-height="619"/>
    </a>
</div>