<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; top: 70px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text"
         style="z-index: 13; text-align: left; border-width: 1px;">
        <h1>SSO integration</h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="28e85400b5e5317ccad736ab08d8b616" style="min-width: 30px; min-height: 30px; width: 500px; height: 452.806px; left: 230px; top: 194px;">
    <a class="sl-block-content" style="z-index: 11; border: 3px solid black;" href="http://www.tomsguide.fr" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/2095601/Capture_d_e_cran_2015-12-29_a__10.35.32.png" style="" data-natural-width="784" data-natural-height="710"/>
    </a>
</div>