<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; top: 46px; left: 108px;" data-block-id="cbfb09d952314ed2020adbb95e15b2cb">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 13; text-align: left; border-width: 1px; font-size: 50%;">
        <h1>Invalidate cache on comment creation</h1>
    </div>
</div>
<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; width: 700px; left: 130px; top: 472px;" data-block-id="0b9e49594fd76e4ec4bbd12aef4cf186">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 13; background-color: rgb(255, 255, 255);">
        <p style="text-align: left;">How to serve fresh content/comments to users</p>
        <p style="text-align: left;">The technical problematic is how to invalidate ESI blocks on Akamai reverse proxy.</p>
    </div>
</div>
<div class="sl-block" data-block-type="image" style="min-width: 30px; min-height: 30px; width: 578.963px; height: 433.5px; left: 183px; top: 86px;" data-block-id="9d1ea408c50cddd551962d158fc478ae">
    <div class="sl-block-content" style="z-index: 12;">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/314194/images/1875320/Screen_Shot_2015-09-29_at_15.png" data-natural-width="1202" data-natural-height="900"/>
    </div>
</div>