{% extends 'common/layout.html' %}

{% block js_var %}
    var demoDate = '<%= date %>';
    var demoNb = <%= demoNumber %>;
{% endblock %}

{% block slides %}
    <section>
        {% include 'common/intro.html' %}
    </section>
    <section>
        {% include 'common/toc.html' %}
    </section>
    <!--<section>
        {% include 'demo-media-<%= demoNumber %>-slides/roi.html' %}
    </section>-->
<% for (var i = 0; i < epics.length; i++) { %>
    <section class="stack" id="<%= epics[i].id %>">
        <section>
            {% include 'demo-media-<%= demoNumber %>-slides/<%= epics[i].slug %>/index.html' %}
        </section>
    </section>
<% } %>
    <section>
        {% include 'demo-media-<%= demoNumber %>-slides/next_demo.html' %}
    </section>
    <section>
        {% include 'common/questions.html' %}
    </section>
{% endblock %}
