<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; top: 70px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text"
         style="z-index: 13; text-align: left; border-width: 1px;">
        <h1>Display answers</h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="b365f9a1656d44df2502341727fcf3e3" style="min-width: 30px; min-height: 30px; width: 805.533px; height: 508px; left: 77px; top: 158px;">
    <a class="sl-block-content" style="z-index: 11; border: 3px solid black;" href="http://10.210.30.105:8520/forum/id-2950474/multiple-processus-explorer-exe.html" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/2103281/Capture_d_e_cran_2016-01-04_a__17.13.18.png" style="" data-natural-width="1175" data-natural-height="741"/>
    </a>
</div>