<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; top: 0px; width: 960px; left: 0px;" data-block-id="109e2697f2f5db453525f9e8737cd693">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 11; text-align: left; border-width: 1px; font-size: 67%;">
        <h1 style="text-align:center">
            <span style="font-size:35.175px; line-height:45.7275px">Build and deploy thanks to </span>
        </h1>
        <h1 style="text-align:center">
            <span style="font-size:35.175px; line-height:45.7275px">codedeploy and docker</span>
        </h1>
    </div>
</div>
<div class="sl-block" data-block-type="shape" data-block-id="0ca880862c4963a7ab920d8e1cd7f3c4" style="min-width: 4px; min-height: 4px; width: 63px; height: 32px; left: -7px; top: 434px;">
    <div class="sl-block-content" data-shape-type="rect" data-shape-fill-color="rgb(255, 255, 255)" data-shape-stretch="true" style="z-index: 12;">
        <svg
            xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 63 32">
            <rect width="63" height="32" class="shape-element" fill="rgb(255, 255, 255)"></rect>
        </svg>
    </div>
</div>
<div class="sl-block" data-block-type="shape" style="min-width: 4px; min-height: 4px; width: 80px; height: 32px; left: 200px; top: 434px;" data-block-id="f6e97bcf96d6ab3469e7eec8a460486f">
    <div class="sl-block-content" data-shape-type="rect" data-shape-fill-color="rgb(255, 255, 255)" data-shape-stretch="true" style="z-index: 13;">
        <svg
            xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 80 32">
            <rect width="80" height="32" class="shape-element" fill="rgb(255, 255, 255)"></rect>
        </svg>
    </div>
</div>
<div class="sl-block" data-block-type="shape" style="min-width: 4px; min-height: 4px; width: 314px; height: 34px; left: 139px; top: 126px;" data-block-id="fc74a1a67f2436b7dfce75e07bff53ef">
    <div class="sl-block-content" data-shape-type="rect" data-shape-fill-color="rgb(255, 255, 255)" data-shape-stretch="true" style="z-index: 14;">
        <svg
            xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 314 34">
            <rect width="314" height="34" class="shape-element" fill="rgb(255, 255, 255)"></rect>
        </svg>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="331b669db97308b2333dc3d43ea671d8" style="min-width: 30px; min-height: 30px; width: 360px; height: 360px; left: 0px; top: 227px;">
    <a class="sl-block-content" style="z-index: 15;" href="http://10.210.30.198:8080/view/TomsForum/" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/314194/images/1773086/plan_photo_1347191970.jpg" data-natural-width="550" data-natural-height="550" style=""/>
    </a>
</div>
<div class="sl-block" data-block-type="image" data-block-id="4e63942b53bbd0e43d5da56edd1cf89e" style="min-width: 30px; min-height: 30px; width: 360px; height: 247.085px; left: 320px; top: 284px;">
    <div class="sl-block-content" style="z-index: 16;">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/314194/images/2082900/AWSCodeDeployLogo.jpg" style="" data-natural-width="271" data-natural-height="186"/>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="ece7da53057271ae9905cb5c5e9e6195" style="min-width: 30px; min-height: 30px; width: 360px; height: 360px; left: 600px; top: 227px;">
    <div class="sl-block-content" style="z-index: 17;">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/314194/images/1761446/07861949-photo-docker.jpg" style="" data-natural-width="400" data-natural-height="400"/>
    </div>
</div>