<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; top: 22px; width: 913px; left: 0px;" data-block-id="109e2697f2f5db453525f9e8737cd693">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 10; text-align: left; border-width: 1px;">
        <h1 style="text-align:center">
            <span style="font-size:0.7em">Display thread status and type&nbsp;</span>
        </h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="753dbba9e7bbe99ec2b81bb1637f5705" style="min-width: 30px; min-height: 30px; width: 821.632px; height: 519px; left: 36px; top: 111px;">
    <a class="sl-block-content" style="z-index: 11;" href="http://us-east1-dev-tomsforum-phpfpm1.ttr01.com:8520/app_dev.php/forum/id-2958057/francisco-javier-munyiz.html" target="_blank">
        <img style="" data-natural-width="1162" data-natural-height="734" src="https://s3.amazonaws.com/media-p.slid.es/uploads/314194/images/2136192/Capture_d_e_cran_2016-01-15_a__15.09.05.png"/>
    </a>
</div>
<div class="sl-block" data-block-type="shape" data-block-id="d71c725fc266660dd4fe4a07435687a0" style="min-width: 4px; min-height: 4px; width: 68px; height: 19px; left: 49px; top: 177px;">
    <div class="sl-block-content" data-shape-type="rect" data-shape-fill-color="rgb(234, 153, 153)" data-shape-stretch="true" style="z-index: 12; opacity: 0.38;">
        <svg
            xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 68 19">
            <rect width="68" height="19" class="shape-element" fill="rgb(234, 153, 153)"></rect>
        </svg>
    </div>
</div>
<div class="sl-block" data-block-type="shape" style="min-width: 4px; min-height: 4px; width: 68px; height: 19px; left: 49px; top: 196px;" data-block-id="8cdb829384582347bbfe82337726202d">
    <div class="sl-block-content" data-shape-type="rect" data-shape-fill-color="rgb(234, 153, 153)" data-shape-stretch="true" style="z-index: 14; opacity: 0.38;">
        <svg
            xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 68 19">
            <rect width="68" height="19" class="shape-element" fill="rgb(234, 153, 153)"></rect>
        </svg>
    </div>
</div>