
<div class="sl-block" data-block-type="image" data-block-id="c49dfde9aa7ef9702e0c69dc4e967cf3" style="min-width: 30px; min-height: 30px; width: 1195.38px; height: 576px; left: -223px; top: 132px;">
    <div class="sl-block-content" style="z-index: 11;">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/315454/images/2143104/Screen_Shot_2016-01-18_at_15.51.53.png" style="" data-natural-width="992" data-natural-height="478"/>
    </div>
</div>
<div class="sl-block" data-block-type="text" data-block-id="d436f81a42135aff57fabafbf5b63080" style="height: auto; min-width: 30px; min-height: 30px; width: 749px; left: -109px; top: 31px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 12;">
        <p>
            <a href="https://purch1.atlassian.net/wiki/display/GREN/%5BWD%5D+Web+Services+map" target="_blank">Services that will help build the next Purch Forums</a>
        </p>
    </div>
</div>