<div class="sl-block" data-block-type="text" data-block-id="b406196a8f4c303f230107477e80287b" style="height: auto; min-width: 30px; min-height: 30px; top: 70px; left: 14px; width: 946px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 13; text-align: left; border-width: 1px;">
        <h1>Comments redesign #3</h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="a3ce671079230b4e30030936b59a10c0" style="min-width: 30px; min-height: 30px; width: 579.484193011647px; height: 494px; left: 160px; top: 167px;">
    <a href="http://www.tomsguide.com/us/tech-related-health-problems,news-19370.html#top-comments-tpc_en_2267819" target="_blank"></a>
    <a class="sl-block-content" style="z-index: 11; border-style: solid; border-width: 3px;" href="http://www.tomsguide.com/us/tech-related-health-problems,news-19370.html#top-comments-tpc_en_2267819" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/314194/images/1615922/report_abuse.png" data-natural-width="705" data-natural-height="601" style=""/>
    </a>
</div>