<div class="sl-block" data-block-type="text" data-block-id="b406196a8f4c303f230107477e80287b"
     style="height: auto; min-width: 30px; min-height: 30px; top: 70px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text"
         style="z-index: 13; text-align: left; border-width: 1px;">
        <h1>Responsive design</h1>
    </div>
</div>
<a href="http://www.tomsguide.com/us/tech-related-health-problems,news-19370.html#top-comments-tpc_en_2267819" target="_blank" style="display: block;">
	<div class="sl-block" data-block-type="image" data-block-id="e08c531148d42b330edaad4f170c961e" style="min-width: 30px; min-height: 30px; width: 701.072961373391px; height: 330px; left: 19px; top: 204px;">
	    <div class="sl-block-content" style="z-index: 11; border-style: solid; border-width: 3px;">
	        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/1593470/pasted-from-clipboard.png" style="" data-natural-width="1485" data-natural-height="699"/>
	    </div>
	</div>
	<div class="sl-block" data-block-type="image" data-block-id="a892cd39d2baa4916ea165026f62d79c" style="min-width: 30px; min-height: 30px; width: 458.185840707965px; height: 327px; left: 370px; top: 293px;">
	    <div class="sl-block-content" style="z-index: 12; border-style: solid; border-width: 3px;">
	        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/1593474/pasted-from-clipboard.png" style="" data-natural-width="950" data-natural-height="678"/>
	    </div>
	</div>
	<div class="sl-block" data-block-type="image" data-block-id="1d627d981080b3e5a745e6e16c614416" style="min-width: 30px; min-height: 30px; width: 218.281535648995px; height: 300px; left: 671px; top: 369px;">
	    <div class="sl-block-content" style="z-index: 13; border-style: solid; border-width: 3px;">
	        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/1593477/pasted-from-clipboard.png" data-natural-width="398" data-natural-height="547" style=""/>
	    </div>
	</div>
</a>