<div class="sl-block" data-block-type="text" data-block-id="b406196a8f4c303f230107477e80287b"
     style="height: auto; min-width: 30px; min-height: 30px; top: 70px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text"
         style="z-index: 13; text-align: left; border-width: 1px;">
        <h1 style="font-size:2em">Comments in Tom's Redesign</h1>
    </div>
</div>
<div class="sl-block" data-block-type="text" style="height: auto; width: 100%; left: 27px; top: 245px;"
     data-block-id="d159f9fc7e016eeb50eb1d040e4a7cf7">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text"
         style="z-index: 14; font-size: 70%;" dir="ui">
        <ul>
            <li><span class="jira-story with-title">GRE-3125</span></li>
            <li><span class="jira-story with-title">GRE-3294</span></li>
            <li><span class="jira-story with-title">GRE-3336</span></li>
            <li><span class="jira-story with-title">GRE-3338</span></li>
            <li><span class="jira-story with-title">GRE-3339</span></li>
        </ul>
    </div>
</div>
