    	
<div class="sl-block" data-block-type="text" style="top: 74px; height: auto; left: 46px;" data-block-id="4c6db94ba023951df7ca5636c7adc0fb">
    <div class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text" style="text-align: left; z-index: 11; font-size: 90%;">
        <h1>Stats for the first 10 days</h1>
    </div>
</div>
<div data-block-id="9ff3f56673e54481aa18068ac2e206a5" style="height: auto; min-width: 30px; min-height: 30px; width: 863px; left: -105px; top: 191px;" data-block-type="text" class="sl-block">
    <div style="z-index: 12;" data-placeholder-text="Text" data-placeholder-tag="p" class="sl-block-content">
        <p>
            <span style="color:rgb(51, 51, 51); text-align:start">56 articles or reviews got new comments</span>
        </p>
    </div>
</div>
<div class="sl-block" data-block-type="text" data-block-id="dda0414f00d5c4ffa85d7f8c6a7e822b" style="height: auto; min-width: 30px; min-height: 30px; width: 806px; left: 106px; top: 280px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 13;">
        <ul>
            <li>
                <span style="color:rgb(51, 51, 51); text-align:start">72 "Published" comments</span>
            </li>
            <li>
                <span style="color:rgb(51, 51, 51); text-align:start">50 "Deleted" comments (100% of them detected by the Junk Detector)</span>
            </li>
            <li>
                <span style="color:rgb(51, 51, 51); text-align:start">82 Pending comments</span>
            </li>
        </ul>
    </div>
</div>
<div class="sl-block" data-block-type="text" data-block-id="5c7fc91d10aa04e9ad23be6349e6bf32" style="height: auto; min-width: 30px; min-height: 30px; width: 674px; left: 29px; top: 502px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 14;">
        <p>
            <span style="color:rgb(51, 51, 51); text-align:start">4 articles have reached the max limit of number of comments displayed (50) 
                <em>=&gt; pagination feature scoped for the next sprint</em>
            </span>
        </p>
    </div>
</div>