<div data-block-id="9a072586588c637c3836a170bbc18571" class="sl-block" data-block-type="text" style="width: 915px; left: 30px; top: 31px; height: auto;">
    <div style="z-index: 10;" class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text">
        <h1>
            <span>Merge Topic</span>
        </h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="0a513c7c3fbfd647b557c14011678809" style="min-width: 30px; min-height: 30px; width: 488.6px; height: 420px; left: 65px; top: 171px;">
    <div class="sl-block-content" style="z-index: 11; border-style: solid; border-width: 3px;">
        <a href="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/1927409/pasted-from-clipboard.png" target="_blank">
	        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/1927409/pasted-from-clipboard.png" style="" data-natural-width="1047" data-natural-height="900"/>
        </a>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="35da2f85d183aabe75e1c58ad570b113" style="min-width: 30px; min-height: 30px; width: 458px; height: 382.677px; left: 400px; top: 287px;">
    <div class="sl-block-content" style="z-index: 12; border-style: solid; border-width: 3px;">
    	<a href="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/1927412/pasted-from-clipboard.png" target="_blank">
        	<img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/1927412/pasted-from-clipboard.png" style="" data-natural-width="1058" data-natural-height="884"/>
    	</a>
    </div>
</div>