<div data-block-id="9a072586588c637c3836a170bbc18571" class="sl-block" data-block-type="text" style="width: 915px; left: 30px; top: 31px; height: auto;">
    <div style="z-index: 10;" class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text">
        <h1>
            <span>Merge Topic</span>
        </h1>
    </div>
</div>
<div data-block-id="d59661082c6035fb7d14bbe23f530ac1" style="height: auto; min-width: 30px; min-height: 30px; width: 414px; left: -37px; top: 490px;" data-block-type="text" class="sl-block">
    <div data-has-custom-html="" style="z-index: 11;" data-placeholder-text="Text" data-placeholder-tag="p" class="sl-block-content">
        <p>
            <span style="font-size:0.7em">Merge deactivated on faq</span>
        </p>
    </div>
</div>
<div data-block-id="6e946aac27c09e19dc8b5839ad5a30d5" style="height: auto; min-width: 30px; min-height: 30px; width: 415px; left: 471px; top: 638px;" data-block-type="text" class="sl-block">
    <div style="z-index: 12;" data-placeholder-text="Text" data-placeholder-tag="p" class="sl-block-content">
        <p>
            <span style="font-size:0.7em">Merge option activated on topic</span>
        </p>
    </div>
</div>
<div data-block-id="51a6d2b7d2339fd88b4a576cd472bf5f" style="min-width: 4px; min-height: 4px; width: 94px; height: 48px; left: 113px; top: 350px;" data-block-type="shape" class="sl-block">
    <div data-shape-stroke-width="6" data-shape-stroke-color="#000000" href="" style="z-index: 15; opacity: 0.47;" data-shape-stretch="true" data-shape-fill-color="rgba(0, 0, 0, 0)" data-shape-type="circle" class="sl-block-content">
        <svg viewBox="0 0 94 48" preserveAspectRatio="none" height="100%" width="100%" version="1.1"
             xmlns="http://www.w3.org/2000/svg">
            <defs>
                <clipPath id="shape-mask-17-1447077631636">
                    <ellipse cy="24" cx="47" ry="24" rx="47"></ellipse>
                </clipPath>
            </defs>
            <ellipse stroke-width="12" stroke="#000000" fill="rgba(0, 0, 0, 0)" class="shape-element" clip-path="url(#shape-mask-17-1447077631636)" cy="24" cx="47" ry="24" rx="47"></ellipse>
        </svg>
    </div>
</div>
<div data-block-id="63513813208f8f1c844e5c695802698b" style="min-width: 4px; min-height: 4px; width: 91px; height: 43px; left: 507px; top: 477px;" data-block-type="shape" class="sl-block">
    <div data-shape-stroke-width="6" data-shape-stroke-color="#274e13" style="z-index: 17; opacity: 0.47;" data-shape-stretch="true" data-shape-fill-color="rgba(0, 0, 0, 0)" data-shape-type="circle" class="sl-block-content">
        <svg viewBox="0 0 91 43" preserveAspectRatio="none" height="100%" width="100%" version="1.1"
             xmlns="http://www.w3.org/2000/svg">
            <defs>
                <clipPath id="shape-mask-18-1447077631638">
                    <ellipse cy="21.5" cx="45.5" ry="21.5" rx="45.5"></ellipse>
                </clipPath>
            </defs>
            <ellipse stroke-width="12" stroke="#274e13" fill="rgba(0, 0, 0, 0)" class="shape-element" clip-path="url(#shape-mask-18-1447077631638)" cy="21.5" cx="45.5" ry="21.5" rx="45.5"></ellipse>
        </svg>
    </div>
</div>
<div data-block-id="6f491d13ef216db2621720ebf3665776" style="min-width: 30px; min-height: 30px; width: 576.061px; height: 350.5px; left: 13px; top: 140px;" data-block-type="image" class="sl-block">
    <a target="_blank" href="http://www.tomsguide.com/faq/id-2107717/buy-laptop-ebay-ripped.html" style="z-index: 14;" class="sl-block-content">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/329915/images/1927400/faq_us.png" data-natural-height="418" data-natural-width="687" style=""/>
    </a>
</div>
<div data-block-id="02e22eee0e0a1777934c42129864ecbc" style="min-width: 30px; min-height: 30px; width: 572.643px; height: 428px; left: 359.357px; top: 220px;" data-block-type="image" class="sl-block">
    <a target="_blank" href="http://www.tomsguide.com/forum/id-2267852/expert.html" style="z-index: 16;" class="sl-block-content">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/329915/images/1927408/forum_us.png" data-natural-height="361" data-natural-width="483" style=""/>
    </a>
</div>