<div data-block-id="078056d056d0f43be2c7bcd826195968" style="min-width: 30px; min-height: 30px; width: 870px; height: 321.9px; left: 45px; top: 185px;" data-block-type="image" class="sl-block">
    <div style="z-index: 10;" class="sl-block-content">
        <img data-natural-height="592" data-natural-width="1600" style="" src="https://s3.amazonaws.com/media-p.slid.es/uploads/311439/images/1435360/Capture_d_e_cran_2015-05-29_a__13.19.37.png"/>
    </div>
</div>
<div data-block-id="79ec94bdd7402d5d92d52d40ff992c67" class="sl-block" data-block-type="text" style="width: 800px; left: 64px; top: 3px; height: auto;">
    <div style="z-index: 11;" class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text">
        <h1>Pull Request
            <br/>automatic approval
        </h1>
    </div>
</div>
<div data-block-id="4dfd4942c92adb1bfe14a72c7ceb35ea" style="min-width: 4px; min-height: 4px; width: 137px; height: 56px; left: 778px; top: 240px;" data-block-type="shape" class="sl-block">
    <div style="z-index: 13; opacity: 0.3;" data-shape-stretch="true" data-shape-fill-color="rgb(182, 215, 168)" data-shape-type="rect" class="sl-block-content">
        <svg viewBox="0 0 137 56" preserveAspectRatio="none" height="100%" width="100%" version="1.1"
            xmlns="http://www.w3.org/2000/svg">
            <rect width="137" height="56" class="shape-element" fill="rgb(182, 215, 168)"></rect>
        </svg>
    </div>
</div>
<div data-block-id="3e7ba5ebe042e35f8172f38ceaaf7267" style="min-width: 4px; min-height: 4px; width: 255px; height: 125px; left: 145px; top: 358px;" data-block-type="shape" class="sl-block">
    <div style="z-index: 14; opacity: 0.3;" data-shape-stretch="true" data-shape-fill-color="rgb(182, 215, 168)" data-shape-type="rect" class="sl-block-content">
        <svg viewBox="0 0 255 125" preserveAspectRatio="none" height="100%" width="100%" version="1.1"
            xmlns="http://www.w3.org/2000/svg">
            <rect width="255" height="125" class="shape-element" fill="rgb(182, 215, 168)"></rect>
        </svg>
    </div>
</div>