<div class="sl-block" data-block-type="text" style="top: 140px; height: auto; left: 80px;" data-block-id="4c6db94ba023951df7ca5636c7adc0fb">
    <div class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text" style="font-size: 130%; text-align: left; z-index: 11;">
        <h1>CI stabilization</h1>
    </div>
</div>
<div data-block-id="9ff3f56673e54481aa18068ac2e206a5" style="height: auto; min-width: 30px; min-height: 30px; width: 767px; left: 120px; top: 350px;" data-block-type="text" class="sl-block">
    <div style="z-index: 12;" data-placeholder-text="Text" data-placeholder-tag="p" class="sl-block-content">
        <ul>
            <li><a href="http://dev-deploy-jenkins1.ttr01.com:8080/view/Tom%27s%20Site/job/dev-tomsguide-us-site-sanity/" target="_blank">Jenkins sanity job</a> after deploy</li>
            <li>Run behat scenarii before deploy
	
                <ul>
                    <li>so far <a href="http://dev-deploy-jenkins1.ttr01.com:8080/view/Tom%27s%20Site/job/dev-tomsguide-us-site-deploy/ws/dev/features/community_comment_integration.feature/*view*/" target="_blank">2 simple scenarii</a> for Comments (most of the tests are expected in the Comments bundle)</li>
                </ul>
            </li>
            <li>Get jenkins jobs back to green</li>
        </ul>
    </div>
</div>
<div data-block-id="f9707e743a2aafa0ef6376f34030853a" style="height: auto; min-width: 30px; min-height: 30px; width: 600px; left: 153px; top: 261px;" data-block-type="text" class="sl-block">
    <div style="z-index: 13;" data-placeholder-text="Text" data-placeholder-tag="p" class="sl-block-content">
        <p>GRE-2972 and GRE-2973</p>
    </div>
</div>
