<div data-block-id="abd2f32bbdb6a93b1d02f9c1a99d225c" style="min-width: 30px; min-height: 30px; width: 1281.44px; height: 537px; left: -160px; top: 163px;" data-block-type="image" class="sl-block">
    <div style="z-index: 11;" class="sl-block-content">
        <img data-natural-height="642" data-natural-width="1532" style="" src="https://s3.amazonaws.com/media-p.slid.es/uploads/315454/images/1468982/devcycle_pres.png"/>
    </div>
</div>
<div data-block-id="3bc5b7f2f62957ee39f0b52c83e0e05e" style="height: auto; min-width: 30px; min-height: 30px; width: 960px; left: 0px; top: 24px;" data-block-type="text" class="sl-block">
    <div style="z-index: 12;" data-placeholder-text="Text" data-placeholder-tag="p" class="sl-block-content">
        <p>Started discussions between teams around devcycle.</p>
        <p>Shared 
            <a href="https://bitbucket.org/bhuguet/devcycle" target="_blank">devcycle ideas</a> with Paris and Infra teams for efficient collaboration in Tom's Guide US
        </p>
    </div>
</div>