<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; top: 70px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text"
         style="z-index: 13; text-align: left; border-width: 1px;">
        <h1>Append to thread</h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="cbc7020f65b9ea8dfb086b52521ece20" style="min-width: 30px; min-height: 30px; width: 344.292px; height: 449px; left: 308px; top: 210px;">
    <a class="sl-block-content" style="z-index: 11; border: 3px solid black;" href="http://www.tomsguide.fr/forum/all.html" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/2113670/Capture_d_e_cran_2016-01-08_a__10.46.39.png" data-natural-width="194" data-natural-height="253" style=""/>
    </a>
</div>