<div data-block-id="8e18add81ce9ba013620b37cb035d046" class="sl-block" data-block-type="text" style="width: 932px; left: 17px; top: 12px; height: auto;">
    <div style="z-index: 10;" class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text">
        <h2>Boost faq after thread merged</h2>
    </div>
</div>
<div data-block-id="c9f9191c322dedd1d606e9eb8974e0a0" style="height: auto; min-width: 30px; min-height: 30px; width: 917px; left: 17px; top: 194px;" data-block-type="text" class="sl-block">
    <div style="z-index: 13;" data-placeholder-text="Text" data-placeholder-tag="p" class="sl-block-content">
        <p>
            <span style="font-size:1.4em">merge&nbsp;the
                <a href="http://discussions.tomsguide.fr/forum/id-2958535/essai-creation-topic-connexion-auto.html" target="_blank">thread</a>
            </span>
        </p>
        <p>&nbsp;</p>
        <p>
            <span style="font-size:1.4em">into the&nbsp;
                <a href="http://www.tomsguide.fr/faq/id-2958054/gerer-niveau-413-candy-crush.html" target="_blank">faq</a> "je veux une faq"
            </span>
        </p>
        <p>&nbsp;</p>
        <p>
            <span style="font-size:1.4em">brings up the faq on the top of
                <a href="http://www.tomsguide.fr/forum/all.html" target="_blank">the listing</a>&nbsp;
            </span>
        </p>
    </div>
</div>