<div class="sl-block" data-block-type="text" style="top: 77px; height: auto; left: 64px;" data-block-id="4c6db94ba023951df7ca5636c7adc0fb">
    <div class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text" style="text-align: left; z-index: 11; font-size: 90%;">
        <h1>Discovery</h1>
    </div>
</div>
<div data-block-id="9ff3f56673e54481aa18068ac2e206a5" style="height: auto; min-width: 30px; min-height: 30px; width: 836px; left: 70px; top: 255px;" data-block-type="text" class="sl-block">
    <div style="z-index: 12;" data-placeholder-text="Text" data-placeholder-tag="p" class="sl-block-content">
        <ul>
            <li>
                <p>
                    <span style="font-size:32px">
                        <a href="https://purch1.atlassian.net/browse/GRE-3574" target="_blank">GRE-3574</a>&nbsp;Aurora Bench - investigate backend solution for community 
                    </span>
                </p>
            </li>
            <li>
                <p>
                    <span style="font-size:32px">
                        <a href="https://purch1.atlassian.net/browse/GRE-3834" target="_blank">GRE-3834</a> Portal legacy platform - identify remaining served pages 
                    </span>
                </p>
            </li>
        </ul>
    </div>
</div>