<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; top: -69px; left: -91px; width: 1051px;" data-block-id="fd532d3e8e88a8d71600705c7cce97c9">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 11; text-align: center; border-width: 1px;">
        <h2>
            <span style="font-size:0.7em">This email is sent to the owner of a thread that is merged into another thread.</span>
        </h2>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="d588e199ffe2c4607ebb56499e3452ef" style="min-width: 30px; min-height: 30px; width: 1193.36px; height: 564px; left: -109px; top: 104px;">
    <div class="sl-block-content" style="z-index: 12;">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/315454/images/2274922/Screen_Shot_2016-02-25_at_16.34.11.png" data-natural-width="986" data-natural-height="466"/>
    </div>
</div>