<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; top: 5px; width: 952px; left: 5px;" data-block-id="109e2697f2f5db453525f9e8737cd693">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 11; text-align: left; border-width: 1px; font-size: 67%;">
        <h1 style="text-align:center">
            <span>member module and logout</span>
        </h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="f7f58ba2cc1ac5c6cfa09c9e6057d718" style="min-width: 30px; min-height: 30px; width: 347.61px; height: 598px; left: 267px; top: 82px;">
    <a class="sl-block-content" style="z-index: 12; box-shadow: 0 0 10px grey;" href="http://www.tomsguide.com/forum/id-1668092/dvi-hdmi-sound.html" target="_blank">
        <img data-natural-width="379" data-natural-height="652" style="" src="https://s3.amazonaws.com/media-p.slid.es/uploads/314194/images/2500172/Capture_d_e_cran_2016-04-19_a__14.53.43.png"/>
    </a>
</div>