<div class="sl-block" data-block-type="text" style="top: 0px; height: auto; left: 64px;" data-block-id="4c6db94ba023951df7ca5636c7adc0fb">
    <div class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text" style="text-align: left; z-index: 11; font-size: 90%;">
        <h1>Cache Strategy<span style="font-size: 50%"> - Connected Users</span></h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="08110981a90c1593213ee7cce7067ee8" style="min-width: 30px; min-height: 30px; width: 557.514792899408px; height: 280px; left: 314px; top: 177px;">
    <div class="sl-block-content" style="z-index: 10; border-style: solid; border-width: 3px;">
        <img style="" data-natural-width="1346" data-natural-height="676" src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/1720973/pasted-from-clipboard.png"/>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="d9114da0be6087f05d920a2dc35fa5c3" style="min-width: 30px; min-height: 30px; width: 480px; height: 435.93635250918px; left: 63px; top: 230px;">
    <div class="sl-block-content" style="z-index: 13; border-style: solid; border-width: 3px;">
        <img style="" data-natural-width="817" data-natural-height="742" src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/1720974/pasted-from-clipboard.png"/>
    </div>
</div>
<div class="sl-block" data-block-type="shape" data-block-id="65cb2b4bb9a2af21b281404f74fd3e12" style="min-width: 4px; min-height: 4px; width: 480px; height: 199px; left: 63px; top: 230px;">
    <div class="sl-block-content" data-shape-type="rect" data-shape-fill-color="rgb(255, 0, 0)" data-shape-stretch="true" style="z-index: 14; opacity: 0.5;">
        <svg
            xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 480 199">
            <rect width="480" height="199" class="shape-element" fill="rgb(255, 0, 0)"></rect>
        </svg>
    </div>
</div>
<div class="sl-block" data-block-type="shape" style="min-width: 4px; min-height: 4px; width: 17px; height: 237px; left: 63px; top: 429px;" data-block-id="5f1c98493c7e81feba6ca6a4f7706fd0">
    <div class="sl-block-content" data-shape-type="rect" data-shape-fill-color="rgb(255, 0, 0)" data-shape-stretch="true" style="z-index: 15; opacity: 0.5;">
        <svg
            xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 17 237">
            <rect width="17" height="237" class="shape-element" fill="rgb(255, 0, 0)"></rect>
        </svg>
    </div>
</div>
<div class="sl-block" data-block-type="shape" style="min-width: 4px; min-height: 4px; width: 17px; height: 237px; left: 526px; top: 429px;" data-block-id="0de0bc01bbc1c7bbb49c0f955eb3da3b">
    <div class="sl-block-content" data-shape-type="rect" data-shape-fill-color="rgb(255, 0, 0)" data-shape-stretch="true" style="z-index: 16; opacity: 0.5;">
        <svg
            xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 17 237">
            <rect width="17" height="237" class="shape-element" fill="rgb(255, 0, 0)"></rect>
        </svg>
    </div>
</div>
<div class="sl-block" data-block-type="shape" style="min-width: 4px; min-height: 4px; width: 446px; height: 237px; left: 80px; top: 429px;" data-block-id="9de28342186e865d02cd6ed2ea170603">
    <div class="sl-block-content" data-shape-type="rect" data-shape-fill-color="rgb(111, 168, 220)" data-shape-stretch="true" style="z-index: 17; opacity: 0.5;">
        <svg
            xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 446 237">
            <rect width="446" height="237" class="shape-element" fill="rgb(111, 168, 220)"></rect>
        </svg>
    </div>
</div>
<div class="sl-block" data-block-type="shape" style="min-width: 4px; min-height: 4px; width: 494px; height: 280px; left: 314px; top: 177px;" data-block-id="a1ca6681206fef64dfb90d7fd6904b7b">
    <div class="sl-block-content" data-shape-type="rect" data-shape-fill-color="rgb(255, 0, 0)" data-shape-stretch="true" style="z-index: 11; opacity: 0.5;">
        <svg
            xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 494 280">
            <rect width="494" height="280" class="shape-element" fill="rgb(255, 0, 0)"></rect>
        </svg>
    </div>
</div>
<div class="sl-block" data-block-type="shape" style="min-width: 4px; min-height: 4px; width: 64px; height: 257px; left: 808px; top: 200px;" data-block-id="7e6f992795faef31f07c9abf5ce7dc87">
    <div class="sl-block-content" data-shape-type="rect" data-shape-fill-color="rgb(255, 0, 0)" data-shape-stretch="true" style="z-index: 18; opacity: 0.5;">
        <svg
            xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 64 257">
            <rect width="64" height="257" class="shape-element" fill="rgb(255, 0, 0)"></rect>
        </svg>
    </div>
</div>
<div class="sl-block" data-block-type="shape" style="min-width: 4px; min-height: 4px; width: 64px; height: 23px; left: 808px; top: 177px;" data-block-id="1a7cd32b721b873448306d6175fd35ff">
    <div class="sl-block-content" data-shape-type="rect" data-shape-fill-color="rgb(111, 168, 220)" data-shape-stretch="true" style="z-index: 19; opacity: 0.5;">
        <svg
            xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 64 23">
            <rect width="64" height="23" class="shape-element" fill="rgb(111, 168, 220)"></rect>
        </svg>
    </div>
</div>
<div class="sl-block" data-block-type="text" data-block-id="539d1d6d7ce8d8b7cb166f9aae856583" style="height: auto; min-width: 30px; min-height: 30px; width: 480px; left: 63px; top: 282px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 20; color: rgb(255, 0, 0); font-size: 180%;">
        <p>CACHED AREA</p>
    </div>
</div>
<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; width: 446px; left: 80px; top: 490px;" data-block-id="a6b514b9bab488edeb232d13e66c026d">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 21; color: rgb(0, 0, 255); font-size: 180%;">
        <p>NOT CACHED AREA</p>
    </div>
</div>
<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; width: 558px; left: 314px; top: 280px;" data-block-id="3d13d8ea8c7aa9f34a07c5725f404c64">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 12; color: rgb(255, 0, 0); font-size: 180%;">
        <p>CACHED AREA</p>
    </div>
</div>
<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; width: 366px; left: 593px; top: 127px;" data-block-id="9256eed59cb65e42aefbcc8388880bdb">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 23; color: rgb(0, 0, 255); font-size: 131%;">
        <p>NOT CACHED AREA</p>
    </div>
</div>