<div class="sl-block" data-block-type="text" style="top: 0px; height: auto; left: 64px;" data-block-id="4c6db94ba023951df7ca5636c7adc0fb">
    <div class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text" style="text-align: left; z-index: 11; font-size: 90%;">
        <h1>Cache Strategy<span style="font-size: 50%"> - Visitors</span></h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="bba0184c843a3ec9a9956ef6a54a19fe" style="min-width: 30px; min-height: 30px; width: 806.029246344207px; height: 530px; left: 77px; top: 155px;">
    <div class="sl-block-content" style="z-index: 10; border-style: solid; border-width: 3px;">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/1721017/Capture_du_2015-09-14_16_48_31.png" style="" data-natural-width="1352" data-natural-height="889"/>
    </div>
</div>
<div class="sl-block" data-block-type="shape" style="min-width: 4px; min-height: 4px; width: 806px; height: 530px; left: 77px; top: 155px;" data-block-id="1604c44e5737e5d12e522ba53b53308b">
    <div class="sl-block-content" data-shape-type="rect" data-shape-fill-color="rgb(255, 0, 0)" data-shape-stretch="true" style="z-index: 12; opacity: 0.5;">
        <svg
            xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 806 530">
            <rect width="806" height="530" class="shape-element" fill="rgb(255, 0, 0)"></rect>
        </svg>
    </div>
</div>
<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; width: 480px; left: 240px; top: 385px;" data-block-id="57b5fc70ebeb85d8d8121d8942eac4a6">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 13; color: rgb(255, 0, 0); font-size: 180%;">
        <p>CACHED AREA</p>
    </div>
</div>