<div data-block-id="320333800c34a4447255eba9b6a5fc5a" class="sl-block" data-block-type="text" style="width: 800px; left: 80px; top: 35px; height: auto;">
    <div style="z-index: 10;" class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text">
        <h1>Comments service metrics</h1>
    </div>
</div>
<div data-block-id="2c2aab80308788ae51858ebddc728992" style="min-width: 30px; min-height: 30px; width: 846.207px; height: 270px; left: 57px; top: 280px;" data-block-type="image" class="sl-block">
    <a target="_blank" href="http://graphite.bestofmedia.com/dashboard/#Comments%20Service" style="z-index: 12;" class="sl-block-content">
        <img data-natural-height="261" data-natural-width="818" style="" src="https://s3.amazonaws.com/media-p.slid.es/uploads/305376/images/1720907/comment_ws_responsetimes_hits_2015_08_09.png"/>
    </a>
</div>
