<div data-block-id="79a0d752bd19114838bba6f3f5843300" class="sl-block" data-block-type="text" style="width: 800px; left: 80px; top: 15px; height: auto;">
    <div style="z-index: 10;" class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text">
        <h1>Experiment Netflix circuit breaker</h1>
    </div>
</div>
<div data-block-id="b5ab714f91b5d52126c41b8fd7fe9235" style="min-width: 30px; min-height: 30px; width: 594px; height: 426.63px; left: 160px; top: 228px;" data-block-type="image" class="sl-block">
    <a target="_blank" href="http://internal-lb-bom-qa-comments-al-370099695.us-west-2.elb.amazonaws.com:8680/hystrix-dashboard/monitor/monitor.html?stream=http%3A%2F%2Finternal-lb-bom-qa-comments-al-370099695.us-west-2.elb.amazonaws.com%3A8680%2Fturbine%2Fturbine.stream" style="z-index: 12; border-style: solid; border-width: 1px;" class="sl-block-content">
        <img data-natural-height="390" data-natural-width="543" style="" src="https://s3.amazonaws.com/media-p.slid.es/uploads/305376/images/1720931/hystrix.png"/>
    </a>
</div>
