<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; top: 70px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text"
         style="z-index: 13; text-align: left; border-width: 1px;">
        <h1>TGUS redesign (3/3)</h1>
    </div>
</div>
<div class="sl-block" data-block-type="text" style="height: auto; width: 100%; left: 27px; top: 245px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text"
         style="z-index: 14; font-size: 70%;" dir="ui">
        <ul>
            <li><span class="jira-story with-title">GRE-3616</span></li>
            <li><span class="jira-story with-title">GRE-3618</span></li>
            <li><span class="jira-story with-title">GRE-3695</span></li>
            <li><span class="jira-story with-title">NO-1773</span></li>
            <li><span class="jira-story with-title">NO-1772</span></li>
            <li><span class="jira-story with-title">NO-1774</span></li>
            <li><span class="jira-story with-title">NO-1771</span></li>
            <li><span class="jira-story with-title">GRE-3718</span></li>
            <li><span class="jira-story with-title">GRE-3731</span></li>
            <li><span class="jira-story with-title">GRE-3721</span></li>
            <li><span class="jira-story with-title">GRE-3722</span></li>
        </ul>
    </div>
</div>
