<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; top: 70px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text"
         style="z-index: 13; text-align: left; border-width: 1px;">
        <h1>TGUS redesign (1/3)</h1>
    </div>
</div>
<div class="sl-block" data-block-type="text" style="height: auto; width: 100%; left: 27px; top: 185px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text"
         style="z-index: 14; font-size: 70%;" dir="ui">
        <ul>
        	<li><span class="jira-story with-title">GRE-3761</span></li>
            <li><span class="jira-story with-title">GRE-3577</span></li>
            <li><span class="jira-story with-title">GRE-3596</span></li>
            <li><span class="jira-story with-title">GRE-3615</span></li>
            <li><span class="jira-story with-title">GRE-3575</span></li>
            <li><span class="jira-story with-title">GRE-3573</span></li>
            <li><span class="jira-story with-title">GRE-3515</span></li>
            <li><span class="jira-story with-title">GRE-3606</span></li>
            <li><span class="jira-story with-title">GRE-3628</span></li>
            <li><span class="jira-story with-title">GRE-3658</span></li>
            <li><span class="jira-story with-title">GRE-3633</span></li>
            <li><span class="jira-story with-title">GRE-3626</span></li>
            <li><span class="jira-story with-title">GRE-3670</span></li>
            <li><span class="jira-story with-title">GRE-3676</span></li>
            <li><span class="jira-story with-title">GRE-3673</span></li>
            <li><span class="jira-story with-title">GRE-3680</span></li>
            <li><span class="jira-story with-title">GRE-3696</span></li>
            <li><span class="jira-story with-title">GRE-3704</span></li>
        </ul>
    </div>
</div>
