<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; top: 70px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text"
         style="z-index: 13; text-align: left; border-width: 1px;">
        <h1>TGUS redesign (2/3)</h1>
    </div>
</div>
<div class="sl-block" data-block-type="text" style="height: auto; width: 100%; left: 27px; top: 245px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text"
         style="z-index: 14; font-size: 70%;" dir="ui">
        <ul>
            <li><span class="jira-story with-title">GRE-3250</span></li>
            <li><span class="jira-story with-title">GRE-3723</span></li>
            <li><span class="jira-story with-title">GRE-3733</span></li>
            <li><span class="jira-story with-title">GRE-3742</span></li>
            <li><span class="jira-story with-title">GRE-3741</span></li>
            <li><span class="jira-story with-title">GRE-3791</span></li>
            <li><span class="jira-story with-title">GRE-3730</span></li>
            <li><span class="jira-story with-title">GRE-2894</span></li>
            <li><span class="jira-story with-title">GRE-3760</span></li>
            <li><span class="jira-story with-title">GRE-3384</span></li>
            <li><span class="jira-story with-title">GRE-3251</span></li>
        </ul>
    </div>
</div>
