<div class="sl-block" data-block-type="text" style="top: 31px; height: auto; left: 64px;" data-block-id="4c6db94ba023951df7ca5636c7adc0fb">
    <div class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text" style="text-align: left; z-index: 11; font-size: 90%;">
        <h1>Kibana performances</h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="8257cab027ccfd0530a8a3920af6f7ba" style="min-width: 30px; min-height: 30px; width: 722.916px; height: 518px; left: 68px; top: 175px;">
    <a class="sl-block-content" style="z-index: 12;" href="http://tomsguidelogs.ttr01.com/#/dashboard/TomsGuide-Average-Response-Time-per-page?_g=(refreshInterval:(display:Off,pause:!f,section:0,value:0),time:(from:now-30d,mode:quick,to:now))&amp;_a=(filters:!(),panels:!((col:1,id:Average-Response-Time,row:1,size_x:4" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/315454/images/1720900/Screen_Shot_2015-09-14_at_16.08.37.png" data-natural-width="1076" data-natural-height="771" style=""/>
    </a>
</div>