<div data-block-id="bcf42bd5f8f3249d82367e444d8b1693" class="sl-block" data-block-type="text" style="width: 800px; left: 80px; top: 34px; height: auto;">
    <div style="z-index: 10;" class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text">
        <h1>Merge top and other comments calls</h1>
    </div>
</div>
<div data-block-id="a7a162f1af404bea3e7c8632ce8e1463" style="min-width: 30px; min-height: 30px; width: 756.123px; height: 265px; left: 102px; top: 301px;" data-block-type="image" class="sl-block">
    <div style="z-index: 12;" class="sl-block-content">
        <img data-natural-height="334" data-natural-width="953" style="" src="https://s3.amazonaws.com/media-p.slid.es/uploads/305376/images/1721038/Merge_top_and_other_comments_calls.png"/>
    </div>
</div>
