<div data-block-id="349ff397f4a517edb267ab50672fc281" class="sl-block" data-block-type="text" style="width: 867px; left: 47px; top: 18px; height: auto;">
    <div style="z-index: 11;" class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text">
        <h2>Add service to get Comments</h2>
    </div>
</div>
<div data-block-id="c85e36f91e619cd42c7856ee3c9beebc" style="min-width: 30px; min-height: 30px; width: 752px; height: 581.443px; left: 105px; top: 92px;" data-block-type="image" class="sl-block">
    <div style="z-index: 12;" class="sl-block-content">
        <img data-natural-height="375" data-natural-width="485" style="" src="https://s3.amazonaws.com/media-p.slid.es/uploads/329915/images/1721021/inversion.png"/>
    </div>
</div>