{% extends 'common/layout.html' %}

{% block js_var %}
    var demoDate = '2016-06-30';
    var demoNb = 35;
{% endblock %}

{% block slides %}
    <section>
        {% include 'common/intro.html' %}
    </section>
    <section>
        {% include 'common/toc.html' %}
    </section>
    <!--<section>
        {% include 'demo-media-35-slides/roi.html' %}
    </section>-->

    <section class="stack" id="GRE-5519">
        <section>
            {% include 'demo-media-35-slides/media-support/index.html' %}
        </section>
    </section>

    <section class="stack" id="GRE-5626">
        <section>
            {% include 'demo-media-35-slides/tfr-publishing/index.html' %}
        </section>
        <section>
            {% include 'demo-media-35-slides/tfr-publishing/forum-home.html' %}
        </section>
        <section>
            {% include 'demo-media-35-slides/tfr-publishing/home-thread-quick-form.html' %}
        </section>
        <section>
            {% include 'demo-media-35-slides/tfr-publishing/categories.html' %}
        </section>
        <section>
            {% include 'demo-media-35-slides/tfr-publishing/home-thread-search.html' %}
        </section>
        <section>
            {% include 'demo-media-35-slides/tfr-publishing/pagination.html' %}
        </section>
        <section>
            {% include 'demo-media-35-slides/tfr-publishing/subcat.html' %}
        </section>
        <section>
            {% include 'demo-media-35-slides/tfr-publishing/last-answer.html' %}
        </section>
        <section>
            {% include 'demo-media-35-slides/tfr-publishing/performance-tests.html' %}
        </section>
        <section>
            {% include 'demo-media-35-slides/tfr-publishing/crawl-seo.html' %}
        </section>
        <section>
            {% include 'demo-media-35-slides/tfr-publishing/seo-forum-home.html' %}
        </section>
        <section>
            {% include 'demo-media-35-slides/tfr-publishing/ramp.html' %}
        </section>
        <section>
            {% include 'demo-media-35-slides/tfr-publishing/home-page-latest-experts-module.html' %}
        </section>
        <section>
            {% include 'demo-media-35-slides/tfr-publishing/latest-experts.html' %}
        </section>
    </section>

    <section class="stack" id="GRE-5058">
        <section>
            {% include 'demo-media-35-slides/tfr-core-thread/index.html' %}
        </section>
    </section>

    <!--<section>
        {% include 'demo-media-35-slides/next_demo.html' %}
    </section>-->
    <section>
        {% include 'common/questions.html' %}
    </section>
{% endblock %}
