<div data-block-id="349ff397f4a517edb267ab50672fc281" class="sl-block" data-block-type="text" style="width: 867px; left: 55px; top: 51px; height: auto;">
  <div style="z-index: 11;" class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text">
    <h2>backup/restore solr &amp; mongo</h2>
  </div>
</div>
<div data-block-id="de23dc572fb297e259c8666cf3361bcd" style="min-width: 30px; min-height: 30px; width: 648.743px; height: 530px; left: 156px; top: 155px;" data-block-type="image" class="sl-block">
  <div style="z-index: 12;" class="sl-block-content">
    <img data-natural-height="732" data-natural-width="896" style="" src="https://s3.amazonaws.com/media-p.slid.es/uploads/329915/images/1469005/backup-restore.jpg"/>
  </div>
</div>