{% extends 'common/layout.html' %}

{% block js_var %}
    var demoDate = '2015-08-03';
    var demoNb = 30;
{% endblock %}

{% block slides %}
    <section>
        {% include 'common/intro.html' %}
    </section>
    <section>
        {% include 'common/toc.html' %}
    </section>
    <section class="stack" id="GRE-2217">
        <section>
            {% include 'demo30-slides/comments_in_toms_redesign/index.html' %}
        </section>
        <section>
            {% include 'demo30-slides/comments_in_toms_redesign/comments_redesign.html' %}
        </section>
        <section>
            {% include 'demo30-slides/comments_in_toms_redesign/comments_redesign_2.html' %}
        </section>
        <section>
            {% include 'demo30-slides/comments_in_toms_redesign/comments_redesign_3.html' %}
        </section>
        <section>
            {% include 'demo30-slides/comments_in_toms_redesign/comments_responsive.html' %}
        </section>
    </section>
    <section class="stack">
        <section>
            {% include 'demo30-slides/comments_in_toms_sso/index.html' %}
        </section>
        <section>
            {% include 'demo30-slides/comments_in_toms_sso/proxies-pac.html' %}
        </section>
        <section>
            {% include 'demo30-slides/comments_in_toms_sso/sso-integration.html' %}
        </section>
        <section>
            {% include 'demo30-slides/comments_in_toms_sso/signin-out-links.html' %}
        </section>
    </section>
    <section class="stack" id="GRE-3047">
        <section>
            {% include 'demo30-slides/p2_comments_in_toms/index.html' %}
        </section>
        <section>
            {% include 'demo30-slides/p2_comments_in_toms/ref_inversion_data_model.html' %}
        </section>
    </section>
    <section class="stack">
        <section>
            {% include 'demo30-slides/support/index.html' %}
        </section>
    </section>
    <section>
        {% include 'demo30-slides/next_demo.html' %}
    </section>
    <section>
        {% include 'common/questions.html' %}
    </section>
{% endblock %}
