<div data-block-id="349ff397f4a517edb267ab50672fc281" class="sl-block" data-block-type="text" style="width: 888px; left: 26px; top: 18px; height: auto;">
    <div dir="ui" style="z-index: 11;" class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text">
        <h3>Change "updatedDate" on FAQ edition</h3>
    </div>
</div>
<div data-block-id="aebb6283a5873a0acb191f627f21eecb" style="height: auto; min-width: 30px; min-height: 30px; width: 600px; left: 180px; top: 280px;" data-block-type="text" class="sl-block">
    <div style="z-index: 12;" data-placeholder-text="Text" data-placeholder-tag="p" class="sl-block-content">
        <ul>
            <li>display updateAt date on the <a href="http://www.tomsguide.fr/faq/id-2957574/dead-route-trucs-astuces-ameliorer-survie.html" target="_blank">FAQ</a></li>
            <li>boost FAQ in <a href="http://www.tomsguide.fr/forum/forum-36.html" target="_blank">listing</a></li>
        </ul>
    </div>
</div>