<div data-block-id="349ff397f4a517edb267ab50672fc281" class="sl-block" data-block-type="text" style="width: 888px; left: 64px; top: 90px; height: auto;">
    <div dir="ui" style="z-index: 11;" class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text">
        <h3>sfPortal docker image</h3>
    </div>
</div>
<div class="sl-block" data-block-type="image" style="min-width: 30px; min-height: 30px; width: 188px; height: 188px; left: 27px; top: 21px;" data-block-id="cf674c867c13315755ec62ad57164be6">
    <div class="sl-block-content" style="z-index: 12;">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/314194/images/1761446/07861949-photo-docker.jpg" data-natural-width="400" data-natural-height="400"/>
    </div>
</div>
<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; width: 688px; left: 136px; top: 381px;" data-block-id="5eef5d81db3a352b3d6ceea63776c3c5">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 13;">
        <p>
            <span style="font-size:0.7em">Dockerfile and documentation available here :&nbsp;
                <br/>
                <a href="https://bitbucket.org/purchmedia/docker-sfportal" target="_blank">https://bitbucket.org/purchmedia/docker-sfportal</a>
            </span>
        </p>
    </div>
</div>
<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; width: 600px; left: 180px; top: 241px;" data-block-id="81e78d801317542350fb5fa30005f98e">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 14;">
        <p>We can now run, test and develop in sfPortal through docker easily</p>
    </div>
</div>