<div class="sl-block" data-block-type="text" style="top: 77px; height: auto; left: 64px;">
    <div class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text" style="text-align: left; z-index: 11; font-size: 90%;">
        <h1 style="font-size: 220%">Forum Content Consolidation</h1>
    </div>
</div>
<div class="sl-block" data-block-type="text" style="height: auto; width: 100%; left: 27px; top: 185px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text"
         style="z-index: 14; font-size: 70%;" dir="ui">
        <ul>
            <li><span class="jira-story with-title">GRE-3919</span></li>
            <li><span class="jira-story with-title">GRE-3495</span></li>
        </ul>
    </div>
</div>
