<div data-block-id="349ff397f4a517edb267ab50672fc281" class="sl-block" data-block-type="text" style="width: 576px; left: 224px; top: 70px; height: auto;">
    <div dir="ui" style="z-index: 10;" class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text">
        <h3>Fix LTM phantomJS erratic error on Jenkins</h3>
    </div>
</div>
<div class="sl-block" data-block-type="image" style="min-width: 30px; min-height: 30px; width: 188px; height: 125.33333333333333px; left: 635px; top: 250px;" data-block-id="cf674c867c13315755ec62ad57164be6">
    <div class="sl-block-content" style="z-index: 11;">
        <img data-natural-width="249" data-natural-height="166" src="https://s3.amazonaws.com/media-p.slid.es/uploads/314194/images/1773069/cool-jenkins2x3.png"/>
    </div>
</div>
<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; width: 960px; left: 0px; top: 387px;" data-block-id="5eef5d81db3a352b3d6ceea63776c3c5">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 12;">
        <p>
            <span style="font-size:0.7em">We also optimize build times as we did on toms comments side</span>
        </p>
        <p>
            <span style="font-size:21px; line-height:27px">build time change from more than 45minutes to&nbsp;approximatively 10 minutes</span>
        </p>
    </div>
</div>
<div class="sl-block" data-block-type="image" style="min-width: 30px; min-height: 30px; width: 113px; height: 113px; left: 433px; top: 252px;" data-block-id="628d536758bfbf35b1e7b2e92ac68a62">
    <div class="sl-block-content" style="z-index: 13;">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/314194/images/1773078/phantomjs_logo.png" style="" data-natural-width="256" data-natural-height="256"/>
    </div>
</div>
<div class="sl-block" data-block-type="image" style="min-width: 30px; min-height: 30px; width: 106px; height: 106px; left: 202px; top: 259px;" data-block-id="27c0c3fabd0f51455b3025fe29cb7f23">
    <div class="sl-block-content" style="z-index: 14;">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/314194/images/1773086/plan_photo_1347191970.jpg" style="" data-natural-width="550" data-natural-height="550"/>
    </div>
</div>
<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; width: 44px; left: 340px; top: 296px;" data-block-id="15bb37a4caf9d5dfb62cf5509ac593f0">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 15;">
        <p>+</p>
    </div>
</div>
<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; width: 44px; left: 598px; top: 296px;" data-block-id="acd460992efcb96bbc7743e1f01c3ae1">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 17;">
        <p>=</p>
    </div>
</div>