<div data-block-id="349ff397f4a517edb267ab50672fc281" class="sl-block" data-block-type="text" style="width: 576px; left: 224px; top: 19px; height: auto;">
    <div dir="ui" style="z-index: 11;" class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text">
        <h3>Add Pagination feature</h3>
    </div>
</div>
<div class="sl-block" data-block-type="image" style="min-width: 30px; min-height: 30px; width: 722.0644444444445px; height: 542px; left: 130px; top: 88px;" data-block-id="8a0530b7cb89349e7913af3f712d8772">
    <a class="sl-block-content" style="z-index: 11;" href="http://laptopmag.com/articles/the-8-worst-windows-8-annoyances-and-how-to-fix-them" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/314194/images/1783808/Capture_d__cran_2015-10-01___18.14.02.png" style="" data-natural-width="1199" data-natural-height="900"/>
    </a>
</div>
<div data-block-id="0b18f4effec9ed127645ff1a35b917c4" style="height: auto; min-width: 30px; min-height: 30px; width: 600px; left: 122px; top: 630px;" data-block-type="text" class="sl-block">
    <div style="z-index: 13;" data-placeholder-text="Text" data-placeholder-tag="p" class="sl-block-content">
        <p>192 pages have more than 50 comments</p>
    </div>
</div>
