<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; top: 70px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text"
         style="z-index: 13; text-align: left; border-width: 1px;">
        <h1>Assets management</h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="e7c5ab7298d235c82b0b8c6553123a0d" style="min-width: 30px; min-height: 30px; width: 234.667px; height: 132px; left: 72px; top: 206px;">
    <div class="sl-block-content" style="z-index: 11;">
        <img style="" data-natural-width="1600" data-natural-height="900" src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/2087076/pasted-from-clipboard.png"/>
    </div>
</div>
<div class="sl-block" data-block-type="text" data-block-id="92b17eaf7e618660238daada4cac688d" style="height: auto; min-width: 30px; min-height: 30px; width: 502px; left: 356px; top: 253px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 12; text-align: left;" dir="ui">
        <p>Replace badge font with SVG image
            <br/>​+ font-awesome for pict
            <br/>
        </p>
    </div>
</div>
<div class="sl-block" data-block-type="text" data-block-id="c9f5b20f2913700b7b71f6fdef2515fe" style="height: auto; min-width: 30px; min-height: 30px; width: 600px; left: 356px; top: 399px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 13; text-align: left;">
        <p>Stylesheets generated with&nbsp;Sass</p>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="41992cb7ada4ff7dbc524b010f706b53" style="min-width: 30px; min-height: 30px; width: 185.333px; height: 139px; left: 103px; top: 349px;">
    <div class="sl-block-content" style="z-index: 14;">
        <img data-natural-width="512" data-natural-height="384" style="" src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/2087078/pasted-from-clipboard.png"/>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="022503d0df54aacac42e2bd21ab0c4cd" style="min-width: 30px; min-height: 30px; width: 155px; height: 155px; left: 118px; top: 502px;">
    <div class="sl-block-content" style="z-index: 15;">
        <img style="" data-natural-width="250" data-natural-height="250" src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/2087083/pasted-from-clipboard.png"/>
    </div>
</div>
<div class="sl-block intro-end" data-block-type="text" data-block-id="680249b0f9cdd562f0ac3cafa3c3738b" style="height: auto; min-width: 30px; min-height: 30px; width: 600px; left: 356.914px; top: 554.219px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 16; text-align: left;">
        <p>Javascript with EcmaScript 6</p>
    </div>
</div>