
<div class="sl-block" data-block-type="text" data-block-id="f7c6ef0f113ad9a12575a51b780d4145" style="height: auto; min-width: 30px; min-height: 30px; width: 800px; left: 54px; top: 40px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 11;">
        <p style="text-align:left">
            <strong>
                <span style="font-size:1.2em">Express domain oriented BDD Strategy</span>
            </strong>
        </p>
    </div>
</div>
<div class="sl-block" data-block-type="text" data-block-id="1bec6cb652cf52990a292a0cf85878e6" style="height: auto; min-width: 30px; min-height: 30px; width: 865px; left: 54px; top: 180px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 13;">
        <p style="text-align:left">
            We first analyse old BDD tests and extract what's was done well and what's was not, Then we've think about a better solution and search tools which fan help us doing better behavior tests which can be well understand and drive by our Product Owners.<br>
            We write it down in a <a href="https://purch1.atlassian.net/wiki/display/GREN/Domain+Oriented+BDD+strategy">confluence page</a>
        </p>
    </div>
</div>
