


<div class="sl-block" data-block-type="text" data-block-id="b88d2384c954a24d74b9833e6fc9af2c" style="height: auto; min-width: 30px; min-height: 30px; width: 600px; left: 20px; top: 24px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 11; text-align: left;">
        <p>
            <span style="font-size:1.2em">
                <strong>Deployment pipeline</strong>
            </span>
        </p>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="b4d4c98ae608336a0166c46f77f93e28" style="min-width: 30px; min-height: 30px; width: 518.25px; height: 691px; left: 433px; top: 5px;">
    <div class="sl-block-content" style="z-index: 12;">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/414540/images/2087177/IMG_20151221_162842.jpg" data-natural-width="675" data-natural-height="900" style=""/>
    </div>
</div>
<div class="sl-block" data-block-type="text" data-block-id="22b02cbcc2b0c2d4d8a9bc62216e8bc4" style="height: auto; min-width: 30px; min-height: 30px; width: 380px; left: 20px; top: 101px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 13;">
        <ol>
            <li>Developers commit to Git</li>
            <li>Jenkins builds and store in AWS S3</li>
            <li>Ops triggers Codedeploy</li>
        </ol>
    </div>
</div>
