
<div class="sl-block" data-block-type="image" data-block-id="24c704377b47f1688c5ca67db895cfd0" style="min-width: 30px; min-height: 30px; width: 349px; height: 83.9519px; left: 35px; top: 28px;">
    <div class="sl-block-content" style="z-index: 11;">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/414540/images/2055463/logo.png" data-natural-width="291" data-natural-height="70" style=""/>
    </div>
</div>
<div class="sl-block" data-block-type="text" data-block-id="ee99f21adecfc9b1b1a417dbf74da1d9" style="height: auto; min-width: 30px; min-height: 30px; width: 537px; left: 400px; top: 28px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 13;">
        <p style="text-align:left">
            <span style="font-size:0.7em">
                <span style="color:rgb(122, 132, 145); text-align:start">Docker containers wrap up a piece of software in a complete filesystem that contains everything it needs to run: code, runtime, system tools, system libraries – anything you can install on a server. This guarantees that it will always run the same, regardless of the environment it is running in.</span>
            </span>
        </p>
    </div>
</div>
<div class="sl-block" data-block-type="text" data-block-id="9f08eabae7d1a098100609a28edb3a17" style="height: auto; min-width: 30px; min-height: 30px; width: 913px; left: 24px; top: 280px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 14; text-align: left;">
        <ul>
            <h3>Our idea is to use docker everywhere</h3>
            <li>
                <strong>IDE </strong>(Integrated Development Environment)
                <span style="color:rgb(37, 37, 37)">&nbsp;</span> integration
            </li>
            <li>
                <strong>Builder </strong> : we use docker to build our app through ant
            </li>
            <li>
                <strong>CI </strong>(Continuous Integration) : we use docker to build and test our app on Jenkins
            </li>
        </ul>
    </div>
</div>
