<div class="sl-block" data-block-type="text" data-block-id="1bec6cb652cf52990a292a0cf85878e6" style="height: auto; min-width: 30px; min-height: 30px; width: 865px; left: 54px; top: 40px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 13;">
        <p style="text-align:left">
            <strong>Documentation built:</strong>
        </p>
        <p style="text-align:left">-&nbsp;<a href="https://purch1.atlassian.net/wiki/pages/viewpage.action?pageId=38469854" target="_blank">Manifest for each software layer</a>&nbsp;(
            <em>what I am, what I do</em>)
        </p>
        <p style="text-align:left">- Legacy code autopsy for&nbsp;
            <a href="https://purch1.atlassian.net/wiki/pages/viewpage.action?pageId=37749103" target="_blank">read</a>&nbsp;and write actions
        </p>
        <p style="text-align:left">- Analysis on&nbsp;
            <a href="https://purch1.atlassian.net/wiki/display/GREN/Cache+strategy" target="_blank">cache strategy</a>&nbsp;for a standard forum page.
        </p>
        <p style="text-align:left">- Report on&nbsp;
            <a href="https://purch1.atlassian.net/wiki/display/GREN/Microservices+architecture+candidates" target="_blank">aggregator pattern&nbsp;candidates</a>
        </p>
        <p style="text-align:left">-&nbsp;<a href="https://purch1.atlassian.net/wiki/display/GREN/TGUS+Forum+Replatforming" target="_blank">Other documentations</a>
        </p>
    </div>
</div>
