<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; top: 70px;" data-block-id="7aaa6eef7d7003c5af50055b481fb802">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 13; text-align: left; border-width: 1px;">
        <h2>TGUS Forum replatforming</h2>
    </div>
</div>
<div class="sl-block" data-block-type="text" style="height: auto; width: 100%; left: 27px; top: 245px;" data-block-id="d159f9fc7e016eeb50eb1d040e4a7cf7">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 14; font-size: 70%;" dir="ui">
        <ul>
            <li class="To-Do"><span class="jira-story with-title">GRE-4372</span></li>
            <li class="To-Do"><span class="jira-story with-title">GRE-4371</span></li>
            <li class="To-Do"><span class="jira-story with-title">GRE-4439</span></li>
            <li class="To-Do"><span class="jira-story with-title">GRE-4366</span></li>
            <li class="To-Do"><span class="jira-story with-title">GRE-4363</span></li>
            <li class="To-Do"><span class="jira-story with-title">GRE-4362</span></li>
            <li class="To-Do"><span class="jira-story with-title">GRE-4361</span></li>
            <li class="To-Do"><span class="jira-story with-title">GRE-4360</span></li>
            <li class="To-Do"><span class="jira-story with-title">GRE-4358</span></li>
            <li class="To-Do"><span class="jira-story with-title">GRE-4413</span></li>
            <li class="To-Do"><span class="jira-story with-title">GRE-4418</span></li>
            <li class="To-Do"><span class="jira-story with-title">GRE-4478</span></li>
        </ul>
    </div>
</div>