<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; top: 70px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text"
         style="z-index: 13; text-align: left; border-width: 1px;">
        <h1>Topic page - first elements</h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" style="min-width: 30px; min-height: 30px; width: 946.087px; height: 272px; left: 7px; top: 284px; z-index: 1;">
    <a href="http://us-east1-dev-tomsforum-phpfpm1.ttr01.com:8520/app_dev.php/forum/id-2957342/modifier-sonnerie-defaut-appels-videos-hangouts.html" class="sl-block-content" target="_blank" style="border: 3px solid black;">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/2087060/Capture_d_e_cran_2015-12-21_a__15.17.14.png" data-natural-width="1600" data-natural-height="460" style=""/>
    </a>
</div>