<div data-block-id="349ff397f4a517edb267ab50672fc281" class="sl-block" data-block-type="text" style="width: 867px; left: 47px; top: 18px; height: auto;">
    <div style="z-index: 11;" class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text">
        <h2>Connected User Infos</h2>
    </div>
</div>
<div data-block-id="0611706baacc5998ec1a8d2d43880c76" style="min-width: 30px; min-height: 30px; width: 685.633px; height: 614px; left: 143px; top: 86px;" data-block-type="image" class="sl-block">
    <div style="z-index: 12;" class="sl-block-content">
        <img data-natural-height="540" data-natural-width="603" style="" src="https://s3.amazonaws.com/media-p.slid.es/uploads/329915/images/1699392/refresh_user.png"/>
    </div>
</div>