<div class="sl-block" data-block-type="text" style="width: 800px; left: 80px; top: 29px; height: auto;" data-block-id="3233561760e5f6ec4e3501fac85edbab">
    <div class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text" style="z-index: 10;">
        <h2>Some users should not appear in expert rankings
        </h2>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="3bfee0ae4103935415cee8441e1a365c" style="min-width: 30px; min-height: 30px; width: 758.318px; height: 335px; left: 122px; top: 233px;">
    <a class="sl-block-content" style="z-index: 12;" href="http://www.tomshardware.com/community/profile-2071703.htm" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305376/images/2832409/Screen_Shot_2016-07-11_at_11.41.27.png" data-natural-width="747" data-natural-height="330" style=""/>
    </a>
</div>