{% extends 'common/layout.html' %}

{% block js_var %}
    var demoDate = '2016-07-14';
    var demoNb = 36;
{% endblock %}

{% block slides %}
    <section>
        {% include 'common/intro.html' %}
    </section>
    <section>
        {% include 'common/toc.html' %}
    </section>

    <section class="stack" id="GRE-5519">
        <section>
            {% include 'demo-media-36-slides/media-support/index.html' %}
        </section>
        <section>
            {% include 'demo-media-36-slides/media-support/dandibot.html' %}
        </section>
    </section>

    <section class="stack" id="GRE-5071">
        <section>
            {% include 'demo-media-36-slides/tfr-vis-home/index.html' %}
        </section>
        <section>
            {% include 'demo-media-36-slides/tfr-vis-home/index-2.html' %}
        </section>
        <section>
            {% include 'demo-media-36-slides/tfr-vis-home/ga.html' %}
        </section>
        <section>
            {% include 'demo-media-36-slides/tfr-vis-home/gre-6334.html' %}
        </section>
    </section>

    <section>
        {% include 'demo-media-36-slides/next_demo.html' %}
    </section>
    <section>
        {% include 'common/questions.html' %}
    </section>
{% endblock %}
