<div class="sl-block" data-block-type="text" style="width: 800px; left: 86px; top: 20px; height: auto;" data-block-id="271a78d52a9b7c24460e857d0c7579bc">
    <div class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text" data-has-custom-html="" style="z-index: 11;">
        <h1>
            <span style="font-size: 35.175px; line-height: 45.7275px;">Top Experts Module</span>
        </h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" style="min-width: 30px; min-height: 30px; width: 602.28px; height: 567px; left: 179px; top: 110px;" data-block-id="93ed15b8608cab8e9f5de640550151ff">
    <div class="sl-block-content" style="z-index: 12;">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/472730/images/2746263/TopExpertsModule.png" data-natural-width="956" data-natural-height="900"/>
    </div>
</div>
