<div class="sl-block" data-block-type="text" style="width: 800px; left: 90px; top: 40px; height: auto;" data-block-id="271a78d52a9b7c24460e857d0c7579bc">
    <div class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text" data-has-custom-html="" style="z-index: 11;">
        <h1>
            <span style="font-size:35.175px">Member private profile page</span>
        </h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" style="min-width: 30px; min-height: 30px; width: 786px; height: 358.936px; left: 87px; top: 140px;" data-block-id="441bd5c3150c5dca0f5aea3f7eb7c77f">
    <div class="sl-block-content" style="z-index: 12;">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/472730/images/2583447/private-profile.png" data-natural-width="1246" data-natural-height="569"/>
    </div>
</div>
