<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; top: 70px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text"
         style="z-index: 13; text-align: left; border-width: 1px;">
        <h1>Effect on merged topic</h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" style="min-width: 30px; min-height: 30px; width: 845px; height: 161.782px; left: 58px; top: 250px;">
    <a class="sl-block-content" style="z-index: 11; border: 3px solid black;" href="http://www.tomshardware.co.uk/faq/id-2897843/amd-viable-system-build.html" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/2021406/Capture_d__cran_2015-12-02___14.39.03.png" data-natural-width="679" data-natural-height="130" style=""/>
    </a>
</div>
<div class="sl-block" data-block-type="image" style="min-width: 30px; min-height: 30px; width: 1314.38px; height: 30px; left: -202px; top: 501px;">
    <div class="sl-block-content" style="z-index: 12;">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/2021413/Capture_d__cran_2015-12-02___14.40.13.png" style="" data-natural-width="701" data-natural-height="16"/>
    </div>
</div>