<div data-block-id="0b50726f105b403312afbd0262fdef9e" class="sl-block" data-block-type="text" style="width: 800px; left: 80px; top: 29px; height: auto;">
    <div style="z-index: 10;" class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text">
        <h1>Notify target topic followers</h1>
    </div>
</div>
<div data-block-id="349afe7506e30ee5c2a6d2147bbc0b8d" style="min-width: 30px; min-height: 30px; width: 790.731px; height: 336px; left: 89px; top: 252px;" data-block-type="image" class="sl-block">
    <div style="z-index: 12; border-style: solid; border-width: 1px;" class="sl-block-content">
        <img data-natural-height="416" data-natural-width="979" style="" src="https://s3.amazonaws.com/media-p.slid.es/uploads/305376/images/2075665/merge_mp_notif.png"/>
    </div>
</div>
