<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; top: 70px;" data-block-id="fd532d3e8e88a8d71600705c7cce97c9">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 13; text-align: left; border-width: 1px;">
        <h2>
            <span style="font-size:0.9em">Forum Content Consolidation</span>
        </h2>
    </div>
</div>
<div class="sl-block" data-block-type="text" style="height: auto; width: 100%; left: 27px; top: 265px;"
     data-block-id="d159f9fc7e016eeb50eb1d040e4a7cf7">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text"
         style="z-index: 14; font-size: 70%;" dir="ui">
        <ul>
            <li class="In-Progress"><span class="jira-story with-title">GRE-4066</span></li>
            <li class="In-Progress"><span class="jira-story with-title">GRE-4067</span></li>
            <li class="In-Progress"><span class="jira-story with-title">GRE-4072</span></li>
            <li class="In-Progress"><span class="jira-story with-title">GRE-4497</span></li>
        </ul>
    </div>
</div>