.slides section:not(.stack) {
    background-image: url(https://s3.amazonaws.com/media-p.slid.es/uploads/loicgiraudel/images/1245904/purch-185x185.jpg);
    background-position: bottom right;
    background-repeat: no-repeat;
}
.slides section:not(.stack):after {
    content: '';
    position: absolute;
    width: 184px;
    height: 184px;
    right: -99px;
    bottom: -99px;
    background-color: rgba(255, 255, 255, .7);
    border: 100px solid white;
    border-radius: 100%;
    box-shadow: rgba(171, 49, 27, .3) 0px 15px 11px inset, rgba(231, 122, 103, .3) 0px -1px 3px inset;
}

.reveal.overview .slides section:not(.stack):after {
    display: block !important;
}

.slides section:not(.stack):before {
    content: 'Grenoble Team Demo';
    position: absolute;
    bottom: 0px;
    left: 0px;
    font-size: 60%;
    color: #777;
    text-shadow: 0px -1px 0px #333, 0px 1px 3px #999;
}

h1, h2 {
    color: rgb(222, 71, 44);
    text-shadow: 0px -2px 0px #ab311b, 0px 2px 3px #e77a67;
}
h1 a {
    text-shadow: 0px -2px 0px #1C1BAB, 0px 2px 3px #6775E7;
}
.sl-root .reveal .progress span {
    background-color: rgb(222, 71, 44);
}

.reveal .fa {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
}

.sl-block a.sl-block-content {
    border: 3px solid black;
    box-shadow: 0 0 10px grey;;
}

.index {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.index h1 {
    font-size: 150%;
    margin-bottom: .3em;
}

.index ul {
    z-index: 1;
    position: relative;
    font-size: 80%;
    overflow: auto;
    list-style-position: inside;
    flex: 1;
}

.generated-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.generated-slide .comment {
    flex: 1;
    display:  flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
}

.generated-slide .comment img {
    border: 3px solid black;
    box-shadow: 0 0 10px grey;;
}

.generated-slide p {
    z-index: 1;
}

img:-webkit-full-screen {
    width: auto;
    height: auto;
}

img.big {
    display: none;
}

img.big:-webkit-full-screen {
    width: auto;
    height: auto;
    display: block;
}