<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; top: 70px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text"
         style="z-index: 13; text-align: left; border-width: 1px;">
        <h1>Prepare badges display</h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="3c75167b330d0aebd925036a3b2bf053" style="min-width: 30px; min-height: 30px; width: 811.977px; height: 498px; left: 74px; top: 184px;">
    <a class="sl-block-content" style="z-index: 11; border: 3px solid black;" href="http://10.210.30.105:8520/forum/id-1761181/bar-matos-idn/page-13.html" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/2235893/Capture_d_e_cran_2016-02-15_a__16.57.24.png" data-natural-width="856" data-natural-height="525" style=""/>
    </a>
</div>