<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; top: -7px; left: -91px; width: 1051px;" data-block-id="fd532d3e8e88a8d71600705c7cce97c9">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 11; text-align: center; border-width: 1px;">
        <h2>
            <span style="font-size:1em">Targeted Platform</span>
        </h2>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="1051fd76042a3ba99b680031d26b4b4f" style="min-width: 30px; min-height: 30px; width: 1039.47px; height: 553px; left: -39.4655px; top: 73px;">
    <div class="sl-block-content" style="z-index: 12;">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/315454/images/2288544/reflexionArchi.png" data-natural-width="953" data-natural-height="507"/>
    </div>
</div>