<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; top: 23px; width: 952px; left: 4px;" data-block-id="109e2697f2f5db453525f9e8737cd693">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 11; text-align: left; border-width: 1px; font-size: 67%;">
        <h1 style="text-align:center">
            <span style="font-size:0.9em">As a user, I get connected thanks to Stormpath cookie</span>
        </h1>
    </div>
</div>
<div class="sl-block" data-block-type="shape" data-block-id="0ca880862c4963a7ab920d8e1cd7f3c4" style="min-width: 4px; min-height: 4px; width: 63px; height: 32px; left: -7px; top: 434px;">
    <div class="sl-block-content" data-shape-type="rect" data-shape-fill-color="rgb(255, 255, 255)" data-shape-stretch="true" style="z-index: 12;">
        <svg
            xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 63 32">
            <rect width="63" height="32" class="shape-element" fill="rgb(255, 255, 255)"></rect>
        </svg>
    </div>
</div>
<div class="sl-block" data-block-type="shape" style="min-width: 4px; min-height: 4px; width: 80px; height: 32px; left: 200px; top: 434px;" data-block-id="f6e97bcf96d6ab3469e7eec8a460486f">
    <div class="sl-block-content" data-shape-type="rect" data-shape-fill-color="rgb(255, 255, 255)" data-shape-stretch="true" style="z-index: 13;">
        <svg
            xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 80 32">
            <rect width="80" height="32" class="shape-element" fill="rgb(255, 255, 255)"></rect>
        </svg>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="3fd5f91139f6d411fad5ee3f23f994a9" style="min-width: 30px; min-height: 30px; width: 511.8px; height: 540px; left: 4px; top: 150px;">
    <a class="sl-block-content" style="z-index: 14;" href="http://us-east1-dev-tomsforum-phpfpm1.ttr01.com:8520/app_dev.php/forum/id-2957131/changer-vitesse-lecture-synthese-vocale-samsung.html" target="_blank">
        <img data-natural-width="853" data-natural-height="900" style="" src="https://s3.amazonaws.com/media-p.slid.es/uploads/314194/images/2279233/Capture_d_e_cran_2016-02-26_a__15.14.55.png"/>
    </a>
</div>
<div class="sl-block" data-block-type="image" data-block-id="f93cdcc8c971c078969db15e2e2868f6" style="min-width: 30px; min-height: 30px; width: 605px; height: 319.306px; left: 355px; top: 350px;">
    <div class="sl-block-content" style="z-index: 15;">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/314194/images/2279244/Capture_d_e_cran_2016-02-26_a__15.17.21.png" data-natural-width="540" data-natural-height="285" style=""/>
    </div>
</div>