<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; top: 21px; width: 952px; left: 4px;" data-block-id="109e2697f2f5db453525f9e8737cd693">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 11; text-align: left; border-width: 1px; font-size: 67%;">
        <h2 style="text-align: center;">
            <span class="s1">Track visitor traffic on Forum Home in GA using omniture model</span>
        </h2>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="3c51327dd412bcc73e7ac8c61408d42c" style="min-width: 30px; min-height: 30px; width: 952px; height: 525.385px; left: 4px; top: 113px;">
    <a class="sl-block-content" style="z-index: 12;" href="http://www.tomshardware.co.uk/forum/" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/314194/images/2817056/Capture_d_e_cran_2016-07-05_a__10.44.57.png" style="" data-natural-width="1600" data-natural-height="883"/>
    </a>
</div>