<div class="sl-block" data-block-type="text" style="width: 933px; left: 20px; top: 59px; height: auto;" data-block-id="c9f0f4c2008a757d593667256abb3982">
    <div class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text" style="z-index: 10;">
        <h1>Total answers and users</h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="08a905487fc729db778c95edbd7af54f" style="min-width: 30px; min-height: 30px; width: 783.905px; height: 180px; left: 73px; top: 295px;">
    <a class="sl-block-content" style="z-index: 12;" href="http://www.tomshardware.co.uk/forum/" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305376/images/2821601/Screen_Shot_2016-07-06_at_17.02.23.png" style="" data-natural-width="736" data-natural-height="169"/>
    </a>
</div>