<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; top: 70px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text"
         style="z-index: 13; text-align: left; border-width: 1px;">
        <h1>TFR (VIS) Home (p1)</h1>
    </div>
</div>
<div class="sl-block" data-block-type="text" style="height: auto; width: 100%; left: 27px; top: 245px;"
     data-block-id="d159f9fc7e016eeb50eb1d040e4a7cf7">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text"
         style="z-index: 14; font-size: 70%;" dir="ui">
        <ul>
            <li><span class="jira-story with-title">GRE-6491</span></li>
            <li><span class="jira-story with-title">GRE-6495</span></li>
            <li><span class="jira-story with-title">GRE-6427</span></li>
            <li><span class="jira-story with-title">GRE-6334</span></li>
            <li><span class="jira-story with-title">GRE-6343</span></li>
            <li><span class="jira-story with-title">GRE-6333</span></li>
            <li><span class="jira-story with-title">GRE-6333</span></li>
            <li><span class="jira-story with-title">GRE-6503</span></li>
            <li><span class="jira-story with-title">GRE-6489</span></li>
            <li><span class="jira-story with-title">GRE-6364</span></li>
            <li><span class="jira-story with-title">GRE-6362</span></li>
            <li><span class="jira-story with-title">GRE-6460</span></li>
            <li><span class="jira-story with-title">GRE-6488</span></li>
            <li><span class="jira-story with-title">GRE-6363</span></li>
            <li><span class="jira-story with-title">GRE-6555</span></li>
        </ul>
    </div>
</div>
