<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; top: 70px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text"
         style="z-index: 13; text-align: left; border-width: 1px;">
        <h1>TFR (VIS) Home (p2)</h1>
    </div>
</div>
<div class="sl-block" data-block-type="text" style="height: auto; width: 100%; left: 27px; top: 245px;"
     data-block-id="d159f9fc7e016eeb50eb1d040e4a7cf7">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text"
         style="z-index: 14; font-size: 70%;" dir="ui">
        <ul>
            <li><span class="jira-story with-title">GRE-6500</span></li>
            <li><span class="jira-story with-title">GRE-6499</span></li>
            <li><span class="jira-story with-title">GRE-6587</span></li>
            <li><span class="jira-story with-title">GRE-6457</span></li>
            <li><span class="jira-story with-title">GRE-6457</span></li>
            <li><span class="jira-story with-title">GRE-6459</span></li>
            <li><span class="jira-story with-title">GRE-6458</span></li>
            <li><span class="jira-story with-title">GRE-6345</span></li>
            <li><span class="jira-story with-title">GRE-6505</span></li>
            <li><span class="jira-story with-title">GRE-6650</span></li>
            <li><span class="jira-story with-title">GRE-6650</span></li>
            <li><span class="jira-story with-title">GRE-6681</span></li>
            <li><span class="jira-story with-title">GRE-6670</span></li>
            <li><span class="jira-story with-title">GRE-6662</span></li>
        </ul>
    </div>
</div>
