<div class="sl-block" data-block-type="text" style="top: 77px; height: auto; left: 64px;">
    <div class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text" style="text-align: left; z-index: 11; font-size: 90%;">
        <h1>Suggested topics</h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="db4eac2bfe1c4e8d5cc115fff3e97612" style="min-width: 30px; min-height: 30px; width: 643.005px; height: 371px; left: 28px; top: 280px;">
    <a class="sl-block-content" style="z-index: 11; border-style: solid; border-width: 3px;" href="http://www.tomsguide.com/forum/new_thread.htm" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/1793702/pasted-from-clipboard.png" style="" data-natural-width="695" data-natural-height="401"/>
    </a>
</div>
<div class="sl-block" data-block-type="image" data-block-id="90be8a73a4facfaf445d0da438e8ef45" style="min-width: 30px; min-height: 30px; width: 360px; height: 284.776px; left: 533px; top: 198px;">
    <a class="sl-block-content" style="z-index: 12; border-style: solid; border-width: 3px;" href="http://www.tomsguide.com/forum/all.html" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/1793712/pasted-from-clipboard.png" style="" data-natural-width="335" data-natural-height="265"/>
    </a>
</div>