<div data-block-id="349ff397f4a517edb267ab50672fc281" class="sl-block" data-block-type="text" style="width: 867px; left: 47px; top: 18px; height: auto;">
    <div style="z-index: 11;" class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text">
        <h2>User Bundle</h2>
    </div>
</div>
<div data-block-id="4ef73ea9573041b4c477099bb24163d4" style="min-width: 30px; min-height: 30px; width: 664.781px; height: 570px; left: 188px; top: 100px;" data-block-type="image" class="sl-block">
    <div style="z-index: 12;" class="sl-block-content">
        <a href="https://bitbucket.org/purchmedia/userbundle/src" target="_blank">
            <img data-natural-height="433" data-natural-width="505" style="" src="https://s3.amazonaws.com/media-p.slid.es/uploads/329915/images/1552754/UserBundle.jpg"/>
        </a>
    </div>
</div>
