{% extends 'common/layout.html' %}

{% block js_var %}
    var demoDate = '2015-05-11';
    var demoNb = 24;
{% endblock %}

{% block slides %}
    <section>
        {% include 'common/intro.html' %}
    </section>
    <section>
        {% include 'common/toc.html' %}
    </section>
    <section>
        {% include 'demo24-slides/roi.html' %}
    </section>
    <section class="stack" id="GRE-2217">
        <section>
            {% include 'demo24-slides/comments_in_toms/index.html' %}
        </section>
        <section>
            {% include 'demo24-slides/comments_in_toms/2584.html' %}
        </section>
        <section>
            {% include 'demo24-slides/comments_in_toms/2544.html' %}
        </section>
        <section>
            {% include 'demo24-slides/comments_in_toms/2541.html' %}
        </section>
        <section>
            {% include 'demo24-slides/comments_in_toms/2586.html' %}
        </section>
        <section>
            {% include 'demo24-slides/comments_in_toms/2548.html' %}
        </section>
    </section>
    <section class="stack" id="GRE-2678">
        <section>
        {% include 'demo24-slides/user_services/index.html' %}
        </section>
        <section>
        {% include 'demo24-slides/user_services/archi.html' %}
        </section>
        <section>
        {% include 'demo24-slides/user_services/2763.html' %}
        </section>
    </section>
    <section class="stack">
        <section>
            {% include 'demo24-slides/tech/index.html' %}
        </section>
        <section>
            {% include 'demo24-slides/tech/2581.html' %}
        </section>
        <section>
            {% include 'demo24-slides/tech/2713.html' %}
        </section>
        <section>
            {% include 'demo24-slides/tech/pull_requests.html' %}
        </section>
    </section>
    <section class="stack">
        <section>
            {% include 'demo24-slides/support/index.html' %}
        </section>
    </section>
    <section>
        {% include 'demo24-slides/next_demo.html' %}
    </section>
    <section>
        {% include 'common/questions.html' %}
    </section>
{% endblock %}
