<div class="sl-block" data-block-type="text" style="width: 800px; left: 70px; top: 80px; height: auto;" data-block-id="d478ff8968873be7a8f8a17ecc135bb4">
    <div class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text" style="z-index: 11;">
        <h1>In next episode</h1>
    </div>
</div>

<div style="height: auto; min-width: 30px; min-height: 30px; width: 600px; left: 180px; top: 281px;" data-block-type="text" class="sl-block">
    <div style="z-index: 11;" data-placeholder-text="Text" data-placeholder-tag="p" class="sl-block-content">
        <ul>
        	<li>Highlight most voted comments</li>
        	<li>Deal with deleted / closed topics</li>
        	<li>Plug User Lib to User WS (avatar)</li>
        </ul>
    </div>
</div>
