<div class="sl-block" data-block-type="text" data-block-id="08e2b54ac8153b1dcc940b5a1c186595"
     style="height: auto; min-width: 30px; min-height: 30px; left: 160px; top: 61px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text"
         style="z-index: 11;">
        <h1>ROI Metrics</h1>
    </div>
</div>
<div data-block-id="c863ae6fb4fdcb2416db69294e56c1f4" style="height: auto; min-width: 30px; min-height: 30px; width: 600px; left: 67px; top: 188px;" data-block-type="text" class="sl-block">
    <div style="z-index: 12;" data-placeholder-text="Text" data-placeholder-tag="p" class="sl-block-content">
        <p><a href="http://www.tomsguide.com/forum/forum-131.html" target="_blank">New TGUS moderator category</a></p>
        <p>
            <strong>Goal</strong>: help grow moderator community
        </p>
        <p>&nbsp;</p>
        <p>20 topics created in 2 weeks</p>
    </div>
</div>
<div data-block-id="762109272e15c1dc9c386c9df3469832" style="min-width: 30px; min-height: 30px; width: 252.84px; height: 420px; left: 694px; top: 155px;" data-block-type="image" class="sl-block">
    <div style="z-index: 12;" class="sl-block-content">
        <img data-natural-height="500" data-natural-width="301" style="" src="https://s3.amazonaws.com/media-p.slid.es/uploads/315454/images/1364680/modthreads.png"/>
    </div>
</div>