<div class="sl-block" data-block-type="text" style="width: 942px; left: 8px; top: 22px; height: auto;" data-block-id="b8dc1b2592eb73d18b9d7c396c1262e0">
    <div class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text" style="z-index: 10;">
        <h2>
            Registration re-using existing username authorized
        </h2>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="cc5c2f87160c39d95266efb76121ace9" style="min-width: 30px; min-height: 30px; width: 636.998px; height: 491px; left: 163px; top: 175px;">
    <a class="sl-block-content" style="z-index: 12; box-shadow: 0 0 10px grey;" href="http://www.tomsguide.com/forum/" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/329915/images/2456350/check_username.png" data-natural-width="685" data-natural-height="528"/>
    </a>
</div>