{% extends 'common/layout.html' %}

{% block js_var %}
    var demoDate = '2016-05-19';
    var demoNb = 32;
{% endblock %}

{% block slides %}
    <section>
        {% include 'common/intro.html' %}
    </section>
    <section>
        {% include 'common/toc.html' %}
    </section>
    <!--<section>
        {% include 'demo-media-32-slides/roi.html' %}
    </section>-->

    <section class="stack" id="GRE-5529">
        <section>
            {% include 'demo-media-32-slides/th-migration/index.html' %}
        </section>
    </section>

    <section class="stack" id="GRE-5519">
        <section>
            {% include 'demo-media-32-slides/media-support-release/index.html' %}
        </section>
    </section>

    <section class="stack" id="GRE-5065">
        <section>
            {% include 'demo-media-32-slides/tfr-accounts/index.html' %}
        </section>
        <section>
            {% include 'demo-media-32-slides/tfr-accounts/private-profile.html' %}
        </section>
    </section>

    <section class="stack" id="GRE-5062">
        <section>
            {% include 'demo-media-32-slides/tfr-moderation/index.html' %}
        </section>
        <section>
            {% include 'demo-media-32-slides/tfr-moderation/deleted-answers.html' %}
        </section>
        <section>
            {% include 'demo-media-32-slides/tfr-moderation/deleted-answers_1.html' %}
        </section>
        <section>
            {% include 'demo-media-32-slides/tfr-moderation/deleted-answers_2.html' %}
        </section>
        <section>
            {% include 'demo-media-32-slides/tfr-moderation/deleted-answers_3.html' %}
        </section>
        <section>
            {% include 'demo-media-32-slides/tfr-moderation/restore-deleted-answer.html' %}
        </section>
        <section>
            {% include 'demo-media-32-slides/tfr-moderation/update-thread-fields.html' %}
        </section>
    </section>

    <section class="stack" id="GRE-5059">
        <section>
            {% include 'demo-media-32-slides/tfr-content-org/index.html' %}
        </section>
        <section>
            {% include 'demo-media-32-slides/tfr-content-org/GRE-5790-thread-listing-design.html' %}
        </section>
        <section>
            {% include 'demo-media-32-slides/tfr-content-org/search-filter.html' %}
        </section>
        <section>
            {% include 'demo-media-32-slides/tfr-content-org/show-hide-filters.html' %}
        </section>
    </section>

    <section class="stack" id="GRE-5058">
        <section>
            {% include 'demo-media-32-slides/tfr-core-thread/index.html' %}
        </section>
        <section>
            {% include 'demo-media-32-slides/tfr-core-thread/permCheatsheet.html' %}
        </section>
    </section>

    <section>
        {% include 'common/questions.html' %}
    </section>
{% endblock %}
