<div class="sl-block" data-block-type="text" data-block-id="b406196a8f4c303f230107477e80287b"
     style="height: auto; min-width: 30px; min-height: 30px; width: 800px; left: 80px; top: 70px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text"
         style="z-index: 13; text-align: left; border-width: 1px;">
        <h1>Support</h1>
    </div>
</div>

<div class="sl-block" data-block-type="text" style="height: auto; width: 100%; left: 27px; top: 245px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text"
         style="z-index: 14; font-size: 70%;" dir="ui">
        <ul>
            <li><span class="jira-story with-title">#BHPR-471</span></li>
            <li><span class="jira-story with-title">#BHPR-470</span></li>
        </ul>
    </div>
</div>
