<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; width: 100%; top: 30px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text"
         style="z-index: 13; text-align: left; border-width: 1px;">
        <h1 style="font-size: 2em;">Investigate raise of Varnish 500</h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" style="min-width: 30px; min-height: 30px; width: 912px; height: 456px; left: 24px; top: 152px;">
    <div class="sl-block-content" style="z-index: 12;">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/1573937/varnish500.png" style="" data-natural-width="1000" data-natural-height="500"/>
    </div>
</div>