<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; top: 5px; width: 952px; left: 5px;" data-block-id="109e2697f2f5db453525f9e8737cd693">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 11; text-align: left; border-width: 1px; font-size: 67%;">
        <h1 style="text-align:center">
            <span style="font-size:0.5em">Moderators can delete/restore thread</span>
        </h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="966262f23df8862474bed970a7c697d8" style="min-width: 30px; min-height: 30px; width: 437.5px; height: 325px; left: 5px; top: 70px;">
    <a class="sl-block-content" style="z-index: 12;" href="http://www.tomsguide.com/forum/id-2268403/create-forumquestions-sanity-test.html#r14003515" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/314194/images/2695188/Capture_d_e_cran_2016-06-01_a__18.40.18.png" data-natural-width="805" data-natural-height="598" style=""/>
    </a>
</div>
<div class="sl-block" data-block-type="image" data-block-id="a994c073cfa7f5e4dee546fba720c3a6" style="min-width: 30px; min-height: 30px; width: 444.697px; height: 359px; left: 419px; top: 250px;">
    <a class="sl-block-content" style="z-index: 13;" href="http://www.tomsguide.com/forum/id-2268403/create-forumquestions-sanity-test.html#r14003515" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/314194/images/2695189/Capture_d_e_cran_2016-06-01_a__18.40.41.png" style="" data-natural-width="768" data-natural-height="620"/>
    </a>
</div>