<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; top: 70px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text"
         style="z-index: 13; text-align: left; border-width: 1px;">
        <h1>Thread edition</h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="ef4e72e6eef52c7bab6240f473a25025" style="min-width: 30px; min-height: 30px; width: 609.304px; height: 364px; left: 191px; top: 288px;">
    <a class="sl-block-content" style="z-index: 11;" href="http://www.tomsguide.com/forum/id-2268419/create-forumquestions-sanity-test.html" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/2695399/Capture_d_e_cran_2016-06-01_a__19.37.15.png" style="" data-natural-width="385" data-natural-height="230"/>
    </a>
</div>
<div class="sl-block" data-block-type="shape" data-block-id="090c31a1c04b61b52c9c29f1a36f6835" style="min-width: 4px; min-height: 4px; width: 719px; height: 91px; left: 136px; top: 545px;">
    <div class="sl-block-content" data-shape-type="rect" data-shape-fill-color="rgb(230, 145, 56)" data-shape-stretch="true" style="z-index: 12; opacity: 0.3;">
        <svg
            xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 719 91">
            <rect width="719" height="91" class="shape-element" fill="rgb(230, 145, 56)"></rect>
        </svg>
    </div>
</div>