<div class="sl-block" data-block-type="text" style="width: 800px; left: 86px; top: 25px; height: auto;" data-block-id="271a78d52a9b7c24460e857d0c7579bc">
    <div class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text" data-has-custom-html="" style="z-index: 11;">
        <h1>
            <span style="font-size: 35.175px; line-height: 45.7275px;">Moderation dropdown</span>
        </h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" style="min-width: 30px; min-height: 30px; width: 266.583px; height: 525px; left: 19px; top: 120px;" data-block-id="c37c17be6f1afc70701d581976274ab8">
    <div class="sl-block-content" style="z-index: 12;">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/472730/images/2673274/Moderation-dropdown-mobile.png" data-natural-width="457" data-natural-height="900"/>
    </div>
</div>
<div class="sl-block" data-block-type="image" style="min-width: 30px; min-height: 30px; width: 469px; height: 525px; left: 320px; top: 120px;" data-block-id="2daa0a110f8d26b68a1b6e9262607236">
    <div class="sl-block-content" style="z-index: 13;">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/472730/images/2673275/Moderation-dropdown-desktop.png" data-natural-width="804" data-natural-height="900"/>
    </div>
</div>
