<div class="sl-block" data-block-type="text" style="width: 800px; left: 90px; top: 43px; height: auto;" data-block-id="3b51117ecb0c3e9325c1eb8220b94ed7">
    <div class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text" style="z-index: 10;">
        <h1>
            Stick thread
        </h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="1ede6189b63ae099ab1b35ddb4681b55" style="min-width: 30px; min-height: 30px; width: 759.191px; height: 165px; left: 181px; top: 401px;">
    <a class="sl-block-content" style="z-index: 11;" href="http://www.tomsguide.com/forum/id-2268382/quick-thread-creation-form-test.html" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/329915/images/2693464/stick_option.png" data-natural-width="796" data-natural-height="173"/>
    </a>
</div>
<div class="sl-block" data-block-type="image" data-block-id="273f25e1b31f9642a571940fc72837ca" style="min-width: 30px; min-height: 30px; width: 585.76px; height: 194px; left: 27px; top: 156px;">
    <a class="sl-block-content" style="z-index: 12;" href="http://www.tomsguide.com/forum/id-2268382/quick-thread-creation-form-test.html" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/329915/images/2693472/sticky_marker.png" data-natural-width="779" data-natural-height="258"/>
    </a>
</div>
<div class="sl-block" data-block-type="text" data-block-id="0f6dbc15a9c1566467f62cbcf5069955" style="height: auto; min-width: 30px; min-height: 30px; width: 600px; left: 250px; top: 566px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 13;">
        <p>
            <em>stick option for moderator</em>
        </p>
    </div>
</div>
<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; width: 600px; left: 13px; top: 344px;" data-block-id="abe2186d7b4ea90430baa4d6e6100d50">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 15;">
        <p>
            <em>sticky marker on thread</em>
        </p>
    </div>
</div>