{% extends 'common/layout.html' %}

{% block js_var %}
    var demoDate = '2015-08-17';
    var demoNb = 31;
{% endblock %}

{% block slides %}
    <section>
        {% include 'common/intro.html' %}
    </section>
    <section>
        {% include 'common/toc.html' %}
    </section>
    <section class="stack" id="GRE-3208">
        <section>
            {% include 'demo31-slides/tgus_redesign/index.html' %}
        </section>
        <section>
            {% include 'demo31-slides/tgus_redesign/member-module.html' %}
        </section>
        <section>
            {% include 'demo31-slides/tgus_redesign/omniture-prop.html' %}
        </section>
    </section>
    <section class="stack" id="GRE-3047">
        <section>
            {% include 'demo31-slides/p2_comments_in_toms/index.html' %}
        </section>
        <section>
            {% include 'demo31-slides/p2_comments_in_toms/long_comments_are_truncated.html' %}
        </section>
    </section>    
    <section class="stack" id="GRE-1556">
        <section>
            {% include 'demo31-slides/comments_in_ltm/index.html' %}
        </section>
    </section>     
    <section class="stack">
        <section>
            {% include 'demo31-slides/support/index.html' %}
        </section>
    </section>
    <section>
        {% include 'common/questions.html' %}
    </section>
{% endblock %}
