<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; top: 5px; width: 952px; left: 5px;" data-block-id="109e2697f2f5db453525f9e8737cd693">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 10; text-align: left; border-width: 1px; font-size: 67%;">
        <h1 style="text-align:center">
            <span>
                <span style="font-size:0.7em">Avoid blank page on server side errors</span>
            </span>
        </h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="011c306546d25ef26f1f4118c2ca3c2b" style="min-width: 30px; min-height: 30px; width: 891.566px; height: 370px; left: 34px; top: 113px;">
    <a class="sl-block-content" style="z-index: 12;" href="http://www.tomsguide.com/forum/alls.html" target="_blank">
        <img style="" data-natural-width="1600" data-natural-height="664" src="https://s3.amazonaws.com/media-p.slid.es/uploads/314194/images/2583484/Capture_d_e_cran_2016-05-09_a__09.41.01.png"/>
    </a>
</div>