<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; top: 5px; width: 952px; left: 5px;" data-block-id="109e2697f2f5db453525f9e8737cd693">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 11; text-align: left; border-width: 1px; font-size: 67%;">
        <h1 style="text-align:center">
            <span>Configure first load test</span>
        </h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="f7f58ba2cc1ac5c6cfa09c9e6057d718" style="min-width: 30px; min-height: 30px; width: 897px; height: 400.286px; left: 25px; top: 102px;">
    <a class="sl-block-content" style="z-index: 12;" href="https://a.blazemeter.com/app/#projects/38871/masters/15371586/summary" target="_blank">
        <img data-natural-width="1600" data-natural-height="714" style="" src="https://s3.amazonaws.com/media-p.slid.es/uploads/314194/images/2555910/Capture_d_e_cran_2016-05-02_a__11.45.35.png"/>
    </a>
</div>
