<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; top: 0;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text"
         style="z-index: 13; text-align: left; border-width: 1px;">
        <h1>Quick answer form</h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="a32db3da30e671e28474839d675d987e" style="min-width: 30px; min-height: 30px; width: 714.407px; height: 300px; left: 123px; top: 340px;">
    <a class="sl-block-content" style="z-index: 11;" href="http://www.tomsguide.com/forum/id-2257210/oral-smartseries-bluetooth-toothbrush-review.html" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/2561950/Capture_d_e_cran_2016-05-03_a__18.24.30.png" data-natural-width="562" data-natural-height="236" style=""/>
    </a>
</div>