<div class="sl-block" data-block-type="text" style="width: 824px; left: 68px; top: 43px; height: auto;" data-block-id="5c19712e01509bef77cfea7457be3ae0">
    <div class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text" style="z-index: 11;">
        <h1>
            Select as best answer
        </h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="8c4206f41e585dcf32836656591c5267" style="min-width: 30px; min-height: 30px; width: 760.686px; height: 208px; left: 193px; top: 410px;">
    <a class="sl-block-content" style="z-index: 12;" href="http://www.tomsguide.com/forum/id-2268289/create-forumquestions-sanity-test.html" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/329915/images/2548039/BestAnswer-selected.png" data-natural-width="768" data-natural-height="210"/>
    </a>
</div>
<div class="sl-block" data-block-type="image" data-block-id="71a75d7393c6797caa743033d11f9761" style="min-width: 30px; min-height: 30px; width: 834.429px; height: 177px; left: 7px; top: 210px;">
    <a class="sl-block-content" style="z-index: 13;" href="http://www.tomsguide.com/forum/id-2268289/create-forumquestions-sanity-test.html" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/329915/images/2548040/normal-answer.png" data-natural-width="759" data-natural-height="161"/>
    </a>
</div>