<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; top: 70px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text"
         style="z-index: 13; text-align: left; border-width: 1px;">
        <h1>SSO Integration</h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="5e70bdb6018a414d5a402d569181c564" style="min-width: 30px; min-height: 30px; width: 360px; height: 208.421px; left: 280px; top: 246px;">
    <a class="sl-block-content" style="z-index: 11; box-shadow: 0 0 10px grey; border: 3px solid black;" href="http://www.tomshardware.com" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/2505181/Capture_d_e_cran_2016-04-20_a__10.57.48.png" data-natural-width="285" data-natural-height="165" style=""/>
    </a>
</div>
<div class="sl-block" data-block-type="image" data-block-id="92f7e9b7fe37f3b0ce30459244c4a57d" style="min-width: 30px; min-height: 30px; width: 360px; height: 286.646px; left: 520px; top: 371px;">
    <a class="sl-block-content" style="z-index: 12; box-shadow: 0 0 10px grey; border: 3px solid black;" href="http://www.tomshardware.com" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/2505182/Capture_d_e_cran_2016-04-20_a__10.58.03.png" data-natural-width="319" data-natural-height="254" style=""/>
    </a>
</div>
<div class="sl-block" data-block-type="image" data-block-id="6873fb776b65dedbd2202dd98a758289" style="min-width: 30px; min-height: 30px; width: 521.247px; height: 192px; left: 53px; top: 404px;">
    <a class="sl-block-content" style="z-index: 13; box-shadow: 0 0 10px grey; border: 3px solid black;" href="http://www.tomshardware.com" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/2505183/Capture_d_e_cran_2016-04-20_a__10.58.15.png" data-natural-width="714" data-natural-height="263" style=""/>
    </a>
</div>