{% extends 'common/layout.html' %}

{% block js_var %}
    var demoDate = '2015-08-31';
    var demoNb = 32;
{% endblock %}

{% block slides %}
    <section>
        {% include 'common/intro.html' %}
    </section>
    <section>
        {% include 'common/toc.html' %}
    </section>
    <section class="stack" id="GRE-3208">
        <section>
            {% include 'demo32-slides/tgus_redesign/index.html' %}
        </section>
        <section>
            {% include 'demo32-slides/tgus_redesign/comments_overlaps_comment_count_on_mobile.html' %}
        </section>
    </section>
    <section class="stack" id="GRE-3047">
        <section>
            {% include 'demo32-slides/p2_comments_in_toms/index.html' %}
        </section>
        <section>
            {% include 'demo32-slides/p2_comments_in_toms/ref_invers_get_comments.html' %}
        </section>
        <section>
            {% include 'demo32-slides/p2_comments_in_toms/spinner.html' %}
        </section>
    </section>
    <section class="stack" id="GRE-1556">
        <section>
            {% include 'demo32-slides/comments_in_ltm/index.html' %}
        </section>
    </section>     
    <section class="stack" id="GRE-2048">
        <section>
            {% include 'demo32-slides/forum_recategorization/index.html' %}
        </section>
        <section>
            {% include 'demo32-slides/forum_recategorization/forum_recategorization.html' %}
        </section>
    </section>
    <section class="stack" id="GRE-2678">
        <section>
            {% include 'demo32-slides/user_webservice/index.html' %}
        </section>
    </section>     
    <section class="stack" id="GRE-3492">
        <section>
            {% include 'demo32-slides/aurora_bench/index.html' %}
        </section>
    </section>     
    <section class="stack">
        <section>
            {% include 'demo32-slides/support/index.html' %}
        </section>
        <section>
            {% include 'demo32-slides/support/satis.html' %}
        </section>
    </section>
    <section>
        {% include 'common/questions.html' %}
    </section>
{% endblock %}
