<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; top: 5px; width: 952px; left: 5px;" data-block-id="109e2697f2f5db453525f9e8737cd693">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 11; text-align: left; border-width: 1px; font-size: 67%;">
        <h1 style="text-align:center">
            <span>
                <span style="font-size:0.7em">Permissions CheatSheet</span>
            </span>
        </h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="011c306546d25ef26f1f4118c2ca3c2b" style="min-width: 30px; min-height: 30px; width: 892px; height: 429.275px; left: 35px; top: 84px;">
    <a class="sl-block-content" style="z-index: 12;" href="http://www.tomsguide.com/forum/cheatsheet/permissions" target="_blank">
        <img style="" data-natural-width="1600" data-natural-height="770" src="https://s3.amazonaws.com/media-p.slid.es/uploads/314194/images/2629518/Capture_d_e_cran_2016-05-18_a__15.24.37.png"/>
    </a>
</div>
<div class="sl-block" data-block-type="text" data-block-id="dc075cfdabaae4c90679009d0b0c8a3e" style="height: auto; min-width: 30px; min-height: 30px; width: 922px; left: 5px; top: 381px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 13;">
        <p>Globals and per user permissions matrix to easily check what feature is accessible for who</p>
    </div>
</div>