{% extends 'common/layout.html' %}

{% block js_var %}
    var demoDate = '2015-06-08';
    var demoNb = 26;
{% endblock %}

{% block slides %}
    <section>
        {% include 'common/intro.html' %}
    </section>
    <section>
        {% include 'common/toc.html' %}
    </section>
    <section class="stack" id="GRE-2217">
        <section>
            {% include 'demo26-slides/comments_in_toms/index.html' %}
        </section>
        <section>
            {% include 'demo26-slides/comments_in_toms/bbcode.html' %}
        </section>
        <section>
            {% include 'demo26-slides/comments_in_toms/2962-cleanupvoteprocess.html' %}
        </section>
        <section>
            {% include 'demo26-slides/comments_in_toms/2888-flush.html' %}
        </section>
    </section>
    <section class="stack" id="GRE-1556">
      <section>
        {% include 'demo26-slides/comments_in_ltm/index.html' %}
      </section>
      <section>
        {% include 'demo26-slides/comments_in_ltm/1810-backup-restore.html' %}
      </section>
    </section>
    <section class="stack">
        <section>
            {% include 'demo26-slides/tech/index.html' %}
        </section>
        <section>
            {% include 'demo26-slides/tech/2971.html' %}
        </section>
        <section>
            {% include 'demo26-slides/tech/2971-2.html' %}
        </section>
        <section>
            {% include 'demo26-slides/tech/2972-3.html' %}
        </section>        
        <section>
            {% include 'demo26-slides/tech/devcycle.html' %}
        </section>            
    </section>
    <section class="stack">
        <section>
            {% include 'demo26-slides/support/index.html' %}
        </section>
        <section>
            {% include 'demo26-slides/support/251_votedown.html' %}
        </section>
        <section>
            {% include 'demo26-slides/support/438-xss_injection.html' %}
        </section>
    </section>
    <section>
        {% include 'demo26-slides/next_demo.html' %}
    </section>
    <section>
        {% include 'common/questions.html' %}
    </section>
{% endblock %}
