<div class="sl-block" data-block-type="text" style="width: 800px; left: 68px; top: 70px; height: auto;" data-block-id="d478ff8968873be7a8f8a17ecc135bb4">
    <div class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text" style="z-index: 11;">
        <h1>In next episode</h1>
    </div>
</div>
<div data-block-id="7fd43e778931c51557999fe0bce53939" style="height: auto; min-width: 30px; min-height: 30px; width: 800px; left: 120px; top: 256px;" data-block-type="text" class="sl-block">
    <div dir="ui" style="z-index: 11;" data-placeholder-text="Text" data-placeholder-tag="p" class="sl-block-content">
        <ul>
            <li>Comments in Tom's :
	
                <ul>
                    <li>Comment promotion</li>
                    <li>Content parser : handle clickable links</li>
                    <li>Add link to forum thread</li>
                </ul>
            </li>
            <li>Forum recategorization :
	
                <ul>
                    <li>Home Theatre</li>
                </ul>
            </li>
        </ul>
    </div>
</div>
