<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; top: 70px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text"
         style="z-index: 13; text-align: left; border-width: 1px;">
        <h1>Quick Thread Creation</h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="a587f665beb20c460d071aade67825d8" style="min-width: 30px; min-height: 30px; width: 535.401px; height: 450px; left: 213px; top: 195px;">
    <a class="sl-block-content" style="z-index: 11;" href="http://www.tomsguide.com/forum/all.html?q=&amp;filter%5B%5D=category%3A112" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/2689154/Capture_d_e_cran_2016-05-31_a__14.35.38.png" data-natural-width="326" data-natural-height="274" style=""/>
    </a>
</div>