<div class="sl-block" data-block-type="text" style="width: 800px; left: 86px; top: 10px; height: auto;" data-block-id="271a78d52a9b7c24460e857d0c7579bc">
    <div class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text" data-has-custom-html="" style="z-index: 11;">
        <h1>
            <span style="font-size: 35.175px; line-height: 45.7275px;">Quick Edit Form</span>
        </h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" style="min-width: 30px; min-height: 30px; width: 347.676px; height: 548px; left: 312px; top: 110px;" data-block-id="99ee777f04c302264258d5f7b45101ba">
    <div class="sl-block-content" style="z-index: 12;">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/472730/images/2697850/QuickEditForm.png" data-natural-width="571" data-natural-height="900"/>
    </div>
</div>
