{% extends 'common/layout.html' %}

{% block js_var %}
    var demoDate = '2015-07-06';
    var demoNb = 28;
{% endblock %}

{% block slides %}
    <section>
        {% include 'common/intro.html' %}
    </section>
    <section>
        {% include 'common/toc.html' %}
    </section>
    <section>
        {% include 'demo28-slides/roi.html' %}
    </section>
    <section class="stack" id="GRE-2217">
        <section>
            {% include 'demo28-slides/comments_in_toms/index.html' %}
        </section>
        <section>
            {% include 'demo28-slides/comments_in_toms/article_viewed_event.html' %}
        </section>
        <section>
            {% include 'demo28-slides/comments_in_toms/ask-an-expert.html' %}
        </section>
         <section>
            {% include 'demo28-slides/comments_in_toms/pecl_http.html' %}
        </section>
    </section>
    <section class="stack" id="GRE-3208">
        <section>
            {% include 'demo28-slides/convergence/index.html' %}
        </section>
    </section>
    <section class="stack" id="GRE-2678">
        <section>
            {% include 'demo28-slides/user-web-service/index.html' %}
        </section>
        <section>
            {% include 'demo28-slides/user-web-service/user-bundle.html' %}
        </section>
    </section>
    <section class="stack">
        <section>
            {% include 'demo28-slides/support/index.html' %}
        </section>
    </section>
    <section>
        {% include 'demo28-slides/next_demo.html' %}
    </section>
    <section>
        {% include 'common/questions.html' %}
    </section>
{% endblock %}
