<div class="sl-block" data-block-type="text" data-block-id="08e2b54ac8153b1dcc940b5a1c186595" style="height: auto; min-width: 30px; min-height: 30px; left: 223px; top: 42px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 11;">
        <h1>ROI Metrics</h1>
    </div>
</div>
<div data-block-id="9aad5448315ef7306af5627936e9aef5" style="min-width: 30px; min-height: 30px; width: 586px; height: 308px; left: 142px; top: 266px;" data-block-type="image" class="sl-block">
    <div style="z-index: 12;" class="sl-block-content">
        <img data-natural-height="308" data-natural-width="586" style="" src="https://s3.amazonaws.com/media-p.slid.es/uploads/305376/images/1545620/comments_responseTimes_release_2.0.4_annotated.png"/>
    </div>
</div>
<div data-block-id="b58a3faa6cb1bc39a95c06e3dc3ad195" style="height: auto; min-width: 30px; min-height: 30px; width: 869px; left: 46px; top: 191px;" data-block-type="text" class="sl-block">
    <div style="z-index: 14;" data-placeholder-text="Text" data-placeholder-tag="p" class="sl-block-content">
        <p>Comments Services release : improve response times (-9%)</p>
    </div>
</div>
