<div class="sl-block" data-block-type="text" data-block-id="b406196a8f4c303f230107477e80287b" style="height: auto; min-width: 30px; min-height: 30px; width: 800px; left: 80px; top: 10px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 11; text-align: left; border-width: 1px;">
        <h1>Pagination</h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" style="min-width: 30px; min-height: 30px; width: 752px; height: 250.666666666667px; left: 128px; top: 239px;" data-block-id="6877fd6a2fed4ccb72f186e89bda8ce7">
    <a class="sl-block-content" style="z-index: 12;" href="http://tomsguide.dev-web1.ttr01.com:8282/app/126/tpc_en_2257210" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/314194/images/1364031/pagination.png" data-natural-width="696" data-natural-height="232"/>
    </a>
</div>