<div class="sl-block" data-block-type="text" data-block-id="b406196a8f4c303f230107477e80287b"
     style="height: auto; min-width: 30px; min-height: 30px; width: 800px; left: 80px; top: 10px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text"
         style="z-index: 13; text-align: left; border-width: 1px;">
        <h1>Vote on comments</h1>
    </div>
</div>
<div data-block-id="b004638aa9db7095667c8515ebad3ff2" style="min-width: 30px; min-height: 30px; width: 214.427px; height: 408px; left: 80px; top: 161px;" data-block-type="image" class="sl-block">
    <div style="z-index: 11;" class="sl-block-content">
        <a href="http://tomsguide.dev-web1.ttr01.com:8282/app/1828/tpc_en_2265490"><img data-natural-height="900" data-natural-width="473" style="" src="https://s3.amazonaws.com/media-p.slid.es/uploads/311439/images/1326305/Capture_d_e_cran_2015-04-30_a__08.37.31.png"/></a>
    </div>
</div>
<div data-block-id="26cb4bb0bcecc03a14ba7cf75128f0bb" style="min-width: 30px; min-height: 30px; width: 209.533px; height: 420px; left: 367px; top: 149px;" data-block-type="image" class="sl-block">
    <div style="z-index: 12;" class="sl-block-content">
        <a href="http://tomsguide.dev-web1.ttr01.com:8282/app/1828/tpc_en_2265490"> <img data-natural-height="900" data-natural-width="449" style="" src="https://s3.amazonaws.com/media-p.slid.es/uploads/311439/images/1326307/Capture_d_e_cran_2015-04-30_a__08.37.49.png"/></a>
    </div>
</div>
<div data-block-id="af2989f3acb9c1ab4a0cce1db5ae6263" style="min-width: 30px; min-height: 30px; width: 206.267px; height: 420px; left: 675px; top: 149px;" data-block-type="image" class="sl-block">
    <div style="z-index: 13;" class="sl-block-content">
        <a href="http://tomsguide.dev-web1.ttr01.com:8282/app/1828/tpc_en_2265490"><img data-natural-height="900" data-natural-width="442" style="" src="https://s3.amazonaws.com/media-p.slid.es/uploads/311439/images/1326308/Capture_d_e_cran_2015-04-30_a__08.37.56.png"/></a>
    </div>
</div>
<div data-block-id="3d833dacc377c15da484bd2b4f8cc4cf" style="min-width: 4px; min-height: 4px; width: 140px; height: 100px; left: 100px; top: 180px;" data-block-type="shape" class="sl-block">
    <div style="z-index: 14; opacity: 0.23;" data-shape-stretch="true" data-shape-fill-color="rgb(255, 255, 0)" data-shape-type="rect" class="sl-block-content">
        <svg viewBox="0 0 140 100" preserveAspectRatio="none" height="100%" width="100%" version="1.1"
             xmlns="http://www.w3.org/2000/svg">
            <rect fill="rgb(255, 255, 0)" class="shape-element" height="100" width="140"></rect>
        </svg>
    </div>
</div>
<div data-block-id="d863dce41791c44f3a4cf7b6be1f2029" style="min-width: 4px; min-height: 4px; width: 140px; height: 100px; left: 387px; top: 177px;" data-block-type="shape" class="sl-block">
    <div style="z-index: 16; opacity: 0.23;" data-shape-stretch="true" data-shape-fill-color="rgb(255, 255, 0)" data-shape-type="rect" class="sl-block-content">
        <svg viewBox="0 0 140 100" preserveAspectRatio="none" height="100%" width="100%" version="1.1"
             xmlns="http://www.w3.org/2000/svg">
            <rect fill="rgb(255, 255, 0)" class="shape-element" height="100" width="140"></rect>
        </svg>
    </div>
</div>
<div data-block-id="aaf54a726de34c356959a77325020134" style="min-width: 4px; min-height: 4px; width: 172px; height: 100px; left: 700px; top: 469px;" data-block-type="shape" class="sl-block">
    <div style="z-index: 17; opacity: 0.23;" data-shape-stretch="true" data-shape-fill-color="rgb(255, 255, 0)" data-shape-type="rect" class="sl-block-content">
        <svg viewBox="0 0 172 100" preserveAspectRatio="none" height="100%" width="100%" version="1.1"
             xmlns="http://www.w3.org/2000/svg">
            <rect fill="rgb(255, 255, 0)" class="shape-element" height="100" width="172"></rect>
        </svg>
    </div>
</div>