<div class="sl-block" data-block-type="text" data-block-id="b406196a8f4c303f230107477e80287b"
     style="height: auto; min-width: 30px; min-height: 30px; width: 800px; left: 80px; top: 10px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text"
         style="z-index: 13; text-align: left; border-width: 1px;">
        <h1>Comment Creation Tabs</h1>
    </div>
</div>



<a class="sl-block" data-block-type="image" style="z-index: 1; min-width: 30px; min-height: 30px; width: 360px; height: 195.773195876289px; left: 300px; top: 154px;  border-style: solid; border-width: 1px;" data-block-id="6784f3ead4fc3c3c424140c2bad76cad" href="http://tomsguide.dev-web1.ttr01.com:8282/app/1828/tpc_en_2265490" target="_blank">
    <div class="sl-block-content">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/1338305/tabs1.png" data-natural-width="388" data-natural-height="211" style=""/>
    </div>
    <div style="min-width: 4px; min-height: 4px; width: 290px; height: 40px; left: 0; top: 0;" data-block-type="shape" class="sl-block">
        <div style="z-index: 14; opacity: 0.23;" data-shape-stretch="true" data-shape-fill-color="rgb(255, 255, 0)" data-shape-type="rect" class="sl-block-content">
            <svg viewBox="0 0 140 100" preserveAspectRatio="none" height="100%" width="100%" version="1.1"
                 xmlns="http://www.w3.org/2000/svg">
                <rect fill="rgb(255, 255, 0)" class="shape-element" height="100" width="140"></rect>
            </svg>
        </div>
    </div>
</a>
<a class="sl-block" data-block-type="image" style="z-index: 1; min-width: 30px; min-height: 30px; width: 644.573446327684px; height: 259px; left: 158px; top: 388px; border-style: solid; border-width: 1px;" data-block-id="7b8600eedfd3f83059c72d37ea36bc8e" href="http://tomsguide.dev-web1.ttr01.com:8282/app/1828/tpc_en_2265490" target="_blank">
    <div class="sl-block-content">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/1338306/tabs2.png" style="" data-natural-width="881" data-natural-height="354"/>
    </div>
    <div style="min-width: 4px; min-height: 4px; width: 640px; height: 132px; left: 0; top: 24px;" data-block-type="shape" class="sl-block">
        <div style="z-index: 14; opacity: 0.23;" data-shape-stretch="true" data-shape-fill-color="rgb(255, 255, 0)" data-shape-type="rect" class="sl-block-content">
            <svg viewBox="0 0 140 100" preserveAspectRatio="none" height="100%" width="100%" version="1.1"
                 xmlns="http://www.w3.org/2000/svg">
                <rect fill="rgb(255, 255, 0)" class="shape-element" height="100" width="140"></rect>
            </svg>
        </div>
    </div>
</a>
