<div class="sl-block" data-block-type="text" data-block-id="b406196a8f4c303f230107477e80287b" style="height: auto; min-width: 30px; min-height: 30px; width: 800px; left: 80px; top: 10px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 11; text-align: left; border-width: 1px;">
        <h1>Collapse / Expand</h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" style="min-width: 30px; min-height: 30px; width: 742px; height: 124px; left: 109px; top: 274px;" data-block-id="e482ad4b5e65c8ca5056ec7e3ca0dffa">
    <a class="sl-block-content" style="z-index: 12;" href="http://tomsguide.dev-web1.ttr01.com:8282/app/126/tpc_en_2265490" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/314194/images/1364039/collapse.png" data-natural-width="742" data-natural-height="124"/>
    </a>
</div>