<div class="sl-block" data-block-type="text" style="top: 77px; height: auto; left: 64px;">
    <div class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text" style="text-align: left; z-index: 11;">
        <h1 style="font-size: 210%;">Remove datePublished From Comments Section</h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="26532ea5946a3cb22d6692baa879c212" style="min-width: 30px; min-height: 30px; width: 881.993px; height: 197px; left: 39px; top: 293px;">
    <div class="sl-block-content" style="z-index: 11; border-style: solid; border-width: 3px;">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/1821983/pasted-from-clipboard.png" data-natural-width="685" data-natural-height="153" style=""/>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="5094e262be5c075ba497313ea86658ec" style="min-width: 30px; min-height: 30px; width: 668.251px; height: 190px; left: 226px; top: 440px;">
    <div class="sl-block-content" style="z-index: 12; border-style: solid; border-width: 3px;">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/1821984/pasted-from-clipboard.png" style="" data-natural-width="925" data-natural-height="263"/>
    </div>
</div>