<style>
.icon-elem {
	float: left;
	list-style: none;
	margin: 0 5px 5px 0 !important;
}
.icon-elem span {
	border-width: 3px;
	border-style: solid;
	display: block;
	border-radius: 50%;
}

@font-face {
	font-family: 'badges-webfont';
	src:url('fonts/badges-webfont.1.16.eot?-sfhevy');
	src:url('fonts/badges-webfont.1.16.eot?#iefix-sfhevy') format('embedded-opentype'),
		url('fonts/badges-webfont.1.16.ttf?-sfhevy') format('truetype'),
		url('fonts/badges-webfont.1.16.woff?-sfhevy') format('woff'),
		url('fonts/badges-webfont.1.16.svg?-sfhevy#badges-webfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'badges-webfont' !important;
	speak: none !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	line-height: 1 !important;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale !important;
}
[class^="icon-"]:before, [class*=" icon-"]:before {
	font-size: 5em;
}

.icon-acer:before {
	content: "\3b3";
}
.icon-ASRock:before {
	content: "\3b4";
}
.icon-corsaire:before {
	content: "\3b5";
}
.icon-dell:before {
	content: "\3b6";
}
.icon-EVGA:before {
	content: "\3b7";
}
.icon-Gigabyte:before {
	content: "\3b8";
}
.icon-Gskill:before {
	content: "\3b9";
}
.icon-lenovo:before {
	content: "\3ba";
}
.icon-msi:before {
	content: "\3bb";
}
.icon-raze:before {
	content: "\3bc";
}
.icon-steam:before {
	content: "\3bd";
}

.icon-acer, .icon-acer span,
.icon-dell, .icon-dell span,
.icon-lenovo, .icon-lenovo span,
.icon-steam, .icon-steam span {
	border-color: #6fc415;
	color: #6fc415;
	background-color: #e1f7d3;
}

.icon-ASRock, .icon-ASRock span,
.icon-EVGA, .icon-EVGA span,
.icon-msi, .icon-msi span {
	border-color: #25a5dc;
	color: #25a5dc;
	background-color: #d5e9f1;
}

.icon-corsaire, .icon-corsaire span,
.icon-Gigabyte, .icon-Gigabyte span,
.icon-Gskill, .icon-Gskill span,
.icon-raze, .icon-raze span {
	border-color: #ef6e10;
	color: #ef6e10;
	background-color: #fdece2;
}
</style>
<div class="sl-block" data-block-type="text" style="top: 77px; height: auto; left: 64px;">
    <div class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text" style="text-align: left; z-index: 11; font-size: 90%;">
        <h1>New badges icons</h1>
    </div>
</div>
<div class="sl-block" data-block-type="text" style="top: 207px; height: auto; left: 0px; width: 100%;">
    <div class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text" style="text-align: left; z-index: 11; font-size: 90%;">
		<ul>
			<li class="icon-elem"><span class="icon-acer"></span></li>
			<li class="icon-elem"><span class="icon-ASRock"></span></li>
			<li class="icon-elem"><span class="icon-corsaire"></span></li>
			<li class="icon-elem"><span class="icon-dell"></span></li>
			<li class="icon-elem"><span class="icon-EVGA"></span></li>
			<li class="icon-elem"><span class="icon-Gigabyte"></span></li>
			<li class="icon-elem"><span class="icon-Gskill"></span></li>
			<li class="icon-elem"><span class="icon-lenovo"></span></li>
			<li class="icon-elem"><span class="icon-msi"></span></li>
			<li class="icon-elem"><span class="icon-raze"></span></li>
			<li class="icon-elem"><span class="icon-steam"></span></li>
		</ul>
    </div>
</div>
