<div data-block-id="485eed2d081e55a76bdfa5274c4f61a0" style="min-width: 30px; min-height: 30px; width: 630.572px; height: 625px; left: 120px; top: 25px;" data-block-type="image" class="sl-block">
    <div style="z-index: 11;" class="sl-block-content">
        <img data-natural-height="673" data-natural-width="679" style="" src="https://s3.amazonaws.com/media-p.slid.es/uploads/305376/images/1826837/sitesearch_circuitbreaker_open.png"/>
    </div>
</div>
