<div data-block-id="8bad5e8b36b3a04363a180f96d38b3d7" class="sl-block" data-block-type="text" style="width: 800px; left: 90px; top: 0px; height: auto;">
    <div style="z-index: 10;" class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text">
        <h2>Sitesearch - circuit breaker</h2>
    </div>
</div>
<div data-block-id="831bbabf894d07ab67827c4cea66ecbe" style="min-width: 30px; min-height: 30px; width: 601px; height: 580.501px; left: 156px; top: 94.2496px;" data-block-type="image" class="sl-block">
    <div style="z-index: 12;" class="sl-block-content">
        <img data-natural-height="623" data-natural-width="645" style="" src="https://s3.amazonaws.com/media-p.slid.es/uploads/305376/images/1825894/sitesearch_circuitbreaker.png"/>
    </div>
</div>
