<div class="sl-block" data-block-type="text" data-block-id="b406196a8f4c303f230107477e80287b"
     style="height: auto; min-width: 30px; min-height: 30px; width: 800px; left: 80px; top: 70px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text"
         style="z-index: 13; text-align: left; border-width: 1px;">
        <h1>Support</h1>
    </div>
</div>

<div style="height: auto; min-width: 30px; min-height: 30px; width: 600px; left: 180px; top: 281px;" data-block-type="text" class="sl-block">
    <div style="z-index: 11;" data-placeholder-text="Text" data-placeholder-tag="p" class="sl-block-content">
        <ul>
        	<li>Digest troubles in PROD</li>
        	<li>Follow / unfollow threads not working</li>
        	<li>QA platform issues</li>
        </ul>
    </div>
</div>
