{% extends 'common/layout.html' %}

{% block js_var %}
    var demoDate = '2016-07-28';
    var demoNb = 37;
{% endblock %}

{% block slides %}
    <section>
        {% include 'common/intro.html' %}
    </section>
    <section>
        {% include 'common/toc.html' %}
    </section>
    <!--<section>
        {% include 'demo-media-37-slides/roi.html' %}
    </section>-->


    <section class="stack" id="GRE-5071">
        <section>
            {% include 'demo-media-37-slides/tfr-vis-home/index.html' %}
        </section>
        <section>
            {% include 'demo-media-37-slides/tfr-vis-home/anonymous-user.html' %}
        </section>
        <section>
            {% include 'demo-media-37-slides/tfr-vis-home/webperf.html' %}
        </section>
    </section>


    <section class="stack" id="GRE-6428">
        <section>
             {% include 'demo-media-37-slides/tfr-vis-thread/index.html' %}
         </section>
         <section>
             {% include 'demo-media-37-slides/tfr-vis-thread/expert-badges.html' %}
         </section>
         <section>
              {% include 'demo-media-37-slides/tfr-vis-thread/related-links.html' %}
         </section>
                 <section>
            {% include 'demo-media-37-slides/tfr-vis-thread/ban-revert-votes.html' %}
        </section>
     </section>

     <section class="stack" id="GRE-5519">
         <section>
             {% include 'demo-media-37-slides/media-support/index.html' %}
         </section>
     </section>

    <section class="stack" id="GRE-6765">
        <section>
            {% include 'demo-media-37-slides/user-ws/index.html' %}
        </section>
    </section>

    <section>
        {% include 'demo-media-37-slides/next_demo.html' %}
    </section>

    <section>
        {% include 'common/questions.html' %}
    </section>
{% endblock %}
