<div class="sl-block" data-block-type="image" data-block-id="52a5e47ec67eacf2e608006a7b515f42" style="min-width: 30px; min-height: 30px; width: 529.727px; height: 439px; left: 12px; top: 9px;">
    <div class="sl-block-content" style="z-index: 11; border-style: solid; border-width: 3px;">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/1875225/pasted-from-clipboard.png" data-natural-width="1086" data-natural-height="900" style=""/>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="7c55d218de6fa5b8e65fb2f120f5e813" style="min-width: 30px; min-height: 30px; width: 465px; height: 373.995px; left: 451px; top: 303px;">
    <div class="sl-block-content" style="z-index: 12; border-style: solid; border-width: 3px;">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/1875228/pasted-from-clipboard.png" data-natural-width="1119" data-natural-height="900" style=""/>
    </div>
</div>