<div data-block-id="18a45668b010837091b3c4ebd2c99a27" class="sl-block" data-block-type="text" style="width: 800px; left: 80px; top: 10px; height: auto;">
    <div style="z-index: 10;" class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text">
        <h1>Add service to get comments</h1>
    </div>
</div>
<div data-block-id="7d2d480885018428528546d0814d483e" style="min-width: 30px; min-height: 30px; width: 762.114px; height: 305px; left: 99px; top: 236px;" data-block-type="image" class="sl-block">
    <a target="_blank" href="http://internal-lb-bom-qa-comments-al-370099695.us-west-2.elb.amazonaws.com:8680/comments-applicative-layer/docs/index.html#!/comments-controller/getListOfCommentsForEditoDocument" style="z-index: 11; border-style: solid; border-width: 1px;" class="sl-block-content">
        <img data-natural-height="395" data-natural-width="987" style="" src="https://s3.amazonaws.com/media-p.slid.es/uploads/305376/images/1651241/ECAL_swagger.png"/>
    </a>
</div>
<div data-block-id="24e22cb721e93acde665cd47cb4f2632" style="height: auto; min-width: 30px; min-height: 30px; width: 881px; left: 61px; top: 581px;" data-block-type="text" class="sl-block">
    <div style="z-index: 13; text-align: left; font-size: 57%;" data-placeholder-text="Text" data-placeholder-tag="p" class="sl-block-content">
        <p>GUID : en_US_21_News_21063</p>
        <p>Page URL : http://www.tomsguide.com/us/google-microsoft-flaw,news-20319.html</p>
    </div>
</div>
