<div class="sl-block" data-block-type="text" style="width: 800px; left: 80px; top: 10px; height: auto;">
    <div class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text">
        <h1>Spinners</h1>
    </div>
</div>
<div class="sl-block" style="min-width: 30px; min-height: 30px; width: 815px; height: 438.862559241706px; left: 91px; right: 0; top: 201px;">
    <div class="sl-block" data-block-type="image" style="min-width: 30px; min-height: 30px; width: 360px; height: 238.862559241706px; left: 0; top: 0;">
        <div class="sl-block-content" style="border-style: solid; border-width: 3px;">
            <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/1654267/pasted-from-clipboard.png" data-natural-width="211" data-natural-height="140" style=""/>
        </div>
    </div>

    <div class="sl-block" data-block-type="shape" style="min-width: 4px; min-height: 4px; width: 556px; height: 198px; left: 257px; top: 158px; z-index: 1;">
        <div class="sl-block-content" data-shape-type="rect" data-shape-fill-color="rgb(255, 255, 255)" data-shape-stretch="true" data-shape-stroke-color="#000000" data-shape-stroke-width="3">
            <svg
                xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 556 198">
                <defs>
                    <clipPath id="shape-mask-143-1440061316864">
                        <rect width="556" height="198"></rect>
                    </clipPath>
                </defs>
                <rect width="556" height="198" clip-path="url(#shape-mask-143-1440061316864)" class="shape-element" fill="rgb(255, 255, 255)" stroke="#000000" stroke-width="6"></rect>
            </svg>
        </div>

        <div class="sl-block" data-block-type="image" style="min-width: 30px; min-height: 30px; width: 211.137931034483px; height: 157px; left: 20px; top: 20px;">
            <div class="sl-block-content">
                <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/1654268/pasted-from-clipboard.png" data-natural-width="117" data-natural-height="87" style=""/>
            </div>
        </div>

        <div class="sl-block" data-block-type="shape" style="min-width: 4px; min-height: 4px; width: 70px; height: 32px; left: 260px; top: 80px;">
            <div class="sl-block-content" data-shape-type="arrow-right" data-shape-fill-color="rgb(252, 229, 205)" data-shape-stretch="true">
                <svg
                    xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 70 32">
                    <polygon points="0,9.6 35,9.6 35,0 70,16 35,32 35,22.4 0,22.4" class="shape-element" fill="rgb(252, 229, 205)"></polygon>
                </svg>
            </div>
        </div>

        <div class="sl-block" data-block-type="image" style="min-width: 30px; min-height: 30px; width: 182.79381443299px; height: 149px; right: 20px; top: 30px;">
            <div class="sl-block-content">
                <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/1654269/pasted-from-clipboard.png" style="" data-natural-width="119" data-natural-height="97"/>
            </div>
        </div>

    </div>
</div>

