{% extends 'common/layout.html' %}

{% block js_var %}
    var demoDate = '2015-07-20';
    var demoNb = 29;
{% endblock %}

{% block slides %}
    <section>
        {% include 'common/intro.html' %}
    </section>
    <section>
        {% include 'common/toc.html' %}
    </section>
    <section class="stack" id="GRE-1556">
        <section>
            {% include 'demo29-slides/comments_in_ltm/index.html' %}
        </section>
        <section>
            {% include 'demo29-slides/comments_in_ltm/prepare-launch.html' %}
        </section>
    </section>
    <section class="stack" id="GRE-2217">
        <section>
            {% include 'demo29-slides/comments_in_toms/index.html' %}
        </section>
         <section>
            {% include 'demo29-slides/comments_in_toms/xss-security.html' %}
        </section>
        <section>
            {% include 'demo29-slides/comments_in_toms/ask-an-expert-notifications.html' %}
        </section>
        <section>
            {% include 'demo29-slides/comments_in_toms/userbundle.html' %}
        </section>
        <section>
            {% include 'demo29-slides/comments_in_toms/reference_inversion.html' %}
        </section>
    </section>
    <section class="stack" id="GRE-3208">
        <section>
            {% include 'demo29-slides/convergence/index.html' %}
        </section>
        <section>
            {% include 'demo29-slides/convergence/disqus.html' %}
        </section>
         <section>
            {% include 'demo29-slides/convergence/assets-optimizations.html' %}
        </section>
    </section>    
    <section class="stack">
        <section>
            {% include 'demo29-slides/support/index.html' %}
        </section>
        <section>
            {% include 'demo29-slides/support/varnish500.html' %}
        </section>
    </section>
    <section>
        {% include 'demo29-slides/next_demo.html' %}
    </section>
    <section>
        {% include 'common/questions.html' %}
    </section>
{% endblock %}
