<div data-block-id="199ec3b90dafd9f363780a6b57120104" class="sl-block" data-block-type="text" style="width: 800px; left: 81px; top: 48px; height: auto;">
    <div style="z-index: 11;" class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text">
        <h1>Flush forum cache</h1>
    </div>
</div>
<div data-block-id="493ef863d70c8b57560a5eff00d5fe32" style="min-width: 30px; min-height: 30px; width: 239.365px; height: 300px; left: 121px; top: 250px;" data-block-type="image" class="sl-block">
    <a target="_blank" href="http://tomsguide.dev-web1.ttr01.com:8282/app/tpc_en_2257210" style="z-index: 12; border-style: solid; border-width: 1px;" class="sl-block-content">
        <img data-natural-height="851" data-natural-width="679" style="" src="https://s3.amazonaws.com/media-p.slid.es/uploads/305376/images/1462033/CommentsInTom_new.png"/>
    </a>
</div>
<div data-block-id="17ee2fc4446ce7f47660015a0fa344b3" style="min-width: 30px; min-height: 30px; width: 360px; height: 254.215px; left: 520px; top: 258px;" data-block-type="image" class="sl-block">
    <a target="_blank" href="http://www.tomsguide.com.qa/forum/id-2257210/oral-smartseries-bluetooth-toothbrush-review.html" style="z-index: 13; border-style: solid; border-width: 1px;" class="sl-block-content">
        <img data-natural-height="769" data-natural-width="1089" style="" src="https://s3.amazonaws.com/media-p.slid.es/uploads/305376/images/1462036/Comments_forum.png"/>
    </a>
</div>
<div data-block-id="d7f28197ab47d1f369c8e101329a7118" style="height: auto; min-width: 30px; min-height: 30px; width: 328px; left: 72px; top: 177px;" data-block-type="text" class="sl-block">
    <div style="z-index: 14;" data-placeholder-text="Text" data-placeholder-tag="p" class="sl-block-content">
        <p>Edito comments</p>
    </div>
</div>
<div data-block-id="fb5872f9b8e52c730d943ffb66703559" style="height: auto; min-width: 30px; min-height: 30px; width: 292px; left: 542px; top: 177px;" data-block-type="text" class="sl-block">
    <div style="z-index: 15;" data-placeholder-text="Text" data-placeholder-tag="p" class="sl-block-content">
        <p>Forum</p>
    </div>
</div>
