<div data-block-id="0e2af9182db6e7c34ebc6585a4637425" class="sl-block" data-block-type="text" style="width: 800px; left: 74px; top: 21px; height: auto;">
    <div style="z-index: 11;" class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text">
        <h1>Simplify vote process : cleanup</h1>
    </div>
</div>
<div data-block-id="d059f29696d66ef58cb0d4936a5bd7c0" style="min-width: 30px; min-height: 30px; width: 774px; height: 384.498px; left: 106px; top: 245px;" data-block-type="image" class="sl-block">
    <div style="z-index: 12;" class="sl-block-content">
        <img data-natural-height="461" data-natural-width="928" style="" src="https://s3.amazonaws.com/media-p.slid.es/uploads/305376/images/1460989/WithoutVoteListener_cleanup.png"/>
    </div>
</div>
