<div data-block-id="0e2af9182db6e7c34ebc6585a4637425" class="sl-block" data-block-type="text" style="width: 800px; left: 74px; top: 21px; height: auto;">
    <div style="z-index: 11;" class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text">
        <h1>BBcode Parser</h1>
    </div>
</div>
<div data-block-id="d059f29696d66ef58cb0d4936a5bd7c0" style="min-width: 30px; min-height: 30px; width: 604.44px; height: 438px; left: -63px; top: 165px;" data-block-type="image" class="sl-block">
    <a style="z-index: 12;" class="sl-block-content" href="http://tomsguide.dev-web1.ttr01.com:8282/app/tpc_en_2083576" target="_blank">
        <img data-natural-height="550" data-natural-width="759" style="" src="https://s3.amazonaws.com/media-p.slid.es/uploads/314194/images/1468297/before_bbcode2.png"/>
    </a>
</div>
<div class="sl-block" data-block-type="image" data-block-id="87beb895b4eaf9ad92b579fa83bc28da" style="min-width: 30px; min-height: 30px; width: 572.983240223464px; height: 252px; left: 438px; top: 261px;">
    <a class="sl-block-content" style="z-index: 13;" href="http://www.tomsguide.com.qa/forum/id-2083576/read-forum-rules-styling-posts.html#14002325]Original" target="_blank">
        <img data-natural-width="814" data-natural-height="358" style="" src="https://s3.amazonaws.com/media-p.slid.es/uploads/314194/images/1468299/after_bbcode.png"/>
    </a>
</div>
<div class="sl-block" data-block-type="image" data-block-id="7057a7f3e6cb65198e8b3240d539a955" style="min-width: 30px; min-height: 30px; width: 57.7948717948718px; height: 49px; left: 472px; top: 140px;">
    <div class="sl-block-content" style="z-index: 14;">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/314194/images/1469000/github.png" data-natural-width="46" data-natural-height="39" style=""/>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="3acf1eac25a11799bf29d84e1aa1298a" style="min-width: 30px; min-height: 30px; width: 360px; height: 56.7887323943662px; left: 534px; top: 136px;">
    <a class="sl-block-content" style="z-index: 15;" href="https://github.com/helios-ag/FMBbCodeBundle" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/314194/images/1469002/FMBbCodeBundle.png" style="" data-natural-width="355" data-natural-height="56"/>
    </a>
</div>