<div class="sl-block" data-block-type="text" data-block-id="b406196a8f4c303f230107477e80287b"
     style="height: auto; min-width: 30px; min-height: 30px; width: 800px; left: 80px; top: 70px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text"
         style="z-index: 13; text-align: left; border-width: 1px;">
        <h1>Comments in Tom's</h1>
    </div>
</div>
<div class="sl-block progress-bar" data-epic="GRE-2217" data-block-type="text"
     data-block-id="546744aa438a73d28bb1c7cab6a4f6e1"
     style="height: auto; min-width: 30px; min-height: 30px; width: 600px; left: 80px; top: 190px;">
</div>
<div class="sl-block" data-block-type="text" style="height: auto; width: 100%; left: 27px; top: 245px;"
     data-block-id="d159f9fc7e016eeb50eb1d040e4a7cf7">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text"
         style="z-index: 14; font-size: 70%;" dir="ui">
        <ul>
            <li><span class="jira-story with-title">GRE-2561</span></li>
            <li><span class="jira-story with-title">GRE-2962</span></li>
            <li><span class="jira-story with-title">GRE-2759</span></li>
            <li><span class="jira-story with-title">GRE-2888</span></li>
        </ul>
    </div>
</div>
