{% extends 'common/layout.html' %}

{% block js_var %}
    var demoDate = '2016-02-15';
    var demoNb = 44;
{% endblock %}

{% block slides %}
    <section>
        {% include 'common/intro.html' %}
    </section>
    <section>
        {% include 'common/toc.html' %}
    </section>
    <section>
        {% include 'demo44-slides/roi.html' %}
    </section>

    <section class="stack" id="GRE-4492">
        <section>
            {% include 'demo44-slides/sso-post-launch/index.html' %}
        </section>
    </section>

    <section class="stack" id="GRE-3842">
        <section>
            {% include 'demo44-slides/tgus-forum-replatforming/index.html' %}
        </section>
        <section>
            {% include 'demo44-slides/tgus-forum-replatforming/update-jenkins-job.html' %}
        </section>
        <section>
            {% include 'demo44-slides/tgus-forum-replatforming/pagination.html' %}
        </section>
    </section>

    <section class="stack" id="GRE-3491">
        <section>
            {% include 'demo44-slides/forum-content-consolidation/index.html' %}
        </section>
    </section>

    <section class="stack" id="GRE-1582">
        <section>
            {% include 'demo44-slides/support/index.html' %}
        </section>
        <section>
            {% include 'demo44-slides/support/jenkins-php55.html' %}
        </section>
        <section>
            {% include 'demo44-slides/support/jenkins-java7.html' %}
        </section>
    </section>

    <section>
        {% include 'demo44-slides/next_demo.html' %}
    </section>
    <section>
        {% include 'common/questions.html' %}
    </section>
{% endblock %}
