<div data-block-id="d781be8f7b02d158c99d99ada6030e5f" class="sl-block" data-block-type="text" style="width: 800px; left: 80px; top: 0px; height: auto;">
    <div style="z-index: 11;" class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text">
        <h1>Merge by Append :</h1>
    </div>
</div>
<div data-block-id="f76f962998ea6fef40343a91348c1d19" style="height: auto; min-width: 30px; min-height: 30px; width: 600px; left: 180px; top: 112px;" data-block-type="text" class="sl-block">
    <div style="z-index: 12;" data-placeholder-text="Text" data-placeholder-tag="p" class="sl-block-content">
        <h2>concatenate post at the end</h2>
    </div>
</div>
<div data-block-id="52499957ae7b4fcf9f94be47c1f4d48d" style="min-width: 30px; min-height: 30px; width: 388.06px; height: 260px; left: 23px; top: 300px;" data-block-type="image" class="sl-block">
    <a target="_blank" href="http://www.tomsguide.com/forum/id-2203229/ipad-home-screen-shakes-power-button-work.html?56a10be0b760c=reload" style="z-index: 13; border-style: solid; border-width: 1px;" class="sl-block-content">
        <img data-natural-height="737" data-natural-width="1100" style="" src="https://s3.amazonaws.com/media-p.slid.es/uploads/305376/images/2158268/append_1_source.png"/>
    </a>
</div>
<div data-block-id="64c8dde85844781dca4b012a287ecc57" style="min-width: 30px; min-height: 30px; width: 408.412px; height: 260px; left: 541px; top: 300px;" data-block-type="image" class="sl-block">
    <a target="_blank" href="http://www.tomsguide.com/forum/id-2180059/ios-games-utilise-power-ipad-air.html" style="z-index: 14; border-style: solid; border-width: 1px;" class="sl-block-content">
        <img data-natural-height="699" data-natural-width="1098" style="" src="https://s3.amazonaws.com/media-p.slid.es/uploads/305376/images/2158272/append_1_target.png"/>
    </a>
</div>
<div data-block-id="04031f8f42e632c68edd28478620cb1b" style="min-width: 4px; min-height: 4px; width: 113px; height: 58px; left: 419px; top: 411px;" data-block-type="shape" class="sl-block">
    <div style="z-index: 15;" data-shape-stretch="true" data-shape-fill-color="#000000" data-shape-type="arrow-right" class="sl-block-content">
        <svg viewBox="0 0 113 58" preserveAspectRatio="none" height="100%" width="100%" version="1.1"
            xmlns="http://www.w3.org/2000/svg">
            <polygon fill="#000000" class="shape-element" points="0,17.4 56.5,17.4 56.5,0 113,29 56.5,58 56.5,40.599999999999994 0,40.599999999999994"></polygon>
        </svg>
    </div>
</div>
