<div data-block-id="0d6ff663a203149a08bde3e4b15eb071" class="sl-block" data-block-type="text" style="width: 800px; left: 80px; top: 0px; height: auto;">
    <div style="z-index: 11;" class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text">
        <h1>Merge by Append :</h1>
    </div>
</div>
<div data-block-id="a51afed13ccfee007b44829e1021bc2c" style="height: auto; width: 600px; left: 180px; top: 112px;" data-block-type="text" class="sl-block">
    <div style="z-index: 12;" data-placeholder-text="Text" data-placeholder-tag="p" class="sl-block-content">
        <h2>quote whole thread</h2>
    </div>
</div>
<div data-block-id="72418b70eb632a45e3842cdec607f561" style="width: 388px; height: 244.454px; left: 39px; top: 280px;" data-block-type="image" class="sl-block">
    <a target="_blank" href="http://www.tomsguide.com/forum/id-2251801/iphone-8gb-good-choice.html" style="z-index: 13; border-style: solid; border-width: 1px;" class="sl-block-content">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305376/images/2165837/append_2_source.png" data-natural-height="688" data-natural-width="1092" style=""/>
    </a>
</div>
<div data-block-id="5bb1a3faaa9e265e366fd2a3e420a42d" style="width: 355.031px; height: 252px; left: 566px; top: 280px;" data-block-type="image" class="sl-block">
    <a target="_blank" href="http://www.tomsguide.com/forum/id-2247878/good-phone.html" style="z-index: 14; border-style: solid; border-width: 1px;" class="sl-block-content">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305376/images/2165839/append_2_target.png" data-natural-height="768" data-natural-width="1082" style=""/>
    </a>
</div>
<div data-block-id="d94a1f9db79c1814be1bbce58d4c71da" style="width: 113px; height: 58px; left: 435px; top: 383px;" data-block-type="shape" class="sl-block">
    <div style="z-index: 15;" data-shape-stretch="true" data-shape-fill-color="#000000" data-shape-type="arrow-right" class="sl-block-content">
        <svg viewBox="0 0 113 58" preserveAspectRatio="none" height="100%" width="100%" version="1.1"
            xmlns="http://www.w3.org/2000/svg">
            <polygon fill="#000000" class="shape-element" points="0,17.4 56.5,17.4 56.5,0 113,29 56.5,58 56.5,40.599999999999994 0,40.599999999999994"></polygon>
        </svg>
    </div>
</div>
