<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; width: 800px; left: 80px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text"
         style="z-index: 13; text-align: left; border-width: 1px;">
        <h1 style="font-size: 2.1em;">Home Theatre Legacy migration</h1>
    </div>
</div>
<a class="sl-block" href="http://www.tomshardware.co.uk/forum/" target="_blank" style="color: black;">
    <div class="sl-block" data-block-type="image" style="min-width: 30px; min-height: 30px; width: 809.583333333333px; height: 335px; left: 25px; top: 193px;">
        <div class="sl-block-content" style="z-index: 11; border-style: solid; border-width: 3px;">
            <img style="" data-natural-width="754" data-natural-height="312" src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/1491195/pasted-from-clipboard.png"/>
        </div>
    </div>
    <div class="sl-block" data-block-type="shape" data-block-id="8642c896456b7d1fc51b5e282b4ccb22" style="min-width: 4px; min-height: 4px; width: 175px; height: 44px; left: 465px; top: 392px;">
        <div class="sl-block-content" data-shape-type="rect" data-shape-fill-color="rgb(255, 255, 0)" data-shape-stretch="true" style="z-index: 12; opacity: 0.3;">
            <svg
                xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 175 44">
                <rect width="175" height="44" class="shape-element" fill="rgb(255, 255, 0)"></rect>
            </svg>
        </div>
    </div>
</a>
<a class="sl-block" href="http://www.tomshardware.co.uk/forum/forum-25.html" target="_blank" style="color: black;">
    <div class="sl-block" data-block-type="image" data-block-id="e5d099ee7231d7a404cae3d2540e5e95" style="min-width: 30px; min-height: 30px; width: 360px; height: 97.0212765957447px; left: 560px; top: 474px;">
        <div class="sl-block-content" style="z-index: 13; border-style: solid; border-width: 3px;">
            <img style="" data-natural-width="423" data-natural-height="114" src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/1491200/pasted-from-clipboard.png"/>
        </div>
    </div>
    <div class="sl-block" data-block-type="shape" data-block-id="9d9dec3d4135356407d836f7544227c3" style="min-width: 4px; min-height: 4px; width: 76px; height: 28px; left: 578px; top: 538px;">
        <div class="sl-block-content" data-shape-type="rect" data-shape-fill-color="rgb(255, 255, 0)" data-shape-stretch="true" style="z-index: 14; opacity: 0.3;">
            <svg
                xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 76 28">
                <rect width="76" height="28" class="shape-element" fill="rgb(255, 255, 0)"></rect>
            </svg>
        </div>
    </div>
</a>