<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; width: 800px; left: 80px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text"
         style="z-index: 13; text-align: left; border-width: 1px;">
        <h1 style="font-size: 2.1em;">Visits on Home Theatre Legacy & Home Theatre</h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="aeb03da00e65b8cf381fa0ea9c1d62da" style="min-width: 30px; min-height: 30px; width: 876.799007444169px; height: 382px; left: 42px; top: 237px; border: 3px solid black; z-index: 1">
    <div class="sl-block-content" style="z-index: 11;">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/1514575/pasted-from-clipboard.png" style="" data-natural-width="925" data-natural-height="403"/>
    </div>
</div>