<div data-block-id="349ff397f4a517edb267ab50672fc281" class="sl-block" data-block-type="text" style="width: 960px; left: 0px; top: 28px; height: auto;">
    <div dir="ui" style="z-index: 11;" class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text">
        <h3>Setup satis webhook</h3>
    </div>
</div>
<div class="sl-block" data-block-type="image" style="min-width: 30px; min-height: 30px; width: 360px; height: 360px; left: 388px; top: 100px;" data-block-id="92eef51ac6b2b8f4876b5a63af9d741b">
    <div class="sl-block-content" style="z-index: 12;">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/314194/images/1857569/837015.jpeg" style="" data-natural-width="400" data-natural-height="400"/>
    </div>
</div>
<div class="sl-block" data-block-type="image" style="min-width: 30px; min-height: 30px; width: 360px; height: 287.1255060728745px; left: 67px; top: 140px;" data-block-id="0641587159a88202c246ced38f834d12">
    <div class="sl-block-content" style="z-index: 13;">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/314194/images/1857571/aaarr-webhooks-pirate.gif" style="" data-natural-width="494" data-natural-height="394"/>
    </div>
</div>
<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; width: 960px; left: 0px; top: 490px;" data-block-id="a58437a028afb83c4b2e944e9fce9cff">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 14;">
        <p>Rebuild Satis Index Like a Boss</p>
        <p>
            <a href="http://satis.svc.int.purch.com/satis-webhook/webhook.php" target="_blank">http://satis.svc.int.purch.com/satis-webhook/webhook.php​</a>
        </p>
    </div>
</div>
<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; width: 189px; left: 678px; top: 400px;" data-block-id="05708d0ee4ed7df93bb55084d2f08be0">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 16; font-size: 115%;">
        <p>
            <strong>Satis</strong>
        </p>
    </div>
</div>
<div class="sl-block" data-block-type="shape" style="min-width: 4px; min-height: 4px; width: 21px; height: 47px; left: 693px; top: 400px;" data-block-id="23e8d5cfad93993bb29e2a7101e5d73d">
    <div class="sl-block-content" data-shape-type="symbol-plus-circle" data-shape-fill-color="#000000" data-shape-stretch="false" style="z-index: 17;">
        <svg
            xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" preserveAspectRatio="xMidYMid" viewBox="0 0 32 32">
            <g class="shape-element" fill="#000000">
                <path d="M16 0c-8.836 0-16 7.164-16 16s7.164 16 16 16 16-7.164 16-16-7.164-16-16-16zM24 18h-6v6h-4v-6h-6v-4h6v-6h4v6h6v4z"></path>
            </g>
        </svg>
    </div>
</div>