<div data-block-id="9a072586588c637c3836a170bbc18571" class="sl-block" data-block-type="text" style="width: 915px; left: 30px; top: 31px; height: auto;">
    <div style="z-index: 10;" class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text">
        <h1>
            <span>User private messages</span>
        </h1>
    </div>
</div>
<div data-block-id="a0918a995a4f9c1096dddc0939895d35" style="min-width: 30px; min-height: 30px; width: 339.012px; height: 459px; left: 94px; top: 147px;" data-block-type="image" class="sl-block">
    <div style="z-index: 11;" class="sl-block-content">
        <a href="http://www.tomsguide.com/" target="_blank">
            <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/329915/images/1835411/header_user_menu.png" data-natural-height="241" data-natural-width="178" style=""/>
        </a>
    </div>
</div>
<div data-block-id="0b6dbf85d25780302f7e5701f5dc09f1" style="min-width: 30px; min-height: 30px; width: 325.929px; height: 459px; left: 554.036px; top: 147px;" data-block-type="image" class="sl-block">
    <div style="z-index: 12;" class="sl-block-content">
        <a href="http://www.tomsguide.com/" target="_blank">
            <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/329915/images/1835511/header_user_menu-no_notifications.png" data-natural-height="238" data-natural-width="169" style=""/>
        </a>
    </div>
</div>
<div data-block-id="d59661082c6035fb7d14bbe23f530ac1" style="height: auto; min-width: 30px; min-height: 30px; width: 385px; left: 71px; top: 617px;" data-block-type="text" class="sl-block">
    <div style="z-index: 13;" data-placeholder-text="Text" data-placeholder-tag="p" class="sl-block-content">
        <p>user has 1 private message</p>
    </div>
</div>
<div data-block-id="6e946aac27c09e19dc8b5839ad5a30d5" style="height: auto; min-width: 30px; min-height: 30px; width: 415px; left: 530px; top: 617px;" data-block-type="text" class="sl-block">
    <div style="z-index: 14;" data-placeholder-text="Text" data-placeholder-tag="p" class="sl-block-content">
        <p>user has no private message</p>
    </div>
</div>
<div data-block-id="80bcd30e930a19b70b71328e15b694d4" style="min-width: 4px; min-height: 4px; width: 48px; height: 44px; left: 153px; top: 147px;" data-block-type="shape" class="sl-block">
    <div style="z-index: 15; opacity: 0.47;" data-shape-stretch="true" data-shape-fill-color="rgb(168, 39, 107)" data-shape-type="diamond" class="sl-block-content">
        <svg viewBox="0 0 48 44" preserveAspectRatio="none" height="100%" width="100%" version="1.1"
             xmlns="http://www.w3.org/2000/svg">
            <polygon fill="rgb(168, 39, 107)" class="shape-element" points="48,22 24,44 0,22 24,0"></polygon>
        </svg>
    </div>
</div>
<div data-block-id="51a6d2b7d2339fd88b4a576cd472bf5f" style="min-width: 4px; min-height: 4px; width: 42px; height: 48px; left: 264px; top: 238px;" data-block-type="shape" class="sl-block">
    <div style="z-index: 16; opacity: 0.47;" data-shape-stretch="true" data-shape-fill-color="rgb(168, 39, 107)" data-shape-type="circle" class="sl-block-content">
        <svg viewBox="0 0 42 48" preserveAspectRatio="none" height="100%" width="100%" version="1.1"
             xmlns="http://www.w3.org/2000/svg">
            <ellipse fill="rgb(168, 39, 107)" class="shape-element" cy="24" cx="21" ry="24" rx="21"></ellipse>
        </svg>
    </div>
</div>
<div data-block-id="27d93227405e359a86b94ca0139f9da2" style="min-width: 4px; min-height: 4px; width: 42px; height: 48px; left: 717px; top: 238px;" data-block-type="shape" class="sl-block">
    <div style="z-index: 18; opacity: 0.47;" data-shape-stretch="true" data-shape-fill-color="rgb(168, 39, 107)" data-shape-type="circle" class="sl-block-content">
        <svg viewBox="0 0 42 48" preserveAspectRatio="none" height="100%" width="100%" version="1.1"
             xmlns="http://www.w3.org/2000/svg">
            <ellipse fill="rgb(168, 39, 107)" class="shape-element" cy="24" cx="21" ry="24" rx="21"></ellipse>
        </svg>
    </div>
</div>