<div class="sl-block" data-block-type="text" style="width: 849px; left: 62px; top: 34px; height: auto;" data-block-id="e8eae2b4cb33494819ae878168e86578">
    <div class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text" style="z-index: 11;">
        <h2>
            <span style="text-align:start">Display title in quoted thread</span>
        </h2>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="d297e322d66dfdc41473bf98433f6b8a" style="min-width: 30px; min-height: 30px; width: 934.043px; height: 385px; left: 13px; top: 194px;">
    <a class="sl-block-content" style="z-index: 12;" href="http://www.tomsguide.com/answers/id-2263313/audio-switch.html#14003027" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/329915/images/2293468/title_quoted.png" data-natural-width="1116" data-natural-height="460"/>
    </a>
</div>