<div class="sl-block" data-block-type="text" style="width: 948px; left: 6px; top: 22px; height: auto;" data-block-id="6e21efb54e1c38c4bee75b395c8caaa7">
    <div class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text" style="z-index: 11;">
        <h1>use seo_id for Category </h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="62634cdf556d9ac3c4282e8493db1c2a" style="min-width: 30px; min-height: 30px; width: 554px; height: 200.461px; left: 10px; top: 360px;">
    <a class="sl-block-content" style="z-index: 13; border-style: solid; border-width: 1px;" href="http://www.tomsguide.com/forum/id-2268497/test-test-test.html" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/329915/images/2751515/breadcrumb.png" data-natural-width="760" data-natural-height="275"/>
    </a>
</div>
<div class="sl-block" data-block-type="image" data-block-id="755e3ada0c3b7580fb81c2b89dc0810b" style="min-width: 30px; min-height: 30px; width: 483.598px; height: 170px; left: 100px; top: 168px;">
    <a class="sl-block-content" style="z-index: 12; border-style: solid; border-width: 1px;" href="http://www.tomsguide.com/forum/forum-105.html" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/329915/images/2751517/category_tree.png" data-natural-width="751" data-natural-height="264"/>
    </a>
</div>
<div class="sl-block" data-block-type="image" data-block-id="e897c69edaea21c89ca01fda544be5cc" style="min-width: 30px; min-height: 30px; width: 680.264px; height: 83px; left: 224px; top: 578px;">
    <a class="sl-block-content" style="z-index: 14; border-style: solid; border-width: 1px;" href="http://www.tomsguide.com/forum/new_thread.html" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/329915/images/2751773/thread-creation.png" data-natural-width="1213" data-natural-height="148"/>
    </a>
</div>
<div class="sl-block" data-block-type="image" data-block-id="45a0b45928f700b5dd589493646e0486" style="min-width: 30px; min-height: 30px; width: 340px; height: 257.217px; left: 599px; top: 200px;">
    <a class="sl-block-content" style="z-index: 15; border-style: solid; border-width: 1px;" href="http://www.tomsguide.com/forum/forum-105.html" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/329915/images/2751774/quick-edit.png" data-natural-width="345" data-natural-height="261"/>
    </a>
</div>