{% extends 'common/layout.html' %}

{% block js_var %}
    var demoDate = '2016-06-02';
    var demoNb = 33;
{% endblock %}

{% block slides %}
    <section>
        {% include 'common/intro.html' %}
    </section>
    <section>
        {% include 'common/toc.html' %}
    </section>
    <!--<section>
        {% include 'demo-media-33-slides/roi.html' %}
    </section>-->

    <section class="stack" id="GRE-5626">
        <section>
            {% include 'demo-media-33-slides/tfr-publishing/index.html' %}
        </section>
        <section>
            {% include 'demo-media-33-slides/tfr-publishing/quick-thread-creation.html' %}
        </section>
        <section>
            {% include 'demo-media-33-slides/tfr-publishing/quick-edit-form.html' %}
        </section>
    </section>
    <section class="stack" id="GRE-5519">
        <section>
            {% include 'demo-media-33-slides/media-support-release/index.html' %}
        </section>
    </section>
    <section class="stack" id="GRE-5065">
        <section>
            {% include 'demo-media-33-slides/tfr-accounts/index.html' %}
        </section>
        <section>
            {% include 'demo-media-33-slides/tfr-accounts/private-profile.html' %}
        </section>
    </section>

    <section class="stack" id="GRE-5062">
        <section>
            {% include 'demo-media-33-slides/tfr-moderation/index.html' %}
        </section>
        <section>
            {% include 'demo-media-33-slides/tfr-moderation/GRE-5168-deleted-threads.html' %}
        </section>
        <section>
            {% include 'demo-media-33-slides/tfr-moderation/GRE-5970-moderation-dropdown.html' %}
        </section>
        <section>
            {% include 'demo-media-33-slides/tfr-moderation/stick-thread.html' %}
        </section>
        <section>
            {% include 'demo-media-33-slides/tfr-moderation/delete-restore-thread.html' %}
        </section>
        <section>
            {% include 'demo-media-33-slides/tfr-moderation/edit.html' %}
        </section>
    </section>

    <section class="stack" id="GRE-5059">
        <section>
            {% include 'demo-media-33-slides/tfr-content-org/index.html' %}
        </section>
        <section>
            {% include 'demo-media-33-slides/tfr-content-org/sticky.html' %}
        </section>
        <section>
            {% include 'demo-media-33-slides/tfr-content-org/thread-listing-display-filters.html' %}
        </section>
        <section>
            {% include 'demo-media-33-slides/tfr-content-org/filter-removeone-removeall.html' %}
        </section>
        <section>
            {% include 'demo-media-33-slides/tfr-content-org/category-filter.html' %}
        </section>
        <section>
            {% include 'demo-media-33-slides/tfr-content-org/filter_tags.html' %}
        </section>
    </section>

    <section class="stack" id="GRE-5058">
        <section>
            {% include 'demo-media-33-slides/tfr-core-thread/index.html' %}
        </section>
        <section>
            {% include 'demo-media-33-slides/tfr-core-thread/GRE-5859-Display-spinner-while-ajax-request-processed.html' %}
        </section>
        <section>
            {% include 'demo-media-33-slides/tfr-core-thread/GRE-6000-tomsguidebundle-header.html' %}
        </section>
        <section>
            {% include 'demo-media-33-slides/tfr-core-thread/GRE-6001-forms-design.html' %}
        </section>
    </section>

    <section>
        {% include 'common/questions.html' %}
    </section>
{% endblock %}
