<div class="sl-block" data-block-type="text" style="width: 800px; left: 80px; top: 22px; height: auto;" data-block-id="18f0235919f5f70f99ceb6710d2ef88a">
    <div class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text" style="z-index: 11;">
        <h1>Append topic</h1>
    </div>
</div>
<div class="sl-block" data-block-type="text" data-block-id="41516263d7f78419a80a74cdfa4a6bd6" style="height: auto; min-width: 30px; min-height: 30px; width: 760px; left: 80px; top: 140px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 14;">
        <h3>misplaced post when source last answer is deleted</h3>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="38a4c3a2d3f3c0e4b871f489f3822835" style="min-width: 30px; min-height: 30px; width: 443.628px; height: 260px; left: 498px; top: 280px;">
    <div class="sl-block-content" style="z-index: 12; box-shadow: 0 0 10px grey;">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305376/images/2429775/Screen_Shot_2016-04-05_at_17.24.21.png" data-natural-width="1063" data-natural-height="623" style=""/>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="b5aaf9d527aa1a4c4724add62ab37489" style="min-width: 30px; min-height: 30px; width: 454.168px; height: 268px; left: 26px; top: 280px;">
    <div class="sl-block-content" style="z-index: 13; box-shadow: 0 0 10px grey;">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305376/images/2429777/Screen_Shot_2016-04-05_at_17.25.07.png" style="" data-natural-width="1110" data-natural-height="655"/>
    </div>
</div>
