<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; top: 70px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text"
         style="z-index: 13; text-align: left; border-width: 1px;">
        <h1>Support</h1>
    </div>
</div>
<div class="sl-block" data-block-type="text" style="height: auto; width: 100%; left: 27px; top: 245px;"
     data-block-id="d159f9fc7e016eeb50eb1d040e4a7cf7">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text"
         style="z-index: 14; font-size: 70%;" dir="ui">
        <ul>
        <li><span class="jira-story with-title">GRE-5287</span></li>
        <li><span class="jira-story with-title">GRE-5279</span></li>
        <li><span class="jira-story with-title">GRE-5276</span></li>
        <li><span class="jira-story with-title">GRE-5272</span></li>
        <li><span class="jira-story with-title">GRE-5263</span></li>
        <li><span class="jira-story with-title">GRE-5250</span></li>
        <li><span class="jira-story with-title">GRE-4334</span></li>
        <li><span class="jira-story with-title">GRE-5339</span></li>
        <li><span class="jira-story with-title">BHPR-644</span></li>
        <li><span class="jira-story with-title">BHPR-648</span></li>
        <li><span class="jira-story with-title">BHPR-647</span></li>
        <li><span class="jira-story with-title">GRE-5517</span></li>
        <li><span class="jira-story with-title">GRE-5396</span></li>
        <li><span class="jira-story with-title">GRE-5379</span></li>
        <li><span class="jira-story with-title">GRE-5336</span></li>
        </ul>
    </div>
</div>
