<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; top: 70px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text"
         style="z-index: 13; text-align: left; border-width: 1px;">
        <h1>Privacy Policy link</h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="c54555b55c97c9ee5194e59fa65c9099" style="min-width: 30px; min-height: 30px; width: 816.134px; height: 223px; left: 80px; top: 337px;">
    <a class="sl-block-content" style="z-index: 11; box-shadow: 0 0 10px grey;" href="http://www.tomsguide.com/community/register" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/2365698/Capture_d_e_cran_2016-03-18_a__16.49.37.png" data-natural-width="710" data-natural-height="194" style=""/>
    </a>
</div>