<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; top: 70px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text"
         style="z-index: 13; text-align: left; border-width: 1px;">
        <h1>Twitch in BBCode</h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="c0943858da0dab847ef7d3f41dbc06bd" style="min-width: 30px; min-height: 30px; width: 924px; height: 269.002px; left: 18px; top: 308px;">
    <a class="sl-block-content" style="z-index: 11; box-shadow: 0 0 10px grey;" href="http://www.tomsguide.com/forum/id-2268207/qsd.html#14003151" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/2428427/Capture_d_e_cran_2016-04-05_a__11.47.33.png" data-natural-width="1082" data-natural-height="315" style=""/>
    </a>
</div>