<div class="sl-block" data-block-type="text" style="width: 800px; left: 80px; top: 0px; height: auto;" data-block-id="416d43bd0be9194683b5c19191e403e9">
    <div class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text" style="z-index: 11;">
        <h1>Ban IP or user reverts votes</h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="41930683751792ae262a31f7abb6e9eb" style="min-width: 30px; min-height: 30px; width: 360px; height: 161.966px; left: 520px; top: 229px;">
    <a class="sl-block-content" style="z-index: 12;" href="http://www.tomsguide.com/community/profile-1488563.htm" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305376/images/2864210/Screen_Shot_2016-07-22_at_17.23.47.png" style="" data-natural-width="529" data-natural-height="238"/>
    </a>
</div>
<div class="sl-block" data-block-type="image" data-block-id="0d4950036d2427e883e7a65227708bf5" style="min-width: 30px; min-height: 30px; width: 360px; height: 341.307px; left: 40px; top: 229px;">
    <a class="sl-block-content" style="z-index: 13;" href="http://www.tomsguide.com/answers/id-2268543/test-inline-signin.html" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305376/images/2864213/Screen_Shot_2016-07-22_at_17.24.11.png" data-natural-width="597" data-natural-height="566" style=""/>
    </a>
</div>