<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; top: 70px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text"
         style="z-index: 13; text-align: left; border-width: 1px;">
        <h1>Expert badges</h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="8ab7dd78b4dc57ed06f05a5e7255b187" style="min-width: 30px; min-height: 30px; width: 811.916px; height: 177px; left: 74px; top: 369px;">
    <a class="sl-block-content" style="z-index: 11;" href="http://www.tomshardware.co.uk/answers/id-1887547/8320-bottleneck-7950.html" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/2876374/Capture_d_e_cran_2016-07-27_a__19.39.50.png" data-natural-width="711" data-natural-height="155" style=""/>
    </a>
</div>