<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; top: 70px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text"
         style="z-index: 13; text-align: left; border-width: 1px;">
        <h1>Related threads</h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="d7075436ac48db1213b46c8f51b30c92" style="min-width: 30px; min-height: 30px; width: 707.409px; height: 273px; left: 13px; top: 195px;">
    <a class="sl-block-content" style="z-index: 12;" href="http://www.tomshardware.co.uk/answers/id-1887547/8320-bottleneck-7950.html" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/2876380/Capture_d_e_cran_2016-07-27_a__19.42.49.png" style="" data-natural-width="710" data-natural-height="274"/>
    </a>
</div>
<div class="sl-block" data-block-type="image" data-block-id="8ed2a0434542e1a453ac2454525c03fe" style="min-width: 30px; min-height: 30px; width: 290px; height: 281.785px; left: 640px; top: 342px;">
    <a class="sl-block-content" style="z-index: 13;" href="http://www.tomshardware.co.uk/answers/id-1887547/8320-bottleneck-7950.html" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/2876382/Capture_d_e_cran_2016-07-27_a__19.43.20.png" data-natural-width="353" data-natural-height="343" style=""/>
    </a>
</div>
<div class="sl-block" data-block-type="image" data-block-id="4ca9be38bd50846284ee7c91d9206ad2" style="min-width: 30px; min-height: 30px; width: 440.598px; height: 405px; left: 107px; top: 280px;">
    <a class="sl-block-content" style="z-index: 11;" href="http://www.tomshardware.co.uk/answers/id-1887547/8320-bottleneck-7950.html" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/2876386/Capture_d_e_cran_2016-07-27_a__19.45.21.png" data-natural-width="755" data-natural-height="694" style=""/>
    </a>
</div>