<div class="sl-block" data-block-type="text" style="width: 800px; left: 86px; top: 25px; height: auto;" data-block-id="271a78d52a9b7c24460e857d0c7579bc">
    <div class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text" data-has-custom-html="" style="z-index: 11;">
        <h1>
            <span style="font-size: 35.175px; line-height: 45.7275px;">Thread Listing Design</span>
        </h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" style="min-width: 30px; min-height: 30px; width: 416.244px; height: 572px; left: 272px; top: 89px;" data-block-id="4a3fd14fc1274bf1895149a75f9e7175">
    <div class="sl-block-content" style="z-index: 12;">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/472730/images/2623141/ThreadListingDesign.png" data-natural-width="620" data-natural-height="852"/>
    </div>
</div>
