{% extends 'common/layout.html' %}

{% block js_var %}
    var demoDate = '2015-10-26';
    var demoNb = 36;
{% endblock %}

{% block slides %}
    <section>
        {% include 'common/intro.html' %}
    </section>

    <section class="stack" id="GRE-4104">
        <section>
            {% include 'demo36-slides/ramp-on-toms-forums/index.html' %}
        </section>
        <section>
            {% include 'demo36-slides/ramp-on-toms-forums/ramp.html' %}
        </section>
    </section>

    <section class="stack" id="GRE-3491">
        <section>
            {% include 'demo36-slides/forum-content-consolidation/index.html' %}
        </section>
        <section>
            {% include 'demo36-slides/forum-content-consolidation/fcc.html' %}
        </section>
    </section>

    <section class="stack" id="GRE-3208">
        <section>
            {% include 'demo36-slides/tgus-redesign/index.html' %}
        </section>
        <section>
            {% include 'demo36-slides/tgus-redesign/satis.html' %}
        </section>
        <section>
            {% include 'demo36-slides/tgus-redesign/user-private-messages.html' %}
        </section>
    </section>

    <section class="stack" id="GRE-3047">
        <section>
            {% include 'demo36-slides/toms-comments-p2/index.html' %}
        </section>
        <section>
            {% include 'demo36-slides/toms-comments-p2/askAnExpert_tags.html' %}
        </section>
        <section>
            {% include 'demo36-slides/toms-comments-p2/cache-invalidation.html' %}
        </section>
    </section>

    <section class="stack" id="GRE-3842">
        <section>
            {% include 'demo36-slides/tgus-forum-replatforming/index.html' %}
        </section>
        <section>
            {% include 'demo36-slides/tgus-forum-replatforming/architecture-overview.html' %}
        </section>
    </section>

    <section class="stack" id="GRE-1582">
        <section>
            {% include 'demo36-slides/support/index.html' %}
        </section>
    </section>

    <section>
        {% include 'common/questions.html' %}
    </section>
{% endblock %}
