{% extends 'common/layout.html' %}

{% block js_var %}
    var demoDate = '2016-05-09';
    var demoNb = 31;
{% endblock %}

{% block slides %}
    <section>
        {% include 'common/intro.html' %}
    </section>
    <section>
        {% include 'common/toc.html' %}
    </section>
    <!--<section>
        {% include 'demo-media-31-slides/roi.html' %}
    </section>-->

    <section class="stack" id="GRE-5519">
        <section>
            {% include 'demo-media-31-slides/media-support-release/index.html' %}
        </section>
        <section>
            {% include 'demo-media-31-slides/media-support-release/virtual-reality.html' %}
        </section>
        <section>
            {% include 'demo-media-31-slides/media-support-release/facebook.html' %}
        </section>
        <section>
            {% include 'demo-media-31-slides/media-support-release/notifications-emails.html' %}
        </section>
        <section>
            {% include 'demo-media-31-slides/media-support-release/fix-padding-comments.html' %}
        </section>
        <section>
            {% include 'demo-media-31-slides/tfr-accounts/GRE-5453-member-private-profile-page.html' %}
        </section>
    </section>

    <section class="stack" id="GRE-5062">
        <section>
            {% include 'demo-media-31-slides/tfr-moderation/index.html' %}
        </section>
        <section>
            {% include 'demo-media-31-slides/tfr-moderation/confirmation-ui.html' %}
        </section>
        <section>
            {% include 'demo-media-31-slides/tfr-moderation/deleted-answers.html' %}
        </section>
    </section>

    <section class="stack" id="GRE-5058">
        <section>
            {% include 'demo-media-31-slides/tfr-core-thread/index.html' %}
        </section>
        <section>
            {% include 'demo-media-31-slides/tfr-core-thread/select-best-answer.html' %}
        </section>
        <section>
            {% include 'demo-media-31-slides/tfr-core-thread/quickanswer-form.html' %}
        </section>
        <section>
            {% include 'demo-media-31-slides/tfr-core-thread/errors.html' %}
        </section>
        <section>
            {% include 'demo-media-31-slides/tfr-core-thread/performance-tests.html' %}
        </section>
    </section>

    <section>
        {% include 'common/questions.html' %}
    </section>
{% endblock %}
