{% extends 'common/layout.html' %}

{% block js_var %}
    var demoDate = '2016-06-16';
    var demoNb = 34;
{% endblock %}

{% block slides %}
    <section>
        {% include 'common/intro.html' %}
    </section>
    <section>
        {% include 'common/toc.html' %}
    </section>
    <!--<section>
        {% include 'demo-media-34-slides/roi.html' %}
    </section>-->

    <section class="stack" id="GRE-5626">
        <section>
            {% include 'demo-media-34-slides/tfr-publishing/index.html' %}
        </section>
    </section>

    <section class="stack" id="GRE-5519">
        <section>
            {% include 'demo-media-34-slides/media-support-release/index.html' %}
        </section>
    </section>

    <section class="stack" id="GRE-5068">
        <section>
            {% include 'demo-media-34-slides/tfr-reputation/index.html' %}
        </section>
        <section>
            {% include 'demo-media-34-slides/tfr-reputation/top-experts-module.html' %}
        </section>
    </section>

    <section class="stack" id="GRE-5067">
        <section>
            {% include 'demo-media-34-slides/tfr-performance/index.html' %}
        </section>
        <section>
            {% include 'demo-media-34-slides/tfr-performance/not-modified-page.html' %}
        </section>
    </section>

    <section class="stack" id="GRE-5062">
        <section>
            {% include 'demo-media-34-slides/tfr-moderation/index.html' %}
        </section>
        <section>
            {% include 'demo-media-34-slides/tfr-moderation/edit.html' %}
        </section>
    </section>

    <section class="stack" id="GRE-5059">
        <section>
            {% include 'demo-media-34-slides/tfr-content-org/index.html' %}
        </section>
        <section>
            {% include 'demo-media-34-slides/tfr-content-org/explain-filter-no-results.html' %}
        </section>
        <section>
            {% include 'demo-media-34-slides/tfr-content-org/status-filter.html' %}
        </section>
    </section>

    <section class="stack" id="GRE-5058">
        <section>
            {% include 'demo-media-34-slides/tfr-core-thread/index.html' %}
        </section>
        <section>
            {% include 'demo-media-34-slides/tfr-core-thread/category-seoId.html' %}
        </section>
    </section>

    <section>
        {% include 'demo-media-34-slides/next_demo.html' %}
    </section>
    <section>
        {% include 'common/questions.html' %}
    </section>
{% endblock %}
