<div class="sl-block" data-block-type="text" style="width: 800px; left: 68px; top: 70px; height: auto;">
    <div class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text" style="z-index: 11;">
        <h1>In next episode</h1>
    </div>
</div>
<div style="height: auto; min-width: 30px; min-height: 30px; width: 800px; left: 120px; top: 256px;" data-block-type="text" class="sl-block">
    <div dir="ui" style="z-index: 11;" data-placeholder-text="Text" data-placeholder-tag="p" class="sl-block-content">
        <ul>
            <li><span style="font-size:32px">...</span></li>
        </ul>
    </div>
</div>
