<div class="sl-block" data-block-type="text" style="width: 800px; left: 86px; top: 10px; height: auto;" data-block-id="271a78d52a9b7c24460e857d0c7579bc">
    <div class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text" data-has-custom-html="" style="z-index: 11;">
        <h1 style="font-size: 200%; line-height: 45.7275px;">Thread Listing Design</h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="08870eb934ec0246f9a53640adeecc8f" style="min-width: 30px; min-height: 30px; width: 533.142px; height: 494px; left: 220px; top: 126px;">
    <a class="sl-block-content" style="z-index: 11;" href="http://www.tomsguide.com/forum/all.html" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/2628362/Capture_d_e_cran_2016-05-18_a__11.16.06.png" data-natural-width="790" data-natural-height="732" style=""/>
    </a>
</div>