<div class="sl-block" data-block-type="text" style="width: 800px; left: 86px; top: 10px; height: auto;" data-block-id="271a78d52a9b7c24460e857d0c7579bc">
    <div class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text" data-has-custom-html="" style="z-index: 11;">
        <h1 style="font-size: 200%; line-height: 45.7275px;">Search filter</h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="d6cdd02c8effa3fdf4de63b925493c0e" style="min-width: 30px; min-height: 30px; width: 800px; height: 64.8936px; left: 93px; top: 188px;">
    <a class="sl-block-content" style="z-index: 10;" href="http://www.tomsguide.com/forum/all.html" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/2628389/Capture_d_e_cran_2016-05-18_a__11.19.40.png" data-natural-width="752" data-natural-height="61" style=""/>
    </a>
</div>
<div class="sl-block" data-block-type="image" data-block-id="5686a1c61d0a2f0251f5692b0d7f73bf" style="min-width: 30px; min-height: 30px; width: 524.954px; height: 419px; left: 275px; top: 266px;">
    <a class="sl-block-content" style="z-index: 11;" href="http://www.tomsguide.com/forum/all.html?q=graphic+card" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/2628391/Capture_d_e_cran_2016-05-18_a__11.19.23.png" style="" data-natural-width="763" data-natural-height="609"/>
    </a>
</div>
<div class="sl-block" data-block-type="shape" data-block-id="3902df2769556adf949f1ed6fdf34ec1" style="min-width: 4px; min-height: 4px; width: 92px; height: 36px; left: 327px; top: 394px;">
    <div class="sl-block-content" data-shape-type="rect" data-shape-fill-color="rgb(255, 153, 0)" data-shape-stretch="true" style="z-index: 12; opacity: 0.2;">
        <svg
            xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 92 36">
            <rect width="92" height="36" class="shape-element" fill="rgb(255, 153, 0)"></rect>
        </svg>
    </div>
</div>
<div class="sl-block" data-block-type="shape" style="min-width: 4px; min-height: 4px; width: 92px; height: 36px; left: 447px; top: 446px;" data-block-id="2b92a16ed93783f5a500fd6469128870">
    <div class="sl-block-content" data-shape-type="rect" data-shape-fill-color="rgb(255, 153, 0)" data-shape-stretch="true" style="z-index: 14; opacity: 0.2;">
        <svg
            xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 92 36">
            <rect width="92" height="36" class="shape-element" fill="rgb(255, 153, 0)"></rect>
        </svg>
    </div>
</div>
<div class="sl-block" data-block-type="shape" style="min-width: 4px; min-height: 4px; width: 92px; height: 36px; left: 373px; top: 499px;" data-block-id="ed4b6eb124f4f8e83679ec00b6822781">
    <div class="sl-block-content" data-shape-type="rect" data-shape-fill-color="rgb(255, 153, 0)" data-shape-stretch="true" style="z-index: 15; opacity: 0.2;">
        <svg
            xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 92 36">
            <rect width="92" height="36" class="shape-element" fill="rgb(255, 153, 0)"></rect>
        </svg>
    </div>
</div>
<div class="sl-block" data-block-type="shape" style="min-width: 4px; min-height: 4px; width: 92px; height: 36px; left: 465px; top: 551px;" data-block-id="31362ee5d1715e94cad9e61539fa98cd">
    <div class="sl-block-content" data-shape-type="rect" data-shape-fill-color="rgb(255, 153, 0)" data-shape-stretch="true" style="z-index: 16; opacity: 0.2;">
        <svg
            xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 92 36">
            <rect width="92" height="36" class="shape-element" fill="rgb(255, 153, 0)"></rect>
        </svg>
    </div>
</div>
<div class="sl-block" data-block-type="shape" style="min-width: 4px; min-height: 4px; width: 92px; height: 36px; left: 337px; top: 619px;" data-block-id="909f18121241cc260640e67227f128cc">
    <div class="sl-block-content" data-shape-type="rect" data-shape-fill-color="rgb(255, 153, 0)" data-shape-stretch="true" style="z-index: 17; opacity: 0.2;">
        <svg
            xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 92 36">
            <rect width="92" height="36" class="shape-element" fill="rgb(255, 153, 0)"></rect>
        </svg>
    </div>
</div>