<div class="sl-block" data-block-type="text" style="width: 800px; left: 86px; top: 10px; height: auto;" data-block-id="271a78d52a9b7c24460e857d0c7579bc">
    <div class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text" data-has-custom-html="" style="z-index: 11;">
        <h1 style="font-size: 200%; line-height: 45.7275px;">Show/Hide filters</h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="41df37a0f798890cc6deb274f078510b" style="min-width: 30px; min-height: 30px; width: 813px; height: 453.986px; left: 74px; top: 149px;">
    <a class="sl-block-content" style="z-index: 11;" href="http://www.tomsguide.com/forum/all.html" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/2630304/Capture_d_e_cran_2016-05-18_a__17.17.12.png" data-natural-width="779" data-natural-height="435" style=""/>
    </a>
</div>