<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; top: 30px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 13; text-align: left; border-width: 1px;">
        <h1 style="font-size: 1.9em">Mapping Article ID / Comments Thread ID data model</h1>
    </div>
</div>
<div class="sl-block" data-block-type="text" style="height: auto; width: 100%; left: 27px; top: 245px;">
    <div class="sl-block-content" style="z-index: 11;">
        <table>
            <caption>Table <strong>edt_thread_frm_topic_assoc</strong></caption>
            <thead>
                <tr>
                    <th>Column name</th>
                    <th>Type</th>
                    <th>Not null</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>commenteddoc_guid</td>
                    <td>varchar(255)</td>
                    <td><span class="fa fa-check"></span></td>
                </tr>
                <tr>
                    <td>commentedpage_url</td>
                    <td>varchar(255)</td>
                    <td><span class="fa fa-check"></span></td>
                </tr>
                <tr>
                    <td>frm_topic_id</td>
                    <td>bigint(20)</td>
                    <td><span class="fa fa-check"></span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>