<div data-block-id="9a072586588c637c3836a170bbc18571" class="sl-block" data-block-type="text" style="width: 800px; left: 100px; top: 31px; height: auto;">
    <div style="z-index: 10;" class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text">
        <h1>
            <span>Aurora Bench</span>
        </h1>
    </div>
</div>
<div data-block-id="6affae71e4a7b70d9479a7646a5aab2b" style="height: auto; min-width: 30px; min-height: 30px; width: 902px; left: 29px; top: 292px;" data-block-type="text" class="sl-block">
    <div style="z-index: 12;" data-placeholder-text="Text" data-placeholder-tag="p" class="sl-block-content">
        <ul>
            <li>sfPortal was successfully plugged to aurora DB on QA</li>
            <li>bss faster than MySQL</li>
            <li>MySQL as fast as Aurora</li>
            <li>Aurora supports 5 times more load than MySQL</li>
        </ul>
    </div>
</div>