{% extends 'common/layout.html' %}

{% block js_var %}
    var demoDate = '2015-11-09';
    var demoNb = 37;
{% endblock %}

{% block slides %}
    <section>
        {% include 'common/intro.html' %}
    </section>

    <section class="stack" id="GRE-4104">
        <section>
            {% include 'demo37-slides/ramp-on-toms-forums/index.html' %}
        </section>
    </section>

    <section class="stack" id="GRE-3491">
        <section>
            {% include 'demo37-slides/forum-content-consolidation/index.html' %}
        </section>
        <section>
            {% include 'demo37-slides/forum-content-consolidation/merge-option.html' %}
        </section>
        <section>
            {% include 'demo37-slides/forum-content-consolidation/faq_view.html' %}
        </section>
    </section>

    <section class="stack" id="GRE-3842">
        <section>
            {% include 'demo37-slides/tgus-forum-replatforming/index.html' %}
        </section>
        <section>
            {% include 'demo37-slides/tgus-forum-replatforming/restaurant-with-Kirill.html' %}
        </section>
    </section>

    <section class="stack" id="GRE-3208">
        <section>
            {% include 'demo37-slides/tgus-redesign/index.html' %}
        </section>
        <section>
            {% include 'demo37-slides/tgus-redesign/notification_count.html' %}
        </section>
    </section>

    <section class="stack" id="GRE-1582">
        <section>
            {% include 'demo37-slides/support/index.html' %}
        </section>
    </section>

    <section>
        {% include 'common/questions.html' %}
    </section>
{% endblock %}
