<div class="sl-block" data-block-type="text" data-block-id="b406196a8f4c303f230107477e80287b" style="height: auto; min-width: 30px; min-height: 30px; width: 800px; left: 80px; top: 10px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 11; text-align: left; border-width: 1px;">
        <h1 style="font-size:2.5em">Remove Tutorials category</h1>
    </div>
</div>
<div class="sl-block" data-block-type="text" data-block-id="e47e1ca69bf13345379d229badcf1f68" style="height: auto; min-width: 30px; min-height: 30px; width: 709px; left: 0px; top: 295px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 12; color: rgb(255, 255, 255); opacity: 0.5; background-color: rgb(0, 0, 0);">
        <ul>
            <li style="text-align: left;">Tutorials topics are dispatched in all categories</li>
            <li style="text-align: left;">"Tutorials" category is replaced by a listing of tutorials topics (of any category)</li>
            <li style="text-align: left;">Remaining "Tutorials" category had to be deleted</li>
        </ul>
    </div>
</div>
<div class="sl-block" data-block-type="image" style="min-width: 30px; min-height: 30px; width: 360px; height: 168.023833167825px; left: 560px; top: 140px;" data-block-id="23811672c797da43a9caf20548a43f97">
    <a href="http://www.tomshardware.co.uk/faq/all.html" target="_blank" class="sl-block-content" style="z-index: 11; border: 1px solid black;">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/1399405/tutorials_listing.png" style="" data-natural-width="1007" data-natural-height="470"/>
    </a>
</div>
<div class="sl-block" data-block-type="image" style="min-width: 30px; min-height: 30px; width: 360px; height: 190.27027027027px; left: 511px; top: 465px;" data-block-id="49bfeb41dc043176a0ee601bd3d872c3">
    <a href="http://www.tomshardware.co.uk/faq/id-2039049/ram-installed-computer-laptop.html" target="_blank" class="sl-block-content" style="z-index: 13; border: 1px solid black;">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/1399409/tutorial_topic.png" style="" data-natural-width="999" data-natural-height="528"/>
    </a>
</div>