<div class="sl-block" data-block-type="shape" data-block-id="ff36ba9c9df432c142459990d0154f82" style="min-width: 4px; min-height: 4px; width: 256px; height: 70px; left: 83px; top: 238px;">
    <div class="sl-block-content" data-shape-type="rect" data-shape-fill-color="rgba(0, 0, 0, 0)" data-shape-stretch="true" style="z-index: 11;" data-shape-stroke-color="#000000" data-shape-stroke-width="1">
        <svg
            xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 256 70">
            <defs>
                <clipPath id="shape-mask-1618-1462980056826">
                    <rect width="256" height="70"></rect>
                </clipPath>
            </defs>
            <rect width="256" height="70" clip-path="url(#shape-mask-1618-1462980056826)" class="shape-element" fill="rgba(0, 0, 0, 0)" stroke="#000000" stroke-width="2"></rect>
        </svg>
    </div>
</div>
<div class="sl-block" data-block-type="text" data-block-id="e8da8daae0a683281f050fb447ef1500" style="height: auto; min-width: 30px; min-height: 30px; width: 226px; left: 98px; top: 243px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 12; text-align: left; font-size: 50%; color: rgb(4, 151, 242);">
        <p>User #2</p>
    </div>
</div>
<div class="sl-block" data-block-type="text" data-block-id="208cf76276cc409c1a5cde56cf8bd10d" style="height: auto; min-width: 30px; min-height: 30px; width: 226px; left: 98px; top: 264px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 13; text-align: left; font-size: 80%;">
        <p>Content #2</p>
    </div>
</div>
<div class="sl-block" data-block-type="shape" style="min-width: 4px; min-height: 4px; width: 256px; height: 70px; left: 83px; top: 319px;" data-block-id="63d0a5622719d032615993b0815b469f">
    <div class="sl-block-content" data-shape-type="rect" data-shape-fill-color="rgba(0, 0, 0, 0)" data-shape-stretch="true" style="z-index: 14;" data-shape-stroke-color="#000000" data-shape-stroke-width="1">
        <svg
            xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 256 70">
            <defs>
                <clipPath id="shape-mask-1619-1462980056831">
                    <rect width="256" height="70"></rect>
                </clipPath>
            </defs>
            <rect width="256" height="70" clip-path="url(#shape-mask-1619-1462980056831)" class="shape-element" fill="rgba(0, 0, 0, 0)" stroke="#000000" stroke-width="2"></rect>
        </svg>
    </div>
</div>
<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; width: 226px; left: 98px; top: 324px;" data-block-id="b431dcaf6cf578d061a5125289e9bfa8">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 15; text-align: left; font-size: 50%; color: rgb(4, 151, 242);">
        <p>User #3</p>
    </div>
</div>
<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; width: 226px; left: 98px; top: 345px;" data-block-id="61ccb8ed37b1b27019220cd7a3e96c6d">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 16; text-align: left; font-size: 80%;">
        <p>Content #3</p>
    </div>
</div>
<div class="sl-block" data-block-type="shape" style="min-width: 4px; min-height: 4px; width: 256px; height: 70px; left: 83px; top: 398px;" data-block-id="178eb2db8f9cdc3224b1606e0d3ded37">
    <div class="sl-block-content" data-shape-type="rect" data-shape-fill-color="rgba(0, 0, 0, 0)" data-shape-stretch="true" style="z-index: 17;" data-shape-stroke-color="#000000" data-shape-stroke-width="1">
        <svg
            xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 256 70">
            <defs>
                <clipPath id="shape-mask-1620-1462980056836">
                    <rect width="256" height="70"></rect>
                </clipPath>
            </defs>
            <rect width="256" height="70" clip-path="url(#shape-mask-1620-1462980056836)" class="shape-element" fill="rgba(0, 0, 0, 0)" stroke="#000000" stroke-width="2"></rect>
        </svg>
    </div>
</div>
<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; width: 226px; left: 98px; top: 403px;" data-block-id="43846fdb7dcde899ed1565c0479e1a31">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 18; text-align: left; font-size: 50%; color: rgb(4, 151, 242);">
        <p>User #4</p>
    </div>
</div>
<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; width: 226px; left: 98px; top: 424px;" data-block-id="49b6ecb5c002e9153ea8599a5dc0284b">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 19; text-align: left; font-size: 80%;">
        <p>Content #4</p>
    </div>
</div>
<div class="sl-block" data-block-type="line" data-block-id="5e7ed6b39282110531cf62a689ee1b87" style="width: auto; height: auto; min-width: 1px; min-height: 1px; left: 212px; top: 479px;">
    <div class="sl-block-content" data-line-x1="0" data-line-y1="174" data-line-x2="0" data-line-y2="128" data-line-color="#000000" data-line-start-type="none" data-line-end-type="none" style="z-index: 20;" data-line-style="dotted" data-line-width="10px">
        <svg
            xmlns="http://www.w3.org/2000/svg" version="1.1" preserveAspectRatio="xMidYMid" width="10" height="46" viewBox="0 128 1 46">
            <line stroke="rgba(0,0,0,0)" stroke-width="15" x1="0" y1="174" x2="0" y2="128"></line>
            <line stroke="#000000" stroke-width="10" stroke-dasharray="0 15.333333333333332" stroke-linecap="round" x1="0" y1="174" x2="0" y2="128"></line>
        </svg>
    </div>
</div>
<div class="sl-block" data-block-type="shape" style="min-width: 4px; min-height: 4px; width: 256px; height: 70px; left: 83px; top: 539px;" data-block-id="2f84635629f8c8b7f694c7a7cf2e15d7">
    <div class="sl-block-content" data-shape-type="rect" data-shape-fill-color="rgba(0, 0, 0, 0)" data-shape-stretch="true" style="z-index: 21;" data-shape-stroke-color="#000000" data-shape-stroke-width="1">
        <svg
            xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 256 70">
            <defs>
                <clipPath id="shape-mask-1621-1462980056845">
                    <rect width="256" height="70"></rect>
                </clipPath>
            </defs>
            <rect width="256" height="70" clip-path="url(#shape-mask-1621-1462980056845)" class="shape-element" fill="rgba(0, 0, 0, 0)" stroke="#000000" stroke-width="2"></rect>
        </svg>
    </div>
</div>
<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; width: 226px; left: 98px; top: 544px;" data-block-id="0d63212982612ec6b89170a4c7eda24e">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 22; text-align: left; font-size: 50%; color: rgb(4, 151, 242);">
        <p>User #50</p>
    </div>
</div>
<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; width: 226px; left: 98px; top: 565px;" data-block-id="5c0efc4093e9d7317528b2a19b8dbced">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 23; text-align: left; font-size: 80%;">
        <p>Content #50</p>
    </div>
</div>
<div class="sl-block" data-block-type="shape" data-block-id="97ba2b28f3af0ce531b90484a9ce7b1f" style="min-width: 4px; min-height: 4px; width: 301px; height: 505px; left: 61px; top: 132px;">
    <div class="sl-block-content" data-shape-type="rect" data-shape-fill-color="rgb(255, 255, 255)" data-shape-stretch="true" style="z-index: 10;" data-shape-stroke-color="#000000" data-shape-stroke-width="1">
        <svg
            xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 301 505">
            <defs>
                <clipPath id="shape-mask-1633-1462980394841">
                    <rect width="301" height="505"></rect>
                </clipPath>
            </defs>
            <rect width="301" height="505" clip-path="url(#shape-mask-1633-1462980394841)" class="shape-element" fill="rgb(255, 255, 255)" stroke="#000000" stroke-width="2"></rect>
        </svg>
    </div>
</div>
<div class="sl-block" data-block-type="text" data-block-id="85028534972d4f7dd4fb05ef81be306d" style="height: auto; min-width: 30px; min-height: 30px; width: 385px; left: 19px; top: 93px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 24;" dir="ui">
        <p>Any user view of page #1</p>
    </div>
</div>
<div class="sl-block" data-block-type="shape" style="min-width: 4px; min-height: 4px; width: 256px; height: 70px; left: 83px; top: 152px;" data-block-id="a3bcb8cabb229aac8c97a623d9593ace">
    <div class="sl-block-content" data-shape-type="rect" data-shape-fill-color="rgba(0, 0, 0, 0)" data-shape-stretch="true" style="z-index: 25;" data-shape-stroke-color="#000000" data-shape-stroke-width="1">
        <svg
            xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 256 70">
            <defs>
                <clipPath id="shape-mask-1623-1462980056856">
                    <rect width="256" height="70"></rect>
                </clipPath>
            </defs>
            <rect width="256" height="70" clip-path="url(#shape-mask-1623-1462980056856)" class="shape-element" fill="rgba(0, 0, 0, 0)" stroke="#000000" stroke-width="2"></rect>
        </svg>
    </div>
</div>
<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; width: 226px; left: 98px; top: 157px;" data-block-id="4dae35806b1e1c828e7240e6f3e683aa">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 26; text-align: left; font-size: 50%; color: rgb(4, 151, 242);">
        <p>User #1</p>
    </div>
</div>
<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; width: 226px; left: 98px; top: 178px;" data-block-id="d7557833707e01ec1321e11d31b8801a">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 27; text-align: left; font-size: 80%;">
        <p>Content #1</p>
    </div>
</div>
<div class="sl-block" data-block-type="shape" style="min-width: 4px; min-height: 4px; width: 256px; height: 70px; left: 619px; top: 238px;" data-block-id="3f1e069648e70163c9419fa0a6a4ddb8">
    <div class="sl-block-content" data-shape-type="rect" data-shape-fill-color="rgb(254, 242, 239)" data-shape-stretch="true" style="z-index: 29;" data-shape-stroke-color="#e2340c" data-shape-stroke-width="1">
        <svg
            xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 256 70">
            <defs>
                <clipPath id="shape-mask-1624-1462980056859">
                    <rect width="256" height="70"></rect>
                </clipPath>
            </defs>
            <rect width="256" height="70" clip-path="url(#shape-mask-1624-1462980056859)" class="shape-element" fill="rgb(254, 242, 239)" stroke="#e2340c" stroke-width="2"></rect>
        </svg>
    </div>
</div>
<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; width: 226px; left: 634px; top: 243px;" data-block-id="bb95a2e750044f108d3248532c804c8d">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 30; text-align: left; font-size: 50%; color: rgb(4, 151, 242);">
        <p>User #???</p>
    </div>
</div>
<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; width: 226px; left: 634px; top: 264px;" data-block-id="983c94abbfe4cd74a6cb5c8a5d491902">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 31; text-align: left; font-size: 80%; color: rgb(136, 136, 136);">
        <p>Deleted content</p>
    </div>
</div>
<div class="sl-block" data-block-type="shape" style="min-width: 4px; min-height: 4px; width: 256px; height: 70px; left: 619px; top: 319px;" data-block-id="444839e4b86479ff63dc91fc58ba83a7">
    <div class="sl-block-content" data-shape-type="rect" data-shape-fill-color="rgb(254, 242, 239)" data-shape-stretch="true" style="z-index: 32;" data-shape-stroke-color="#e2340c" data-shape-stroke-width="1">
        <svg
            xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 256 70">
            <defs>
                <clipPath id="shape-mask-1625-1462980056863">
                    <rect width="256" height="70"></rect>
                </clipPath>
            </defs>
            <rect width="256" height="70" clip-path="url(#shape-mask-1625-1462980056863)" class="shape-element" fill="rgb(254, 242, 239)" stroke="#e2340c" stroke-width="2"></rect>
        </svg>
    </div>
</div>
<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; width: 226px; left: 634px; top: 324px;" data-block-id="dcc4092a5425a0e33125dfa1fa1c9525">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 33; text-align: left; font-size: 50%; color: rgb(4, 151, 242);">
        <p>User #???</p>
    </div>
</div>
<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; width: 226px; left: 634px; top: 345px;" data-block-id="5ae32d23163ca3574ed468d35080dc29">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 34; text-align: left; font-size: 80%; color: rgb(136, 136, 136);">
        <p>Deleted content</p>
    </div>
</div>
<div class="sl-block" data-block-type="shape" style="min-width: 4px; min-height: 4px; width: 256px; height: 70px; left: 619px; top: 398px;" data-block-id="dd95d664e2464e0b52b20a76ff27178b">
    <div class="sl-block-content" data-shape-type="rect" data-shape-fill-color="rgba(0, 0, 0, 0)" data-shape-stretch="true" style="z-index: 35;" data-shape-stroke-color="#000000" data-shape-stroke-width="1">
        <svg
            xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 256 70">
            <defs>
                <clipPath id="shape-mask-1626-1462980056868">
                    <rect width="256" height="70"></rect>
                </clipPath>
            </defs>
            <rect width="256" height="70" clip-path="url(#shape-mask-1626-1462980056868)" class="shape-element" fill="rgba(0, 0, 0, 0)" stroke="#000000" stroke-width="2"></rect>
        </svg>
    </div>
</div>
<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; width: 226px; left: 634px; top: 403px;" data-block-id="064cf0ceee08dd79719c226137f0b709">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 36; text-align: left; font-size: 50%; color: rgb(4, 151, 242);">
        <p>User #2</p>
    </div>
</div>
<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; width: 226px; left: 634px; top: 424px;" data-block-id="26de3b4c59da421f43fec3887473d57c">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 37; text-align: left; font-size: 80%;">
        <p>Content #2</p>
    </div>
</div>
<div class="sl-block" data-block-type="line" style="width: auto; height: auto; min-width: 1px; min-height: 1px; left: 755px; top: 479px;" data-block-id="06f3335d6334e7f3c803d2eaf4309f32">
    <div class="sl-block-content" data-line-x1="0" data-line-y1="174" data-line-x2="0" data-line-y2="128" data-line-color="#000000" data-line-start-type="none" data-line-end-type="none" style="z-index: 38;" data-line-style="dotted" data-line-width="10px">
        <svg
            xmlns="http://www.w3.org/2000/svg" version="1.1" preserveAspectRatio="xMidYMid" width="10" height="46" viewBox="0 128 1 46">
            <line stroke="rgba(0,0,0,0)" stroke-width="15" x1="0" y1="174" x2="0" y2="128"></line>
            <line stroke="#000000" stroke-width="10" stroke-dasharray="0 15.333333333333332" stroke-linecap="round" x1="0" y1="174" x2="0" y2="128"></line>
        </svg>
    </div>
</div>
<div class="sl-block" data-block-type="shape" style="min-width: 4px; min-height: 4px; width: 256px; height: 70px; left: 619px; top: 539px;" data-block-id="9237b0c2ddcce3b0e62486a622d347f5">
    <div class="sl-block-content" data-shape-type="rect" data-shape-fill-color="rgba(0, 0, 0, 0)" data-shape-stretch="true" style="z-index: 39;" data-shape-stroke-color="#000000" data-shape-stroke-width="1">
        <svg
            xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 256 70">
            <defs>
                <clipPath id="shape-mask-1627-1462980056875">
                    <rect width="256" height="70"></rect>
                </clipPath>
            </defs>
            <rect width="256" height="70" clip-path="url(#shape-mask-1627-1462980056875)" class="shape-element" fill="rgba(0, 0, 0, 0)" stroke="#000000" stroke-width="2"></rect>
        </svg>
    </div>
</div>
<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; width: 226px; left: 634px; top: 544px;" data-block-id="f9c73497d714d3b8d7fc2798bafca79c">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 40; text-align: left; font-size: 50%; color: rgb(4, 151, 242);">
        <p>User #48</p>
    </div>
</div>
<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; width: 226px; left: 634px; top: 565px;" data-block-id="5cc5a50dc4e99c7832ba87c9ef45b930">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 41; text-align: left; font-size: 80%;">
        <p>Content #48</p>
    </div>
</div>
<div class="sl-block" data-block-type="shape" style="min-width: 4px; min-height: 4px; width: 301px; height: 505px; left: 597px; top: 132px;" data-block-id="ba7932dd1ce11ac5b9d5fbe41a73df8e">
    <div class="sl-block-content" data-shape-type="rect" data-shape-fill-color="rgb(255, 255, 255)" data-shape-stretch="true" style="z-index: 28;" data-shape-stroke-color="#000000" data-shape-stroke-width="1">
        <svg
            xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 301 505">
            <defs>
                <clipPath id="shape-mask-1631-1462980390411">
                    <rect width="301" height="505"></rect>
                </clipPath>
            </defs>
            <rect width="301" height="505" clip-path="url(#shape-mask-1631-1462980390411)" class="shape-element" fill="rgb(255, 255, 255)" stroke="#000000" stroke-width="2"></rect>
        </svg>
    </div>
</div>
<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; width: 408px; left: 552px; top: 93px;" data-block-id="33726cf8544bc08d14f6dacdf71dea46">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 42;" dir="ui">
        <p>Moderator view of page #1</p>
    </div>
</div>
<div class="sl-block" data-block-type="shape" style="min-width: 4px; min-height: 4px; width: 256px; height: 70px; left: 619px; top: 152px;" data-block-id="0bbd637a215169a48954047029da2017">
    <div class="sl-block-content" data-shape-type="rect" data-shape-fill-color="rgba(0, 0, 0, 0)" data-shape-stretch="true" style="z-index: 43;" data-shape-stroke-color="#000000" data-shape-stroke-width="1">
        <svg
            xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 256 70">
            <defs>
                <clipPath id="shape-mask-1629-1462980056884">
                    <rect width="256" height="70"></rect>
                </clipPath>
            </defs>
            <rect width="256" height="70" clip-path="url(#shape-mask-1629-1462980056884)" class="shape-element" fill="rgba(0, 0, 0, 0)" stroke="#000000" stroke-width="2"></rect>
        </svg>
    </div>
</div>
<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; width: 226px; left: 634px; top: 157px;" data-block-id="19e38a15ceadb15d4d4de685e59f7c4c">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 44; text-align: left; font-size: 50%; color: rgb(4, 151, 242);">
        <p>User #1</p>
    </div>
</div>
<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; width: 226px; left: 634px; top: 178px;" data-block-id="98360516238abdf0f622ed31b5e3d8d7">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 45; text-align: left; font-size: 80%;">
        <p>Content #1</p>
    </div>
</div>
<div class="sl-block" data-block-type="line" data-block-id="98d46448f344c2f1979a229f3fa739c4" style="width: auto; height: auto; min-width: 1px; min-height: 1px; left: 340px; top: 167px;">
    <div class="sl-block-content" data-line-x1="-41" data-line-y1="-63" data-line-x2="239" data-line-y2="-63" data-line-color="#000000" data-line-start-type="none" data-line-end-type="arrow" style="z-index: 46;" data-line-width="5px">
        <svg
            xmlns="http://www.w3.org/2000/svg" version="1.1" preserveAspectRatio="xMidYMid" width="280" height="20" viewBox="-41 -63 280 1">
            <line stroke="rgba(0,0,0,0)" stroke-width="15" x1="-40.5" y1="-62.5" x2="232.5" y2="-62.5"></line>
            <line stroke="#000000" stroke-width="5" x1="-40.5" y1="-62.5" x2="232.5" y2="-62.5"></line>
            <polygon fill="#000000" transform="translate(232,-63) rotate(90)" points="0,-7.5 7.5,7.5 -7.5,7.5"></polygon>
        </svg>
    </div>
</div>
<div class="sl-block" data-block-type="line" style="width: auto; height: auto; min-width: 1px; min-height: 1px; left: 340px; top: 272px;" data-block-id="fe0873eabf3e51d6b283803f9b85a301">
    <div class="sl-block-content" data-line-x1="-41" data-line-y1="-63" data-line-x2="238" data-line-y2="104.5" data-line-color="#000000" data-line-start-type="none" data-line-end-type="arrow" style="z-index: 47;" data-line-width="5px">
        <svg
            xmlns="http://www.w3.org/2000/svg" version="1.1" preserveAspectRatio="xMidYMid" width="279" height="168" viewBox="-41 -63 279 168">
            <line stroke="rgba(0,0,0,0)" stroke-width="15" x1="-40.5" y1="-62.5" x2="232.5" y2="101.5"></line>
            <line stroke="#000000" stroke-width="5" x1="-40.5" y1="-62.5" x2="232.5" y2="101.5"></line>
            <polygon fill="#000000" transform="translate(232,101) rotate(120.979)" points="0,-7.5 7.5,7.5 -7.5,7.5"></polygon>
        </svg>
    </div>
</div>
<div class="sl-block" data-block-type="line" style="width: auto; height: auto; min-width: 1px; min-height: 1px; left: 339px; top: 356px;" data-block-id="10a41095a434a9c8ee7c141fefc60312">
    <div class="sl-block-content" data-line-x1="-41" data-line-y1="-63" data-line-x2="217" data-line-y2="71" data-line-color="#000000" data-line-start-type="none" data-line-end-type="arrow" style="z-index: 48;" data-line-width="5px">
        <svg
            xmlns="http://www.w3.org/2000/svg" version="1.1" preserveAspectRatio="xMidYMid" width="258" height="134" viewBox="-41 -63 258 134">
            <line stroke="rgba(0,0,0,0)" stroke-width="15" x1="-40.5" y1="-62.5" x2="210.5" y2="68.5"></line>
            <line stroke="#000000" stroke-width="5" x1="-40.5" y1="-62.5" x2="210.5" y2="68.5"></line>
            <polygon fill="#000000" transform="translate(210,68) rotate(117.446)" points="0,-7.5 7.5,7.5 -7.5,7.5"></polygon>
        </svg>
    </div>
</div>
<div class="sl-block" data-block-type="line" style="width: auto; height: auto; min-width: 1px; min-height: 1px; left: 339px; top: 432px;" data-block-id="12c66c927ab5e9e454469ceb0fbe37dd">
    <div class="sl-block-content" data-line-x1="-41" data-line-y1="-63" data-line-x2="217" data-line-y2="7" data-line-color="#000000" data-line-start-type="none" data-line-end-type="arrow" style="z-index: 49;" data-line-width="5px">
        <svg
            xmlns="http://www.w3.org/2000/svg" version="1.1" preserveAspectRatio="xMidYMid" width="258" height="80" viewBox="-41 -63 258 70">
            <line stroke="rgba(0,0,0,0)" stroke-width="15" x1="-40.5" y1="-62.5" x2="210.5" y2="5.5"></line>
            <line stroke="#000000" stroke-width="5" x1="-40.5" y1="-62.5" x2="210.5" y2="5.5"></line>
            <polygon fill="#000000" transform="translate(210,5) rotate(105.18)" points="0,-7.5 7.5,7.5 -7.5,7.5"></polygon>
        </svg>
    </div>
</div>
<div class="sl-block" data-block-type="line" style="width: auto; height: auto; min-width: 1px; min-height: 1px; left: 339px; top: 574px;" data-block-id="046c020546c5f93159bc0895bf7ea97f">
    <div class="sl-block-content" data-line-x1="-41" data-line-y1="-63" data-line-x2="226" data-line-y2="33" data-line-color="#000000" data-line-start-type="none" data-line-end-type="arrow" style="z-index: 50;" data-line-width="5px">
        <svg
            xmlns="http://www.w3.org/2000/svg" version="1.1" preserveAspectRatio="xMidYMid" width="267" height="106" viewBox="-41 -63 267 96">
            <line stroke="rgba(0,0,0,0)" stroke-width="15" x1="-40.5" y1="-62.5" x2="219.5" y2="30.5"></line>
            <line stroke="#000000" stroke-width="5" x1="-40.5" y1="-62.5" x2="219.5" y2="30.5"></line>
            <polygon fill="#000000" transform="translate(219,30) rotate(109.776)" points="0,-7.5 7.5,7.5 -7.5,7.5"></polygon>
        </svg>
    </div>
</div>
<div class="sl-block" data-block-type="text" data-block-id="06c4241807215bb78d994308f56b6d92" style="height: auto; min-width: 30px; min-height: 30px; width: 150px; left: 606px; top: 651px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 51;">
        <p>Page #2</p>
    </div>
</div>
<div class="sl-block" data-block-type="text" data-block-id="9accf65729065b2820fe1a4371224edd" style="height: auto; min-width: 30px; min-height: 30px; width: 600px; left: 180px; top: 10px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 52; font-size: 140%;">
        <p>Naive implementation</p>
    </div>
</div>
<div class="sl-block" data-block-type="text" data-block-id="43d60838e87abb48f69edda86c687896" style="height: auto; min-width: 30px; min-height: 30px; width: 208px; left: 154px; top: 607px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 53; font-size: 60%; text-align: right;">
        <p>Total: 50 answers</p>
    </div>
</div>
<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; width: 208px; left: 690px; top: 607px;" data-block-id="898302b43839ba143be309109e06536d">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 55; font-size: 60%; text-align: right;">
        <p>Total: 50 answers</p>
    </div>
</div>
<div class="sl-block" data-block-type="shape" style="min-width: 4px; min-height: 4px; width: 172px; height: 67px; left: 597px; top: 643px;" data-block-id="4e3b459e636963bcbe697a0f7d1873d2">
    <div class="sl-block-content" data-shape-type="rect" data-shape-fill-color="rgb(255, 153, 0)" data-shape-stretch="true" style="z-index: 57; opacity: 0.4;">
        <svg
            xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 162 37">
            <rect width="162" height="37" class="shape-element" fill="rgb(255, 153, 0)"></rect>
        </svg>
    </div>
</div>