<div class="sl-block" data-block-type="shape" style="min-width: 4px; min-height: 4px; width: 256px; height: 70px; left: 83px; top: 238px;" data-block-id="b4afe0873e508e9cb514c74d4f8c8a33">
    <div class="sl-block-content" data-shape-type="rect" data-shape-fill-color="rgba(0, 0, 0, 0)" data-shape-stretch="true" style="z-index: 11;" data-shape-stroke-color="#000000" data-shape-stroke-width="1">
        <svg
            xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 256 70">
            <defs>
                <clipPath id="shape-mask-1545-1462979483993">
                    <rect width="256" height="70"></rect>
                </clipPath>
            </defs>
            <rect width="256" height="70" clip-path="url(#shape-mask-1545-1462979483993)" class="shape-element" fill="rgba(0, 0, 0, 0)" stroke="#000000" stroke-width="2"></rect>
        </svg>
    </div>
</div>
<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; width: 226px; left: 98px; top: 243px;" data-block-id="4a3795ee2def28de1ce05495145c6032">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 12; text-align: left; font-size: 50%; color: rgb(4, 151, 242);">
        <p>User #2</p>
    </div>
</div>
<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; width: 226px; left: 98px; top: 264px;" data-block-id="84b516e2d653bfd547b284330e5f90b4">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 13; text-align: left; font-size: 80%;">
        <p>Content #2</p>
    </div>
</div>
<div class="sl-block" data-block-type="shape" style="min-width: 4px; min-height: 4px; width: 256px; height: 70px; left: 83px; top: 319px;" data-block-id="98f8bfdd6eaa68b9c65e5c1a78d73b45">
    <div class="sl-block-content" data-shape-type="rect" data-shape-fill-color="rgba(0, 0, 0, 0)" data-shape-stretch="true" style="z-index: 14;" data-shape-stroke-color="#000000" data-shape-stroke-width="1">
        <svg
            xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 256 70">
            <defs>
                <clipPath id="shape-mask-1546-1462979483994">
                    <rect width="256" height="70"></rect>
                </clipPath>
            </defs>
            <rect width="256" height="70" clip-path="url(#shape-mask-1546-1462979483994)" class="shape-element" fill="rgba(0, 0, 0, 0)" stroke="#000000" stroke-width="2"></rect>
        </svg>
    </div>
</div>
<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; width: 226px; left: 98px; top: 324px;" data-block-id="e771d3607298c082f54b2c155bec99f8">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 15; text-align: left; font-size: 50%; color: rgb(4, 151, 242);">
        <p>User #3</p>
    </div>
</div>
<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; width: 226px; left: 98px; top: 345px;" data-block-id="57631742e84fc0ecacf2872e4f029e98">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 16; text-align: left; font-size: 80%;">
        <p>Content #3</p>
    </div>
</div>
<div class="sl-block" data-block-type="shape" style="min-width: 4px; min-height: 4px; width: 256px; height: 70px; left: 83px; top: 398px;" data-block-id="a6c123a866192f28e60eb7ce302e0f08">
    <div class="sl-block-content" data-shape-type="rect" data-shape-fill-color="rgba(0, 0, 0, 0)" data-shape-stretch="true" style="z-index: 17;" data-shape-stroke-color="#000000" data-shape-stroke-width="1">
        <svg
            xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 256 70">
            <defs>
                <clipPath id="shape-mask-1547-1462979483995">
                    <rect width="256" height="70"></rect>
                </clipPath>
            </defs>
            <rect width="256" height="70" clip-path="url(#shape-mask-1547-1462979483995)" class="shape-element" fill="rgba(0, 0, 0, 0)" stroke="#000000" stroke-width="2"></rect>
        </svg>
    </div>
</div>
<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; width: 226px; left: 98px; top: 403px;" data-block-id="343dc688bd2b0d9d534c66df6ad6dc75">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 18; text-align: left; font-size: 50%; color: rgb(4, 151, 242);">
        <p>User #4</p>
    </div>
</div>
<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; width: 226px; left: 98px; top: 424px;" data-block-id="19f7e66670e0095bd356e3e4c3d2b545">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 19; text-align: left; font-size: 80%;">
        <p>Content #4</p>
    </div>
</div>
<div class="sl-block" data-block-type="line" style="width: auto; height: auto; min-width: 1px; min-height: 1px; left: 212px; top: 479px;" data-block-id="a56ba57571e2a2705f005ac77d9ce934">
    <div class="sl-block-content" data-line-x1="0" data-line-y1="174" data-line-x2="0" data-line-y2="128" data-line-color="#000000" data-line-start-type="none" data-line-end-type="none" style="z-index: 20;" data-line-style="dotted" data-line-width="10px">
        <svg
            xmlns="http://www.w3.org/2000/svg" version="1.1" preserveAspectRatio="xMidYMid" width="10" height="46" viewBox="0 128 1 46">
            <line stroke="rgba(0,0,0,0)" stroke-width="15" x1="0" y1="174" x2="0" y2="128"></line>
            <line stroke="#000000" stroke-width="10" stroke-dasharray="0 15.333333333333332" stroke-linecap="round" x1="0" y1="174" x2="0" y2="128"></line>
        </svg>
    </div>
</div>
<div class="sl-block" data-block-type="shape" style="min-width: 4px; min-height: 4px; width: 256px; height: 70px; left: 83px; top: 539px;" data-block-id="4e80bd5b75b5b8a636bc51fac9a99977">
    <div class="sl-block-content" data-shape-type="rect" data-shape-fill-color="rgba(0, 0, 0, 0)" data-shape-stretch="true" style="z-index: 21;" data-shape-stroke-color="#000000" data-shape-stroke-width="1">
        <svg
            xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 256 70">
            <defs>
                <clipPath id="shape-mask-1548-1462979483998">
                    <rect width="256" height="70"></rect>
                </clipPath>
            </defs>
            <rect width="256" height="70" clip-path="url(#shape-mask-1548-1462979483998)" class="shape-element" fill="rgba(0, 0, 0, 0)" stroke="#000000" stroke-width="2"></rect>
        </svg>
    </div>
</div>
<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; width: 226px; left: 98px; top: 544px;" data-block-id="763704f51d1391697a1788c3b85737ee">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 22; text-align: left; font-size: 50%; color: rgb(4, 151, 242);">
        <p>User #50</p>
    </div>
</div>
<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; width: 226px; left: 98px; top: 565px;" data-block-id="ef789728090db746ebd636ec77cca6e3">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 23; text-align: left; font-size: 80%;">
        <p>Content #50</p>
    </div>
</div>
<div class="sl-block" data-block-type="shape" style="min-width: 4px; min-height: 4px; width: 301px; height: 505px; left: 61px; top: 132px;" data-block-id="7ccb6ee7ce6c3cc827a4c9f1a8a74e93">
    <div class="sl-block-content" data-shape-type="rect" data-shape-fill-color="rgba(0, 0, 0, 0)" data-shape-stretch="true" style="z-index: 10;" data-shape-stroke-color="#000000" data-shape-stroke-width="1">
        <svg
            xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 301 505">
            <defs>
                <clipPath id="shape-mask-1544-1462979483992">
                    <rect width="301" height="505"></rect>
                </clipPath>
            </defs>
            <rect width="301" height="505" clip-path="url(#shape-mask-1544-1462979483992)" class="shape-element" fill="rgba(0, 0, 0, 0)" stroke="#000000" stroke-width="2"></rect>
        </svg>
    </div>
</div>
<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; width: 385px; left: 19px; top: 93px;" data-block-id="28c8c68efaaf9d2e6dfc796f97c6c142">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 24;" dir="ui">
        <p>Any user view of page #1</p>
    </div>
</div>
<div class="sl-block" data-block-type="shape" style="min-width: 4px; min-height: 4px; width: 256px; height: 70px; left: 83px; top: 152px;" data-block-id="67b15941a523635784f669f0cdee0d55">
    <div class="sl-block-content" data-shape-type="rect" data-shape-fill-color="rgba(0, 0, 0, 0)" data-shape-stretch="true" style="z-index: 25;" data-shape-stroke-color="#000000" data-shape-stroke-width="1">
        <svg
            xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 256 70">
            <defs>
                <clipPath id="shape-mask-1549-1462979484001">
                    <rect width="256" height="70"></rect>
                </clipPath>
            </defs>
            <rect width="256" height="70" clip-path="url(#shape-mask-1549-1462979484001)" class="shape-element" fill="rgba(0, 0, 0, 0)" stroke="#000000" stroke-width="2"></rect>
        </svg>
    </div>
</div>
<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; width: 226px; left: 98px; top: 157px;" data-block-id="11759be44996757e758f4024ae84c93c">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 26; text-align: left; font-size: 50%; color: rgb(4, 151, 242);">
        <p>User #1</p>
    </div>
</div>
<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; width: 226px; left: 98px; top: 178px;" data-block-id="2c24fdf8b31c08223c081e73c4a84d74">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 27; text-align: left; font-size: 80%;">
        <p>Content #1</p>
    </div>
</div>
<div class="sl-block" data-block-type="shape" style="min-width: 4px; min-height: 4px; width: 256px; height: 70px; left: 619px; top: 238px;" data-block-id="8caa9b8acd73018678a95ff4efaa407a">
    <div class="sl-block-content" data-shape-type="rect" data-shape-fill-color="rgb(254, 242, 239)" data-shape-stretch="true" style="z-index: 29;" data-shape-stroke-color="#e2340c" data-shape-stroke-width="1">
        <svg
            xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 256 70">
            <defs>
                <clipPath id="shape-mask-1551-1462979484004">
                    <rect width="256" height="70"></rect>
                </clipPath>
            </defs>
            <rect width="256" height="70" clip-path="url(#shape-mask-1551-1462979484004)" class="shape-element" fill="rgb(254, 242, 239)" stroke="#e2340c" stroke-width="2"></rect>
        </svg>
    </div>
</div>
<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; width: 226px; left: 634px; top: 243px;" data-block-id="8be9afb10c405b1e484775c41a02ddf5">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 30; text-align: left; font-size: 50%; color: rgb(4, 151, 242);">
        <p>User #???</p>
    </div>
</div>
<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; width: 226px; left: 634px; top: 264px;" data-block-id="addd7ac38d6128075a9a3434bed69920">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 31; text-align: left; font-size: 80%; color: rgb(136, 136, 136);">
        <p>Deleted content</p>
    </div>
</div>
<div class="sl-block" data-block-type="shape" style="min-width: 4px; min-height: 4px; width: 256px; height: 70px; left: 619px; top: 319px;" data-block-id="82623f1ac714506c67db9ce8f2938ffe">
    <div class="sl-block-content" data-shape-type="rect" data-shape-fill-color="rgb(254, 242, 239)" data-shape-stretch="true" style="z-index: 32;" data-shape-stroke-color="#e2340c" data-shape-stroke-width="1">
        <svg
            xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 256 70">
            <defs>
                <clipPath id="shape-mask-1552-1462979484005">
                    <rect width="256" height="70"></rect>
                </clipPath>
            </defs>
            <rect width="256" height="70" clip-path="url(#shape-mask-1552-1462979484005)" class="shape-element" fill="rgb(254, 242, 239)" stroke="#e2340c" stroke-width="2"></rect>
        </svg>
    </div>
</div>
<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; width: 226px; left: 634px; top: 324px;" data-block-id="4117ad46cb161216cfd35cf15f7dcdd4">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 33; text-align: left; font-size: 50%; color: rgb(4, 151, 242);">
        <p>User #???</p>
    </div>
</div>
<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; width: 226px; left: 634px; top: 345px;" data-block-id="08ddf3ceb63a1079f58413f0d22b9957">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 34; text-align: left; font-size: 80%; color: rgb(136, 136, 136);">
        <p>Deleted content</p>
    </div>
</div>
<div class="sl-block" data-block-type="shape" style="min-width: 4px; min-height: 4px; width: 256px; height: 70px; left: 619px; top: 398px;" data-block-id="93c38559b73c7cf4faa29060ac9617ee">
    <div class="sl-block-content" data-shape-type="rect" data-shape-fill-color="rgba(0, 0, 0, 0)" data-shape-stretch="true" style="z-index: 35;" data-shape-stroke-color="#000000" data-shape-stroke-width="1">
        <svg
            xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 256 70">
            <defs>
                <clipPath id="shape-mask-1553-1462979484007">
                    <rect width="256" height="70"></rect>
                </clipPath>
            </defs>
            <rect width="256" height="70" clip-path="url(#shape-mask-1553-1462979484007)" class="shape-element" fill="rgba(0, 0, 0, 0)" stroke="#000000" stroke-width="2"></rect>
        </svg>
    </div>
</div>
<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; width: 226px; left: 634px; top: 403px;" data-block-id="b8ff3446ba86e5924105c7c27b9361ac">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 36; text-align: left; font-size: 50%; color: rgb(4, 151, 242);">
        <p>User #2</p>
    </div>
</div>
<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; width: 226px; left: 634px; top: 424px;" data-block-id="bdd6d807370b2cc47a63972bde3a1d27">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 37; text-align: left; font-size: 80%;">
        <p>Content #2</p>
    </div>
</div>
<div class="sl-block" data-block-type="line" style="width: auto; height: auto; min-width: 1px; min-height: 1px; left: 755px; top: 479px;" data-block-id="3b0be6a8011935e090279d3d7c929e33">
    <div class="sl-block-content" data-line-x1="0" data-line-y1="174" data-line-x2="0" data-line-y2="128" data-line-color="#000000" data-line-start-type="none" data-line-end-type="none" style="z-index: 38;" data-line-style="dotted" data-line-width="10px">
        <svg
            xmlns="http://www.w3.org/2000/svg" version="1.1" preserveAspectRatio="xMidYMid" width="10" height="46" viewBox="0 128 1 46">
            <line stroke="rgba(0,0,0,0)" stroke-width="15" x1="0" y1="174" x2="0" y2="128"></line>
            <line stroke="#000000" stroke-width="10" stroke-dasharray="0 15.333333333333332" stroke-linecap="round" x1="0" y1="174" x2="0" y2="128"></line>
        </svg>
    </div>
</div>
<div class="sl-block" data-block-type="shape" style="min-width: 4px; min-height: 4px; width: 256px; height: 70px; left: 619px; top: 539px;" data-block-id="4c8d5227eaf5f4ba4921d1c3eaa03de9">
    <div class="sl-block-content" data-shape-type="rect" data-shape-fill-color="rgba(0, 0, 0, 0)" data-shape-stretch="true" style="z-index: 39;" data-shape-stroke-color="#000000" data-shape-stroke-width="1">
        <svg
            xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 256 70">
            <defs>
                <clipPath id="shape-mask-1554-1462979484008">
                    <rect width="256" height="70"></rect>
                </clipPath>
            </defs>
            <rect width="256" height="70" clip-path="url(#shape-mask-1554-1462979484008)" class="shape-element" fill="rgba(0, 0, 0, 0)" stroke="#000000" stroke-width="2"></rect>
        </svg>
    </div>
</div>
<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; width: 226px; left: 634px; top: 544px;" data-block-id="1ba941e7ba4e7128eda370b7a62e4734">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 40; text-align: left; font-size: 50%; color: rgb(4, 151, 242);">
        <p>User #50</p>
    </div>
</div>
<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; width: 226px; left: 634px; top: 565px;" data-block-id="8d01a370d02f12b7e910ff788b5b334d">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 41; text-align: left; font-size: 80%;">
        <p>Content #50</p>
    </div>
</div>
<div class="sl-block" data-block-type="shape" style="min-width: 4px; min-height: 4px; width: 301px; height: 505px; left: 597px; top: 132px;" data-block-id="c1b3656d65fce4455c337847b0a3cdfc">
    <div class="sl-block-content" data-shape-type="rect" data-shape-fill-color="rgb(255, 255, 255)" data-shape-stretch="true" style="z-index: 28;" data-shape-stroke-color="#000000" data-shape-stroke-width="1">
        <svg
            xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 301 505">
            <defs>
                <clipPath id="shape-mask-1550-1462979484002">
                    <rect width="301" height="505"></rect>
                </clipPath>
            </defs>
            <rect width="301" height="505" clip-path="url(#shape-mask-1550-1462979484002)" class="shape-element" fill="rgb(255, 255, 255)" stroke="#000000" stroke-width="2"></rect>
        </svg>
    </div>
</div>
<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; width: 408px; left: 552px; top: 93px;" data-block-id="d3f48bad958ac0896d4a21a3280b859b">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 42;" dir="ui">
        <p>Moderator view of page #1</p>
    </div>
</div>
<div class="sl-block" data-block-type="shape" style="min-width: 4px; min-height: 4px; width: 256px; height: 70px; left: 619px; top: 152px;" data-block-id="262288cfadc919d1d3609b0926c2dd43">
    <div class="sl-block-content" data-shape-type="rect" data-shape-fill-color="rgba(0, 0, 0, 0)" data-shape-stretch="true" style="z-index: 43;" data-shape-stroke-color="#000000" data-shape-stroke-width="1">
        <svg
            xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 256 70">
            <defs>
                <clipPath id="shape-mask-1555-1462979484010">
                    <rect width="256" height="70"></rect>
                </clipPath>
            </defs>
            <rect width="256" height="70" clip-path="url(#shape-mask-1555-1462979484010)" class="shape-element" fill="rgba(0, 0, 0, 0)" stroke="#000000" stroke-width="2"></rect>
        </svg>
    </div>
</div>
<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; width: 226px; left: 634px; top: 157px;" data-block-id="d241f72e418d85ed009516ab8b4a1b18">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 44; text-align: left; font-size: 50%; color: rgb(4, 151, 242);">
        <p>User #1</p>
    </div>
</div>
<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; width: 226px; left: 634px; top: 178px;" data-block-id="e0f7c1a964a537d3faf2d041bdc93d1b">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 45; text-align: left; font-size: 80%;">
        <p>Content #1</p>
    </div>
</div>
<div class="sl-block" data-block-type="line" style="width: auto; height: auto; min-width: 1px; min-height: 1px; left: 339px; top: 167px;" data-block-id="56065db60a20c5cb8776766f16828d25">
    <div class="sl-block-content" data-line-x1="-41" data-line-y1="-63" data-line-x2="239" data-line-y2="-63" data-line-color="#000000" data-line-start-type="none" data-line-end-type="arrow" style="z-index: 46;" data-line-width="5px">
        <svg
            xmlns="http://www.w3.org/2000/svg" version="1.1" preserveAspectRatio="xMidYMid" width="280" height="20" viewBox="-41 -63 280 1">
            <line stroke="rgba(0,0,0,0)" stroke-width="15" x1="-40.5" y1="-62.5" x2="232.5" y2="-62.5"></line>
            <line stroke="#000000" stroke-width="5" x1="-40.5" y1="-62.5" x2="232.5" y2="-62.5"></line>
            <polygon fill="#000000" transform="translate(232,-63) rotate(90)" points="0,-7.5 7.5,7.5 -7.5,7.5"></polygon>
        </svg>
    </div>
</div>
<div class="sl-block" data-block-type="line" style="width: auto; height: auto; min-width: 1px; min-height: 1px; left: 340px; top: 272px;" data-block-id="2391b8bde87e907c8b6cb7582edc2799">
    <div class="sl-block-content" data-line-x1="-41" data-line-y1="-63" data-line-x2="238" data-line-y2="104.5" data-line-color="#000000" data-line-start-type="none" data-line-end-type="arrow" style="z-index: 47;" data-line-width="5px">
        <svg
            xmlns="http://www.w3.org/2000/svg" version="1.1" preserveAspectRatio="xMidYMid" width="279" height="168" viewBox="-41 -63 279 168">
            <line stroke="rgba(0,0,0,0)" stroke-width="15" x1="-40.5" y1="-62.5" x2="232.5" y2="101.5"></line>
            <line stroke="#000000" stroke-width="5" x1="-40.5" y1="-62.5" x2="232.5" y2="101.5"></line>
            <polygon fill="#000000" transform="translate(232,101) rotate(120.979)" points="0,-7.5 7.5,7.5 -7.5,7.5"></polygon>
        </svg>
    </div>
</div>
<div class="sl-block" data-block-type="line" style="width: auto; height: auto; min-width: 1px; min-height: 1px; left: 339px; top: 356px;" data-block-id="0e300589b7646cad074f407e71d802cf">
    <div class="sl-block-content" data-line-x1="-41" data-line-y1="-63" data-line-x2="217" data-line-y2="71" data-line-color="#000000" data-line-start-type="none" data-line-end-type="arrow" style="z-index: 48;" data-line-width="5px">
        <svg
            xmlns="http://www.w3.org/2000/svg" version="1.1" preserveAspectRatio="xMidYMid" width="258" height="134" viewBox="-41 -63 258 134">
            <line stroke="rgba(0,0,0,0)" stroke-width="15" x1="-40.5" y1="-62.5" x2="210.5" y2="68.5"></line>
            <line stroke="#000000" stroke-width="5" x1="-40.5" y1="-62.5" x2="210.5" y2="68.5"></line>
            <polygon fill="#000000" transform="translate(210,68) rotate(117.446)" points="0,-7.5 7.5,7.5 -7.5,7.5"></polygon>
        </svg>
    </div>
</div>
<div class="sl-block" data-block-type="line" style="width: auto; height: auto; min-width: 1px; min-height: 1px; left: 339px; top: 432px;" data-block-id="aa4fffc6d18f0f20f1cb0587e88352d1">
    <div class="sl-block-content" data-line-x1="-41" data-line-y1="-63" data-line-x2="217" data-line-y2="7" data-line-color="#000000" data-line-start-type="none" data-line-end-type="arrow" style="z-index: 49;" data-line-width="5px">
        <svg
            xmlns="http://www.w3.org/2000/svg" version="1.1" preserveAspectRatio="xMidYMid" width="258" height="80" viewBox="-41 -63 258 70">
            <line stroke="rgba(0,0,0,0)" stroke-width="15" x1="-40.5" y1="-62.5" x2="210.5" y2="5.5"></line>
            <line stroke="#000000" stroke-width="5" x1="-40.5" y1="-62.5" x2="210.5" y2="5.5"></line>
            <polygon fill="#000000" transform="translate(210,5) rotate(105.18)" points="0,-7.5 7.5,7.5 -7.5,7.5"></polygon>
        </svg>
    </div>
</div>
<div class="sl-block" data-block-type="line" style="width: auto; height: auto; min-width: 1px; min-height: 1px; left: 339px; top: 554px;" data-block-id="50a354ea603a81e940f7db94c79f0a1c">
    <div class="sl-block-content" data-line-x1="-41" data-line-y1="-63" data-line-x2="239" data-line-y2="-63" data-line-color="#000000" data-line-start-type="none" data-line-end-type="arrow" style="z-index: 50;" data-line-width="5px">
        <svg
            xmlns="http://www.w3.org/2000/svg" version="1.1" preserveAspectRatio="xMidYMid" width="280" height="20" viewBox="-41 -63 280 1">
            <line stroke="rgba(0,0,0,0)" stroke-width="15" x1="-40.5" y1="-62.5" x2="232.5" y2="-62.5"></line>
            <line stroke="#000000" stroke-width="5" x1="-40.5" y1="-62.5" x2="232.5" y2="-62.5"></line>
            <polygon fill="#000000" transform="translate(232,-63) rotate(90)" points="0,-7.5 7.5,7.5 -7.5,7.5"></polygon>
        </svg>
    </div>
</div>
<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; width: 600px; left: 180px; top: 10px;" data-block-id="6624ab3c2b53adc5c897119c9d76adab">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 52; font-size: 140%;">
        <p>Same pagination</p>
    </div>
</div>
<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; width: 208px; left: 154px; top: 607px;" data-block-id="4df90dd5d2335c1b984aeba2e5582658">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 53; font-size: 60%; text-align: right;">
        <p>Total: 50 answers</p>
    </div>
</div>
<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; width: 208px; left: 690px; top: 607px;" data-block-id="5bce3808f280abf57e7ac41d629b2eee">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 54; font-size: 60%; text-align: right;">
        <p>Total: 52 answers</p>
    </div>
</div>
<div class="sl-block" data-block-type="shape" data-block-id="34222511bb6dea23229b23158baff28c" style="min-width: 4px; min-height: 4px; width: 326px; height: 115px; left: 584px; top: 515px;">
    <div class="sl-block-content" data-shape-type="rect" data-shape-fill-color="rgb(255, 153, 0)" data-shape-stretch="true" style="z-index: 55; opacity: 0.2;">
        <svg
            xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 326 115">
            <rect width="326" height="115" class="shape-element" fill="rgb(255, 153, 0)"></rect>
        </svg>
    </div>
</div>
<div class="sl-block" data-block-type="shape" style="min-width: 4px; min-height: 4px; width: 162px; height: 37px; left: 747px; top: 600px;" data-block-id="4e3b459e636963bcbe697a0f7d1873d2">
    <div class="sl-block-content" data-shape-type="rect" data-shape-fill-color="rgb(255, 153, 0)" data-shape-stretch="true" style="z-index: 57; opacity: 0.2;">
        <svg
            xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 162 37">
            <rect width="162" height="37" class="shape-element" fill="rgb(255, 153, 0)"></rect>
        </svg>
    </div>
</div>