<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; width: 385px; left: 20px; top: 61px;" data-block-id="ca02014ccc5299e1270624c2ae7e083b">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 10; text-align: left;" dir="ui">
        <p>Any user view of page #1</p>
    </div>
</div>
<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; width: 408px; left: 22px; top: 231px;" data-block-id="a246c49107d1e17f5a47dc4d1b657f65">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 11; text-align: left;" dir="ui">
        <p>Moderator view of page #1</p>
    </div>
</div>
<div class="sl-block" data-block-type="code" data-block-id="c86f18f6b09904b45449bedab7c1fdf5" style="min-width: 30px; min-height: 30px; width: 921px; height: 80px; left: 20px; top: 91px;">
    <div class="sl-block-content" style="z-index: 12; font-size: 120%;">
        <pre class="sql">
            <code>Select PUBLISHED answers
from position 0
to position 50</code></pre>
    </div>
</div>
<div class="sl-block" data-block-type="code" style="min-width: 30px; min-height: 30px; width: 917px; height: 87px; left: 22px; top: 258px;" data-block-id="44a33419f0ada6e08f0af8807f4f0a55">
    <div class="sl-block-content" style="z-index: 13; font-size: 120%;">
        <pre class="sql">
            <code>Select PUBLISHED or DELETED answers
from position 0
to position... hem... the position of the 50th PUBLISHED answer?</code></pre>
    </div>
</div>
<div class="sl-block" data-block-type="shape" data-block-id="0cc6b17b2b38efb8773235157cbc2e9b" style="min-width: 4px; min-height: 4px; width: 67px; height: 64px; left: 445px; top: 390px;">
    <div class="sl-block-content" data-shape-type="arrow-down" data-shape-fill-color="rgb(4, 151, 242)" data-shape-stretch="true" style="z-index: 15;">
        <svg
            xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 67 64">
            <polygon points="33.5,64 67,32 46.9,32 46.9,0 20.099999999999998,0 20.099999999999998,32 0,32 33.5,64" class="shape-element" fill="rgb(4, 151, 242)"></polygon>
        </svg>
    </div>
</div>
<div class="sl-block" data-block-type="code" style="min-width: 30px; min-height: 30px; width: 917px; height: 247px; left: 22px; top: 444px;" data-block-id="e82186133ded17db4a0d305ad8cfda3b">
    <div class="sl-block-content" style="z-index: 16; font-size: 120%;">
        <pre class="sql">
            <code>Select PUBLISHED answers
from position 0
to position 51

Then select DELETED answers
created after the PUBLISHED answer #0
and created before the PUBLISHED answer #51

And finally remove the answer #51
And merge the PUBLISHED and DELETED answers to return a single collection</code></pre>
    </div>
</div>