<div class="sl-block" data-block-type="text" style="width: 943px; left: 17px; top: 70px; height: auto;" data-block-id="5457f4178746c144e56127401c242b98">
    <div class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text" style="z-index: 10;">
        <h2  style="text-align:center">
            <span>Restore a deleted thread answer</span>
        </h2>
        <p>&nbsp;</p>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="fde1bbc7e218f7e7a55072e563ce2fc8" style="min-width: 30px; min-height: 30px; width: 921.973px; height: 249px; left: 28px; top: 267px;">
    <a class="sl-block-content" style="z-index: 12;" href="http://www.tomsguide.com/forum/id-2257210/oral-smartseries-bluetooth-toothbrush-review.html" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/329915/images/2588427/restore_deleted_answer.png" data-natural-width="822" data-natural-height="222"/>
    </a>
</div>