<div class="sl-block" data-block-type="text" style="width: 960px; left: 0px; top: 0px; height: auto;" data-block-id="35abd8cb46dac0a1aa02e5799e0108f9">
    <div class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text" style="z-index: 11;">
        <h2>delete &amp; restore answer should update thread fields</h2>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="d3b8642dccc3d8c95cb319d1b2251828" style="min-width: 30px; min-height: 30px; width: 799.577px; height: 210px; left: 11px; top: 210px;">
    <a class="sl-block-content" style="z-index: 12; border-style: solid; border-width: 1px;" href="http://www.tomsguide.com/forum/all.html" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/329915/images/2623561/listing_last_response.png" data-natural-width="811" data-natural-height="213"/>
    </a>
</div>
<div class="sl-block" data-block-type="image" data-block-id="842c5dec16b36153b0cf6e995da3a4cc" style="min-width: 30px; min-height: 30px; width: 781.759px; height: 229px; left: 160px; top: 401px;">
    <a class="sl-block-content" style="z-index: 14; border-style: solid; border-width: 1px;" href="http://www.tomsguide.com/forum/id-2268305/test-thread.html" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/329915/images/2623605/thread_last_response_at.png" data-natural-width="792" data-natural-height="232"/>
    </a>
</div>