<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; top: 46px; left: 108px; width: 730px;" data-block-id="cbfb09d952314ed2020adbb95e15b2cb">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 13; text-align: left; border-width: 1px; font-size: 50%;">
        <h1 style="text-align: center;">Architecture overview</h1>
    </div>
</div>
<div data-block-id="faaed535a13d9e90f69572629de62f3a" style="min-width: 30px; min-height: 30px; width: 539.129px; height: 514px; left: 181px; top: 105px;" data-block-type="image" class="sl-block">
    <div style="z-index: 13;" class="sl-block-content">
        <a href="https://purch1.atlassian.net/wiki/pages/viewpage.action?pageId=33293047">
            <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/311439/images/1875382/Capture_d_e_cran_2015-10-26_a__15.36.52.png" data-natural-height="900" data-natural-width="944" style=""/>
        </a>
    </div>
</div>