<div data-block-id="caa84640557934f1d2a6098c49f3e795" class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; top: 70px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 11; text-align: left; border-width: 1px;">
        <h1 style="font-size: 210%">Discovery / Replatforming</h1>
    </div>
</div>
<div class="sl-block" data-block-type="text" style="height: auto; width: 221px; left: 27px; top: 245px;" data-block-id="d159f9fc7e016eeb50eb1d040e4a7cf7">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 12; font-size: 70%;" dir="ui">
        <ul>
            <li class="Done">
                <span class="jira-story with-title">GRE-4049</span>
            </li>
            <li class="Done">
                <span class="jira-story with-title">GRE-4081</span>
            </li>
            <li class="In-Progress">
                <span class="jira-story with-title">GRE-4050</span>
            </li>
            <li class="Done">
                <span class="jira-story with-title">GRE-4062</span>
            </li>
        </ul>
    </div>
</div>