<div class="sl-block" data-block-type="image" style="width: 705.333px; height: 529px; left: 128px; top: 94px;" data-block-id="7a55d9cb0b08cb7f63e740d750696c6e">
    <div class="sl-block-content" style="z-index: 11;">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/315454/images/1927571/tartiflette_with_Kirill.jpg" data-natural-width="1200" data-natural-height="900" style=""/>
    </div>
</div>
<div class="sl-block" data-block-type="text" data-block-id="067e5e6834aca07ba33d15fe2a11e3d1" style="height: auto; min-width: 30px; min-height: 30px; width: 600px; left: 128px; top: 31px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 12;">
        <h3>Tartiflette with Kirill :-)</h3>
    </div>
</div>