<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; top: 30px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text"
         style="z-index: 13; text-align: left; border-width: 1px;">
        <h1>AdArea hits fall</h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" style="min-width: 30px; min-height: 30px; width: 827.786px; height: 499px; left: 66px; top: 171px; z-index:1">
    <img src="http://10.208.4.40/render?width=800&from=-2weeks&until=now&height=500&tz=Europe%2FParis&target=hits.bestofmedia-com.adarea.http_*&title=AdArea hits&_uniq=0.9690944864414632" style="" data-natural-width="1493" data-natural-height="900"/>
</div>