<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; top: 30px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text"
         style="z-index: 13; text-align: left; border-width: 1px;">
        <h1>Stick and release - Gizmodo ad</h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" style="min-width: 30px; min-height: 30px; width: 236.789px; height: 407px; left: 362px; top: 248px;">
    <a class="sl-block-content" style="z-index: 11; border:3px solid black;" href="http://www.tomshardware.com/forum/5443-1-update-twitter-facebook-qwerty-remote" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/1945821/pasted-from-clipboard.png" data-natural-width="377" data-natural-height="648" style=""/>
    </a>
</div>