<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; top: 30px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text"
         style="z-index: 13; text-align: left; border-width: 1px;">
        <h1>RAMP on TH US topics</h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" style="min-width: 30px; min-height: 30px; width: 827.786px; height: 499px; left: 66px; top: 171px;">
    <a class="sl-block-content" style="z-index: 11; border-style: solid; border-width: 3px; border-color: black;" href="http://www.tomshardware.com/forum/id-1580785/folding-home-thgc-team-40051.html" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/1945529/pasted-from-clipboard.png" style="" data-natural-width="1493" data-natural-height="900"/>
    </a>
</div>