<div class="sl-block" data-block-type="text" data-block-id="b406196a8f4c303f230107477e80287b" style="height: auto; min-width: 30px; min-height: 30px; top: 70px; left: 14px; width: 946px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 12; text-align: left; border-width: 1px;">
        <h1 style="text-align:center">Optimize Build Time</h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="a3ce671079230b4e30030936b59a10c0" style="min-width: 30px; min-height: 30px; width: 659.496855345912px; height: 428px; left: 141px; top: 167px;">
    <a href="http://www.tomsguide.com/us/tech-related-health-problems,news-19370.html#top-comments-tpc_en_2267819" target="_blank"></a>
    <a class="sl-block-content" style="z-index: 11; border-style: solid; border-width: 3px;" href="http://www.tomsguide.com/" target="_blank">
        <img data-natural-width="735" data-natural-height="477" style="" src="https://s3.amazonaws.com/media-p.slid.es/uploads/314194/images/1669706/Capture_du_2015-08-26_16_56_45.png"/>
    </a>
</div>
<div class="sl-block" data-block-type="text" data-block-id="3031b1297f0f56bfaabf985cfc467d8e" style="height: auto; min-width: 30px; min-height: 30px; width: 659px; left: 141px; top: 512px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 13;">
        <h2>
            <strong>
                <span style="color:#FFFFFF">Win 20min build time</span>
            </strong>
        </h2>
    </div>
</div>