{% extends 'common/layout.html' %}

{% block js_var %}
    var demoDate = '2016-02-01';
    var demoNb = 43;
{% endblock %}

{% block slides %}
    <section>
        {% include 'common/intro.html' %}
    </section>

    <section class="stack" id="GRE-1582">
        <section>
            {% include 'demo43-slides/support/index.html' %}
        </section>
        <section>
            {% include 'demo43-slides/support/red-tick.html' %}
        </section>
    </section>

    <section class="stack" id="GRE-3491">
        <section>
            {% include 'demo43-slides/forum-content-consolidation/index.html' %}
        </section>
        <section>
            {% include 'demo43-slides/forum-content-consolidation/append-concatenate.html' %}
        </section>
        <section>
            {% include 'demo43-slides/forum-content-consolidation/append-quote-whole.html' %}
        </section>
    </section>

    <section class="stack" id="GRE-4492">
        <section>
            {% include 'demo43-slides/sso-post-launch/index.html' %}
        </section>
        <section>
            {% include 'demo43-slides/sso-post-launch/inline-comment.html' %}
        </section>
        <section>
            {% include 'demo43-slides/sso-post-launch/secure-anonymization.html' %}
        </section>
    </section>

    <section class="stack" id="GRE-3842">
        <section>
            {% include 'demo43-slides/tgus-forum-replatforming/index.html' %}
        </section>
        <section>
            {% include 'demo43-slides/tgus-forum-replatforming/related-links.html' %}
        </section>
    </section>

    <section>
        {% include 'common/questions.html' %}
    </section>
{% endblock %}
