{% extends 'common/layout.html' %}

{% block js_var %}
    var demoDate = '2015-12-21';
    var demoNb = 40;
{% endblock %}

{% block slides %}
    <section>
        {% include 'common/intro.html' %}
    </section>

    <section class="stack" id="GRE-3842">
        <section>
            {% include 'demo40-slides/tgus-forum-replatforming/index.html' %}
        </section>
         <section>
            {% include 'demo40-slides/tgus-forum-replatforming/bdd-ddd-strategy.html' %}
        </section>
         <section>
            {% include 'demo40-slides/tgus-forum-replatforming/docker.html' %}
        </section>
         <section>
            {% include 'demo40-slides/tgus-forum-replatforming/codedeploy.html' %}
        </section>
        <section>
            {% include 'demo40-slides/tgus-forum-replatforming/documentation.html' %}
        </section>        
         <section>
            {% include 'demo40-slides/tgus-forum-replatforming/main_elements.html' %}
        </section>
         <section>
            {% include 'demo40-slides/tgus-forum-replatforming/assets.html' %}
        </section>
    </section>

    <section class="stack" id="GRE-3491">
        <section>
            {% include 'demo40-slides/forum-content-consolidation/index.html' %}
        </section>
        <section>
            {% include 'demo40-slides/forum-content-consolidation/fcc4.html' %}
        </section>
        <section>
            {% include 'demo40-slides/forum-content-consolidation/fcc6.html' %}
        </section>
    </section>

    <section class="stack" id="GRE-1582">
        <section>
            {% include 'demo40-slides/support/index.html' %}
        </section>
        <section>
            {% include 'demo40-slides/support/community-de.html' %}
        </section>
        <section>
            {% include 'demo40-slides/support/monetisation-on-toms-forums.html' %}
        </section>
        <section>
            {% include 'demo40-slides/support/stormpath.html' %}
        </section>
    </section>

    <section>
        {% include 'demo40-slides/next_demo.html' %}
    </section>
    <section>
        {% include 'common/questions.html' %}
    </section>
{% endblock %}
