<div class="sl-block" data-block-type="text" style="width: 800px; left: 68px; top: 70px; height: auto;">
    <div class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text" style="z-index: 11;">
        <h2>In next episode</h2>
    </div>
</div>
<div style="height: auto; min-width: 30px; min-height: 30px; width: 800px; left: 120px; top: 256px;" data-block-type="text" class="sl-block">
    <div dir="ui" style="z-index: 11;" data-placeholder-text="Text" data-placeholder-tag="p" class="sl-block-content">
        <ul>
            <li><span style="font-size:32px">Forum Content Consolidation</span></li>
            <li><span style="font-size:32px">Pre-launch tasks for TGFR Migration</span></li>
            <li><span style="font-size:32px">Maintenance stories</span></li>
            <li><span style="font-size:32px">ShieldSquare integration: WW in sfPortal pages</span></li>
            <li><span class="jira-story with-title">GRE-4521</span></span></li>
        </ul>
    </div>
</div>
