<div class="sl-block" data-block-type="text" style="width: 957px; left: -7px; top: 60px; height: auto;" data-block-id="26addef0a38f82a1317b6808630f5a47">
    <div style="z-index: 11;" class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text">
        <h1>Get real user datas</h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" style="min-width: 30px; min-height: 30px; width: 780.729281767956px; height: 138px; left: 105.135359116022px; top: 260px; z-index: 1;" data-block-id="f274c07dffc359764bc7c286138c5f56">
    <a href="http://tomsguide.dev-web1.ttr01.com:8282/app/1828/tpc_en_2267721" target="_blank" class="sl-block-content" style="border: 1px solid black;">
        Show avatar after logged in
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/314194/images/1420389/getAvatar.png" data-natural-width="1024" data-natural-height="181" style=""/>
    </a>
</div>
