<div class="sl-block" data-block-type="text" style="width: 800px; left: 80px; top: 70px; height: auto;" data-block-id="4064aeea9388e6ffc02feaa45d11c26b">
    <div class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text" style="z-index: 11;">
        <h1>User Services</h1>
    </div>
</div>
<div class="sl-block progress-bar" data-epic="GRE-2678" data-block-type="text"
     data-block-id="546744aa438a73d28bb1c7cab6a4f6e1"
     style="height: auto; min-width: 30px; min-height: 30px; width: 600px; left: 80px; top: 190px;">
</div>
<div class="sl-block" data-block-type="text" style="height: auto; width: 100%; left: 27px; top: 245px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text"
         style="z-index: 14; font-size: 70%;" dir="ui">
        <ul>
            <li><span class="jira-story with-title">#GRE-2800</span></li>
            <li><span class="jira-story with-title">#GRE-2801</span></li>
            <li><span class="jira-story with-title">#GRE-2563</span></li>
        </ul>
    </div>
</div>
