<div class="sl-block" data-block-type="text" style="width: 957px; left: -7px; top: 60px; height: auto;" data-block-id="d6fe70212018ac1ba6e027aa32a65582">
    <div style="z-index: 11;" class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text">
        <h1>Authentication</h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" style="min-width: 30px; min-height: 30px; width: 648.65625px; height: 330px; left: 151px; top: 185px; z-index: 1;" data-block-id="36f04494b7947c0b1942b4dba9881b67">
    No SSO
    
    <a href="http://tomsguide.dev-web1.ttr01.com:8282/login" target="_blank" class="sl-block-content" style="border: 1px solid black;">
        Login page
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/314194/images/1420401/login.png" data-natural-width="629" data-natural-height="320" style=""/>
    </a>
</div>
