<div class="sl-block" data-block-type="text" style="width: 957px; left: -7px; top: 60px; height: auto;" data-block-id="2176abbc532109f26f3f7cb2d299794b">
    <div style="z-index: 11;" class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text">
        <h1>User Permissions</h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" style="min-width: 30px; min-height: 30px; width: 904px; height: 260px; left: 91px; top: 188px; z-index: 1;" data-block-id="cd3bb81659e27513ba7999ed13aff955">
    <a href="http://tomsguide.dev-web1.ttr01.com:8282/app/1828/tpc_en_2267721" target="_blank" class="sl-block-content" style="border: 1px solid black;">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/314194/images/1420860/CommentsBundle_UserLib_UserWS.png" style="" data-natural-width="904" data-natural-height="318"/>
    </a>
</div>
