<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; top: 70px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text"
         style="z-index: 13; text-align: left; border-width: 1px;">
        <h1>Support</h1>
    </div>
</div>
<div class="sl-block" data-block-type="text" style="height: auto; width: 100%; left: 27px; top: 245px;"
     data-block-id="d159f9fc7e016eeb50eb1d040e4a7cf7">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text"
         style="z-index: 14; font-size: 70%;" dir="ui">
        <ul>
        <li class="To-Do"><span class="jira-story with-title">GRE-4771</span></li>
        <li class="Done"><span class="jira-story with-title">GRE-4756</span></li>
        <li class="To-Do"><span class="jira-story with-title">GRE-4750</span></li>
        <li class="To-Do"><span class="jira-story with-title">GRE-4749</span></li>
        <li class="To-Do"><span class="jira-story with-title">GRE-4741</span></li>
        <li class="In-Progress"><span class="jira-story with-title">GRE-4682</span></li>
        <li class="In-Progress"><span class="jira-story with-title">GRE-4816</span></li>
        <li class="In-Progress"><span class="jira-story with-title">GRE-4625</span></li>
        <li class="In-Progress"><span class="jira-story with-title">GRE-4834</span></li>
        <li class="In-Progress"><span class="jira-story with-title">GRE-4778</span></li>
        <li class="In-Progress"><span class="jira-story with-title">GRE-4776</span></li>
        </ul>
    </div>
</div>
