<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; top: 70px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text"
         style="z-index: 13; text-align: left; border-width: 1px;">
        <h1>Red tick in header</h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="12a24605e5355bc5a6c46ecfa5e03025" style="min-width: 30px; min-height: 30px; width: 338.488px; height: 355px; left: 451px; top: 327px;">
    <a class="sl-block-content" style="z-index: 12; border: 3px solid black;" href="http://www.tomsguide.com/forum/all.html" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/2179409/Capture_d_e_cran_2016-01-28_a__11.36.33.png" style="" data-natural-width="328" data-natural-height="344"/>
    </a>
</div>
<div class="sl-block" data-block-type="image" data-block-id="04b45f0d2945a46cf2b9313cade7e038" style="min-width: 30px; min-height: 30px; width: 369.567px; height: 290px; left: 117px; top: 250px;">
    <a class="sl-block-content" style="z-index: 11; border: 3px solid black;" href="http://www.tomsguide.com/" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/2179410/Capture_d_e_cran_2016-01-28_a__11.36.21.png" data-natural-width="353" data-natural-height="277" style=""/>
    </a>
</div>