<div class="sl-block" data-block-type="text" style="width: 957px; left: -7px; top: 60px; height: auto;">
    <div style="z-index: 11;" class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text">
        <h1>Closed Topic display</h1>
    </div>
</div>

<div class="sl-block" data-block-type="image" style="min-width: 30px; min-height: 30px; width: 698.276381909548px; height: 273px; left: 131px; top: 190px; z-index: 1;">
    <a href="http://tomsguide.dev-web1.ttr01.com:8282/app/1828/tpc_en_2267721" target="_blank" class="sl-block-content" style="border: 1px solid black;">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/1394490/opened.png" style="" data-natural-width="1018" data-natural-height="398"/>
        <div class="sl-block-content" style="color: white; border: 1px solid black; font-size: 85%; background-color: rgb(136, 136, 136); width: 164px; height: auto; min-width: 30px; min-height: 30px; top: -1px; right: -1px; position: absolute;">
            <p>Opened</p>
        </div>
    </a>
</div>

<div class="sl-block" data-block-type="image" style="min-width: 30px; min-height: 30px; width: 618px; height: 144.058765915769px; left: 171px; top: 519px; z-index: 1;">
    <a class="sl-block-content" href="http://tomsguide.dev-web1.ttr01.com:8282/app/1828/tpc_en_2267724" target="_blank" style="border: 1px solid black;">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/1394488/closed.png" data-natural-width="1021" data-natural-height="238" style=""/>
        <div class="sl-block-content" style="color: white; border: 1px solid black; font-size: 85%; background-color: rgb(136, 136, 136); height: auto; min-width: 30px; min-height: 30px; width: 164px; top: -1px; right: -1px; position: absolute;">
            <p>Closed</p>
        </div>
    </a>
</div>
