<div data-block-id="2721c33e9fadf4842e69162c01880ca6" class="sl-block" data-block-type="text" style="width: 957px; left: -7px; top: 100px; height: auto;">
    <div style="z-index: 11;" class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text">
        <h1>NV Jenkins dev (php 5.6)</h1>
    </div>
</div>
<div style="position: absolute; top: 231px; left: 0;">
    <div data-block-id="f1c10a04d409d53758ef10c82738cc68" style="min-width: 30px; min-height: 30px; width: 212px; height: 212px; left: 17px; top: 0;" data-block-type="image" class="sl-block">
        <div style="z-index: 13;" class="sl-block-content">
            <a href="http://us-east1-dev-jenkins1.ttr01.com:8080/view/Tom%27s%20Site/" target="_blank">
                <img data-natural-height="512" data-natural-width="512" style="" src="https://s3.amazonaws.com/media-p.slid.es/uploads/315454/images/1389981/build-icon.png"/>
            </a>
        </div>
        <div style="z-index: 15; margin: auto; top: 26px;" data-placeholder-text="Text" data-placeholder-tag="p" class="sl-block-content">
            <p>
                <strong>build</strong> tomsguide-site comments bundle
            </p>
        </div>
    </div>
    <div data-block-id="23a474c23e11229ce865966f23ceb9f7" style="min-width: 30px; min-height: 30px; width: 225.77px; height: 218px; left: 312px; top: 0;" data-block-type="image" class="sl-block">
        <div style="z-index: 14;" class="sl-block-content">
            <img data-natural-height="505" data-natural-width="523" style="" src="https://s3.amazonaws.com/media-p.slid.es/uploads/315454/images/1390004/jenkins-tests.png"/>
        </div>
        <div style="z-index: 16; top: 20px; margin: auto;" data-placeholder-text="Text" data-placeholder-tag="p" class="sl-block-content">
            <p>
                <strong>test suite</strong> phpUnit jasmine behat2
            </p>
        </div>
    </div>
    <div data-block-id="cfeb537eecda6590668676a3773e7327" style="min-width: 30px; min-height: 30px; width: 360px; height: 194.754px; left: 600px; top: 0;" data-block-type="image" class="sl-block">
        <div style="z-index: 12;" class="sl-block-content">
            <a href="http://10.208.12.18:9000/dashboard/index/24428" target="_blank">
                <img data-natural-height="165" data-natural-width="305" style="" src="https://s3.amazonaws.com/media-p.slid.es/uploads/315454/images/1389978/static-analysis-tool1.jpg"/>
            </a>
        </div>
        <div style="z-index: 17; width: 160px; top: 43.246px; margin: auto;" data-placeholder-text="Text" data-placeholder-tag="p" class="sl-block-content">
            <p>
                <strong>code quality </strong>analysis
            </p>
        </div>
    </div>
</div>