
<div data-block-id="dd43c781fdccce87d05d45e7dba3ab07" style="min-width: 30px; min-height: 30px; width: 909.442px; height: 465px; left: 26px; top: 55px;" data-block-type="image" class="sl-block">
    <div style="z-index: 12;" class="sl-block-content">
        <img data-natural-height="475" data-natural-width="929" style="" src="https://s3.amazonaws.com/media-p.slid.es/uploads/305376/images/1409558/WithVoteListener.png"/>
    </div>
</div>
