<div data-block-id="001e58d0cecd6529270b0f93d01e47eb" style="min-width: 30px; min-height: 30px; width: 806px; height: 451.405px; left: 64px; top: 70px;" data-block-type="image" class="sl-block">
    <div style="z-index: 11;" class="sl-block-content">
        <img data-natural-height="401" data-natural-width="716" style="" src="https://s3.amazonaws.com/media-p.slid.es/uploads/305376/images/1409811/WithoutVoteListener.png"/>
    </div>
</div>
