<div data-block-id="8f78298c6d4d8054e77fe4c356d69c48" class="sl-block" data-block-type="text" style="width: 800px; left: 80px; top: 15px; height: auto;">
    <div style="z-index: 10;" class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text">
        <h1>Simplify vote process</h1>
    </div>
</div>
<div data-block-id="185110e5b76ab55aff61bba94115a157" style="min-width: 30px; min-height: 30px; width: 641.648px; height: 292px; left: 160px; top: 245px;" data-block-type="image" class="sl-block">
    <a target="_blank" href="http://tomsguide.dev-web1.ttr01.com:8282/app/128/tpc_en_2265490" style="z-index: 12;" class="sl-block-content">
        <img data-natural-height="466" data-natural-width="1024" style="" src="https://s3.amazonaws.com/media-p.slid.es/uploads/305376/images/1409796/votes.png"/>
    </a>
</div>
