<div data-block-id="349ff397f4a517edb267ab50672fc281" class="sl-block" data-block-type="text" style="width: 800px; left: 55px; top: 51px; height: auto;">
  <div style="z-index: 11;" class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text">
    <h1>Highlight comments</h1>
  </div>
</div>
<div data-block-id="673fbe49addf915302706cc15c23ec4e" style="min-width: 30px; min-height: 30px; width: 685.838px; height: 234px; left: 240px; top: 163px;" data-block-type="image" class="sl-block">
  <div style="z-index: 12;" class="sl-block-content">
    <a href="http://tomsguide.dev-web1.ttr01.com:8282/app/2111/tpc_en_2266020" target="_blank">
      <img data-natural-height="333" data-natural-width="976" style="" src="https://s3.amazonaws.com/media-p.slid.es/uploads/329915/images/1405343/comments_without_top.png"/>
    </a>
  </div>
</div>
<div data-block-id="3e9d816b381e7073388c3eed1b454c26" style="min-width: 30px; min-height: 30px; width: 604.497px; height: 251px; left: 49px; top: 420px;" data-block-type="image" class="sl-block">
  <div style="z-index: 13;" class="sl-block-content">
    <a href="http://tomsguide.dev-web1.ttr01.com:8282/app/2111/tpc_en_2267643" target="_blank">
      <img data-natural-height="431" data-natural-width="1038" style="" src="https://s3.amazonaws.com/media-p.slid.es/uploads/329915/images/1405345/comments_with_tops.png"/>
    </a>
  </div>
</div>