{% extends 'common/layout.html' %}

{% block js_var %}
    var demoDate = '2015-10-12';
    var demoNb = 35;
{% endblock %}

{% block slides %}
    <section>
        {% include 'common/intro.html' %}
    </section>
    <section class="stack">
        <section>
            {% include 'demo35-slides/tgus_redesign/index.html' %}
        </section>
        <section>
            {% include 'demo35-slides/tgus_redesign/GRE-3281.html' %}
        </section>
        <section>
            {% include 'demo35-slides/tgus_redesign/user-web-service-bulk.html' %}
        </section>
        <section>
            {% include 'demo35-slides/tgus_redesign/smilies.html' %}
        </section>
        <section>
            {% include 'demo35-slides/tgus_redesign/hide-down-rated-comments.html' %}
        </section>
        <section>
            {% include 'demo35-slides/tgus_redesign/flash-message-for-banned-user.html' %}
        </section>
        <section>
            {% include 'demo35-slides/tgus_redesign/mobile-header.html' %}
        </section>
    </section>
    <section class="stack">
        <section>
            {% include 'demo35-slides/ltm_comments/index.html' %}
        </section>
        <section>
            {% include 'demo35-slides/ltm_comments/fix_phantomjs.html' %}
        </section>    
        <section>
            {% include 'demo35-slides/ltm_comments/ltm-comments.html' %}
        </section>        
    </section>
    <section class="stack">
        <section>
            {% include 'demo35-slides/forum_content_consolidation/index.html' %}
        </section>
        <section>
            {% include 'demo35-slides/forum_content_consolidation/fcc_v1_v2.html' %}
        </section>
    </section>
    <section class="stack">
        <section>
            {% include 'demo35-slides/discovery/index.html' %}
        </section>
    </section>
    <section class="stack">
        <section>
            {% include 'demo35-slides/support/index.html' %}
        </section>
        <section>
            {% include 'demo35-slides/support/new_badges_icons.html' %}
        </section>
        <section>
            {% include 'demo35-slides/support/datePublished.html' %}
        </section>
        <section>
            {% include 'demo35-slides/support/sitesearch_circuitbreaker_cascading.html' %}
        </section>
        <section>
            {% include 'demo35-slides/support/sitesearch_circuitbreaker_open.html' %}
        </section>
    </section>
    <section>
        {% include 'common/questions.html' %}
    </section>
{% endblock %}
