<div data-block-id="18a45668b010837091b3c4ebd2c99a27" class="sl-block" data-block-type="text" style="width: 800px; left: 80px; top: 10px; height: auto;">
    <div style="z-index: 10;" class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text">
        <h1>Button overlaps count on mobile</h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="d986f892d92c8084077f5199cdd65012" style="min-width: 30px; min-height: 30px; width: 261.95px; height: 465px; left: 349px; top: 208px;">
    <div class="sl-block-content" style="z-index: 11; border-style: solid; border-width: 3px;">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/1654196/newsite_comments.png" style="" data-natural-width="507" data-natural-height="900"/>
    </div>
</div>