<div data-block-id="8485946c5485312d12f9471a46a1cc22" class="sl-block" data-block-type="text" style="width: 800px; left: 80px; top: -15px; height: auto;">
    <div style="z-index: 11;" class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text">
        <h1>Ask an expert : notify on new answer</h1>
    </div>
</div>
<div data-block-id="1301221f31d66468db6561cff203398d" style="min-width: 30px; min-height: 30px; width: 864px; height: 509.793px; left: 54px; top: 172px;" data-block-type="image" class="sl-block">
    <a target="_blank" href="http://www.tomsguide.com/forum/id-2267859/iphone.html" style="z-index: 12;" class="sl-block-content">
        <img data-natural-height="616" data-natural-width="1044" style="" src="https://s3.amazonaws.com/media-p.slid.es/uploads/305376/images/1560797/askAnExpert_notifyAuthor.png"/>
    </a>
</div>
