<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; width: 100%;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 13; text-align: left; border-width: 1px;">
        <h1 style="font-size:2em">ArticleId ref in Comment Topic</h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="a8d31cdd651c1aec2916ccd807a44051" style="min-width: 30px; min-height: 30px; width: 782.692307692308px; height: 550px; left: 89px; top: 126px;">
    <div class="sl-block-content" style="z-index: 11; border-style: solid; border-width: 3px;">
        <a href="http://internal-lb-bom-qa-comments-al-370099695.us-west-2.elb.amazonaws.com:8680/comments-applicative-layer/docs/index.html#!/topic-controller/updateTopic" target="_blank"><img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/1585269/reference_inversion.png" style="" data-natural-width="555" data-natural-height="390"/></a>
    </div>
</div>