<div class="sl-block" data-block-type="text" data-block-id="b406196a8f4c303f230107477e80287b" style="height: auto; min-width: 30px; min-height: 30px; width: 410px; left: 275px; top: 28px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 12; text-align: left; border-width: 1px;">
        <h1 style="font-size:2.2em">UserBundle</h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="5aff558755c3f7927d89edf723a0eb6b" style="min-width: 30px; min-height: 30px; width: 346.181818181818px; height: 187px; left: 301px; top: 130px;">
    <a class="sl-block-content" style="z-index: 11; border-style: solid; border-width: 3px;" href="http://tomsguide.dev-web1.ttr01.com:8282/us/oral-b-smartseries,review-2294.html" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/314194/images/1576895/Capture_du_2015-07-16_11_12_28.png" style="" data-natural-width="224" data-natural-height="121"/>
    </a>
</div>
<div class="sl-block" data-block-type="image" data-block-id="8010b44bf8c2cb308996603e83a6c340" style="min-width: 30px; min-height: 30px; width: 871px; height: 247.134948096886px; left: 45px; top: 350px;">
    <div class="sl-block-content" style="z-index: 13;">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/314194/images/1585273/no-more-app-user.jpg" style="" data-natural-width="578" data-natural-height="164"/>
    </div>
</div>