<div class="sl-block" data-block-type="text" data-block-id="b406196a8f4c303f230107477e80287b" style="height: auto; min-width: 30px; min-height: 30px; width: 800px; left: 80px; top: 55px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 12; text-align: left; border-width: 1px;">
        <h1 style="font-size: 2.2em; text-align: center;">XSS security</h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="5aff558755c3f7927d89edf723a0eb6b" style="min-width: 30px; min-height: 30px; width: 306.46px; height: 398px; left: 87px; top: 189px;">
    <a class="sl-block-content" style="z-index: 11; border-width: 3px;" href="https://www.owasp.org/index.php/Testing_for_Reflected_Cross_site_scripting_(OWASP-DV-001)" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/314194/images/1581165/Piratey__vector_version.svg.png" style="" data-natural-width="693" data-natural-height="900"/>
    </a>
</div>
<div class="sl-block" data-block-type="text" data-block-id="8564864fa4cfe6ac6220a19025f4f73f" style="height: auto; min-width: 30px; min-height: 30px; width: 547px; left: 377px; top: 292px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 13;">
        <p>
            <br/>
&nbsp; &nbsp; [imgNoLz]" onclick="alert(document.cookie)[/imgNoLz]
        </p>
    </div>
</div>