{% extends 'common/layout.html' %}

{% block js_var %}
    var demoDate = '2016-04-07';
    var demoNb = 48;
{% endblock %}

{% block slides %}
    <section>
        {% include 'common/intro.html' %}
    </section>
    <section>
        {% include 'common/toc.html' %}
    </section>
    <!--<section>
        {% include 'demo48-slides/roi.html' %}
    </section>-->

    <section class="stack" id="GRE-5058">
        <section>
            {% include 'demo48-slides/tfr-core-thread/index.html' %}
        </section>
        <section>
            {% include 'demo48-slides/tfr-core-thread/thread-redesign.html' %}
        </section>
        <section>
            {% include 'demo48-slides/tfr-core-thread/answer-thread.html' %}
        </section>
        <section>
            {% include 'demo48-slides/tfr-core-thread/new-thread_select-category.html' %}
        </section>
        <section>
            {% include 'demo48-slides/tfr-core-thread/links-to-rules-and-privacy.html' %}
        </section>
         <section>
            {% include 'demo48-slides/tfr-core-thread/tomsguide-templates.html' %}
        </section>
        <section>
            {% include 'demo48-slides/tfr-core-thread/display-post-avatar.html' %}
        </section>
        <section>
            {% include 'demo48-slides/tfr-core-thread/reply-link-to-each-post.html' %}
        </section>
        <section>
            {% include 'demo48-slides/tfr-core-thread/thread-edit.html' %}
        </section>
        <section>
            {% include 'demo48-slides/tfr-core-thread/wrapper.html' %}
        </section>
    </section>

    <section class="stack" id="GRE-5229">
        <section>
            {% include 'demo48-slides/shop-srv-integration/index.html' %}
        </section>
        <section>
            {% include 'demo48-slides/shop-srv-integration/sso.html' %}
        </section>
    </section>

    <section class="stack" id="GRE-1582">
        <section>
            {% include 'demo48-slides/support/index.html' %}
        </section>
        <section>
            {% include 'demo48-slides/support/privacy-policy.html' %}
        </section>
        <section>
            {% include 'demo48-slides/support/twitch.html' %}
        </section>

        <section>
            {% include 'demo48-slides/support/append.html' %}
        </section>

    </section>

    <section>
        {% include 'common/questions.html' %}
    </section>
{% endblock %}
