{% extends 'common/layout.html' %}

{% block js_var %}
    var demoDate = '2015-06-22';
    var demoNb = 27;
{% endblock %}

{% block slides %}
    <section>
        {% include 'common/intro.html' %}
    </section>
    <section>
        {% include 'common/toc.html' %}
    </section>
    <section class="stack" id="GRE-2217">
        <section>
            {% include 'demo27-slides/comments_in_toms/index.html' %}
        </section>
        <section>
            {% include 'demo27-slides/comments_in_toms/integration_in_edito_pages.html' %}
        </section>
        <section>
            {% include 'demo27-slides/comments_in_toms/bbcode_clickable_links.html' %}
        </section>
        <section>
            {% include 'demo27-slides/comments_in_toms/link_to_forum_thread.html' %}
        </section>
        <section>
            {% include 'demo27-slides/comments_in_toms/promote-comment.html' %}
        </section>
        <section>
            {% include 'demo27-slides/comments_in_toms/handle_quote_citation.html' %}
        </section>
    </section>
    <section class="stack" id="GRE-2048">
        <section>
            {% include 'demo27-slides/forum_recategorization/index.html' %}
        </section>
        <section>
            {% include 'demo27-slides/forum_recategorization/home_theatre_legacy_migration.html' %}
        </section>
        <section>
            {% include 'demo27-slides/forum_recategorization/migration_metrics.html' %}
        </section>
    </section>
    <section class="stack">
        <section>
            {% include 'demo27-slides/tech/index.html' %}
        </section>
    </section>
    <section class="stack">
        <section>
            {% include 'demo27-slides/support/index.html' %}
        </section>
    </section>
    <section>
        {% include 'demo27-slides/next_demo.html' %}
    </section>
    <section>
        {% include 'common/questions.html' %}
    </section>
{% endblock %}
