<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; top: 0">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text"
         style="z-index: 13; text-align: left; border-width: 1px;">
        <h1>Categories in home</h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="a98b269da8393ed4d6c01b333ff85374" style="min-width: 30px; min-height: 30px; width: 629.382px; height: 503px; left: 21px; top: 152px;">
    <a class="sl-block-content" style="z-index: 11;" href="http://www.tomshardware.co.uk/forum/" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/2784220/Capture_d_e_cran_2016-06-23_a__18.45.00.png" data-natural-width="747" data-natural-height="597" style=""/>
    </a>
</div>
<div class="sl-block" data-block-type="image" data-block-id="2890f80d0251b0bb078fb0c051963388" style="min-width: 30px; min-height: 30px; width: 604.065px; height: 437px; left: 314px; top: 246px;">
    <a class="sl-block-content" style="z-index: 12;" href="http://www.tomsguide.com/forum/" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/2784223/Capture_d_e_cran_2016-06-23_a__19.07.32.png" data-natural-width="781" data-natural-height="565" style=""/>
    </a>
</div>