<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; top: 5px; width: 952px; left: 5px;" data-block-id="109e2697f2f5db453525f9e8737cd693">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 11; text-align: left; border-width: 1px; font-size: 67%;">
        <h1 style="text-align:center">
            <span style="font-size:25.125px">SEO crawling result on existing forum homepage before launch</span>
        </h1>
    </div>
</div>
<div class="sl-block" data-block-type="text" data-block-id="87f833b1442a1b75d978dff749522fc6" style="height: auto; min-width: 30px; min-height: 30px; width: 600px; left: 171px; top: 430px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 12;">
        <p>
            <a href="https://purch1.atlassian.net/wiki/display/GREN/THA+UK+Forum+homepage+SEO" target="_blank">See our confluence page</a>
        </p>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="00d51ee160254a7fe05e11be655d4d60" style="min-width: 30px; min-height: 30px; width: 360px; height: 262.52px; left: 300px; top: 134px;">
    <div class="sl-block-content" style="z-index: 13;">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/314194/images/2803142/google-spider-googlebot.jpg" data-natural-width="373" data-natural-height="272" style=""/>
    </div>
</div>