<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; top: 5px; width: 952px; left: 5px;" data-block-id="109e2697f2f5db453525f9e8737cd693">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 11; text-align: left; border-width: 1px; font-size: 67%;">
        <h1 style="text-align:center">
            <span style="font-size:0.5em">Forum Home</span>
        </h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="6c50dabb04af7399bb6c9933478232b8" style="min-width: 30px; min-height: 30px; width: 928.571px; height: 455px; left: 13px; top: 77px;">
    <a class="sl-block-content" style="z-index: 12;" href="http://www.tomsguide.com/forum/" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/314194/images/2793789/Capture_d_e_cran_2016-06-27_a__11.53.55.png" style="" data-natural-width="1600" data-natural-height="784"/>
    </a>
</div>