<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; top: 70px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text"
         style="z-index: 13; text-align: left; border-width: 1px;">
        <h1>TFR (VIS) Home</h1>
    </div>
</div>
<div class="sl-block" data-block-type="text" style="height: auto; width: 100%; left: 27px; top: 245px;"
     data-block-id="d159f9fc7e016eeb50eb1d040e4a7cf7">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text"
         style="z-index: 14; font-size: 70%;" dir="ui">
        <ul>
            <li><span class="jira-story with-title">GRE-6215</span></li>
            <li><span class="jira-story with-title">GRE-6328</span></li>
            <li><span class="jira-story with-title">GRE-6330</span></li>
            <li><span class="jira-story with-title">GRE-6327</span></li>
            <li><span class="jira-story with-title">GRE-6335</span></li>
            <li><span class="jira-story with-title">GRE-6329</span></li>
            <li><span class="jira-story with-title">GRE-6332</span></li>
            <li><span class="jira-story with-title">GRE-6347</span></li>
            <li><span class="jira-story with-title">GRE-6346</span></li>
            <li><span class="jira-story with-title">GRE-6361</span></li>
            <li><span class="jira-story with-title">GRE-6362</span></li>
            <li><span class="jira-story with-title">GRE-6331</span></li>
            <li><span class="jira-story with-title">GRE-6333</span></li>
            <li><span class="jira-story with-title">GRE-6336</span></li>
            <li><span class="jira-story with-title">GRE-6369</span></li>
        </ul>
    </div>
</div>
