<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; top: 70px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text"
         style="z-index: 13; text-align: left; border-width: 1px;">
        <h1>Last answer infos</h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="9af96a69776699de5c928187de7fd2bd" style="min-width: 30px; min-height: 30px; width: 831.532px; height: 233px; left: 58px; top: 290px;">
    <a class="sl-block-content" style="z-index: 11;" href="http://www.tomsguide.com/forum/" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/2803083/Capture_d_e_cran_2016-06-29_a__18.34.39.png" style="" data-natural-width="778" data-natural-height="218"/>
    </a>
</div>