<div class="sl-block" data-block-type="text" style="width: 800px; left: 86px; top: 20px; height: auto;" data-block-id="271a78d52a9b7c24460e857d0c7579bc">
    <div class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text" data-has-custom-html="" style="z-index: 11;">
        <h1>
            <span style="font-size: 35.175px; line-height: 45.7275px;">Latest Experts Module</span>
        </h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" style="min-width: 30px; min-height: 30px; width: 458.053px; height: 366px; left: 11px; top: 110px;" data-block-id="3715344a56065031dcb0e11fa0563746">
    <div class="sl-block-content" style="z-index: 12;">
        <img data-natural-width="1035" data-natural-height="827" src="https://s3.amazonaws.com/media-p.slid.es/uploads/472730/images/2773790/latest-experts-thread-listing.png"/>
    </div>
</div>
<div class="sl-block" data-block-type="image" style="min-width: 30px; min-height: 30px; width: 458.053px; height: 366px; left: 486px; top: 295px;" data-block-id="8bb46223ad63cae5fafdc33f5c2399e9">
    <div class="sl-block-content" style="z-index: 13;">
        <img data-natural-width="1035" data-natural-height="827" src="https://s3.amazonaws.com/media-p.slid.es/uploads/472730/images/2773795/latest-experts-thread-page.png"/>
    </div>
</div>
<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; width: 335px; left: 560px; top: 217px;" data-block-id="0617fff89881a276ab1be1af61141d05">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 14;">
        <p>Thread page fallback</p>
    </div>
</div>
<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; width: 356px; left: 27px; top: 478px;" data-block-id="4e47013b1eb0f7bc7629e2075520c9b7">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 15;">
        <p>Thread Listing</p>
    </div>
</div>
