<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; top: 70px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text"
         style="z-index: 13; text-align: left; border-width: 1px;">
        <h1>Category Pagination</h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="1099a3a28fcfe767120f1830b123787c" style="min-width: 30px; min-height: 30px; width: 715.24px; height: 306px; left: 25px; top: 173px;">
    <a class="sl-block-content" style="z-index: 11;" href="http://www.tomshardware.co.uk/forum/" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/2794437/Capture_d_e_cran_2016-06-27_a__15.16.48.png" data-natural-width="769" data-natural-height="329" style=""/>
    </a>
</div>
<div class="sl-block" data-block-type="image" data-block-id="c098be1565717e163fe59f371249484a" style="min-width: 30px; min-height: 30px; width: 679.521px; height: 358px; left: 240px; top: 300px;">
    <a class="sl-block-content" style="z-index: 12;" href="http://www.tomsguide.com/forum/" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/2794439/Capture_d_e_cran_2016-06-27_a__15.16.20.png" data-natural-width="801" data-natural-height="422" style=""/>
    </a>
</div>