<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; top: 5px; width: 952px; left: 5px;" data-block-id="109e2697f2f5db453525f9e8737cd693">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 11; text-align: left; border-width: 1px; font-size: 67%;">
        <h1 style="text-align:center">
            <span style="font-size:25.125px; line-height:32.6625px">Webpage performance test of the existing platform to have KPI before launch</span>
        </h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="4299045e7df859802365d4352b3f4020" style="min-width: 30px; min-height: 30px; width: 4314.29px; height: 151px; left: -1208px; top: 247px;">
    <a class="sl-block-content" style="z-index: 12;" href="https://purch1.atlassian.net/wiki/display/GREN/Forum+homepage+web+performance" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/314194/images/2798314/filmstrip.png" style="" data-natural-width="1600" data-natural-height="56"/>
    </a>
</div>