<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; top: 70px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text"
         style="z-index: 13; text-align: left; border-width: 1px;">
        <h1>Ramp integration</h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="a248b04eab3bc7a975fbc6f5d313321f" style="min-width: 30px; min-height: 30px; width: 894.764px; height: 366px; left: 33px; top: 214px;">
    <a class="sl-block-content" style="z-index: 11;" href="http://www.tomshardware.co.uk/forum/" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/2802614/Capture_d_e_cran_2016-06-29_a__16.27.56.png" data-natural-width="1017" data-natural-height="416" style=""/>
    </a>
</div>