<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; top: 5px; width: 952px; left: 5px;" data-block-id="109e2697f2f5db453525f9e8737cd693">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 11; text-align: left; border-width: 1px; font-size: 67%;">
        <h1 style="text-align:center">
            <span style="font-size:25.125px">Apply SEO Rules on Forum Home page for visitors</span>
        </h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="7496ec7e4d1185da1212434a95b34b55" style="min-width: 30px; min-height: 30px; width: 859.755px; height: 482px; left: 42px; top: 98px;">
    <a class="sl-block-content" style="z-index: 12;" href="http://www.tomshardware.co.uk/forum/" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/314194/images/2802154/Capture_d_e_cran_2016-06-29_a__14.31.06.png" style="" data-natural-width="1600" data-natural-height="897"/>
    </a>
</div>