{% extends 'common/layout.html' %}

{% block js_var %}
    var demoDate = '2015-09-28';
    var demoNb = 34;
{% endblock %}

{% block slides %}
    <section>
        {% include 'common/intro.html' %}
    </section>
    <section class="stack" id="GRE-3208">
        <section>
            {% include 'demo34-slides/tgus_redesign/index.html' %}
        </section>
        <section>
            {% include 'demo34-slides/tgus_redesign/resizable_textarea.html' %}
        </section>
        <section>
            {% include 'demo34-slides/tgus_redesign/archivage.html' %}
        </section>
    </section>
    <section class="stack">
        <section>
            {% include 'demo34-slides/ltm_comments/index.html' %}
        </section>
        <section>
            {% include 'demo34-slides/ltm_comments/ltm_comments_first_stats.html' %}
        </section>        
    </section>
    <section class="stack">
        <section>
            {% include 'demo34-slides/forum_content_consolidation/index.html' %}
        </section>
        <section>
            {% include 'demo34-slides/forum_content_consolidation/docker_sfportal.html' %}
        </section>
        <section>
            {% include 'demo34-slides/forum_content_consolidation/boost_faq.html' %}
        </section>
    </section>
    <section class="stack">
        <section>
            {% include 'demo34-slides/discovery/index.html' %}
        </section>
        <section>
            {% include 'demo34-slides/discovery/aurora.html' %}
        </section>
    </section>
    <section class="stack">
        <section>
            {% include 'demo34-slides/support/index.html' %}
        </section>
    </section>
    <section>
        {% include 'common/questions.html' %}
    </section>
{% endblock %}
