<div class="sl-block" data-block-type="text" style="top: 0px; height: auto; left: 64px;">
    <div class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text" style="text-align: left; z-index: 11; font-size: 90%;">
        <h1>Archivage</h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="5663b75c316bcc8de9500ae894649e38" style="min-width: 30px; min-height: 30px; width: 360px; height: 141.35px; left: 60px; top: 301px;">
    <a class="sl-block-content" style="z-index: 1; border: 3px solid black;" href="http://www.tomsguide.com/us/sly-test,review-2324.html" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/1761443/pasted-from-clipboard.png" data-natural-width="815" data-natural-height="320" style=""/>
    </a>
</div>
<div class="sl-block" data-block-type="image" data-block-id="1d3906cdd4738801ce4ac97104df46bd" style="min-width: 30px; min-height: 30px; width: 360px; height: 145.823px; left: 540px; top: 299px;">
    <a class="sl-block-content" style="z-index: 1; border: 3px solid black;" href="http://www.tomsguide.com/us/sly-test,review-2324.html" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/1761444/pasted-from-clipboard.png" style="" data-natural-width="790" data-natural-height="320"/>
    </a>
</div>
<div class="sl-block" data-block-type="shape" data-block-id="3f54587be16c28cf43ad0759542df080" style="min-width: 4px; min-height: 4px; width: 47px; height: 48px; left: 457px; top: 348px;">
    <div class="sl-block-content" data-shape-type="arrow-right" data-shape-fill-color="rgb(201, 218, 248)" data-shape-stretch="false" style="z-index: 13;">
        <svg
            xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" preserveAspectRatio="xMidYMid" viewBox="0 0 47 47">
            <polygon points="0,14.1 23.5,14.1 23.5,0 47,23.5 23.5,47 23.5,32.9 0,32.9" class="shape-element" fill="rgb(201, 218, 248)"></polygon>
        </svg>
    </div>
</div>