<div class="sl-block" data-block-type="text" style="top: 0px; height: auto; left: 64px;">
    <div class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text" style="text-align: left; z-index: 11; font-size: 90%;">
        <h1>Resizable Textarea</h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="4e262fc7cca56ab9fbe38240dadb01b8" style="min-width: 30px; min-height: 30px; width: 360px; height: 144.206px; left: 53px; top: 309px;">
    <div class="sl-block-content" style="z-index: 11; border-style: solid; border-width: 3px;">
        <a href="http://www.tomsguide.com/us/apple-ios-9,review-3073.html" target="_blank">
            <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/1728102/pasted-from-clipboard.png" style="" data-natural-width="699" data-natural-height="280"/>
        </a>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="fa8ecf4e67b1c4a155ec2fe9df6d348a" style="min-width: 30px; min-height: 30px; width: 360px; height: 224.237px; left: 540px; top: 269px;">
    <div class="sl-block-content" style="z-index: 12; border-style: solid; border-width: 3px;">
        <a href="http://www.tomsguide.com/us/apple-ios-9,review-3073.html" target="_blank">
            <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/1728143/pasted-from-clipboard.png" style="" data-natural-width="708" data-natural-height="441"/>
        </a>
    </div>
</div>
<div class="sl-block" data-block-type="shape" data-block-id="53a0711491450da8ec4b120ad3603c95" style="min-width: 4px; min-height: 4px; width: 83px; height: 46px; left: 439px; top: 358px;">
    <div class="sl-block-content" data-shape-type="arrow-right" data-shape-fill-color="rgb(111, 168, 220)" data-shape-stretch="true" style="z-index: 13;" data-shape-stroke-color="#073763" data-shape-stroke-width="1">
        <svg
            xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 83 46">
            <defs>
                <clipPath id="shape-mask-16-1442409341247">
                    <polygon points="0,13.799999999999999 41.5,13.799999999999999 41.5,0 83,23 41.5,46 41.5,32.199999999999996 0,32.199999999999996"></polygon>
                </clipPath>
            </defs>
            <polygon points="0,13.799999999999999 41.5,13.799999999999999 41.5,0 83,23 41.5,46 41.5,32.199999999999996 0,32.199999999999996" clip-path="url(#shape-mask-16-1442409341247)" class="shape-element" fill="rgb(111, 168, 220)" stroke="#073763" stroke-width="2"></polygon>
        </svg>
    </div>
</div>