<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; top: 5px; width: 952px; left: 5px;" data-block-id="109e2697f2f5db453525f9e8737cd693">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 11; text-align: left; border-width: 1px; font-size: 67%;">
        <h1 style="text-align:center">
            <span style="font-size:35.175px">Create and Integrate BBCode Bundle</span>
        </h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="8cfccc778871cd2e4ddcf21d0fd6d930" style="min-width: 30px; min-height: 30px; width: 505px; height: 520.453px; left: 135px; top: 140px;">
    <a class="sl-block-content" style="z-index: 12;" href="http://us-east1-dev-tomsforum-phpfpm1.ttr01.com:8520/app_dev.php/answers/id-2957131/changer-vitesse-lecture-synthese-vocale-samsung.html" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/314194/images/2303572/Capture_d_e_cran_2016-03-03_a__15.46.11.png" data-natural-width="817" data-natural-height="842" style=""/>
    </a>
</div>
<div class="sl-block" data-block-type="text" data-block-id="e147ad6039a4c4004eab8211e08e0a49" style="height: auto; min-width: 30px; min-height: 30px; width: 733px; left: 115px; top: 88px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 13;">
        <p>
            <a href="https://bitbucket.org/purchmedia/bbcode-bundle" target="_blank">https://bitbucket.org/purchmedia/bbcode-bundle</a>
        </p>
    </div>
</div>