<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; top: 5px; width: 952px; left: 5px;" data-block-id="109e2697f2f5db453525f9e8737cd693">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 11; text-align: left; border-width: 1px; font-size: 67%;">
        <h1 style="text-align:center">
            <span style="font-size:35.175px">Create a new thread</span>
        </h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="75dda5cf38ec9c286705631459d7513a" style="min-width: 30px; min-height: 30px; width: 804.088px; height: 360px; left: 78px; top: 153px;">
    <a class="sl-block-content" style="z-index: 12;" href="http://www.tomsguide.fr/forum/new_thread.html" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/314194/images/2346007/Capture_d_e_cran_2016-03-14_a__16.42.13.png" data-natural-width="1224" data-natural-height="548" style=""/>
    </a>
</div>