<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; top: 70px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text"
         style="z-index: 13; text-align: left; border-width: 1px;">
        <h1>Threads listing</h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="d4c3cbdd9ca889f2e891beb2e7aa58c3" style="min-width: 30px; min-height: 30px; width: 808.5px; height: 234px; left: 36px; top: 186px;">
    <a class="sl-block-content" style="z-index: 11; border: 3px solid black;" href="http://10.210.30.105:8520/forum/all.html" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/2309553/Capture_d_e_cran_2016-03-04_a__19.04.55.png" style="" data-natural-width="1078" data-natural-height="312"/>
    </a>
</div>
<div class="sl-block" data-block-type="image" data-block-id="495c12704af6a9c2f4e349d4bf7f6da3" style="min-width: 30px; min-height: 30px; width: 855.624px; height: 269px; left: 80px; top: 386px;">
    <a class="sl-block-content" style="z-index: 12; border: 3px solid black;" href="http://10.210.30.105:8520/forum/all.html" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/2309554/Capture_d_e_cran_2016-03-04_a__19.05.43.png" data-natural-width="1091" data-natural-height="343" style=""/>
    </a>
</div>