<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; top: 0;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text"
         style="z-index: 13; text-align: left; border-width: 1px;">
        <h1>Widgets in new BBCode parser</h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="40b51ae8f7a0c85799e7d3819b78c96f" style="min-width: 30px; min-height: 30px; width: 810px; height: 454.282px; left: 75px; top: 216px;">
    <a class="sl-block-content" style="z-index: 11; border: 3px solid black;" href="http://10.210.30.105:8520/forum/id-2958655/test-widget-discussion.html" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/2309740/Capture_d_e_cran_2016-03-04_a__20.07.09.png" style="" data-natural-width="1093" data-natural-height="613"/>
    </a>
</div>