<div class="sl-block" data-block-type="text" style="width: 800px; left: 80px; top: 43px; height: auto;" data-block-id="075b506a806f9140ed37549d32e6ed18">
    <div class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text" style="z-index: 10;">
        <h1>Private profile page</h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="da2726bb2024d3f3ba5c9460db4daacf" style="min-width: 30px; min-height: 30px; width: 880.159px; height: 331px; left: 40px; top: 270px;">
    <a class="sl-block-content" style="z-index: 11;" href="http://www.tomsguide.com/community/profile" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/2628309/Capture_d_e_cran_2016-05-18_a__11.05.56.png" data-natural-width="1170" data-natural-height="440" style=""/>
    </a>
</div>