<div data-block-id="3a5e02bae3bf9f9529a9a84d31d24acc" class="sl-block" data-block-type="text" style="width: 843px; left: 59px; top: 70px; height: auto;">
    <div style="z-index: 11;" class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text">
        <h1>Create Web service : Get user info</h1>
    </div>
</div>
<div data-block-id="bb8d0820c48edd99e5d678f044a6af9d" style="height: auto; min-width: 30px; min-height: 30px; width: 600px; left: 130px; top: 350px;" data-block-type="text" class="sl-block">
    <div style="z-index: 12;" data-placeholder-text="Text" data-placeholder-tag="p" class="sl-block-content">
        <p>Test with user natcparis (678938) </p>
    </div>
</div>
<div data-block-id="57fd0a48107f00f8586fdcc752600d80" style="min-width: 30px; min-height: 30px; width: 572.353px; height: 150px; left: 150px; top: 433px;" data-block-type="image" class="sl-block">
    <div style="z-index: 13;" class="sl-block-content">
        <a href="http://internal-lb-bom-qa-user-ws-621879965.us-west-2.elb.amazonaws.com:8880/user-service/docs/index.html#!/user-controller/getUserInfo" target="_blank">
            <img data-natural-height="255" data-natural-width="973" style="" src="https://s3.amazonaws.com/media-p.slid.es/uploads/305376/images/1352638/user-ws-swagger.png"/>
        </a>
    </div>
</div>
