<div data-block-id="3a5e02bae3bf9f9529a9a84d31d24acc" class="sl-block" data-block-type="text" style="width: 843px; left: 60px; top: 0px; height: auto;">
    <div style="z-index: 11;" class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text">
        <h1>Architecture</h1>
    </div>
</div>
<div data-block-id="2f0959fbf1c24d214e43804ebf4e68b7" style="min-width: 30px; min-height: 30px; width: 887px; height: 460.236px; left: 37px; top: 154px;" data-block-type="image" class="sl-block">
    <div style="z-index: 12; border-style: solid; border-width: 1px; border-radius: 5px;" class="sl-block-content">
        <img data-natural-height="495" data-natural-width="954" style="" src="https://s3.amazonaws.com/media-p.slid.es/uploads/305376/images/1352798/CommentsBundleAndUserService.png"/>
    </div>
</div>
