{% extends 'common/layout.html' %}

{% block js_var %}
    var demoDate = '';
    var demoNb = {{ sprint }};
{% endblock %}

{% block title %}Forum Squad - Demo {{ sprint }}{% endblock %}

{% block slides %}
    <section>
        <div class="sl-block" style="top: 140px; height: auto;">
            <div class="sl-block-content" style="font-size: 130%; text-align: left;">
                <h1>Demo {{ sprint }}</h1>
            </div>
        </div>
        <div class="sl-block" style="height: auto; min-width: 30px; min-height: 30px; width: 600px; left: 80px; top: 243px;">
            <div class="sl-block-content" style="text-align: left; font-size: 80%;">
                <h2>Forum Squad</h2>
            </div>
        </div>
    </section>
    <section>
        {% include 'common/toc.html' %}
    </section>

    {% for epicKey, epic in epics %}
	    <section class="stack" id="{{ epicKey }}">
            <section>
                <div class="index">
                    <h1>{{ epic.title }}</h1>
                    <ul>
                        {% for storyKey, story in epic.stories %}
                            <li><a href="https://purch1.atlassian.net/browse/{{ storyKey }}" target="_blank">{{ story.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </section>
	    	{% for storyKey, story in epic.stories %}
                {% if story.comment %}
    	    		<section>
                        <div class="generated-slide">
                            <h2>{{ story.commentTitle | safe }}</h2>
                            <div class="comment">
                                {{ story.comment | safe }}
                            </div>
                        </div>
    	    		</section>
                {% endif %}
	    	{% endfor %}
	    </section>
    {% endfor %}

    <section>
        {% include 'common/questions.html' %}
    </section>
{% endblock %}