<div data-block-id="349ff397f4a517edb267ab50672fc281" class="sl-block" data-block-type="text" style="width: 960px; left: 0px; top: 28px; height: auto;">
    <div dir="ui" style="z-index: 11;" class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text">
        <h1 style="font-size: 210%;">Forum Content Consolidation</h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="406004e3dce9911b3f25fb075b65508d" style="min-width: 30px; min-height: 30px; width: 528.496px; height: 372.5px; left: 386px; top: 313px;">
    <div class="sl-block-content" style="z-index: 12; border-style: solid; border-width: 3px;">
        <a href="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/1875251/pasted-from-clipboard.png" target="_blank">
	        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/1875251/pasted-from-clipboard.png" style="" data-natural-width="1118" data-natural-height="788"/>
	    </a>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="f13a2fd53e6bddebf597e904a16f480f" style="min-width: 30px; min-height: 30px; width: 680.496px; height: 307px; left: 18px; top: 160px;">
    <div class="sl-block-content" style="z-index: 11; border-style: solid; border-width: 3px;">
    	<a href="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/1875252/pasted-from-clipboard.png" target="_blank">
	        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/1875252/pasted-from-clipboard.png" style="" data-natural-width="1095" data-natural-height="494"/>
	    </a>
    </div>
</div>