<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; top: 70px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text"
         style="z-index: 13; text-align: left; border-width: 1px;">
        <h1>Answer edition by modo</h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="f0dd0f0a0b1739b35b5491ee75bb337a" style="min-width: 30px; min-height: 30px; width: 449.208px; height: 124px; left: 256px; top: 366px;">
    <a class="sl-block-content" style="z-index: 11;" href="http://www.tomsguide.com/forum/id-2268424/rid-daughter-ipod.html" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/2713035/Capture_d_e_cran_2016-06-06_a__13.58.16.png" data-natural-width="384" data-natural-height="106" style=""/>
    </a>
</div>