<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; top: 5px; width: 952px; left: 5px;" data-block-id="109e2697f2f5db453525f9e8737cd693">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 11; text-align: left; border-width: 1px; font-size: 67%;">
        <h1 style="text-align:center">
            <span>
                <span style="font-size:0.7em">Apply new header on forum pages</span>
            </span>
        </h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="46ef48d15243778cc79cd5d81bb8a454" style="min-width: 30px; min-height: 30px; width: 820.578px; height: 418px; left: 29px; top: 87px;">
    <div class="sl-block-content" style="z-index: 12;">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/314194/images/2650942/Capture_d_e_cran_2016-05-23_a__14.19.56.png" data-natural-width="1543" data-natural-height="786" style=""/>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="57c860a2e7f73691ea07fe9543249bc4" style="min-width: 30px; min-height: 30px; width: 758.284px; height: 425px; left: 122px; top: 148px;">
    <div class="sl-block-content" style="z-index: 13;">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/314194/images/2650943/Capture_d_e_cran_2016-05-23_a__14.21.01.png" data-natural-width="1513" data-natural-height="848" style=""/>
    </div>
</div>
<div class="sl-block" data-block-type="text" data-block-id="c0d17a125e271f7aabbab411e630a227" style="height: auto; min-width: 30px; min-height: 30px; width: 748px; left: 18px; top: 566px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 14;">
        <p>upgrading of tomsguideBundle was also made</p>
    </div>
</div>