<div class="sl-block" data-block-type="text" style="width: 800px; left: 86px; top: 20px; height: auto;" data-block-id="271a78d52a9b7c24460e857d0c7579bc">
    <div class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text" data-has-custom-html="" style="z-index: 11;">
        <h1>
            <span style="font-size: 35.175px; line-height: 45.7275px;">Spinner in elements doing ajax requests</span>
        </h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" style="min-width: 30px; min-height: 30px; width: 361.2px; height: 540px; left: 60px; top: 130px;" data-block-id="672d124547dc2be213975458573396e1">
    <div class="sl-block-content" style="z-index: 12;">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/472730/images/2650442/Spinner-with-icon.png" data-natural-width="602" data-natural-height="900"/>
    </div>
</div>
<div class="sl-block" data-block-type="image" style="min-width: 30px; min-height: 30px; width: 361.2px; height: 540px; left: 460px; top: 130px;" data-block-id="a429c715db111c56ef313402365d6ea4">
    <div class="sl-block-content" style="z-index: 13;">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/472730/images/2650452/Spinner-in-form.png" data-natural-width="602" data-natural-height="900"/>
    </div>
</div>
