<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; top: 5px; width: 952px; left: 5px;" data-block-id="109e2697f2f5db453525f9e8737cd693">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 10; text-align: left; border-width: 1px; font-size: 67%;">
        <h1 style="text-align:center">
            <span>
                <span style="font-size:0.7em">Forms design</span>
            </span>
        </h1>
    </div>
</div>
<div class="sl-block" data-block-type="text" data-block-id="fd19976b48c8b5b5b9d673d17eb88274" style="height: auto; min-width: 30px; min-height: 30px; width: 791px; left: 0px; top: 630px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 11;">
        <p>We have built a full css responsive wizard form solution</p>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="f45d26070c4f3c67773eec8e30e0f841" style="min-width: 30px; min-height: 30px; width: 504.594px; height: 295px; left: 80px; top: 70px;">
    <a class="sl-block-content" style="z-index: 12; border-style: solid; border-width: 1px;" href="http://www.tomsguide.com/forum/new_thread.html" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/314194/images/2673530/Capture_d_e_cran_2016-05-27_a__10.41.15.png" data-natural-width="1158" data-natural-height="677" style=""/>
    </a>
</div>
<div class="sl-block" data-block-type="image" data-block-id="ac1196e2314e9df861faffd21185a774" style="min-width: 30px; min-height: 30px; width: 252px; height: 156.684px; left: 0px; top: 420px;">
    <div class="sl-block-content" style="z-index: 14; border-style: solid; border-width: 1px;">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/314194/images/2673533/Capture_d_e_cran_2016-05-27_a__10.41.35.png" data-natural-width="386" data-natural-height="240" style=""/>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="0f04af096b651962e5107e7cd973afd9" style="min-width: 30px; min-height: 30px; width: 229.568px; height: 273px; left: 307px; top: 365px;">
    <div class="sl-block-content" style="z-index: 13; border-style: solid; border-width: 1px;">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/314194/images/2673537/Capture_d_e_cran_2016-05-27_a__10.41.45.png" data-natural-width="370" data-natural-height="440" style=""/>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="887d7ad01f17c5867d80fe8f66434a15" style="min-width: 30px; min-height: 30px; width: 281.835px; height: 160px; left: 600px; top: 417px;">
    <div class="sl-block-content" style="z-index: 15; border-style: solid; border-width: 1px;">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/314194/images/2673540/Capture_d_e_cran_2016-05-27_a__10.42.01.png" data-natural-width="384" data-natural-height="218" style=""/>
    </div>
</div>
<div class="sl-block" data-block-type="line" data-block-id="aab072c20a61507df5b768fa0e611cdd" style="width: auto; height: auto; min-width: 1px; min-height: 1px; left: 227px; top: 499px;">
    <div class="sl-block-content" data-line-x1="101" data-line-y1="0" data-line-x2="200" data-line-y2="0" data-line-color="#000000" data-line-start-type="none" data-line-end-type="line-arrow" style="z-index: 16;" data-line-width="10px">
        <svg
            xmlns="http://www.w3.org/2000/svg" version="1.1" preserveAspectRatio="xMidYMid" width="99" height="1" viewBox="101 0 99 1">
            <line stroke="rgba(0,0,0,0)" stroke-width="15" x1="101" y1="0" x2="193" y2="0"></line>
            <line stroke="#000000" stroke-width="10" x1="101" y1="0" x2="193" y2="0"></line>
            <path style="fill: rgba(0,0,0,0);" stroke="#000000" stroke-width="10" transform="translate(193,0) rotate(90)" d="M 22.5 22.5 L 0 0 L -22.5 22.5"></path>
        </svg>
    </div>
</div>
<div class="sl-block" data-block-type="line" style="width: auto; height: auto; min-width: 1px; min-height: 1px; left: 518px; top: 498px;" data-block-id="5272144560c10646ed2468f48ab1ed47">
    <div class="sl-block-content" data-line-x1="101" data-line-y1="0" data-line-x2="200" data-line-y2="0" data-line-color="#000000" data-line-start-type="none" data-line-end-type="line-arrow" style="z-index: 18;" data-line-width="10px">
        <svg
            xmlns="http://www.w3.org/2000/svg" version="1.1" preserveAspectRatio="xMidYMid" width="99" height="1" viewBox="101 0 99 1">
            <line stroke="rgba(0,0,0,0)" stroke-width="15" x1="101" y1="0" x2="193" y2="0"></line>
            <line stroke="#000000" stroke-width="10" x1="101" y1="0" x2="193" y2="0"></line>
            <path style="fill: rgba(0,0,0,0);" stroke="#000000" stroke-width="10" transform="translate(193,0) rotate(90)" d="M 22.5 22.5 L 0 0 L -22.5 22.5"></path>
        </svg>
    </div>
</div>