{% extends 'common/layout.html' %}

{% block js_var %}
    var demoDate = '2016-01-18';
    var demoNb = 42;
{% endblock %}

{% block slides %}
    <section>
        {% include 'common/intro.html' %}
    </section>
    <section>
        {% include 'common/toc.html' %}
    </section>
    <section>
        {% include 'demo42-slides/rois.html' %}
    </section>    

    <section class="stack" id="GRE-1582">
        <section>
            {% include 'demo42-slides/support/index.html' %}
        </section>
        <section>
            {% include 'demo42-slides/support/new-relic.html' %}
        </section>
        <section>
            {% include 'demo42-slides/support/herald.html' %}
        </section>
    </section>

    <section class="stack" id="GRE-4531">
        <section>
            {% include 'demo42-slides/shieldsquare-toms/index.html' %}
        </section>
        <section>
            {% include 'demo42-slides/shieldsquare-toms/calendar.html' %}
        </section>        
        <section>
            {% include 'demo42-slides/shieldsquare-toms/varnish.html' %}
        </section>
        <section>
            {% include 'demo42-slides/shieldsquare-toms/other-success.html' %}
        </section>
        <section>
            {% include 'demo42-slides/shieldsquare-toms/caveats.html' %}
        </section>
    </section>

    <section class="stack" id="GRE-3491">
        <section>
            {% include 'demo42-slides/forum-content-consolidation/index.html' %}
        </section>
        <section>
            {% include 'demo42-slides/forum-content-consolidation/boost-faq.html' %}
        </section>
        <section>
            {% include 'demo42-slides/forum-content-consolidation/unmerge.html' %}
        </section>        
        <section>
            {% include 'demo42-slides/forum-content-consolidation/append.html' %}
        </section>
    </section>

    <section class="stack" id="GRE-4493">
        <section>
            {% include 'demo42-slides/tgfr-edito-migration/index.html' %}
        </section>
        <section>
            {% include 'demo42-slides/tgfr-edito-migration/comments.html' %}
        </section>        
        <section>
            {% include 'demo42-slides/tgfr-edito-migration/sso.html' %}
        </section>
    </section>

    <section class="stack" id="GRE-4492">
        <section>
            {% include 'demo42-slides/sso-post-launch/index.html' %}
        </section>
        <section>
            {% include 'demo42-slides/support/sso_logo.html' %}
        </section>        
    </section>

    <section class="stack" id="GRE-3842">
        <section>
            {% include 'demo42-slides/tgus-forum-replatforming/index.html' %}
        </section>
        <section>
            {% include 'demo42-slides/tgus-forum-replatforming/swagger-definitions.html' %}
        </section>
        <section>
            {% include 'demo42-slides/tgus-forum-replatforming/codedeploy.html' %}
        </section>   
        <section>
            {% include 'demo42-slides/tgus-forum-replatforming/answers.html' %}
        </section>
        <section>
            {% include 'demo42-slides/tgus-forum-replatforming/status-and-type.html' %}
        </section>
    </section>

    <section>
        {% include 'common/questions.html' %}
    </section>
{% endblock %}
