<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; top: -69px; left: -91px; width: 1051px;" data-block-id="fd532d3e8e88a8d71600705c7cce97c9">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 11; text-align: center; border-width: 1px;">
        <h2>
            <span style="font-size:0.9em">ROI - members engagement</span>
        </h2>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="4676cf794e2c07b78f41a46da85a9541" style="min-width: 30px; min-height: 30px; width: 1256.2px; height: 700px; left: -159.202px; top: 2px;">
    <div class="sl-block-content" style="z-index: 13;">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/315454/images/2142961/member-engagement-EN-FR.png" data-natural-width="1389" data-natural-height="774" style=""/>
    </div>
</div>