<div class="sl-block" data-block-type="text" data-block-id="b406196a8f4c303f230107477e80287b"
     style="height: auto; min-width: 30px; min-height: 30px; width: 800px; left: 80px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text"
         style="z-index: 13; text-align: left; border-width: 1px;">
        <h1 style="font-size: 2.2em">Send read event to User Activity</h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="5aff558755c3f7927d89edf723a0eb6b" style="min-width: 30px; min-height: 30px; width: 558px; height: 469.744897959814px; left: 201px; top: 191px;">
    <div class="sl-block-content" style="z-index: 11; border-style: solid; border-width: 3px;">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/1522745/Article_Viewed_Event__1_.png" style="" data-natural-width="784" data-natural-height="660"/>
    </div>
</div>