<div class="sl-block" data-block-type="text" data-block-id="b406196a8f4c303f230107477e80287b" style="height: auto; min-width: 30px; min-height: 30px; width: 800px; left: 104px; top: 28px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 13; text-align: left; border-width: 1px;">
        <h1 style="font-size:2.2em">Ask an Expert Feature</h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="5aff558755c3f7927d89edf723a0eb6b" style="min-width: 30px; min-height: 30px; width: 828.321428571429px; height: 405px; left: 80px; top: 140px;">
    <a class="sl-block-content" style="z-index: 11; border-style: solid; border-width: 3px;" href="http://tomsguide.dev-web1.ttr01.com:8282/us/oral-b-smartseries,review-2294.html" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/314194/images/1538174/ask-an-expert.png" style="" data-natural-width="859" data-natural-height="420"/>
    </a>
</div>