<div class="sl-block" data-block-type="text" data-block-id="b406196a8f4c303f230107477e80287b" style="height: auto; min-width: 30px; min-height: 30px; width: 765px; left: 115px; top: 40px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 12; text-align: left; border-width: 1px;">
        <h1 style="font-size: 2.2em; text-align: center;">Use pecl_http through core-services</h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="5aff558755c3f7927d89edf723a0eb6b" style="min-width: 30px; min-height: 30px; width: 960px; height: 128.935281837161px; left: 0px; top: 286px;">
    <a class="sl-block-content" style="z-index: 11; border-width: 3px; border-style: solid;" href="http://tomsguide.dev-web1.ttr01.com:8282/us/oral-b-smartseries,review-2294.html" target="_blank">
        <img style="" data-natural-width="1437" data-natural-height="193" src="https://s3.amazonaws.com/media-p.slid.es/uploads/314194/images/1541364/comments_webservices_calls_through_core-services.png"/>
    </a>
</div>
<div class="sl-block" data-block-type="text" data-block-id="c5f391976eaf2488fdc4ab79719c769d" style="height: auto; min-width: 30px; min-height: 30px; width: 600px; left: 0px; top: 420px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 13;">
        <p>We did the same in commentsBundle (used in Laptopmag)</p>
    </div>
</div>