<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; top: 70px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text"
         style="z-index: 13; text-align: left; border-width: 1px;">
        <h1>Status Filter</h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="9a3cc95f607f1bcac3df17aa7e8ec935" style="min-width: 30px; min-height: 30px; width: 865.772px; height: 297px; left: 47px; top: 308px;">
    <a class="sl-block-content" style="z-index: 11;" href="http://www.tomsguide.com/forum/all.html" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/2714077/Capture_d_e_cran_2016-06-06_a__18.01.31.png" data-natural-width="755" data-natural-height="259" style=""/>
    </a>
</div>