<div class="sl-block" data-block-type="text" style="width: 800px; left: 90px; top: 1px; height: auto;" data-block-id="271a78d52a9b7c24460e857d0c7579bc">
    <div class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text" data-has-custom-html="" style="z-index: 11;">
    	<h1 style="text-align:center">
		<span style="font-size:35.175px">Close/Reopen thread</span>
        </h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" style="min-width: 30px; min-height: 30px; width: 240px; height: 483.221px; left: 80px; top: 140px;" data-block-id="cf80fa06351ed6c591ecfa5e235a5cb7">
    <div class="sl-block-content" style="z-index: 12; box-shadow: 0 0 10px grey;">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/472730/images/2483426/Capture_du_2016-04-15_09_23_55.png" data-natural-width="447" data-natural-height="900"/>
    </div>
</div>
<div class="sl-block" data-block-type="image" style="min-width: 30px; min-height: 30px; width: 239.89px; height: 483px; left: 480px; top: 140px;" data-block-id="1b5ef1420f3352d6beaffbac64886142">
    <div class="sl-block-content" style="z-index: 13; box-shadow: 0 0 10px grey;">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/472730/images/2483427/Capture_du_2016-04-15_09_24_11.png" data-natural-width="447" data-natural-height="900"/>
    </div>
</div>
