<div class="sl-block" data-block-type="text" style="width: 800px; left: 90px; top: 5px; height: auto;" data-block-id="271a78d52a9b7c24460e857d0c7579bc">
    <div class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text" data-has-custom-html="" style="z-index: 11;">
        <h1 style="text-align:center">
		<span style="font-size:35.175px">Display solved thread</span>
        </h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" style="min-width: 30px; min-height: 30px; width: 235.744px; height: 433px; left: 368px; top: 120px;" data-block-id="1aa081d877c567820e92f3cc63479b74">
    <div class="sl-block-content" style="z-index: 12;">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/472730/images/2543488/ThreadSolved.png" data-natural-width="490" data-natural-height="900"/>
    </div>
</div>
