<div class="sl-block" data-block-type="text" style="width: 800px; left: 80px; top: 1px; height: auto;" data-block-id="271a78d52a9b7c24460e857d0c7579bc">
    <div class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text" data-has-custom-html="" style="z-index: 11;">
    	<h1 style="text-align:center">
		<span style="font-size:35.175px">Display closed thread</span>
	</h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" style="min-width: 30px; min-height: 30px; width: 301.147px; height: 491px; left: 90px; top: 139px;" data-block-id="bcaacc4d7f7bb46cbe40340b6a79a594">
    <div class="sl-block-content" style="z-index: 12; box-shadow: 0 0 10px grey;">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/472730/images/2463207/thread-open.png" data-natural-width="552" data-natural-height="900"/>
    </div>
</div>
<div class="sl-block" data-block-type="image" style="min-width: 30px; min-height: 30px; width: 350.247px; height: 491px; left: 530px; top: 139px;" data-block-id="6e7139f14bbd9594b7d4b823f9985f67">
    <div class="sl-block-content" style="z-index: 13; box-shadow: 0 0 10px grey;">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/472730/images/2463210/thread-closed.png" data-natural-width="642" data-natural-height="900"/>
    </div>
</div>
