<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; top: 70px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text"
         style="z-index: 13; text-align: left; border-width: 1px;">
        <h1>Category filter</h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="5f9ee903320e9ae070f8f6aa8b8a4fb8" style="min-width: 30px; min-height: 30px; width: 836.203px; height: 295px; left: 62px; top: 229px;">
    <a class="sl-block-content" style="z-index: 11; border-width: 1px;" href="http://www.tomsguide.com/forum/all.html" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/2662894/Capture_d_e_cran_2016-05-25_a__15.34.07.png" data-natural-width="754" data-natural-height="266" style=""/>
    </a>
</div>