<div class="sl-block" data-block-type="text" style="width: 800px; left: 86px; top: 25px; height: auto;" data-block-id="271a78d52a9b7c24460e857d0c7579bc">
    <div class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text" data-has-custom-html="" style="z-index: 11;">
        <h1>
            <span style="font-size: 35.175px; line-height: 45.7275px;">Filter Remove One / All </span>
        </h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" style="min-width: 30px; min-height: 30px; width: 301.6px; height: 522px; left: 329px; top: 110px;" data-block-id="ac891d8a3da3b53cca3700ae979565b8">
    <div class="sl-block-content" style="z-index: 12;">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/472730/images/2674347/FilterRemoveOneAndRemoveAll.png" data-natural-width="520" data-natural-height="900"/>
    </div>
</div>
