<div class="sl-block" data-block-type="text" style="width: 800px; left: 80px; top: 22px; height: auto;" data-block-id="8f8e8c6f9969e86d5d856b4400c04c3a">
    <div class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text" style="z-index: 10;">
        <h1>Filter listing on tags</h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="6195d1033a21b8214ff223bd8ba9d4ff" style="min-width: 30px; min-height: 30px; width: 645.752px; height: 390px; left: 154px; top: 190px;">
    <a class="sl-block-content" style="z-index: 12;" href="http://www.tomsguide.com/forum/all.html?filter%5B%5D=category%3A6&amp;q=&amp;filter%5B%5D=tagSlug%3Aheadsets" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305376/images/2682327/Screen_Shot_2016-05-30_at_12.01.17.png" data-natural-width="760" data-natural-height="459" style=""/>
    </a>
</div>