<div class="sl-block" data-block-type="text" style="width: 800px; left: 73px; top: 22px; height: auto;" data-block-id="143daecc3567f37cdd01cac59cbd5c3a">
    <div class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text" style="z-index: 10;">
        <h1>Sticky listed first</h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="c0969254f617c708737d4128d921c0ae" style="min-width: 30px; min-height: 30px; width: 565.355px; height: 428px; left: 190px; top: 160px;">
    <a class="sl-block-content" style="z-index: 12;" href="http://www.tomsguide.com/forum/all.html?q=&amp;filter%5B%5D=category%3A6" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305376/images/2670700/Screen_Shot_2016-05-26_at_18.14.24.png" data-natural-width="745" data-natural-height="564" style=""/>
    </a>
</div>