<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; top: 70px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text"
         style="z-index: 13; text-align: left; border-width: 1px;">
        <h1>Notifications count</h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="8c764b119150f0e141307a5e6d372d22" style="min-width: 30px; min-height: 30px; width: 234.375px; height: 300px; left: 363px; top: 270px;">
    <a class="sl-block-content" style="z-index: 11; border-style: solid; border-width: 3px;" href="http://www.tomsguide.com" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/1899562/pasted-from-clipboard.png" data-natural-width="200" data-natural-height="256" style=""/>
    </a>
</div>