{% extends 'common/layout.html' %}

{% block js_var %}
    var demoDate = '2015-09-14';
    var demoNb = 33;
{% endblock %}

{% block slides %}
    <section>
        {% include 'common/intro.html' %}
    </section>
    <section>
        {% include 'common/toc.html' %}
    </section>
    <section class="stack" id="GRE-3208">
        <section>
            {% include 'demo33-slides/tgus_redesign/index.html' %}
        </section>
        <section>
            {% include 'demo33-slides/tgus_redesign/index2.html' %}
        </section>
        <section>
            {% include 'demo33-slides/tgus_redesign/index3.html' %}
        </section>
        <section>
            {% include 'demo33-slides/tgus_redesign/stateless_csrf.html' %}
        </section>           
        <section>        
            {% include 'demo33-slides/tgus_redesign/kibana_performances.html' %}
        </section>              
        <section>        
            {% include 'demo33-slides/tgus_redesign/cache_strategy_visitor.html' %}
        </section>              
        <section>        
            {% include 'demo33-slides/tgus_redesign/cache_strategy_connected.html' %}
        </section>              
        <section>
            {% include 'demo33-slides/tgus_redesign/comments_ws_performances.html' %}
        </section>
        <section>
            {% include 'demo33-slides/tgus_redesign/merge_calls.html' %}
        </section>
        <section>
            {% include 'demo33-slides/tgus_redesign/ref_invers_get_comments.html' %}
        </section>
        <section>
            {% include 'demo33-slides/tgus_redesign/hystrix.html' %}
        </section>
    </section>
    <section class="stack" id="GRE-1556">
        <section>
            {% include 'demo33-slides/comments_in_ltm/index.html' %}
        </section>
        <section>
            {% include 'demo33-slides/comments_in_ltm/LTM_comments_ws_performances.html' %}
        </section>
    </section>     
    <section class="stack" id="GRE-2048">
        <section>
            {% include 'demo33-slides/forum_recategorization/index.html' %}
        </section>
        <section>
            {% include 'demo33-slides/forum_recategorization/forum_recategorization.html' %}
        </section>
    </section>    
    <section class="stack">
        <section>
            {% include 'demo33-slides/discovery/discovery.html' %}
        </section>
    </section>
    <section>
        {% include 'common/questions.html' %}
    </section>
{% endblock %}
