<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; top: 0;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text"
         style="z-index: 13; text-align: left; border-width: 1px;">
        <h1>Deleted answers</h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="27c307bf1426709199dad491dbdb33f4" style="min-width: 30px; min-height: 30px; width: 406px; height: 558.071px; left: 280px; top: 107px;">
    <a class="sl-block-content" style="z-index: 11;" href="http://www.tomsguide.com/forum/id-2257210/oral-smartseries-bluetooth-toothbrush-review.html" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/2561200/Capture_d_e_cran_2016-05-03_a__14.52.36.png" data-natural-width="566" data-natural-height="778" style=""/>
    </a>
</div>