<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; top: 0;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text"
         style="z-index: 13; text-align: left; border-width: 1px;">
        <h1>Delete answer</h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="f1c2ee300264316c9cc51e9a037e7016" style="min-width: 30px; min-height: 30px; width: 783.884px; height: 158px; left: 141px; top: 221px;">
    <a class="sl-block-content" style="z-index: 12;" href="http://www.tomsguide.com/forum/id-2268284/awesome-answer.html" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/2532106/Capture_d_e_cran_2016-04-26_a__11.39.31.png" data-natural-width="769" data-natural-height="155" style=""/>
    </a>
</div>
<div class="sl-block" data-block-type="image" data-block-id="79b40a4beef70414b3bf9e7a621f82df" style="min-width: 30px; min-height: 30px; width: 684.261px; height: 340px; left: 45px; top: 334px;">
    <a class="sl-block-content" style="z-index: 11;" href="http://www.tomsguide.com/forum/id-2268284/awesome-answer.html" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/2532107/Capture_d_e_cran_2016-04-26_a__11.39.52.png" style="" data-natural-width="803" data-natural-height="399"/>
    </a>
</div>