<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; top: 70px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text"
         style="z-index: 13; text-align: left; border-width: 1px;">
        <h1>Thread pagination</h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="ea0c91efa660c430cb9c6c59098dd086" style="min-width: 30px; min-height: 30px; width: 916.683px; height: 174px; left: 22px; top: 306px;">
    <a class="sl-block-content" style="z-index: 11; border: 3px solid black;" href="http://10.210.30.105:8520/forum/id-1761181/bar-matos-idn/page-12.html" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/2200173/Capture_d_e_cran_2016-02-03_a__15.05.27.png" style="" data-natural-width="864" data-natural-height="164"/>
    </a>
</div>