<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; top: 5px; width: 952px; left: 5px;" data-block-id="109e2697f2f5db453525f9e8737cd693">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 11; text-align: left; border-width: 1px; font-size: 67%;">
        <h1 style="text-align:center">
            <span style="font-size:35.175px">Jenkins jobs for continuous integration</span>
        </h1>
    </div>
</div>
<div class="sl-block" data-block-type="shape" style="min-width: 4px; min-height: 4px; width: 80px; height: 32px; left: 200px; top: 434px;" data-block-id="f6e97bcf96d6ab3469e7eec8a460486f">
    <div class="sl-block-content" data-shape-type="rect" data-shape-fill-color="rgb(255, 255, 255)" data-shape-stretch="true" style="z-index: 12;">
        <svg
            xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 80 32">
            <rect width="80" height="32" class="shape-element" fill="rgb(255, 255, 255)"></rect>
        </svg>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="3fd5f91139f6d411fad5ee3f23f994a9" style="min-width: 30px; min-height: 30px; width: 67px; height: 67px; left: 311px; top: 177px;">
    <a class="sl-block-content" style="z-index: 14;" href="http://us-east1-dev-jenkins1.ttr01.com:8080/view/TomsForum/" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/314194/images/1773086/plan_photo_1347191970.jpg" data-natural-width="550" data-natural-height="550" style=""/>
    </a>
</div>
<div class="sl-block" data-block-type="image" data-block-id="33544359fba8e0b1bd73c2917f2010cb" style="min-width: 30px; min-height: 30px; width: 788px; height: 591px; left: 80px; top: 79px;">
    <div class="sl-block-content" style="z-index: 13;">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/314194/images/2288720/IMG_1564.jpeg" style="" data-natural-width="1200" data-natural-height="900"/>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="08d17ad479d969dc6e0cdfecfc9b2c60" style="min-width: 30px; min-height: 30px; width: 110.731px; height: 76px; left: 225px; top: 428px;">
    <div class="sl-block-content" style="z-index: 15;">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/314194/images/2082900/AWSCodeDeployLogo.jpg" style="" data-natural-width="271" data-natural-height="186"/>
    </div>
</div>
<div class="sl-block" data-block-type="image" style="min-width: 30px; min-height: 30px; width: 67px; height: 67px; left: 474px; top: 417px;" data-block-id="57746c5ade89f529dd425d0fd9afffbe">
    <a class="sl-block-content" style="z-index: 16;" href="http://us-east1-dev-jenkins1.ttr01.com:8080/view/TomsForum/" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/314194/images/1773086/plan_photo_1347191970.jpg" data-natural-width="550" data-natural-height="550" style=""/>
    </a>
</div>
<div class="sl-block" data-block-type="image" data-block-id="a8e7c44770866239b0c947f2004627e7" style="min-width: 30px; min-height: 30px; width: 51px; height: 51px; left: 89px; top: 201px;">
    <div class="sl-block-content" style="z-index: 17;">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/314194/images/1761446/07861949-photo-docker.jpg" data-natural-width="400" data-natural-height="400" style=""/>
    </div>
</div>
<div class="sl-block" data-block-type="image" style="min-width: 30px; min-height: 30px; width: 51px; height: 51px; left: 89px; top: 560px;" data-block-id="905328133c789701c352f2190cf8c209">
    <div class="sl-block-content" style="z-index: 18;">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/314194/images/1761446/07861949-photo-docker.jpg" data-natural-width="400" data-natural-height="400" style=""/>
    </div>
</div>
<div class="sl-block" data-block-type="image" style="min-width: 30px; min-height: 30px; width: 51px; height: 51px; left: 364px; top: 586px;" data-block-id="e922dc02c9dee0d572be0b005157854a">
    <div class="sl-block-content" style="z-index: 19;">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/314194/images/1761446/07861949-photo-docker.jpg" data-natural-width="400" data-natural-height="400" style=""/>
    </div>
</div>
<div class="sl-block" data-block-type="image" style="min-width: 30px; min-height: 30px; width: 51px; height: 51px; left: 336px; top: 349px;" data-block-id="acf7c6890f850a4e55cb3fe4cddf7ed3">
    <div class="sl-block-content" style="z-index: 20;">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/314194/images/1761446/07861949-photo-docker.jpg" data-natural-width="400" data-natural-height="400" style=""/>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="9f35caeaed8c405bf95c4665e58e281a" style="min-width: 30px; min-height: 30px; width: 53px; height: 53px; left: 625px; top: 252px;">
    <div class="sl-block-content" style="z-index: 21;">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/314194/images/2288744/bitbucket-logo.png" data-natural-width="248" data-natural-height="248" style=""/>
    </div>
</div>