<div class="sl-block" data-block-type="text" style="top: 140px; height: auto;"
     data-block-id="4c6db94ba023951df7ca5636c7adc0fb">
    <div class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text"
         style="font-size: 130%; text-align: left;">
        <h1>Demo {{ sprint }}</h1>
    </div>
</div>
<div class="sl-block" data-block-type="text" data-block-id="6679d2e57ff3d4a632a04f25c8c38371"
     style="height: auto; min-width: 30px; min-height: 30px; width: 600px; left: 80px; top: 243px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text"
         style="text-align: left; font-size: 80%;">
        <h2>Grenoble Team</h2>
    </div>
</div>
