<!DOCTYPE html>
<html class="sl-root decks export loaded ua-phantomjs reveal-viewport theme-font-montserrat theme-color-white-blue">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>
        {% block title %}
            Grenoble Team - Demo ##
        {% endblock %}
    </title>
    <meta name="description" content="Slides">
    <link rel="stylesheet" href="/css/revealjs.css"/>
    <link rel="stylesheet" href="/css/teagre.css"/>
    <meta content="authenticity_token" name="csrf-param"/>
    <meta content="0xNRbrw9A41WeuWByIojyiMhN3sQ4uyyWyMPv2qF6QI=" name="csrf-token"/>
    <style id="user-css-output" type="text/css"></style>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script>
        {% block js_var %}
            var demoDate = '2015-05-11';
            var demoNb = 24;
        {% endblock %}
    </script>
</head>
<body>
<div class="reveal">
    <div class="slides">
        {% block slides %}{% endblock %}
    </div>
</div>


<script>
    var SLConfig = {
        "current_user": {
            "id": 305116,
            "username": "loicgiraudel",
            "name": "Loic Giraudel",
            "description": null,
            "thumbnail_url": "https://lh4.googleusercontent.com/-rAoWtnDU_fE/AAAAAAAAAAI/AAAAAAAAB00/VeXburG7n9E/photo.jpg?sz=50",
            "pro": false,
            "enterprise": false,
            "enterprise_manager": false,
            "registered": true,
            "email": "l.giraudel@gmail.com",
            "notify_on_receipt": true,
            "billing_address": null,
            "editor_tutorial_completed": true,
            "settings": {
                "id": 133511,
                "present_controls": true,
                "present_upsizing": true,
                "editor_grid": true,
                "editor_snap": true,
                "developer_mode": true
            }
        },
        "deck": {
            "id": 383493,
            "slug": "deck",
            "title": "deck",
            "description": "",
            "visibility": "all",
            "published_at": "2015-04-07T19:10:21.443Z",
            "sanitize_messages": null,
            "thumbnail_url": "https://s3.amazonaws.com/media-p.slid.es/thumbnails/secure/db1939/decks.jpg",
            "view_count": 0,
            "user": {
                "id": 305116,
                "username": "loicgiraudel",
                "name": "Loic Giraudel",
                "description": null,
                "thumbnail_url": "https://lh4.googleusercontent.com/-rAoWtnDU_fE/AAAAAAAAAAI/AAAAAAAAB00/VeXburG7n9E/photo.jpg?sz=50",
                "pro": false,
                "enterprise": false,
                "enterprise_manager": false,
                "registered": true
            },
            "background_transition": "slide",
            "transition": "convex",
            "theme_id": null,
            "theme_font": "montserrat",
            "theme_color": "white-blue",
            "auto_slide_interval": 0,
            "comments_enabled": true,
            "forking_enabled": true,
            "rolling_links": false,
            "center": false,
            "should_loop": false,
            "rtl": false,
            "version": 2,
            "access_token": "PFxYBYFyspXexWAqsFSxJTUFQoAr",
            "notes": {}
        }
    };
</script>

<script src="/js/reveal.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.2/raphael-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/graphael/0.5.1/g.raphael-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/graphael/0.5.1/g.pie-min.js"></script>
<script src="/js/util.js"></script>
<script>
    Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        mouseWheel: false,

        autoSlide: SLConfig.deck.auto_slide_interval || 0,
        autoSlideStoppable: true,

        rollingLinks: false,
        center: SLConfig.deck.center || false,
        loop: SLConfig.deck.should_loop || false,
        rtl: SLConfig.deck.rtl || false,

        transition: SLConfig.deck.transition,
        backgroundTransition: SLConfig.deck.background_transition
    });

    if (window.hljs) hljs.initHighlightingOnLoad();

</script>
<script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="/js/teagre.js"></script>
</body>
</html>
