<div class="sl-block" data-block-type="text" style="width: 800px; left: 80px; top: 5px; height: auto;" data-block-id="271a78d52a9b7c24460e857d0c7579bc">
    <div class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text" data-has-custom-html="" style="z-index: 11;">
        <h1 style="text-align:center">
		<span style="font-size:35.175px">Display post avatar</span>
        </h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" style="min-width: 30px; min-height: 30px; width: 592.242222222222px; height: 514px; left: 193px; top: 140px;" data-block-id="fb69cbf91c7fc424654baff3b8e245ab">
    <div class="sl-block-content" style="z-index: 12; box-shadow: 0 0 10px grey;">
        <img data-natural-width="1037" data-natural-height="900" src="https://s3.amazonaws.com/media-p.slid.es/uploads/472730/images/2389536/Capture_du_2016-03-25_17_29_59.png"/>
    </div>
</div>
