<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; top: 70px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text"
         style="z-index: 13; text-align: left; border-width: 1px;">
        <h1>TFR - Core Thread</h1>
    </div>
</div>
<div class="sl-block" data-block-type="text" style="height: auto; width: 100%; left: 27px; top: 245px;"
     data-block-id="d159f9fc7e016eeb50eb1d040e4a7cf7">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text"
         style="z-index: 14; font-size: 70%;" dir="ui">
        <ul>
        <li><span class="jira-story with-title">GRE-5232</span></li>
        <li><span class="jira-story with-title">GRE-5195</span></li>
        <li><span class="jira-story with-title">GRE-5153</span></li>
        <li><span class="jira-story with-title">GRE-5099</span></li>
        <li><span class="jira-story with-title">GRE-5098</span></li>
        <li><span class="jira-story with-title">GRE-5094</span></li>
        <li><span class="jira-story with-title">GRE-5093</span></li>
        <li><span class="jira-story with-title">GRE-4986</span></li>
        <li><span class="jira-story with-title">GRE-5094</span></li>
        <li><span class="jira-story with-title">GRE-5138</span></li>
        <li><span class="jira-story with-title">GRE-5147</span></li>
        <li><span class="jira-story with-title">GRE-5386</span></li>
        <li><span class="jira-story with-title">GRE-5460</span></li>
        <li><span class="jira-story with-title">GRE-5397</span></li>
        <li><span class="jira-story with-title">GRE-5398</span></li>
        <li><span class="jira-story with-title">GRE-5328</span></li>
        </ul>
    </div>
</div>
