<div class="sl-block" data-block-type="text" style="width: 800px; left: 80px; top: 5px; height: auto;" data-block-id="271a78d52a9b7c24460e857d0c7579bc">
    <div class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text" data-has-custom-html="" style="z-index: 11;">
	<h1 style="text-align:center">
        	<span style="font-size:35.175px">Rules and Privacy links in the answer form</span>
	</h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" style="min-width: 30px; min-height: 30px; width: 698.742028985507px; height: 514px; left: 145.128985507246px; top: 140px;" data-block-id="61f9777efca172a88be6a3599980455d">
    <a class="sl-block-content" style="z-index: 12; box-shadow: 0 0 10px grey;" href="http://www.tomsguide.fr/forum/new_thread.html" target="_blank">
        <img data-natural-width="938" data-natural-height="690" src="https://s3.amazonaws.com/media-p.slid.es/uploads/472730/images/2373075/Capture_du_2016-03-21_11_36_31.png"/>
    </a>
</div>
