<div class="sl-block" data-block-type="text" style="width: 960px; left: -1px; top: 27px; height: auto;" data-block-id="f2025019c150733fbdcc4d45d08e6c3d">
    <div class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text" style="z-index: 10;">
        <h2>New thread - select category</h2>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="b5f15ebbdefc8c712128d7853ed48af7" style="min-width: 30px; min-height: 30px; width: 509.547px; height: 544px; left: 210px; top: 116px;">
    <a class="sl-block-content" style="z-index: 12; box-shadow: 0 0 10px grey;" href="http://www.tomsguide.com/forum/new_thread.html" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/329915/images/2428317/categories_select_box.png" data-natural-width="843" data-natural-height="900"/>
    </a>
</div>