<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; top: 0;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text"
         style="z-index: 13; text-align: left; border-width: 1px;">
        <h1>Thread edition</h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="c95cfcce392ac1393f38ce8243885b5d" style="min-width: 30px; min-height: 30px; width: 540.484px; height: 372px; left: 330px; top: 269px;">
    <div class="sl-block-content" style="z-index: 12; box-shadow: 0 0 10px grey;">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/2422617/Capture_d_e_cran_2016-04-04_a__11.37.48.png" style="" data-natural-width="648" data-natural-height="446"/>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="b52c4e3d810569f5d65dd2b83cfe6116" style="min-width: 30px; min-height: 30px; width: 645.26px; height: 183px; left: 69px; top: 192px;">
    <div class="sl-block-content" style="z-index: 11; border-width: 1px; box-shadow: 0 0 10px grey;">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/2422618/Capture_d_e_cran_2016-04-04_a__11.35.28.png" style="" data-natural-width="610" data-natural-height="173"/>
    </div>
</div>