<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; top: 0;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text"
         style="z-index: 13; text-align: left; border-width: 1px;">
        <h1>Thread page redesign</h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="a215139202e3510ce80048498e158298" style="min-width: 30px; min-height: 30px; width: 429px; height: 504.985px; left: 63px; top: 168px;">
    <a class="sl-block-content" style="z-index: 11;  box-shadow: 0 0 10px grey;" href="http://www.tomsguide.com/forum/id-2229804/surface-pro-internet-games-combat-arms-vindictus.html" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/2435426/Capture_d_e_cran_2016-04-06_a__17.26.42.png" style="" data-natural-width="542" data-natural-height="638"/>
    </a>
</div>
<div class="sl-block" data-block-type="image" data-block-id="512bf7573c12afb44d43d34314afb167" style="min-width: 30px; min-height: 30px; width: 427px; height: 504.636px; left: 453px; top: 185px;">
    <a class="sl-block-content" style="z-index: 12;  box-shadow: 0 0 10px grey;" href="http://www.tomsguide.com/forum/id-2229804/surface-pro-internet-games-combat-arms-vindictus.html" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/2435428/Capture_d_e_cran_2016-04-06_a__17.27.09.png" style="" data-natural-width="539" data-natural-height="637"/>
    </a>
</div>