<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; top: 5px; width: 952px; left: 5px;" data-block-id="109e2697f2f5db453525f9e8737cd693">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 11; text-align: left; border-width: 1px; font-size: 67%;">
        <h1 style="text-align:center">
            <span>Integrates tomsguide bundle header and footer + Plug member module</span>
        </h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="75dda5cf38ec9c286705631459d7513a" style="min-width: 30px; min-height: 30px; width: 804px; height: 357.78px; left: 78px; top: 154.5px;">
    <a class="sl-block-content" style="z-index: 12; box-shadow: 0 0 10px grey;" href="http://www.tomsguide.fr/forum/new_answer/2958669" target="_blank">
        <img data-natural-width="1600" data-natural-height="712" style="" src="https://s3.amazonaws.com/media-p.slid.es/uploads/314194/images/2388571/Capture_d_e_cran_2016-03-25_a__09.45.42.png"/>
    </a>
</div>