<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; top: 5px; width: 952px; left: 5px;" data-block-id="109e2697f2f5db453525f9e8737cd693">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 10; text-align: left; border-width: 1px; font-size: 67%;">
        <h1 style="text-align:center">
            <span>Fully integrates core-services response wrapper</span>
        </h1>
    </div>
</div>
<div class="sl-block" data-block-type="text" data-block-id="3b78c954d2a5531112ac70b33732ad15" style="height: auto; min-width: 30px; min-height: 30px; width: 940px; left: 11px; top: 162px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 11;">
        <p style="text-align: left;">A huge refactoring was made in order to spread the usage of core-services response wrapper in all forum webservices calls</p>
    </div>
</div>
<div class="sl-block" data-block-type="shape" data-block-id="c66a04b5ef5ba8d9948cf950a0e33156" style="min-width: 4px; min-height: 4px; width: 791px; height: 66px; left: 76px; top: 552px;">
    <div class="sl-block-content" data-shape-type="rect" data-shape-fill-color="rgb(109, 158, 235)" data-shape-stretch="true" style="z-index: 13;">
        <svg
            xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 791 66">
            <rect width="791" height="66" class="shape-element" fill="rgb(109, 158, 235)"></rect>
        </svg>
    </div>
</div>
<div class="sl-block" data-block-type="text" data-block-id="204bc7b940dde72210d2ebd299f73fee" style="height: auto; min-width: 30px; min-height: 30px; width: 600px; left: 171px; top: 566px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 14;">
        <p>wrapper</p>
    </div>
</div>
<div class="sl-block" data-block-type="shape" data-block-id="3803c6b4ccff991bb37c6dfb35de671d" style="min-width: 4px; min-height: 4px; width: 898px; height: 123px; left: 22px; top: 544px;">
    <div class="sl-block-content" data-shape-type="rect" data-shape-fill-color="rgba(0, 0, 0, 0)" data-shape-stretch="true" style="z-index: 12;" data-shape-stroke-color="#000000" data-shape-stroke-width="2">
        <svg
            xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 898 123">
            <defs>
                <clipPath id="shape-mask-88-1459761474243">
                    <rect width="898" height="123"></rect>
                </clipPath>
            </defs>
            <rect width="898" height="123" clip-path="url(#shape-mask-88-1459761474243)" class="shape-element" fill="rgba(0, 0, 0, 0)" stroke="#000000" stroke-width="4"></rect>
        </svg>
    </div>
</div>
<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; width: 600px; left: 180px; top: 628px;" data-block-id="9e597d0e2002143e2eefdba06341e6b7">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 15;" dir="ui">
        <p>Core-services Bundle</p>
    </div>
</div>
<div class="sl-block" data-block-type="shape" style="min-width: 4px; min-height: 4px; width: 898px; height: 172px; left: 22px; top: 297px;" data-block-id="b0b44e0df8d9dfa87e40656a42019b02">
    <div class="sl-block-content" data-shape-type="rect" data-shape-fill-color="rgba(0, 0, 0, 0)" data-shape-stretch="true" style="z-index: 16;" data-shape-stroke-color="#000000" data-shape-stroke-width="2">
        <svg
            xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 898 172">
            <defs>
                <clipPath id="shape-mask-89-1459761474246">
                    <rect width="898" height="172"></rect>
                </clipPath>
            </defs>
            <rect width="898" height="172" clip-path="url(#shape-mask-89-1459761474246)" class="shape-element" fill="rgba(0, 0, 0, 0)" stroke="#000000" stroke-width="4"></rect>
        </svg>
    </div>
</div>
<div class="sl-block" data-block-type="text" data-block-id="06fbca0065c901e7ad8c1945d2f13512" style="height: auto; min-width: 30px; min-height: 30px; width: 600px; left: 150px; top: 303px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 17;">
        <p>Core-forum Bundle</p>
    </div>
</div>
<div class="sl-block" data-block-type="shape" data-block-id="30924ccfbae3a749b9b22a84c4b02370" style="min-width: 4px; min-height: 4px; width: 187px; height: 68px; left: 57px; top: 375px;">
    <div class="sl-block-content" data-shape-type="rect" data-shape-fill-color="rgb(246, 178, 107)" data-shape-stretch="true" style="z-index: 18;">
        <svg
            xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 187 68">
            <rect width="187" height="68" class="shape-element" fill="rgb(246, 178, 107)"></rect>
        </svg>
    </div>
</div>
<div class="sl-block" data-block-type="shape" style="min-width: 4px; min-height: 4px; width: 187px; height: 68px; left: 270px; top: 375px;" data-block-id="7ccaa31aa0da5fd7be1dcff4e661b520">
    <div class="sl-block-content" data-shape-type="rect" data-shape-fill-color="rgb(246, 178, 107)" data-shape-stretch="true" style="z-index: 19;">
        <svg
            xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 187 68">
            <rect width="187" height="68" class="shape-element" fill="rgb(246, 178, 107)"></rect>
        </svg>
    </div>
</div>
<div class="sl-block" data-block-type="shape" style="min-width: 4px; min-height: 4px; width: 187px; height: 68px; left: 481px; top: 375px;" data-block-id="78a171416978c2efa91d8440f0fce24c">
    <div class="sl-block-content" data-shape-type="rect" data-shape-fill-color="rgb(246, 178, 107)" data-shape-stretch="true" style="z-index: 20;">
        <svg
            xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 187 68">
            <rect width="187" height="68" class="shape-element" fill="rgb(246, 178, 107)"></rect>
        </svg>
    </div>
</div>
<div class="sl-block" data-block-type="shape" style="min-width: 4px; min-height: 4px; width: 187px; height: 68px; left: 693px; top: 375px;" data-block-id="c5065962c212d8c3f695eea11898ea0b">
    <div class="sl-block-content" data-shape-type="rect" data-shape-fill-color="rgb(246, 178, 107)" data-shape-stretch="true" style="z-index: 21;">
        <svg
            xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 187 68">
            <rect width="187" height="68" class="shape-element" fill="rgb(246, 178, 107)"></rect>
        </svg>
    </div>
</div>
<div class="sl-block" data-block-type="text" data-block-id="12786d466932e02c1557c175023330a0" style="height: auto; min-width: 30px; min-height: 30px; width: 90px; left: 105px; top: 390px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 22;">
        <p>
            <span style="font-size:0.7em">Thread</span>
        </p>
    </div>
</div>
<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; width: 90px; left: 328px; top: 390px;" data-block-id="65ebe6c3bd50a0be5319bdd7291d75b3">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 23;">
        <p>
            <span style="font-size:0.7em">Category</span>
        </p>
    </div>
</div>
<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; width: 90px; left: 530px; top: 390px;" data-block-id="c464a51e602e1c08ad6d93c5344bef4e">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 24;">
        <p>
            <span style="font-size:0.7em">Tag</span>
        </p>
    </div>
</div>
<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; width: 90px; left: 742px; top: 390px;" data-block-id="f78ae66bff0acc1ff4105caac7bd5985">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 25;">
        <p>
            <span style="font-size:21px; line-height:27.3px">Author</span>
        </p>
    </div>
</div>
<div class="sl-block" data-block-type="shape" data-block-id="5b0ae1b56cba61b9fdc438558217fd96" style="min-width: 4px; min-height: 4px; width: 70px; height: 137px; left: 125px; top: 443px;">
    <div class="sl-block-content" data-shape-type="arrow-up" data-shape-fill-color="#000000" data-shape-stretch="true" style="z-index: 26;">
        <svg
            xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 70 137">
            <polygon points="35,0 70,68.5 49,68.5 49,137 21,137 21,68.5 0,68.5 35,0" class="shape-element" fill="#000000"></polygon>
        </svg>
    </div>
</div>
<div class="sl-block" data-block-type="shape" style="min-width: 4px; min-height: 4px; width: 70px; height: 137px; left: 328px; top: 442px;" data-block-id="797bae274aa9cc99b36c8aebdbddd328">
    <div class="sl-block-content" data-shape-type="arrow-up" data-shape-fill-color="#000000" data-shape-stretch="true" style="z-index: 28;">
        <svg
            xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 70 137">
            <polygon points="35,0 70,68.5 49,68.5 49,137 21,137 21,68.5 0,68.5 35,0" class="shape-element" fill="#000000"></polygon>
        </svg>
    </div>
</div>
<div class="sl-block" data-block-type="shape" style="min-width: 4px; min-height: 4px; width: 70px; height: 137px; left: 540px; top: 442px;" data-block-id="641894643c30bdd5ff5acb2bed41ea69">
    <div class="sl-block-content" data-shape-type="arrow-up" data-shape-fill-color="#000000" data-shape-stretch="true" style="z-index: 29;">
        <svg
            xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 70 137">
            <polygon points="35,0 70,68.5 49,68.5 49,137 21,137 21,68.5 0,68.5 35,0" class="shape-element" fill="#000000"></polygon>
        </svg>
    </div>
</div>
<div class="sl-block" data-block-type="shape" style="min-width: 4px; min-height: 4px; width: 70px; height: 137px; left: 750px; top: 442px;" data-block-id="02119bc1ccac4c57c2060cb6b38d18fe">
    <div class="sl-block-content" data-shape-type="arrow-up" data-shape-fill-color="#000000" data-shape-stretch="true" style="z-index: 30;">
        <svg
            xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 70 137">
            <polygon points="35,0 70,68.5 49,68.5 49,137 21,137 21,68.5 0,68.5 35,0" class="shape-element" fill="#000000"></polygon>
        </svg>
    </div>
</div>