<div data-block-id="18a45668b010837091b3c4ebd2c99a27" class="sl-block" data-block-type="text"
     style="width: 900px; left: 80px; top: 10px; height: auto;" xmlns="http://www.w3.org/1999/html">
    <div style="z-index: 10;" class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text">
        <h1>Forum recategorization</h1>
    </div>
</div>
<div class="sl-block" data-block-type="text" style="height: auto; width: 100%; left: 27px; top: 185px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text"
         style="z-index: 14; font-size: 70%;" dir="ui">
        <ul>
            <li style="list-style: none;">
                <span class="jira-story with-title">NO-1762</span>
                <ul>
                    <li><a href="http://www.presence-pc.com/forum/forum-233.html" target="_blank">Category "233" has been moved to tomshardware.fr</a></li>
                    <li><a href="http://www.presence-pc.com/forum/forum-234.html" target="_blank">Category "234" has been moved to tomshardware.fr</a></li>
                    <li><a href="http://www.presence-pc.com/forum/forum-235.html" target="_blank">Category "235" has been moved to tomshardware.fr</a></li>
                    <li><a href="http://www.presence-pc.com/forum/forum-238.html" target="_blank">Category "238" has been moved to tomshardware.fr</a></li>
                </ul>
            </li>

            <li style="list-style: none;">
                <span class="jira-story with-title">BHPR-502</span>
                <ul>
                    <li><a href="http://www.tomshardware.de/foren/foren-44.html" target="_blank">New category "Windows 10" on tomshardware.de</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>