<div data-block-id="0e2af9182db6e7c34ebc6585a4637425" class="sl-block" data-block-type="text" style="width: 100%; top: 65px; height: auto;">
    <div style="z-index: 11;" class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text">
        <h1 style="font-size: 2em;">BBcode Parser - Clickable Links</h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="26f00b6232ed6606cb1148abed7a7c57" style="min-width: 30px; min-height: 30px; width: 505.102362204724px; height: 464px; left: 11px; top: 208px;">
    <div class="sl-block-content" style="z-index: 11; border-style: solid; border-width: 3px;">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/1472706/old_platform.png" style="" data-natural-width="553" data-natural-height="508"/>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="def9b94a4601c1624f899ccf52979909" style="min-width: 30px; min-height: 30px; width: 485.81320754717px; height: 427px; left: 466px; top: 261px;">
    <div class="sl-block-content" style="z-index: 12; border-style: solid; border-width: 3px;">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/1472708/new_platform.png" style="" data-natural-width="603" data-natural-height="530"/>
    </div>
</div>
<div class="sl-block" data-block-type="text" data-block-id="19596fb520febe1cf7f32a31141d2bf4" style="height: auto; min-width: 30px; min-height: 30px; width: 487px; left: 20px; top: 169px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 13;">
        <p><a href="http://www.tomsguide.com/forum/id-2083576/read-forum-rules-styling-posts.html#14002329" target="_blank">Forum&nbsp;(legacy platform)</a></p>
    </div>
</div>
<div class="sl-block" data-block-type="text" data-block-id="ccf7977721305aa75f7b9c6430b19011" style="height: auto; min-width: 30px; min-height: 30px; width: 414px; left: 502px; top: 222px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 14;">
        <p><a href="http://tomsguide.dev-web1.ttr01.com:8282/us/keywords,news-40.html" target="_blank">Comments (new platform)</a></p>
    </div>
</div>