<div class="sl-block" data-block-type="text" style="width: 100%; height: auto;" data-block-id="17241b10c381508c6e010a4f032b9a32">
    <div style="z-index: 11;" class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text">
        <h1 style="font-size:2.4em">
            <span style="font-size:48px">Handle Quote/Citation tags</span>
        </h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="80373b8269806bc45c54667a2e7b9527" style="min-width: 30px; min-height: 30px; width: 752px; height: 497.268468468469px; left: 110px; top: 80.3657657657658px; border: 3px solid black; z-index: 1;">
    <div class="sl-block-content" style="z-index: 11;">
        <a href="http://tomsguide.dev-web1.ttr01.com:8282/us/keywords,news-19370.html" target="_blank">
            <img data-natural-width="1110" data-natural-height="734" style="" src="https://s3.amazonaws.com/media-p.slid.es/uploads/314194/images/1496867/handle_quote_citaiton.png" />
        </a>
    </div>
</div>
