<div class="sl-block" data-block-type="text" style="width: 100%; height: auto;">
    <div style="z-index: 11;" class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text">
        <h1 style="font-size: 2.4em;">Integration in Edito pages</h1>
    </div>
</div>
<a class="sl-block" href="http://tomsguide.dev-web1.ttr01.com:8282/us/https-bug-fallback,review-2328.html" target="_blank" style="color: black;">
    <div class="sl-block" data-block-type="image" data-block-id="80373b8269806bc45c54667a2e7b9527" style="min-width: 30px; min-height: 30px; width: 617.305555555556px; height: 568px; left: 172px; top: 110px; border: 3px solid black; z-index: 1;">
        <div class="sl-block-content" style="z-index: 11;">
            <img data-natural-width="939" data-natural-height="864" style="" src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/1496116/pasted-from-clipboard.png"/>
        </div>
    </div>
    <div class="sl-block" data-block-type="shape" data-block-id="7b1e715725ec6e9a7b7fa0def8ff7520" style="min-width: 4px; min-height: 4px; width: 540px; height: 210px; left: 260px; top: 480px;">
        <div class="sl-block-content" data-shape-type="rect" data-shape-fill-color="rgb(255, 255, 0)" data-shape-stretch="true" style="z-index: 12; opacity: 0.3;">
            <svg
                xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 540 210">
                <rect width="540" height="210" class="shape-element" fill="rgb(255, 255, 0)"></rect>
            </svg>
        </div>
    </div>
</a>