<div class="sl-block" data-block-type="text" style="width: 100%; top: 65px; height: auto;">
    <div style="z-index: 11;" class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text">
        <h1>Link to Forum Thread</h1>
    </div>
</div>
<div class="sl-block" style="top: 245px; left: 160px;">
    <a href="http://tomsguide.dev-web1.ttr01.com:8282/us/keywords,news-40.html" target="_blank" style="color: black;">
        <div class="sl-block" data-block-type="image" data-block-id="f3f264f4387f1f52321240ee6f45dc2e" style="min-width: 30px; min-height: 30px; width: 640px; height: 271.780821917808px;">
            <div class="sl-block-content" style="z-index: 11; border-style: solid; border-width: 3px;">
                <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/1476863/pasted-from-clipboard.png" style="" data-natural-width="657" data-natural-height="279"/>
            </div>
        </div>
        <div class="sl-block" data-block-type="shape" data-block-id="6c734ddccdf858912f6a8e6d71656632" style="min-width: 4px; min-height: 4px; width: 65px; height: 66px; left: 15px; top: 60px;">
            <div class="sl-block-content" data-shape-type="rect" data-shape-fill-color="rgb(255, 255, 0)" data-shape-stretch="false" style="z-index: 12; opacity: 0.24;">
                <svg
                    xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" preserveAspectRatio="xMidYMid" viewBox="0 0 65 65">
                    <rect width="65" height="65" class="shape-element" fill="rgb(255, 255, 0)"></rect>
                </svg>
            </div>
        </div>
    </a>
</div>