<div data-block-id="349ff397f4a517edb267ab50672fc281" class="sl-block" data-block-type="text" style="width: 867px; left: 47px; top: 18px; height: auto;">
    <div style="z-index: 10;" class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text">
        <h2>Promote Comment</h2>
    </div>
</div>
<div data-block-id="7ff5f2cef5aa0105e9a2617a418f7ad2" style="min-width: 30px; min-height: 30px; width: 704.033px; height: 313px; left: 228px; top: 107px;" data-block-type="image" class="sl-block">
    <div style="z-index: 11; border-style: solid; border-width: 1px;" class="sl-block-content">
        <a href="http://tomsguide.dev-web1.ttr01.com:8282/us/https-bug-fallback,review-2328.html" target="_blank">
            <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/329915/images/1485038/top_logged_as_editor.png" data-natural-height="361" data-natural-width="812" style=""/>
        </a>
    </div>
</div>
<div data-block-id="32141fe95d1ec7f99d61c79529ead49d" style="min-width: 30px; min-height: 30px; width: 507.991px; height: 193px; left: 15px; top: 437px;" data-block-type="image" class="sl-block">
    <div style="z-index: 12; border-style: solid; border-width: 1px;" class="sl-block-content">
        <a href="http://tomsguide.dev-web1.ttr01.com:8282/us/https-bug-fallback,review-2328.html" target="_blank">
            <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/329915/images/1485039/visitor.png" data-natural-height="318" data-natural-width="837" style=""/>
        </a>
    </div>
</div>
<div data-block-id="1d59f3fec2ff99c111e0be7d342be45d" style="height: auto; min-width: 30px; min-height: 30px; width: 482px; left: 28px; top: 630px;" data-block-type="text" class="sl-block">
    <div style="z-index: 13; font-size: 80%; color: rgb(60, 120, 216);" data-placeholder-text="Text" data-placeholder-tag="p" class="sl-block-content">
        <p>logged as not editor nor supadmin</p>
    </div>
</div>
<div data-block-id="e68d857666927b0c5c8596f5944dcc40" style="height: auto; min-width: 30px; min-height: 30px; width: 325px; left: 589px; top: 420px;" data-block-type="text" class="sl-block">
    <div style="z-index: 14; font-size: 80%; border-width: 1px; color: rgb(60, 120, 216);" data-placeholder-text="Text" data-placeholder-tag="p" class="sl-block-content">
        <p>logged as
            <br/>
            editor ('pacidemo')
        </p>
        <p>or supadmin ('natcparis')</p>
    </div>
</div>
<div data-block-id="86719126b39a70bf0436659ba4ff9c32" style="min-width: 4px; min-height: 4px; width: 41px; height: 35px; left: 862px; top: 146px;" data-block-type="shape" class="sl-block">
    <div style="z-index: 15; opacity: 0.36;" data-shape-stretch="false" data-shape-fill-color="rgb(255, 255, 0)" data-shape-type="rect" class="sl-block-content">
        <svg viewBox="0 0 35 35" preserveAspectRatio="xMidYMid" height="100%" width="100%" version="1.1"
             xmlns="http://www.w3.org/2000/svg">
            <rect fill="rgb(255, 255, 0)" class="shape-element" height="35" width="35"></rect>
        </svg>
    </div>
</div>
<div data-block-id="1c4ee7c3aa7545690763041146fbd318" style="min-width: 4px; min-height: 4px; width: 41px; height: 35px; left: 862px; top: 210px;" data-block-type="shape" class="sl-block">
    <div style="z-index: 16; opacity: 0.36;" data-shape-stretch="false" data-shape-fill-color="rgb(255, 255, 0)" data-shape-type="rect" class="sl-block-content">
        <svg viewBox="0 0 35 35" preserveAspectRatio="xMidYMid" height="100%" width="100%" version="1.1"
             xmlns="http://www.w3.org/2000/svg">
            <rect fill="rgb(255, 255, 0)" class="shape-element" height="35" width="35"></rect>
        </svg>
    </div>
</div>
<div data-block-id="b6928db635f7c8b691bbcb3e9c68da3a" style="min-width: 4px; min-height: 4px; width: 41px; height: 35px; left: 862px; top: 274px;" data-block-type="shape" class="sl-block">
    <div style="z-index: 17; opacity: 0.36;" data-shape-stretch="false" data-shape-fill-color="rgb(255, 255, 0)" data-shape-type="rect" class="sl-block-content">
        <svg viewBox="0 0 35 35" preserveAspectRatio="xMidYMid" height="100%" width="100%" version="1.1"
             xmlns="http://www.w3.org/2000/svg">
            <rect fill="rgb(255, 255, 0)" class="shape-element" height="35" width="35"></rect>
        </svg>
    </div>
</div>
<div data-block-id="9a43d13b81aa84ee9d80f0ee19c2401f" style="min-width: 4px; min-height: 4px; width: 41px; height: 35px; left: 862px; top: 363px;" data-block-type="shape" class="sl-block">
    <div style="z-index: 18; opacity: 0.36;" data-shape-stretch="false" data-shape-fill-color="rgb(255, 255, 0)" data-shape-type="rect" class="sl-block-content">
        <svg viewBox="0 0 35 35" preserveAspectRatio="xMidYMid" height="100%" width="100%" version="1.1"
             xmlns="http://www.w3.org/2000/svg">
            <rect fill="rgb(255, 255, 0)" class="shape-element" height="35" width="35"></rect>
        </svg>
    </div>
</div>
<div data-block-id="11c387f308dc1209806856e3e1e67b59" style="min-width: 4px; min-height: 4px; width: 103px; height: 47px; left: 632px; top: 140px;" data-block-type="shape" class="sl-block">
    <div style="z-index: 19; opacity: 0.36;" data-shape-stretch="false" data-shape-fill-color="rgb(255, 0, 0)" data-shape-type="rect" class="sl-block-content">
        <svg viewBox="0 0 103 47" preserveAspectRatio="xMidYMid" height="100%" width="100%" version="1.1"
             xmlns="http://www.w3.org/2000/svg">
            <rect fill="rgb(255, 0, 0)" class="shape-element" height="47" width="103"></rect>
        </svg>
    </div>
</div>
<div data-block-id="11c387f308dc1209806856e3e1e67b59" style="min-width: 4px; min-height: 4px; width: 103px; height: 47px; left: 632px; top: 203px;" data-block-type="shape" class="sl-block">
    <div style="z-index: 21; opacity: 0.36;" data-shape-stretch="false" data-shape-fill-color="rgb(255, 0, 0)" data-shape-type="rect" class="sl-block-content">
        <svg viewBox="0 0 103 47" preserveAspectRatio="xMidYMid" height="100%" width="100%" version="1.1"
             xmlns="http://www.w3.org/2000/svg">
            <rect fill="rgb(255, 0, 0)" class="shape-element" height="47" width="103"></rect>
        </svg>
    </div>
</div>
<div data-block-id="11c387f308dc1209806856e3e1e67b59" style="min-width: 4px; min-height: 4px; width: 58px; height: 30px; left: 379px; top: 462px;" data-block-type="shape" class="sl-block">
    <div style="z-index: 22; opacity: 0.36;" data-shape-stretch="false" data-shape-fill-color="rgb(255, 0, 0)" data-shape-type="rect" class="sl-block-content">
        <svg viewBox="0 0 58 30" preserveAspectRatio="xMidYMid" height="100%" width="100%" version="1.1"
             xmlns="http://www.w3.org/2000/svg">
            <rect fill="rgb(255, 0, 0)" class="shape-element" height="30" width="58"></rect>
        </svg>
    </div>
</div>
<div data-block-id="11c387f308dc1209806856e3e1e67b59" style="in-width: 4px; min-height: 4px; width: 58px; height: 30px; left: 379px; top: 506px;" data-block-type="shape" class="sl-block">
    <div style="z-index: 23; opacity: 0.36;" data-shape-stretch="false" data-shape-fill-color="rgb(255, 0, 0)" data-shape-type="rect" class="sl-block-content">
        <svg viewBox="0 0 58 30" preserveAspectRatio="xMidYMid" height="100%" width="100%" version="1.1"
             xmlns="http://www.w3.org/2000/svg">
            <rect fill="rgb(255, 0, 0)" class="shape-element" height="30" width="58"></rect>
        </svg>
    </div>
</div>