<div class="sl-block" data-block-type="text" style="width: 954px; left: 3px; top: 22px; height: auto;" data-block-id="6ccb32edf66a6ff72d6227c1278c3dab">
    <div class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text" style="z-index: 10;">
        <h1>
            Private profile page
        </h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="1f32b5063621d170a34e37e5353eff17" style="min-width: 30px; min-height: 30px; width: 891.684px; height: 258px; left: 34px; top: 210px;">
    <a class="sl-block-content" style="z-index: 12;" href="http://www.tomsguide.com/community/profile" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/329915/images/2656083/private_profile.png" data-natural-width="1182" data-natural-height="342"/>
    </a>
</div>