<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; width: 100%; top: 31px; left: 25px;" data-block-id="ce4a193ed021984010f459e2bdd1ef4b">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 11; text-align: left; border-width: 1px;">
        <h1 style="font-size:2em">
            <span style="font-size:0.9em">Assets compilation optimization</span>
        </h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="f9e84c2f900c797b60cbb0f37ae19eb3" style="min-width: 30px; min-height: 30px; width: 1047.73933649289px; height: 177px; left: 0px; top: 459px;">
    <a class="sl-block-content" style="z-index: 12;" href="https://s3.amazonaws.com/media-p.slid.es/uploads/314194/images/1581155/Capture_du_2015-07-17_17_06_07.png" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/314194/images/1581152/Capture_du_2015-07-17_17_05_46.png" style="" data-natural-width="1249" data-natural-height="211"/>
    </a>
</div>
<div class="sl-block" data-block-type="image" data-block-id="433f18567d7df7f318e038edc2bc1a87" style="min-width: 30px; min-height: 30px; width: 1078.65384615385px; height: 158px; left: 0px; top: 199px;">
    <a class="sl-block-content" style="z-index: 13;" href="https://s3.amazonaws.com/media-p.slid.es/uploads/314194/images/1581152/Capture_du_2015-07-17_17_05_46.png" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/314194/images/1581155/Capture_du_2015-07-17_17_06_07.png" style="" data-natural-width="1420" data-natural-height="208"/>
    </a>
</div>
<div class="sl-block" data-block-type="text" data-block-id="ab9f2dd4015b0fd0230510314fce0048" style="height: auto; min-width: 30px; min-height: 30px; width: 600px; left: 12px; top: 160px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 14;">
        <p style="text-align: left;">Before</p>
    </div>
</div>
<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; width: 600px; left: 12px; top: 420px;" data-block-id="bf9c0f60700c7b311ed06e200b06754c">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 15;">
        <p style="text-align:left">After</p>
    </div>
</div>
<div class="sl-block" data-block-type="shape" data-block-id="7c89c978598db9fc46109c94158de89d" style="min-width: 4px; min-height: 4px; width: 202px; height: 20px; left: 12px; top: 210px;">
    <div class="sl-block-content" data-shape-type="rect" data-shape-fill-color="rgb(255, 153, 0)" data-shape-stretch="true" style="z-index: 16; opacity: 0.3;" href="">
        <svg
            xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 202 20">
            <rect width="202" height="20" class="shape-element" fill="rgb(255, 153, 0)"></rect>
        </svg>
    </div>
</div>
<div class="sl-block" data-block-type="shape" style="min-width: 4px; min-height: 4px; width: 227px; height: 20px; left: 8px; top: 476px;" data-block-id="869118e4cf1cc82791e7924761f75806">
    <div class="sl-block-content" data-shape-type="rect" data-shape-fill-color="rgb(0, 255, 0)" data-shape-stretch="true" style="z-index: 17; opacity: 0.3;" href="">
        <svg
            xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 227 20">
            <rect width="227" height="20" class="shape-element" fill="rgb(0, 255, 0)"></rect>
        </svg>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="02e179be4e9dc1993a6e1fb479951bf4" style="min-width: 30px; min-height: 30px; width: 614.556053811659px; height: 502px; left: 326px; top: 140px;">
    <div class="sl-block-content" style="z-index: 18; border: 4px solid rgb(61, 133, 198);">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/314194/images/1585372/Capture_du_2015-07-20_16_44_33.png" data-natural-width="546" data-natural-height="446" style=""/>
    </div>
</div>