<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; width: 100%; top: 20px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 13; text-align: left; border-width: 1px;">
        <h1 style="font-size: 2em;">Gigya to Disqus Comments Migration</h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" style="min-width: 30px; min-height: 30px; width: 360px; height: 260px; left: 80px; top: 185px;">
    <div class="sl-block-content" style="z-index: 11; border-style: solid; border-width: 3px;">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/1580489/import_disqus.png" data-natural-width="306" data-natural-height="221" style=""/>
    </div>
</div>
<div class="sl-block" data-block-type="image" style="min-width: 30px; min-height: 30px; width: 504.029605263158px; height: 454px; left: 410px; top: 218px;">
    <div class="sl-block-content" style="z-index: 12; border-style: solid; border-width: 3px;">
    	<a href="http://www.tomsitpro.com/articles/outlook_2010-exchange_2000,2-36.html" target="_blank">
	        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/1580490/comments.png" data-natural-width="675" data-natural-height="608" style=""/>
	    </a>
    </div>
</div>