<div class="sl-block" data-block-type="text" data-block-id="b406196a8f4c303f230107477e80287b" style="height: auto; min-width: 30px; min-height: 30px; width: 800px; left: 80px; top: 70px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 13; text-align: left; border-width: 1px;">
        <h1 style="font-size: 2em;">Misc Convergence stories</h1>
    </div>
</div>
<div class="sl-block progress-bar" data-epic="GRE-2217" data-block-type="text" data-block-id="546744aa438a73d28bb1c7cab6a4f6e1" style="height: auto; min-width: 30px; min-height: 30px; width: 600px; left: 80px; top: 190px;"></div>
<div class="sl-block" data-block-type="text" style="height: auto; width: 100%; left: 27px; top: 295px;" data-block-id="d159f9fc7e016eeb50eb1d040e4a7cf7">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 14; font-size: 70%;" dir="ui">
        <ul>
            <li>
                <span class="jira-story with-title">GRE-3200</span>
            </li>
            <li>
                <span class="jira-story with-title">GRE-3393</span>
            </li>
            <li>
                <span class="jira-story with-title">GRE-3404</span>
            </li>
        </ul>
    </div>
</div>