<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; top: 70px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text"
         style="z-index: 13; text-align: left; border-width: 1px;">
        <h1>RAMP on Toms Forums</h1>
    </div>
</div>
<div class="sl-block" data-block-type="text" style="height: auto; width: 100%; left: 27px; top: 245px;"
     data-block-id="d159f9fc7e016eeb50eb1d040e4a7cf7">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text"
         style="z-index: 14; font-size: 70%;" dir="ui">
        <ul>
        <li class="In-Progress"><span class="jira-story with-title">GRE-4087</span></li>
        <li class="QA"><span class="jira-story with-title">GRE-4166</span></li>
        </ul>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="0a513c7c3fbfd647b557c14011678809" style="min-width: 30px; min-height: 30px; width: 488.6px; height: 420px; left: 625px; top: 291px;">
    <div class="sl-block-content" style="z-index: 11; border-style: solid; border-width: 3px;">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/1875225/pasted-from-clipboard.png" style="" data-natural-width="1047" data-natural-height="900"/>
    </div>
</div>