<div data-block-id="8b336131582cabc807f7d57a718c0af3" class="sl-block" data-block-type="text" style="width: 800px; left: 95px; top: 8px; height: auto;">
    <div style="z-index: 11;" class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text">
        <h1>Comments Service LTM metrics</h1>
    </div>
</div>
<div data-block-id="18324d76a3125612b0f84e7513252ae7" style="min-width: 30px; min-height: 30px; width: 889.307px; height: 295px; left: 43px; top: 248px;" data-block-type="image" class="sl-block">
    <a target="_blank" href="http://graphite.bestofmedia.com/dashboard/#LTM%20Comments" style="z-index: 12;" class="sl-block-content">
        <img data-natural-height="274" data-natural-width="826" style="" src="https://s3.amazonaws.com/media-p.slid.es/uploads/305376/images/1720946/comment_ws_ltm_responsetimes_hits_2015_08_09.png"/>
    </a>
</div>
<div data-block-id="fe8e592c2398ff9ce887458ae79ac1d9" style="height: auto; min-width: 30px; min-height: 30px; width: 600px; left: 9px; top: 591px;" data-block-type="text" class="sl-block">
    <div style="z-index: 13;" data-placeholder-text="Text" data-placeholder-tag="p" class="sl-block-content">
        <p>LTM nb hits &gt; FR + DE nb hits</p>
    </div>
</div>
