<div data-block-id="c504adb01f914f03ce021cd9d7453fe5" class="sl-block" data-block-type="text" style="width: 800px; left: 81px; top: 15px; height: auto;">
    <div style="z-index: 10;" class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text">
        <h1>Comments Service : Add swagger</h1>
    </div>
</div>
<div data-block-id="2fef4d9a6d61f81c2bfd73c172f260b9" style="min-width: 30px; min-height: 30px; width: 463px; height: 334.133px; left: 249px; top: 274px;" data-block-type="image" class="sl-block">
    <a target="_blank" href="http://internal-lb-bom-qa-comments-al-370099695.us-west-2.elb.amazonaws.com:8680/comments-applicative-layer/docs/index.html" style="z-index: 12; border-style: solid; border-width: 1px;" class="sl-block-content">
        <img data-natural-height="726" data-natural-width="1006" style="" src="https://s3.amazonaws.com/media-p.slid.es/uploads/305376/images/1364459/demo24-swagger-comments.png"/>
    </a>
</div>
