<div class="sl-block" data-block-type="text" data-block-id="b406196a8f4c303f230107477e80287b"
     style="height: auto; min-width: 30px; min-height: 30px; width: 800px; left: 80px; top: 10px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text"
         style="z-index: 13; text-align: left; border-width: 1px;">
        <h1>Pull request</h1>
    </div>
</div>
<div data-block-id="6c5ae9909c30405add91e1107402ca22" style="min-width: 30px; min-height: 30px; width: 654px; height: 477.121px; left: 96px; top: 114px;" data-block-type="image" class="sl-block">
    <div style="z-index: 11;" class="sl-block-content">
        <img data-natural-height="847" data-natural-width="1161" style="" src="https://s3.amazonaws.com/media-p.slid.es/uploads/315454/images/1364782/auto_pull-requests.png"/>
    </div>
</div>