<div class="sl-block" data-block-type="text"
     style="height: auto; min-width: 30px; min-height: 30px; width: 800px; left: 80px; top: 10px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text"
         style="z-index: 13; text-align: left; border-width: 1px;">
        <h1>Pull request</h1>
    </div>
</div>
<div data-block-id="6701fd6be12036f1e47d4edd2d760537" style="min-width: 30px; min-height: 30px; width: 785.047px; height: 420px; left: 86px; top: 140px;" data-block-type="image" class="sl-block">
    <div style="z-index: 12;" class="sl-block-content">
        <img data-natural-height="856" data-natural-width="1600" style="" src="https://s3.amazonaws.com/media-p.slid.es/uploads/311439/images/1351318/Capture_d_e_cran_2015-05-07_a__10.31.17.png"/>
    </div>
</div>
<div data-block-id="57e86c3f729225ec95fabea9f7a6d13c" style="min-width: 4px; min-height: 4px; width: 148px; height: 41px; left: 172px; top: 250px;" data-block-type="shape" class="sl-block">
    <div style="z-index: 13; opacity: 0.23;" data-shape-stretch="true" data-shape-fill-color="rgb(255, 255, 0)" data-shape-type="rect" class="sl-block-content">
        <svg viewBox="0 0 148 41" preserveAspectRatio="none" height="100%" width="100%" version="1.1"
             xmlns="http://www.w3.org/2000/svg">
            <rect fill="rgb(255, 255, 0)" class="shape-element" height="41" width="148"></rect>
        </svg>
    </div>
</div>