{% extends 'common/layout.html' %}

{% block js_var %}
    var demoDate = '2015-05-25';
    var demoNb = 25;
{% endblock %}

{% block slides %}
    <section>
        {% include 'common/intro.html' %}
    </section>
    <section>
        {% include 'common/toc.html' %}
    </section>
    <section>
        {% include 'demo25-slides/roi.html' %}
    </section>
    <section class="stack" id="GRE-2678">
        <section>
            {% include 'demo25-slides/user_services/index.html' %}
        </section>
        <section>
            {% include 'demo25-slides/user_services/userlib.html' %}
        </section>
        <section>
            {% include 'demo25-slides/user_services/login.html' %}
        </section>
        <section>
            {% include 'demo25-slides/user_services/getavatar.html' %}
        </section>
    </section>
    <section class="stack" id="GRE-2217">
        <section>
            {% include 'demo25-slides/comments_in_toms/index.html' %}
        </section>
        <section>
            {% include 'demo25-slides/comments_in_toms/2711.html' %}
        </section>
        <section>
            {% include 'demo25-slides/comments_in_toms/2589-closed-topic.html' %}
        </section>
        <section>
            {% include 'demo25-slides/comments_in_toms/highlight-comments.html' %}
        </section>
        <section>
            {% include 'demo25-slides/comments_in_toms/2913-votes.html' %}
        </section>
        <section>
            {% include 'demo25-slides/comments_in_toms/2913-legacy.html' %}
        </section>
        <section>
            {% include 'demo25-slides/comments_in_toms/2913-new.html' %}
        </section>
    </section>
    <section class="stack" id="GRE-2048">
        <section>
            {% include 'demo25-slides/forum_recategorization/index.html' %}
        </section>
        <section>
            {% include 'demo25-slides/forum_recategorization/1656-tutorials.html' %}
        </section>
    </section>
    <section class="stack">
        <section>
            {% include 'demo25-slides/tech/index.html' %}
        </section>
    </section>
    <section class="stack">
        <section>
            {% include 'demo25-slides/support/index.html' %}
        </section>
        <section>
            {% include 'demo25-slides/support/2911.html' %}
        </section>
        <section>
            {% include 'demo25-slides/support/438-xss_injection.html' %}
        </section>
    </section>
    <section>
        {% include 'demo25-slides/next_demo.html' %}
    </section>
    <section>
        {% include 'common/questions.html' %}
    </section>
{% endblock %}
