<div class="sl-block" data-block-type="text" data-block-id="08e2b54ac8153b1dcc940b5a1c186595"
     style="height: auto; min-width: 30px; min-height: 30px; left: 160px; top: 61px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text"
         style="z-index: 11;">
        <h1>ROI Metrics</h1>

		<div class="sl-block" data-block-type="image" style="min-height: 30px; min-width: 30px; width: 1000px; left: -200px; top: 114px; height: 480px;" data-block-id="989cc94207e9824f3ad85277ed14561b">
		    <div class="sl-block-content" style="z-index: 11;">
		        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/315454/images/1421332/thus-in-omniture.png" style="" data-natural-width="1507" data-natural-height="423">
		    </div>
		</div>
    </div>
</div>
