<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; top: 40px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text"
         style="z-index: 13; text-align: left; border-width: 1px;">
        <h1>Herald Discussions category</h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="19510bd2bc87c2028584bc2bd44fb40a" style="min-width: 30px; min-height: 30px; width: 560px; height: 303.377px; left: 40px; top: 237px;">
    <a class="sl-block-content" style="z-index: 11; border: 3px solid black;" href="http://www.tomshardware.com/forum/forum-132.html" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/2108705/Capture_d_e_cran_2016-01-06_a__17.14.07.png" data-natural-width="539" data-natural-height="292" style=""/>
    </a>
</div>
<div class="sl-block" data-block-type="image" data-block-id="0c1a93b92caf586ce537f0e5ccc6ef93" style="min-width: 30px; min-height: 30px; width: 452.363px; height: 346px; left: 480px; top: 306px;">
    <a class="sl-block-content" style="z-index: 12; border: 3px solid black;" href="http://www.tomshardware.com/forum/forum-132.html" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/2108707/Capture_d_e_cran_2016-01-06_a__17.14.18.png" data-natural-width="353" data-natural-height="270" style=""/>
    </a>
</div>