<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; top: 70px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text"
         style="z-index: 13; text-align: left; border-width: 1px;">
        <h1>Update SSO logo</h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="b77c76f88615b8c221327ed8e781b31e" style="min-width: 30px; min-height: 30px; width: 714px; height: 476px; left: 123px; top: 196px;">
    <a class="sl-block-content" style="z-index: 11; border: 3px solid black;" href="http://www.tomsguide.com" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/2123734/Capture_d_e_cran_2016-01-12_a__11.30.08.png" style="" data-natural-width="792" data-natural-height="528"/>
    </a>
</div>