<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; top: 30px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text"
         style="z-index: 13; text-align: left; border-width: 1px;">
        <h1 style="font-size:200%;">Update text and picture in German community page</h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="bf9b1d9a825198c39678c78a08118a9c" style="min-width: 30px; min-height: 30px; width: 937px; height: 141.64px; left: 12px; top: 226px;">
    <div class="sl-block-content" style="z-index: 11; border-style: solid; border-width: 3px;">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/1984441/pasted-from-clipboard.png" style="" data-natural-width="1032" data-natural-height="156"/>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="25af6a03af7b0886f33bd49e4bd839d4" style="min-width: 30px; min-height: 30px; width: 936.713px; height: 203px; left: 12px; top: 468px;">
    <a class="sl-block-content" style="z-index: 12; border: 3px solid black;" href="http://www.tomshardware.de/community/" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/1984444/pasted-from-clipboard.png" style="" data-natural-width="1029" data-natural-height="223"/>
    </a>
</div>
<div class="sl-block" data-block-type="shape" data-block-id="c12b3aabb8d4ec262a4fc5d18165706c" style="min-width: 4px; min-height: 4px; width: 25px; height: 73px; left: 468px; top: 384px;">
    <div class="sl-block-content" data-shape-type="arrow-down" data-shape-fill-color="#000000" data-shape-stretch="true" style="z-index: 14;">
        <svg
            xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 25 73">
            <polygon points="12.5,73 25,36.5 17.5,36.5 17.5,0 7.5,0 7.5,36.5 0,36.5 12.5,73" class="shape-element" fill="#000000"></polygon>
        </svg>
    </div>
</div>