<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; top: 70px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text"
         style="z-index: 13; text-align: left; border-width: 1px;">
        <h2>Support</h2>
    </div>
</div>
<div class="sl-block" data-block-type="text" style="height: auto; width: 100%; left: 27px; top: 245px;"
     data-block-id="d159f9fc7e016eeb50eb1d040e4a7cf7">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text"
         style="z-index: 14; font-size: 70%;" dir="ui">
        <ul>
        <li class="In-Progress"><span class="jira-story with-title">BHPR-564</span></li>
        <li class="In-Progress">[Monetisation on Toms forums] <span class="jira-story with-title">GRE-4310</span></li>
        <li class="In-Progress"><span class="jira-story with-title">GRE-4504</span></li>
        <li class="Done">[Stormpath] <span class="jira-story with-title">BHPR-573</span></li>
        </ul>
    </div>
</div>
