<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; top: 30px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text"
         style="z-index: 13; text-align: left; border-width: 1px;">
        <h2>Ad Templates - Width adjustment to 1153px</h2>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="c2f9a615823fc5813d1bf5418f50a4e7" style="min-width: 30px; min-height: 30px; width: 903.422px; height: 452px; left: 29px; top: 200px;">
    <div class="sl-block-content" style="z-index: 11;">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/2087128/Capture_d_e_cran_2015-12-21_a__15.59.56.png" data-natural-width="1563" data-natural-height="782" style=""/>
    </div>
</div>
<div class="sl-block" data-block-type="shape" data-block-id="ba290e812434261675a6dd890bb3576a" style="min-width: 4px; min-height: 4px; width: 127px; height: 76px; left: 147px; top: 490px;">
    <div class="sl-block-content" data-shape-type="arrow-left" data-shape-fill-color="#000000" data-shape-stretch="true" style="z-index: 12;">
        <svg
            xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 127 76">
            <polygon points="127,22.8 63.5,22.8 63.5,0 0,38 63.5,76 63.5,53.199999999999996 127,53.199999999999996 127,22.8" class="shape-element" fill="#000000"></polygon>
        </svg>
    </div>
</div>
<div class="sl-block" data-block-type="shape" data-block-id="28a2097fa0e39c879d2be83618d513b0" style="min-width: 4px; min-height: 4px; width: 127px; height: 76px; left: 691px; top: 490px;">
    <div class="sl-block-content" data-shape-type="arrow-right" data-shape-fill-color="#000000" data-shape-stretch="true" style="z-index: 13;">
        <svg
            xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 127 76">
            <polygon points="0,22.8 63.5,22.8 63.5,0 127,38 63.5,76 63.5,53.199999999999996 0,53.199999999999996" class="shape-element" fill="#000000"></polygon>
        </svg>
    </div>
</div>
<div class="sl-block" data-block-type="shape" data-block-id="28f04f842a887066bd71d98471ba7f9a" style="min-width: 4px; min-height: 4px; width: 566px; height: 35px; left: 203px; top: 511px;">
    <div class="sl-block-content" data-shape-type="rect" data-shape-fill-color="#000000" data-shape-stretch="true" style="z-index: 14;">
        <svg
            xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 566 35">
            <rect width="566" height="35" class="shape-element" fill="#000000"></rect>
        </svg>
    </div>
</div>
<div class="sl-block" data-block-type="text" data-block-id="66bf91d6be66fa46efbca0359ca08140" style="height: auto; min-width: 30px; min-height: 30px; width: 600px; left: 180px; top: 509px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 15; color: rgb(255, 255, 0);">
        <p>1153px</p>
    </div>
</div>