
<div class="sl-block" data-block-type="text" data-block-id="27300ca854cab4f266d355757060f199" style="height: auto; min-width: 30px; min-height: 30px; width: 600px; left: 20px; top: 24px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 11;">
        <p>
            <span style="font-size:1.2em">
                <strong>Stormpath - User engagement</strong>
            </span>
        </p>
    </div>
</div>
<div class="sl-block" data-block-type="text" data-block-id="c6e35c5f871cbaa0e667c9b67b0a22fc" style="height: auto; min-width: 30px; min-height: 30px; width: 918px; left: 20px; top: 70px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 12;">
        <ul>
            <li>Far more engagement on EN forums (US/UK) than on FR forums</li>
            <li>On EN forums, Facebook and Google account perform notably better than Toms account -&gt; more investigation required</li>
        </ul>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="4bb7824bfc2cc39956a97a5c3669dc7d" style="min-width: 30px; min-height: 30px; width: 836.271px; height: 466px; left: 61px; top: 226px;">
    <div class="sl-block-content" style="z-index: 13;">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/414540/images/2087102/member-engagement-EN-FR.png" style="" data-natural-width="1389" data-natural-height="774"/>
    </div>
</div>
