<div class="sl-block" data-block-type="text" data-block-id="b406196a8f4c303f230107477e80287b" style="height: auto; min-width: 30px; min-height: 30px; width: 800px; left: 80px; top: 10px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 11; text-align: left; border-width: 1px;">
        <h1 style="font-size:2.3em">[Forum] Remove Alert buttons for visitors</h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" style="min-width: 30px; min-height: 30px; width: 870px; height: 304.948453608247px; left: 45px; top: 213px;" data-block-id="3105eeac3e9c90c8e2207151aeddb95c">
    <div style="z-index: 13; color: rgb(255, 0, 0);" data-placeholder-text="Text" data-placeholder-tag="p">
        <p>BEFORE</p>
    </div>
    <div class="sl-block-content" style="z-index: 10;">
        <a style="z-index: 12;" class="sl-block-content" href="http://www.tomsguide.com/forum/id-2058875/apple-carplay-faq.html">
	        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/1390106/vote_visitor.png" style="" data-natural-width="1067" data-natural-height="374"/>
        </a>
    </div>
    <div class="sl-block-content" data-shape-type="rect" data-shape-fill-color="rgb(255, 255, 0)" data-shape-stretch="false" style="z-index: 13; opacity: 0.23; width: 30px; height: 30px; top: 176px; left: 832px; position: absolute;">
        <svg
            xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" preserveAspectRatio="xMidYMid" viewBox="0 0 44 44">
            <rect width="44" height="44" class="shape-element" fill="rgb(255, 255, 0)"></rect>
        </svg>
    </div>
    <div class="sl-block-content" data-shape-type="rect" data-shape-fill-color="rgb(255, 255, 0)" data-shape-stretch="false" style="z-index: 11; opacity: 0.23; z-index: 13; opacity: 0.23; width: 30px; height: 30px; top: 309px; left: 787px; position: absolute;">
        <svg
            xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" preserveAspectRatio="xMidYMid" viewBox="0 0 44 44">
            <rect width="44" height="44" class="shape-element" fill="rgb(255, 255, 0)"></rect>
        </svg>
    </div>
</div>
