<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; width: 800px; left: 80px; top: -10px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 11; text-align: left; border-width: 1px;">
        <h1>XSS injection possible on forum thread titles</h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="fab0845e267db81635ca9038b922e879" style="min-width: 30px; min-height: 30px; width: 732.857142857143px; height: 380px; left: 22px; top: 194px;">
    <div class="sl-block-content" style="z-index: 11; border-style: solid; border-width: 3px;">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/1421354/pasted-from-clipboard.png" style="" data-natural-width="621" data-natural-height="322"/>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="31376239f9321d0dcbdda1aa627144db" style="min-width: 30px; min-height: 30px; width: 867px; height: 271.351145038168px; left: 55px; top: 371px;">
    <div class="sl-block-content" style="z-index: 12; border-style: solid; border-width: 3px;">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/1421358/pasted-from-clipboard.png" style="" data-natural-width="786" data-natural-height="246"/>
    </div>
</div>