<div data-block-id="8e18add81ce9ba013620b37cb035d046" class="sl-block" data-block-type="text" style="width: 800px; left: 90px; top: 12px; height: auto;">
    <div style="z-index: 10;" class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text">
        <h2>Replatforming Investigations</h2>
    </div>
</div>
<div data-block-id="c9f9191c322dedd1d606e9eb8974e0a0" style="height: auto; min-width: 30px; min-height: 30px; width: 917px; left: 17px; top: 194px;" data-block-type="text" class="sl-block">
    <div style="z-index: 13;" data-placeholder-text="Text" data-placeholder-tag="p" class="sl-block-content">
        <ul>
            <li>
                <h3>
                    <span style="font-size:1.0em">we are investigating different <a href="https://purch1.atlassian.net/wiki/display/GREN/Cache+strategy" target="_blank">perfomance strategies</a></span>
                </h3>
            </li>
            <li>
                <h3>
                    <span style="font-size:1.0em">and looking at different <a href="https://purch1.atlassian.net/wiki/display/GREN/Microservices+architecture+candidates" target="_blank">services organisation</a></span>
                </h3>
            </li>
            <li>
                <h3>
                    <span style="font-size:1.0em">based on <a href="https://purch1.atlassian.net/wiki/pages/viewpage.action?pageId=37749103" target="_blank">existing knowledges</a> about the community</span>
                </h3>
            </li>
            <li>
                <h3>
                    <span style="font-size:1.0em"><a href="https://purch1.atlassian.net/wiki/display/GREN/Tom's+Forum+Replatforming" target="_blank">on so on...</a></span>
                </h3>
            </li>
        </ul>
    </div>
</div>