<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; top: 70px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text"
         style="z-index: 13; text-align: left; border-width: 1px;">
        <h1>Related Links</h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="b240c8cf2faaa6f57f95c8b5c9fb67c8" style="min-width: 30px; min-height: 30px; width: 576px; height: 294.28px; left: 32px; top: 280px;">
    <a class="sl-block-content" style="z-index: 11; border: 3px solid black;" href="http://10.210.30.105:8520/forum/id-2950474/multiple-processus-explorer-exe.html" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/2179361/Capture_d_e_cran_2016-01-28_a__11.10.46.png" data-natural-width="963" data-natural-height="492" style=""/>
    </a>
</div>
<div class="sl-block" data-block-type="image" data-block-id="7d1afcb03182b2948aaa740dc7abc0e2" style="min-width: 30px; min-height: 30px; width: 639.63px; height: 157px; left: 297px; top: 403px;">
    <a class="sl-block-content" style="z-index: 12; border: 3px solid black;" href="http://10.210.30.105:8520/forum/id-2950474/multiple-processus-explorer-exe.html" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/2179363/Capture_d_e_cran_2016-01-28_a__11.11.00.png" data-natural-width="880" data-natural-height="216" style=""/>
    </a>
</div>