<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; top: 70px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text"
         style="z-index: 13; text-align: left; border-width: 1px;">
        <h1>Support (2/2)</h1>
    </div>
</div>
<div class="sl-block" data-block-type="text" style="height: auto; width: 100%; left: 27px; top: 205px;"
     data-block-id="d159f9fc7e016eeb50eb1d040e4a7cf7">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text"
         style="z-index: 14; font-size: 70%;" dir="ui">
        <ul>
        <li><span class="jira-story with-title">GRE-4740</span></li>
        <li><span class="jira-story with-title">GRE-5128</span></li>
        <li><span class="jira-story with-title">GRE-5119</span></li>
        <li><span class="jira-story with-title">GRE-5090</span></li>
        <li><span class="jira-story with-title">GRE-5080</span></li>
        <li><span class="jira-story with-title">GRE-5079</span></li>
        <li><span class="jira-story with-title">GRE-5084</span></li>
        <li><span class="jira-story with-title">GRE-4974</span></li>
        <li><span class="jira-story with-title">GRE-4952</span></li>
        <li><span class="jira-story with-title">GRE-4949</span></li>
        <li><span class="jira-story with-title">GRE-4930</span></li>
        <li><span class="jira-story with-title">GRE-4866</span></li>
        </ul>
    </div>
</div>