<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; top: 70px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text"
         style="z-index: 13; text-align: left; border-width: 1px;">
        <h1>Support (1/2)</h1>
    </div>
</div>
<div class="sl-block" data-block-type="text" style="height: auto; width: 100%; left: 27px; top: 205px;"
     data-block-id="d159f9fc7e016eeb50eb1d040e4a7cf7">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text"
         style="z-index: 14; font-size: 70%;" dir="ui">
        <ul>
        <li><span class="jira-story with-title">GRE-4920</span></li>
        <li><span class="jira-story with-title">GRE-4903</span></li>
        <li><span class="jira-story with-title">GRE-4891</span></li>
        <li><span class="jira-story with-title">GRE-4889</span></li>
        <li><span class="jira-story with-title">GRE-4874</span></li>
        <li><span class="jira-story with-title">GRE-4873</span></li>
        <li><span class="jira-story with-title">GRE-4853</span></li>
        <li><span class="jira-story with-title">GRE-4850</span></li>
        <li><span class="jira-story with-title">GRE-4943</span></li>
        <li><span class="jira-story with-title">GRE-4988</span></li>
        <li><span class="jira-story with-title">GRE-4938</span></li>
        </ul>
    </div>
</div>