<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; top: 70px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text"
         style="z-index: 13; text-align: left; border-width: 1px;">
        <h1>More supadmin privileges</h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="955da6bbe824fb141ac35e4267113b48" style="min-width: 30px; min-height: 30px; width: 843.333px; height: 230px; left: 59px; top: 375px;">
    <a class="sl-block-content" style="z-index: 11; border: 3px solid black;" href="http://www.tomsguide.fr/communaute/profil-539142.htm" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/2244488/Capture_d_e_cran_2016-02-17_a__19.37.46.png" style="" data-natural-width="770" data-natural-height="210"/>
    </a>
</div>