<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; top: 70px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text">
        <h1 style="font-size: 200%;">Widgets in forum threads</h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="a139b1e55ddcda2a8daf0669341755c1" style="min-width: 30px; min-height: 30px; width: 600px; height: 511.304px; left: 180px; top: 205px;">
    <a class="sl-block-content" style="z-index: 11; border: 3px solid black;" href="http://www.tomsguide.fr/solutions/id-2958639/test-widgets.html" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/2259311/Capture_d_e_cran_2016-02-22_a__11.41.54.png" style="" data-natural-width="1035" data-natural-height="882"/>
    </a>
</div>