<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; top: 0;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text"
         style="z-index: 13; text-align: left; border-width: 1px;">
        <h1>Logging via Facebook in spanish?!?</h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="2ee61c9dabeac0c4e246317a0d1e4468" style="min-width: 30px; min-height: 30px; width: 641.703px; height: 396px; left: 159px; top: 197px;">
    <div class="sl-block-content" style="z-index: 11;">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/2584561/image-2016-04-19-16-00-46-666.png" data-natural-width="491" data-natural-height="303" style=""/>
    </div>
</div>