<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; top: 5px; width: 952px; left: 5px;" data-block-id="109e2697f2f5db453525f9e8737cd693">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 10; text-align: left; border-width: 1px; font-size: 67%;">
        <h1 style="text-align:center">
            <span>
                <span style="font-size:0.7em">Fix padding in comments widget with Ad skin</span>
            </span>
        </h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="f7f58ba2cc1ac5c6cfa09c9e6057d718" style="min-width: 30px; min-height: 30px; width: 771.35px; height: 350px; left: 189px; top: 64px;">
    <a class="sl-block-content" style="z-index: 13;" href="http://www.tomsguide.com/us/samsung-expands-uhd-tv-line,news-19040.html?google_preview=dpcFNDp6MBoYqYv6uAUwqaevwAWIAYCAgKDT_7idCw&amp;iu=10518929&amp;gdfp_req=1&amp;lineItemId=314061289&amp;creativeId=78442921129" target="_blank">
        <img data-natural-width="1600" data-natural-height="726" style="" src="https://s3.amazonaws.com/media-p.slid.es/uploads/314194/images/2556169/Capture_d_e_cran_2016-05-02_a__13.48.25.png"/>
    </a>
</div>
<div class="sl-block" data-block-type="image" data-block-id="011c306546d25ef26f1f4118c2ca3c2b" style="min-width: 30px; min-height: 30px; width: 758.802px; height: 396px; left: 0px; top: 292px;">
    <div class="sl-block-content" style="z-index: 12;">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/314194/images/2556258/Capture_d_e_cran_2016-05-02_a__14.20.51.png" style="" data-natural-width="1600" data-natural-height="835"/>
    </div>
</div>
