<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; top: 5px; width: 952px; left: 5px;" data-block-id="109e2697f2f5db453525f9e8737cd693">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 11; text-align: left; border-width: 1px; font-size: 67%;">
        <h1 style="text-align:center">
            <span>TG US notifications design update</span>
        </h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="f7f58ba2cc1ac5c6cfa09c9e6057d718" style="min-width: 30px; min-height: 30px; width: 896.736px; height: 487px; left: 40px; top: 100px;">
    <div class="sl-block-content" style="z-index: 12;" href="">
        <img data-natural-width="1149" data-natural-height="624" style="" src="https://s3.amazonaws.com/media-p.slid.es/uploads/314194/images/2539219/Capture_d_e_cran_2016-04-27_a__17.56.55.png"/>
    </div>
</div>
