<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; top: 0;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text"
         style="z-index: 13; text-align: left; border-width: 1px;">
        <h1>Virtual Reality Category</h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="d00eff129150573dee5079d6b8686c7b" style="min-width: 30px; min-height: 30px; width: 360px; height: 287.643px; left: 399px; top: 357px;">
    <a class="sl-block-content" style="z-index: 13;" href="http://www.tomshardware.com/forum/" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/2516781/Capture_d_e_cran_2016-04-22_a__15.23.05.png" data-natural-width="403" data-natural-height="322" style=""/>
    </a>
</div>
<div class="sl-block" data-block-type="image" data-block-id="bfe594df67edbfe67f980bb5f4b9d3e3" style="min-width: 30px; min-height: 30px; width: 360px; height: 240.992px; left: 551px; top: 177px;">
    <a class="sl-block-content" style="z-index: 12;" href="http://www.tomsguide.com/forum/forum-104.html" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/2516782/Capture_d_e_cran_2016-04-22_a__15.24.17.png" style="" data-natural-width="726" data-natural-height="486"/>
    </a>
</div>
<div class="sl-block" data-block-type="image" data-block-id="9b7d2cab117e99179d9f264b81fc5c77" style="min-width: 30px; min-height: 30px; width: 360px; height: 240.508px; left: 120px; top: 177px;">
    <a class="sl-block-content" style="z-index: 11;" href="http://www.tomshardware.com/forum/forum-104.html" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/2516784/Capture_d_e_cran_2016-04-22_a__15.24.40.png" data-natural-width="708" data-natural-height="473" style=""/>
    </a>
</div>