<div data-block-id="349ff397f4a517edb267ab50672fc281" class="sl-block" data-block-type="text" style="width: 960px; left: 0px; top: 28px; height: auto;">
    <div dir="ui" style="z-index: 10;" class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text">
        <h3>Flash message for banned user trying to post</h3>
    </div>
</div>
<div class="sl-block" data-block-type="image" style="min-width: 30px; min-height: 30px; width: 960px; height: 462.00000000000006px; left: 0px; top: 98px;" data-block-id="8a0530b7cb89349e7913af3f712d8772">
    <a class="sl-block-content" style="z-index: 11;" href="http://tomsguide.com/us/logitech-harmony-ultimate,review-2282.html" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/314194/images/1821995/Capture_d__cran_2015-10-12___16.32.48.png" style="" data-natural-width="1600" data-natural-height="770"/>
    </a>
</div>