<div data-block-id="349ff397f4a517edb267ab50672fc281" class="sl-block" data-block-type="text" style="width: 576px; left: 224px; top: 28px; height: auto;">
    <div dir="ui" style="z-index: 10;" class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text">
        <h3>Try to parallelize get article and get comments calls</h3>
    </div>
</div>
<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; width: 960px; left: -95px; top: 565px;" data-block-id="5eef5d81db3a352b3d6ceea63776c3c5">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 13;">
        <p>
            <span style="font-size:0.7em">As we use ESI we cannot parallelize calls</span>
        </p>
    </div>
</div>
<div class="sl-block" data-block-type="image" style="min-width: 30px; min-height: 30px; width: 621.0333333333333px; height: 465px; left: 179px; top: 139px;" data-block-id="8a0530b7cb89349e7913af3f712d8772">
    <div class="sl-block-content" style="z-index: 11;">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/314194/images/1778514/Screen_Shot_2015-09-29_at_15.37.23.png" style="" data-natural-width="1202" data-natural-height="900"/>
    </div>
</div>