<div data-block-id="349ff397f4a517edb267ab50672fc281" class="sl-block" data-block-type="text" style="width: 576px; left: 216px; top: 11px; height: auto;">
    <div dir="ui" style="z-index: 11;" class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text">
        <h3>Hide down rated comments</h3>
    </div>
</div>
<div class="sl-block" data-block-type="image" style="min-width: 30px; min-height: 30px; width: 672px; height: 504px; left: 288px; top: 61px;" data-block-id="8a0530b7cb89349e7913af3f712d8772">
    <a class="sl-block-content" style="z-index: 12;" href="http://www.tomsguide.com/us/Lenovo-QWERTY-Wireless-Multimedia-Remote,news-5443.html" target="_blank">
        <img style="" data-natural-width="788" data-natural-height="591" src="https://s3.amazonaws.com/media-p.slid.es/uploads/314194/images/1810270/Capture_d__cran_2015-10-08___15.17.03.png"/>
    </a>
</div>
<div class="sl-block" data-block-type="image" style="min-width: 30px; min-height: 30px; width: 580px; height: 541.484375px; left: 20px; top: 295px;" data-block-id="6d879692b8b0575c1996f378c5bb9d53">
    <a class="sl-block-content" style="z-index: 13;" href="http://www.tomsguide.com/us/Lenovo-QWERTY-Wireless-Multimedia-Remote,news-5443.html" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/314194/images/1810280/Capture_d__cran_2015-10-08___15.17.16.png" style="" data-natural-width="768" data-natural-height="717"/>
    </a>
</div>