<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; top: 70px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text"
         style="z-index: 13; text-align: left; border-width: 1px;">
        <h1>TGUS Redesign</h1>
    </div>
</div>
<div class="sl-block" data-block-type="text" style="height: auto; width: 100%; left: 27px; top: 185px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text"
         style="z-index: 14; font-size: 70%;" dir="ui">
        <ul>
            <li><span class="jira-story with-title">GRE-3281</span></li>
            <li><span class="jira-story with-title">GRE-2860</span></li>
            <li><span class="jira-story with-title">GRE-2706</span></li>
            <li><span class="jira-story with-title">GRE-2771</span></li>
            <li><span class="jira-story with-title">GRE-3154</span></li>
            <li><span class="jira-story with-title">GRE-3926</span></li>
            <li><span class="jira-story with-title">GRE-3955</span></li>
            <li><span class="jira-story with-title">GRE-3708</span></li>
            <li><span class="jira-story with-title">GRE-3982</span></li>
        </ul>
    </div>
</div>
