<div data-block-id="349ff397f4a517edb267ab50672fc281" class="sl-block" data-block-type="text" style="width: 960px; left: 0px; top: 28px; height: auto;">
    <div dir="ui" style="z-index: 11;" class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text">
        <h3>Fix&nbsp;Mobile&nbsp;Header css issue</h3>
    </div>
</div>
<div class="sl-block" data-block-type="image" style="min-width: 30px; min-height: 30px; width: 310.05333333333334px; height: 453px; left: 106px; top: 107px;" data-block-id="f257f445a96d74d7402d3ba17a52e876">
    <div class="sl-block-content" style="z-index: 12;">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/314194/images/1822012/Capture_d__cran_2015-10-12___16.36.54.png" style="" data-natural-width="616" data-natural-height="900"/>
    </div>
</div>
<div class="sl-block" data-block-type="image" style="min-width: 30px; min-height: 30px; width: 297.22222222222223px; height: 500px; left: 447px; top: 107px;" data-block-id="83ffb63b17f5ae68da05362f3d1ae265">
    <div class="sl-block-content" style="z-index: 13;">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/314194/images/1822014/Capture_d__cran_2015-10-12___16.37.50.png" style="" data-natural-width="535" data-natural-height="900"/>
    </div>
</div>