<div data-block-id="8e18add81ce9ba013620b37cb035d046" class="sl-block" data-block-type="text" style="width: 800px; left: 90px; top: 12px; height: auto;">
    <div style="z-index: 11;" class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text">
        <h2>Smilies !</h2>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="fe3a699658df9721aab9fbca68d692e0" style="min-width: 30px; min-height: 30px; width: 791.492px; height: 436px; left: 85px; top: 130px;">
    <a class="sl-block-content" style="z-index: 11; border-style: solid; border-width: 3px;" href="http://www.tomsguide.com/us/simple-tv-streaming,review-2324.html#comment-rsp_en_14002736" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/1811209/pasted-from-clipboard.png" style="" data-natural-width="757" data-natural-height="417"/>
    </a>
</div>