<div data-block-id="8e18add81ce9ba013620b37cb035d046" class="sl-block" data-block-type="text" style="width: 800px; left: 90px; top: 12px; height: auto;">
    <div style="z-index: 11;" class="sl-block-content" data-placeholder-tag="h1" data-placeholder-text="Title Text">
        <h2>User Web Service as bulk</h2>
    </div>
</div>
<div data-block-id="c9e4c9669c8fd779ae44bec3f9324c6c" style="min-width: 30px; min-height: 30px; width: 681.178px; height: 580px; left: 140px; top: 101px;" data-block-type="image" class="sl-block">
	<a target="_blank" href="http://www.tomsguide.com/us/sly-test,review-2324.html#comments-tpc_en_2267695">
	    <div style="z-index: 13;" class="sl-block-content">
	        <img data-natural-height="900" data-natural-width="1057" style="" src="https://s3.amazonaws.com/media-p.slid.es/uploads/329915/images/1804451/userWebServiceBulk.png"/>
	    </div>
    </a>
</div>