<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; top: 113px; width: 952px; left: 4px;" data-block-id="109e2697f2f5db453525f9e8737cd693">
  <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 11; text-align: left; border-width: 1px; font-size: 67%;">
    <h1 style="text-align:center">
            <span style="font-size:35.175px">We now builds communityAppLayer on a java7 &nbsp;
                <a href="http://jenkins.bestofmedia.com:8080/job/communityApplicativeLayer-Java7-build/" target="_blank">jenkins slave</a> and deploy it on an
                <a href="http://jenkins.bestofmedia.com:8080/view/Applicative%20Layers/view/Community/job/CommunityApplicativeLayer-sanity-java7-QA/" target="_blank">instance Java7&nbsp;tomcat</a>
            </span>
    </h1>
  </div>
</div>
<div class="sl-block" data-block-type="shape" data-block-id="0ca880862c4963a7ab920d8e1cd7f3c4" style="min-width: 4px; min-height: 4px; width: 63px; height: 32px; left: -7px; top: 434px;">
  <div class="sl-block-content" data-shape-type="rect" data-shape-fill-color="rgb(255, 255, 255)" data-shape-stretch="true" style="z-index: 12;">
    <svg
      xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 63 32">
      <rect width="63" height="32" class="shape-element" fill="rgb(255, 255, 255)"></rect>
    </svg>
  </div>
</div>
<div class="sl-block" data-block-type="shape" style="min-width: 4px; min-height: 4px; width: 80px; height: 32px; left: 200px; top: 434px;" data-block-id="f6e97bcf96d6ab3469e7eec8a460486f">
  <div class="sl-block-content" data-shape-type="rect" data-shape-fill-color="rgb(255, 255, 255)" data-shape-stretch="true" style="z-index: 13;">
    <svg
      xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 80 32">
      <rect width="80" height="32" class="shape-element" fill="rgb(255, 255, 255)"></rect>
    </svg>
  </div>
</div>
<div class="sl-block" data-block-type="text" data-block-id="43f48c3ac1602cb144c116e2f8613766" style="height: auto; min-width: 30px; min-height: 30px; width: 824px; left: 56px; top: 458px;">
  <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 14;">
    <p>We are doing this because
      <a href="http://www.oracle.com/technetwork/java/eol-135779.html" target="_blank">Java6 is no more maintained</a>!
    </p>
    <p>And worth, no more downloadable</p>
  </div>
</div>
