<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; top: 38px; width: 952px; left: 4px;" data-block-id="109e2697f2f5db453525f9e8737cd693">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 11; text-align: left; border-width: 1px; font-size: 67%;">
        <h1 style="text-align:center">
            <span style="font-size:35.175px">Be able to build sfPortal on a php 5.5 jenkins</span>
        </h1>
    </div>
</div>
<div class="sl-block" data-block-type="shape" data-block-id="0ca880862c4963a7ab920d8e1cd7f3c4" style="min-width: 4px; min-height: 4px; width: 63px; height: 32px; left: -7px; top: 434px;">
    <div class="sl-block-content" data-shape-type="rect" data-shape-fill-color="rgb(255, 255, 255)" data-shape-stretch="true" style="z-index: 12;">
        <svg
            xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 63 32">
            <rect width="63" height="32" class="shape-element" fill="rgb(255, 255, 255)"></rect>
        </svg>
    </div>
</div>
<div class="sl-block" data-block-type="shape" style="min-width: 4px; min-height: 4px; width: 80px; height: 32px; left: 200px; top: 434px;" data-block-id="f6e97bcf96d6ab3469e7eec8a460486f">
    <div class="sl-block-content" data-shape-type="rect" data-shape-fill-color="rgb(255, 255, 255)" data-shape-stretch="true" style="z-index: 13;">
        <svg
            xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 80 32">
            <rect width="80" height="32" class="shape-element" fill="rgb(255, 255, 255)"></rect>
        </svg>
    </div>
</div>
<div class="sl-block" data-block-type="shape" style="min-width: 4px; min-height: 4px; width: 314px; height: 34px; left: 139px; top: 126px;" data-block-id="fc74a1a67f2436b7dfce75e07bff53ef">
    <div class="sl-block-content" data-shape-type="rect" data-shape-fill-color="rgb(255, 255, 255)" data-shape-stretch="true" style="z-index: 14;">
        <svg
            xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 314 34">
            <rect width="314" height="34" class="shape-element" fill="rgb(255, 255, 255)"></rect>
        </svg>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="3fd5f91139f6d411fad5ee3f23f994a9" style="min-width: 30px; min-height: 30px; width: 360px; height: 360px; left: 300px; top: 170px;">
    <a class="sl-block-content" style="z-index: 15;" href="http://jenkins.bestofmedia.com:8080/job/1-sfPortal-MergeRequests-parallel-php55/" target="_blank">
        <img data-natural-width="550" data-natural-height="550" style="" src="https://s3.amazonaws.com/media-p.slid.es/uploads/314194/images/1773086/plan_photo_1347191970.jpg"/>
    </a>
</div>