{% extends 'common/layout.html' %}

{% block js_var %}
    var demoDate = '2015-11-23';
    var demoNb = 38;
{% endblock %}

{% block slides %}
    <section>
        {% include 'common/intro.html' %}
    </section>

    <section class="stack" id="GRE-4104">
        <section>
            {% include 'demo38-slides/ramp-on-toms-forums/index.html' %}
        </section>
        <section>
            {% include 'demo38-slides/ramp-on-toms-forums/thus.html' %}
        </section>
        <section>
            {% include 'demo38-slides/ramp-on-toms-forums/adarea.html' %}
        </section>
        <section>
            {% include 'demo38-slides/ramp-on-toms-forums/gizmodo.html' %}
        </section>
    </section>

    <section class="stack" id="GRE-3842">
        <section>
            {% include 'demo38-slides/tgus-forum-replatforming/index.html' %}
        </section>
        <section>
            {% include 'demo38-slides/tgus-forum-replatforming/architectures.html' %}
        </section>
    </section>

    <section class="stack" id="GRE-3491">
        <section>
            {% include 'demo38-slides/forum-content-consolidation/index.html' %}
        </section>
        <section>
            {% include 'demo38-slides/forum-content-consolidation/faq.html' %}
        </section>
    </section>

    <section class="stack" id="GRE-1582">
        <section>
            {% include 'demo38-slides/support/index.html' %}
        </section>
        <section>
            {% include 'demo38-slides/support/default-avatar.html' %}
        </section>
    </section>

    <section>
        {% include 'common/questions.html' %}
    </section>
{% endblock %}
