{% extends 'common/layout.html' %}

{% block js_var %}
    var demoDate = '2016-03-14';
    var demoNb = 46;
{% endblock %}

{% block slides %}
    <section>
        {% include 'common/intro.html' %}
    </section>
    <section>
        {% include 'common/toc.html' %}
    </section>

    <section class="stack" id="GRE-5058">
        <section>
            {% include 'demo46-slides/tfr-core-thread/index.html' %}
        </section>
        <section>
            {% include 'demo46-slides/tfr-core-thread/bbcode.html' %}
        </section>
        <section>
            {% include 'demo46-slides/tfr-core-thread/listing-all.html' %}
        </section>
        <section>
            {% include 'demo46-slides/tfr-core-thread/widget.html' %}
        </section>
        <section>
            {% include 'demo46-slides/tfr-core-thread/create-thread.html' %}
        </section>
    </section>

    <section class="stack" id="GRE-3491">
        <section>
            {% include 'demo46-slides/forum-content-consolidation/index.html' %}
        </section>
        <section>
            {% include 'demo46-slides/forum-content-consolidation/quote-title.html' %}
        </section>
    </section>

    <section class="stack" id="GRE-1582">
        <section>
            {% include 'demo46-slides/support/index.html' %}
        </section>
    </section>

    <section>
        {% include 'demo46-slides/next_demo.html' %}
    </section>
    <section>
        {% include 'common/questions.html' %}
    </section>
{% endblock %}
