<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; top: 70px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text"
         style="z-index: 13; text-align: left; border-width: 1px;">
        <h1>TGUS redesign</h1>
    </div>
</div>
<div class="sl-block" data-block-type="text" style="height: auto; width: 100%; left: 27px; top: 185px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text"
         style="z-index: 14; font-size: 70%;" dir="ui">
        <ul>
            <li style="list-style: none;">
                <h2>SSO integration</h2>
                <ul>        
                    <li><span class="jira-story with-title">GRE-3468</span></li>
                    <li><span class="jira-story with-title">GRE-3469</span></li>                    
                </ul>
            </li>
            <li style="list-style: none;">
                <h2>Perfs optimization</h2>
                <ul>
                    <li><span class="jira-story with-title">GRE-3516</span></li> 
                    <li><span class="jira-story with-title">GRE-3439</span></li>                                       
                    <li><span class="jira-story with-title">GRE-3514</span></li>
                    <li><span class="jira-story with-title">GRE-3559</span></li>                                         
                </ul>
            </li>
            <li style="list-style: none;">
                <h2>Beta</h2>
                <ul>
                    <li><span class="jira-story with-title">GRE-3532</span></li>
                    <li><span class="jira-story with-title">GRE-3549</span></li> 
                    <li><span class="jira-story with-title">GRE-3288</span></li>                    
                </ul>
            </li>                         
        </ul>
    </div>
</div>
