<div class="sl-block" data-block-type="text" data-block-id="b406196a8f4c303f230107477e80287b" style="height: auto; min-width: 30px; min-height: 30px; top: 0px; left: 7px; width: 946px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 12; text-align: left; border-width: 1px;">
        <h1 style="text-align:center">Omniture
            <br/>
User' properties
        </h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="a3ce671079230b4e30030936b59a10c0" style="min-width: 30px; min-height: 30px; width: 827.046511627907px; height: 122px; left: 80px; top: 251px;">
    <a href="http://www.tomsguide.com/us/tech-related-health-problems,news-19370.html#top-comments-tpc_en_2267819" target="_blank"></a>
    <a class="sl-block-content" style="z-index: 11; border-style: solid; border-width: 3px;" href="http://www.tomsguide.com/" target="_blank">
        <img data-natural-width="583" data-natural-height="86" style="" src="https://s3.amazonaws.com/media-p.slid.es/uploads/314194/images/1638992/Capture_du_2015-08-13_11_07_00.png"/>
    </a>
</div>
<div class="sl-block" data-block-type="image" data-block-id="7d75bbec118068a54a7d9437f35251fd" style="min-width: 30px; min-height: 30px; width: 953px; height: 20.6645408163265px; left: 7px; top: 420px;">
    <div class="sl-block-content" style="z-index: 13;">
        <img style="" data-natural-width="784" data-natural-height="17" src="https://s3.amazonaws.com/media-p.slid.es/uploads/314194/images/1638993/Capture_du_2015-08-13_11_07_36.png"/>
    </div>
</div>