<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; top: 30px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text"
         style="z-index: 13; text-align: left; border-width: 1px;">
        <h1>FAQ with merged topics</h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="f57293ad8654c7136a73982189325b58" style="min-width: 30px; min-height: 30px; width: 571.002px; height: 534px; left: 195px; top: 153px;">
    <a class="sl-block-content" style="z-index: 11; border: 3px solid black;" href="http://www.tomsguide.com/faq/id-2169174/cut-back-data-plan-usage.html" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/1964241/pasted-from-clipboard.png" style="" data-natural-width="679" data-natural-height="635"/>
    </a>
</div>
