<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; top: 5px; width: 952px; left: 5px;" data-block-id="109e2697f2f5db453525f9e8737cd693">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 11; text-align: left; border-width: 1px; font-size: 67%;">
        <h1 style="text-align:center">
            <span>Breadcrumb integration</span>
        </h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="a515644ec34a3312caa0a213ff09a9cf" style="min-width: 30px; min-height: 30px; width: 438.831px; height: 273px; left: 248px; top: 140px;">
    <a class="sl-block-content" style="z-index: 12; box-shadow: 0 0 10px grey;" href="http://www.tomsguide.com/forum/id-2229804/surface-pro-internet-games-combat-arms-vindictus.html" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/314194/images/2469522/Capture_d_e_cran_2016-04-13_a__09.34.57.png" data-natural-width="389" data-natural-height="242" style=""/>
    </a>
</div>
<div class="sl-block" data-block-type="text" data-block-id="70a048374bba79798c0bd40f9fc5a694" style="height: auto; min-width: 30px; min-height: 30px; width: 600px; left: 151px; top: 463px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 13;">
        <p>Adding the ability to hide some breadcrumb item on mobile</p>
    </div>
</div>