<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; top: 30px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text"
         style="z-index: 13; text-align: left; border-width: 1px;">
        <h1>Answer / Thread creation buttons</h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="27458d02ff19338ee721b154cb11eb70" style="min-width: 30px; min-height: 30px; width: 898.983px; height: 272px; left: 31px; top: 350px;">
    <a class="sl-block-content" style="z-index: 11; box-shadow: 0 0 10px grey;" href="http://www.tomsguide.com/forum/id-2229804/surface-pro-internet-games-combat-arms-vindictus.html" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/2469517/Capture_d_e_cran_2016-04-13_a__09.35.10.png" style="" data-natural-width="780" data-natural-height="236"/>
    </a>
</div>