<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; top: 70px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text"
         style="z-index: 13; text-align: left; border-width: 1px;">
        <h1>Answer edition</h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="9d6886ed0b58d9b224479cd86a011d32" style="min-width: 30px; min-height: 30px; width: 649.035px; height: 147px; left: 277px; top: 400px;">
    <a class="sl-block-content" style="z-index: 11; box-shadow: 0 0 10px grey;" href="http://www.tomsguide.com/forum/id-1575479/compusa-retail-stores-survive/page-2.html#r14003067" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/2500129/Capture_d_e_cran_2016-04-19_a__14.45.19.png" data-natural-width="755" data-natural-height="171" style=""/>
    </a>
</div>
<div class="sl-block" data-block-type="image" data-block-id="2d03a530e5f7848bb23d21ba0ca94e0f" style="min-width: 30px; min-height: 30px; width: 740.763px; height: 193px; left: 21px; top: 280px;">
    <a class="sl-block-content" style="z-index: 12; box-shadow: 0 0 10px grey;" href="http://www.tomsguide.com/forum/threads/1575479/answers/14003067/edit?redirect=/forum/id-1575479/compusa-retail-stores-survive/page-2.html" target="_blank">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/2500139/Capture_d_e_cran_2016-04-19_a__14.48.16.png" data-natural-width="664" data-natural-height="173" style=""/>
    </a>
</div>