<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; top: 5px; width: 952px; left: 5px;" data-block-id="109e2697f2f5db453525f9e8737cd693">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 11; text-align: left; border-width: 1px; font-size: 67%;">
        <h1 style="text-align:center">
            <span>Behat Sanity test</span>
        </h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="f7f58ba2cc1ac5c6cfa09c9e6057d718" style="min-width: 30px; min-height: 30px; width: 674px; height: 383px; left: 126px; top: 70px;">
    <a class="sl-block-content" style="z-index: 12;" href="http://10.210.30.198:8080/view/TomsForum/job/toms-forum-sanity/" target="_blank">
        <img data-natural-width="1348" data-natural-height="766" style="" src="https://s3.amazonaws.com/media-p.slid.es/uploads/314194/images/2511472/Capture_d_e_cran_2016-04-21_a__14.58.10.png"/>
    </a>
</div>
<div class="sl-block" data-block-type="text" data-block-id="4f0ddf7d5cd4c5862a1d7a93ace345e7" style="height: auto; min-width: 30px; min-height: 30px; width: 674px; left: 126px; top: 462px;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text" style="z-index: 13;">
        <p>All stuffs have been shared with QA</p>
    </div>
</div>