<div class="sl-block" data-block-type="text" style="height: auto; min-width: 30px; min-height: 30px; top: 0;">
    <div class="sl-block-content" data-placeholder-tag="p" data-placeholder-text="Text"
         style="z-index: 13; text-align: left; border-width: 1px;">
        <h1>Authentication investigations</h1>
    </div>
</div>
<div class="sl-block" data-block-type="image" data-block-id="0213dad053f1baf4708fbe1dfd4060da" style="min-width: 30px; min-height: 30px; width: 901px; height: 394.188px; left: 30px; top: 242px;">
	<a class="sl-block-content" href="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/2422427/SSO.png" target="_blank" style="z-index: 1; box-shadow: 0 0 10px grey;">
        <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/305116/images/2422427/SSO.png" data-natural-width="1600" data-natural-height="700" style=""/>
    </a>
</div>